Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/calendar.json
  www/public/registry/dev/v2/components/date-picker.json
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/resizable.json
  www/public/registry/dev/v2/providers/i18n-provider.json
Due: prettier --write

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7824.md
Due: prettier --write

chore(react): disable specific React linting rules
  packages/workspace/src/oxlint/react.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(react): disable linting rule for icon selection in NotFound component
  www/app/[locale]/(apps)/icons/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(react): update import statements and add linting rules
  .changeset/huge-bears-smile.md
  packages/react/src/components/action-bar/action-bar.tsx
  packages/react/src/components/action-bar/use-action-bar.ts
  packages/react/src/components/avatar/use-avatar.ts
  packages/react/src/components/carousel/use-carousel.ts
  packages/react/src/components/chart/use-cartesian-chart.ts
  packages/react/src/components/chart/use-polar-chart.ts
  packages/react/src/components/drawer/drawer.test.browser.tsx
  packages/react/src/components/file-button/file-button.test.browser.tsx
  packages/react/src/components/sidebar/sidebar.stories.tsx
  packages/react/src/components/sidebar/sidebar.tsx
  packages/react/src/components/sidebar/use-sidebar.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/utils/dom.ts
  packages/workspace/src/oxlint/import.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dependabot-cli-dependencies-7824.md
  .changeset/dependabot-icons-7826.md
  .changeset/dependabot-react-dependencies-7826.md
  .changeset/dependabot-styles-7826.md
  .changeset/fix-cli-nested-section-import-paths.md
  .changeset/fix-icu-types-format-7826.md
  .changeset/fix-registry-test-files.md
  .changeset/huge-bears-smile.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/action-bar.json
  www/public/registry/dev/v2/components/avatar.json
  www/public/registry/dev/v2/components/carousel.json
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/sidebar.json
  www/public/registry/dev/v2/components/tree.json
Due: prettier --write

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-1-13.ja.mdx
  www/contents/changelog/cli/2-1-13.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-2-8.ja.mdx
  www/contents/changelog/react/2-2-8.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
  www/data/relations.json
Due: prettier --write

fix(www): sort changelog versions numerically in doc map
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/scripts/generate/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): correct oxlint lockfile specifier
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7835.md
Due: prettier --write

fix(www): sort changelog versions numerically in doc map (#7838)
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/scripts/generate/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): correct tsx lockfile specifier
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7834.md
  .changeset/dependabot-react-dependencies-7834.md
  .changeset/dependabot-styles-7834.md
  packages/react/src/components/icon/icons/credit-card-check-icon.tsx
  packages/react/src/components/icon/icons/credit-card-minus-icon.tsx
  packages/react/src/components/icon/icons/credit-card-plus-icon.tsx
  packages/react/src/components/icon/icons/credit-card-x-icon.tsx
  packages/react/src/components/icon/icons/galaxy-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/mail-clock-icon.tsx
  packages/react/src/components/icon/icons/message-circle-dashed-check-icon.tsx
  packages/react/src/components/icon/icons/playing-card-icon.tsx
  packages/react/src/components/icon/icons/playing-cards-fan-icon.tsx
  packages/react/src/components/icon/icons/playing-cards-icon.tsx
  packages/react/src/components/icon/icons/robot-arm-icon.tsx
  packages/react/src/components/icon/icons/robot-vacuum-icon.tsx
  packages/react/src/components/icon/icons/ship-cargo-icon.tsx
  packages/react/src/components/icon/icons/trailer-icon.tsx
  packages/react/src/components/icon/icons/vector-polygon-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
Due: prettier --write

fix(www): use UTC for changelog release dates
  www/scripts/generate/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(www): use UTC for changelog release dates (#7841)
  www/scripts/generate/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): enhance a11y for tabs stories
  packages/react/src/components/tabs/tabs.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): update sharp to patch libheif vulnerabilities
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): update sharp to patch libheif vulnerabilities (#7844)
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(changesets): updated packages
  .changeset/dependabot-cli-dependencies-7835.md
  .changeset/dependabot-icons-7834.md
  .changeset/dependabot-react-dependencies-7834.md
  .changeset/dependabot-styles-7834.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

build(deps): update pnpm to 12.4.2
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

ci(deps): update pnpm/action-setup to v6.1.0
  .github/composite-actions/install/action.yml
Due: prettier --write

ci(release): remove obsolete NPM_CONFIG_PROVENANCE env
  .github/workflows/release.yml
Due: prettier --write

fix(tabs): keep add button outside tablist
  packages/react/src/components/tabs/tabs.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(float): prevent pointer event interception
  .changeset/tidy-clouds-smile.md
  packages/react/src/components/float/float.style.ts
  packages/react/src/components/float/float.test.browser.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(float): remove redundant browser test
  packages/react/src/components/float/float.test.browser.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tabs): replace Flex with HStack in tab stories
  packages/react/src/components/tabs/tabs.stories.tsx
  www/contents/components/(components)/tabs.ja.mdx
  www/contents/components/(components)/tabs.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): enhance a11y for tabs stories (#7842)
  packages/react/src/components/tabs/tabs.stories.tsx
  www/contents/components/(components)/tabs.ja.mdx
  www/contents/components/(components)/tabs.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): mark current locale as selected in language menu
  www/app/[locale]/lang-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(www): reset docs scroll position on navigation
  www/app/[locale]/docs/sidebar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(menu): avoid unsafe first-child selector
  .changeset/pretty-chefs-film.md
  packages/react/src/components/menu/menu.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(dependabot): update dependencies
  .changeset/dependabot-react-dependencies-7853.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7852.md
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
