Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(storybook): added a11y color-contrast exception
  .storybook/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(storybook): added `landmark-unique` rule to a11y config
  .storybook/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: updated a11y
  stories/components/data-display/card.stories.tsx
  stories/components/data-display/carousel.stories.tsx
  stories/components/data-display/paging-table.stories.tsx
  stories/components/data-display/table.stories.tsx
  stories/components/forms/button.stories.tsx
  stories/components/forms/checkbox.stories.tsx
  stories/components/forms/editable.stories.tsx
  stories/components/forms/file-button.stories.tsx
  stories/components/forms/input.stories.tsx
  stories/components/forms/native-select.stories.tsx
  stories/components/forms/number-input.stories.tsx
  stories/components/forms/radio.stories.tsx
  stories/components/media-and-icons/avatar.stories.tsx
  stories/components/media-and-icons/image.stories.tsx
  stories/components/overlay/dialog.stories.tsx
  stories/components/overlay/drawer.stories.tsx
  stories/components/overlay/modal.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): add accessibility improvements
  .changeset/plenty-geckos-exercise.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
  packages/components/autocomplete/src/autocomplete-icon.tsx
  packages/components/avatar/src/avatar-name.tsx
  packages/components/avatar/src/avatar.tsx
  packages/components/calendar/src/date-picker-icon.tsx
  packages/components/calendar/src/use-calendar.ts
  packages/components/card/src/card.tsx
  packages/components/carousel/src/carousel-control.tsx
  packages/components/carousel/src/use-carousel.ts
  packages/components/dropzone/src/dropzone.tsx
  packages/components/editable/src/editable.tsx
  packages/components/file-button/src/file-button.tsx
  packages/components/file-input/src/file-input.tsx
  packages/components/indicator/src/indicator.tsx
  packages/components/pagination/src/pagination.tsx
  packages/components/scroll-area/src/scroll-area.tsx
  packages/components/select/src/select-icon.tsx
  packages/components/slider/src/range-slider.tsx
  packages/components/slider/src/slider.tsx
  packages/components/switch/src/switch.tsx
  packages/components/table/src/tfoot.tsx
  packages/components/table/src/thead.tsx
  packages/components/table/src/use-table.tsx
  packages/theme/src/components/accordion.ts
  packages/theme/src/components/button.ts
  packages/theme/src/components/input.ts
  packages/theme/src/components/menu.ts
  packages/theme/src/components/native-select.ts
  packages/theme/src/components/native-table.ts
  packages/theme/src/components/number-input.ts
  packages/theme/src/components/pagination.ts
  packages/theme/src/components/scroll-area.ts
  packages/theme/src/semantics.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(accordion): changed div to li and added aria attrs
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion.tsx
  packages/components/editable/tests/editable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated theme management implementation
  examples/nextjs-app/app/layout.tsx
  examples/nextjs-pages/pages/_app.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated CodeSandbox links in markdown
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated codesandbox links in README
  README.ja.md
  README.md
Due: prettier --write

style(theme): changed link color to blue
  packages/theme/src/semantics.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style: updated link color to blue
  docs/contents/getting-started/basics.ja.mdx
  docs/contents/getting-started/basics.mdx
  docs/contents/styled-system/semantic-tokens.ja.mdx
  docs/contents/styled-system/semantic-tokens.mdx
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
  docs/contents/styled-system/theming/default-theme.ja.mdx
  docs/contents/styled-system/theming/default-theme.mdx
Due: prettier --write

ci(docs): updated docs
  packages/components/alert/DOCS.json
  packages/components/autocomplete/DOCS.json
  packages/components/avatar/DOCS.json
  packages/components/calendar/DOCS.json
  packages/components/card/DOCS.json
  packages/components/carousel/DOCS.json
  packages/components/checkbox/DOCS.json
  packages/components/dropzone/DOCS.json
  packages/components/editable/DOCS.json
  packages/components/file-button/DOCS.json
  packages/components/file-input/DOCS.json
  packages/components/highlight/DOCS.json
  packages/components/image/DOCS.json
  packages/components/indicator/DOCS.json
  packages/components/input/DOCS.json
  packages/components/layouts/DOCS.json
  packages/components/markdown/DOCS.json
  packages/components/menu/DOCS.json
  packages/components/modal/DOCS.json
  packages/components/native-table/DOCS.json
  packages/components/number-input/DOCS.json
  packages/components/pin-input/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/progress/DOCS.json
  packages/components/radio/DOCS.json
  packages/components/skeleton/DOCS.json
  packages/components/slider/DOCS.json
  packages/components/stepper/DOCS.json
  packages/components/table/DOCS.json
  packages/components/textarea/DOCS.json
  packages/components/transitions/DOCS.json
  packages/components/typography/DOCS.json
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.5.mdx
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@2f187f777a0c6198c1641ed63ed6b1ba9ccf3270 🚀
  project.json
Due: prettier --write

build: added @clack-prompts
  docs/@types/@clack-prompts.d.ts
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scroll-shadow): added scroll shadow component
  docs/components/data-display/index.ts
  docs/components/data-display/scroll-shadow.tsx
  docs/components/layouts/sidebar.tsx
  docs/components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(link-card): added ripple effect on card click
  docs/components/navigation/link-card.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): convert functions to runners
  docs/scripts/component-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): optimise recursive path retrieval
  docs/scripts/search-content.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove csscheck script and command
  package.json
  scripts/check-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated theme
  docs/contents/components/data-display/native-table/theming.ja.mdx
  docs/contents/components/data-display/native-table/theming.mdx
  docs/contents/components/data-display/scroll-area/theming.ja.mdx
  docs/contents/components/data-display/scroll-area/theming.mdx
  docs/contents/components/disclosure/accordion/theming.ja.mdx
  docs/contents/components/disclosure/accordion/theming.mdx
  docs/contents/components/forms/button/theming.ja.mdx
  docs/contents/components/forms/button/theming.mdx
  docs/contents/components/forms/input/theming.ja.mdx
  docs/contents/components/forms/input/theming.mdx
  docs/contents/components/forms/native-select/theming.ja.mdx
  docs/contents/components/forms/native-select/theming.mdx
  docs/contents/components/forms/number-input/theming.ja.mdx
  docs/contents/components/forms/number-input/theming.mdx
  docs/contents/components/navigation/pagination/theming.ja.mdx
  docs/contents/components/navigation/pagination/theming.mdx
  docs/contents/components/overlay/menu/theming.ja.mdx
  docs/contents/components/overlay/menu/theming.mdx
Due: prettier --write

refactor(scripts): updated theme-component structure
  docs/scripts/theme-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): streamline changelog script functions
  docs/scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated SectionProps type reference
  docs/components/layouts/section.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write

refactor(scripts): simplify translateContent function
  docs/scripts/translate-content.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated log message for changelog generation
  docs/scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(cli): updated UI and added color generation features
  .changeset/smart-days-love.md
  packages/cli/package.json
  packages/cli/src/command/colors/index.ts
  packages/cli/src/command/tokens/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/cli.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencis
  pnpm-lock.yaml
Due: none

build: added @clack/prompts
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(scripts): replaced ora with clack prompts
  scripts/discord.ts
  scripts/mattermost.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: replace @yamada-ui/reaact version
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write

feat: added isProcessResult flag to style config
  scripts/generate-css/config.ts
  scripts/generate-css/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(core): added missing `isProcessResult` flags
  .changeset/grumpy-cups-scream.md
  packages/core/src/pseudos.ts
  packages/core/src/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected property name in imports
  .changeset/smooth-mirrors-flow.md
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/carousel/src/use-carousel.ts
  packages/components/native-select/src/native-select.tsx
  packages/components/select/src/use-select.ts
  packages/core/src/components/should-forward-prop.ts
  packages/core/src/css/css.types.ts
  packages/core/src/pseudos.ts
  packages/core/src/styles.ts
  scripts/generate-css/layout-props.ts
  scripts/generate-css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(styles): added token references to style properties
  packages/core/src/styles.ts
  scripts/generate-css/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix
