Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

chore(www): skip vercel build for draft pull requests (#6370)
  www/ignored-build-step.sh
Due: none

feat(use-chart): add new placement options for various components
  .changeset/hip-ducks-warn.md
  packages/react/src/components/chart/area-chart.stories.tsx
  packages/react/src/components/chart/bar-chart.stories.tsx
  packages/react/src/components/chart/composed-chart.stories.tsx
  packages/react/src/components/chart/donut-chart.stories.tsx
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/pie-chart.stories.tsx
  packages/react/src/components/chart/radar-chart.stories.tsx
  packages/react/src/components/chart/radial-chart.stories.tsx
  packages/react/src/components/chart/use-chart.ts
  packages/react/src/components/native-popover/native-popover.stories.tsx
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tip/tip.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
  packages/react/src/core/system/index.types.ts
  packages/react/src/hooks/use-popper/index.ts
  www/contents/components/(components)/menu.ja.mdx
  www/contents/components/(components)/menu.mdx
  www/contents/components/(components)/native-popover.ja.mdx
  www/contents/components/(components)/native-popover.mdx
  www/contents/components/(components)/popover.ja.mdx
  www/contents/components/(components)/popover.mdx
  www/contents/components/(components)/tip.ja.mdx
  www/contents/components/(components)/tip.mdx
  www/contents/components/(components)/tooltip.ja.mdx
  www/contents/components/(components)/tooltip.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(preview-drawer): fix tooltip for preview drawer
  www/app/[locale]/(apps)/icons/preview-drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(use-chart): add new placement options for various components (#6375)
  .changeset/hip-ducks-warn.md
  packages/react/src/components/chart/area-chart.stories.tsx
  packages/react/src/components/chart/bar-chart.stories.tsx
  packages/react/src/components/chart/composed-chart.stories.tsx
  packages/react/src/components/chart/donut-chart.stories.tsx
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/pie-chart.stories.tsx
  packages/react/src/components/chart/radar-chart.stories.tsx
  packages/react/src/components/chart/radial-chart.stories.tsx
  packages/react/src/components/chart/use-chart.ts
  packages/react/src/components/native-popover/native-popover.stories.tsx
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/tip/tip.stories.tsx
  packages/react/src/components/tooltip/tooltip.stories.tsx
  packages/react/src/core/system/index.types.ts
  packages/react/src/hooks/use-popper/index.ts
  www/contents/components/(components)/menu.ja.mdx
  www/contents/components/(components)/menu.mdx
  www/contents/components/(components)/native-popover.ja.mdx
  www/contents/components/(components)/native-popover.mdx
  www/contents/components/(components)/popover.ja.mdx
  www/contents/components/(components)/popover.mdx
  www/contents/components/(components)/tip.ja.mdx
  www/contents/components/(components)/tip.mdx
  www/contents/components/(components)/tooltip.ja.mdx
  www/contents/components/(components)/tooltip.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update next registries
  www/public/registry/next/v2/components/chart.json
  www/public/registry/next/v2/hooks/use-popper.json
Due: prettier --write

chore: remove timeouts for test in quality.yml
  .github/workflows/quality.yml
Due: prettier --write

refactor(aspect-ratio): update image source URL
  packages/react/src/components/aspect-ratio/aspect-ratio.stories.tsx
  www/contents/components/(components)/aspect-ratio.ja.mdx
  www/contents/components/(components)/aspect-ratio.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(copy-button): make tooltip for copying codeblock stay on click (#6367)
  www/app/[locale]/(apps)/icons/preview-drawer.tsx
  www/components/copy-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(quality): add 10 minute timeouts to quality and test workflows (#6373)
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

fix(styles): extend style props to accept any string or number
  .changeset/plenty-rabbits-scream.md
  packages/react/scripts/generate/styles/index.ts
  packages/react/scripts/generate/styles/override-types.ts
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(aspect-ratio): update image URL to HTTPS
  packages/react/src/components/aspect-ratio/aspect-ratio.stories.tsx
  www/contents/components/(components)/aspect-ratio.ja.mdx
  www/contents/components/(components)/aspect-ratio.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

Updated image source URL (#6376)
  packages/react/src/components/aspect-ratio/aspect-ratio.stories.tsx
  www/contents/components/(components)/aspect-ratio.ja.mdx
  www/contents/components/(components)/aspect-ratio.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(styles): extend style props to accept any string or number (#6377)
  .changeset/plenty-rabbits-scream.md
  packages/react/scripts/generate/styles/index.ts
  packages/react/scripts/generate/styles/override-types.ts
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(timeline): set shape to square in timeline components
  packages/react/src/components/timeline/timeline.stories.tsx
  www/contents/components/(components)/timeline.ja.mdx
  www/contents/components/(components)/timeline.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(workflows): skip ci for draft pull requests (#6360)
  .github/workflows/quality.yml
  .github/workflows/security.yml
Due: prettier --write

feat(timeline): set shape to square in timeline components (#6379)
  packages/react/src/components/timeline/timeline.stories.tsx
  www/contents/components/(components)/timeline.ja.mdx
  www/contents/components/(components)/timeline.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(get-started): add TanStack Start and TanStack Router to framework list
  www/contents/get-started/index.ja.mdx
  www/contents/get-started/index.mdx
Due: prettier --write

docs(get-started): add TanStack Start and TanStack Router to framework list (#6380)
  www/contents/get-started/index.ja.mdx
  www/contents/get-started/index.mdx
Due: prettier --write

docs(404): add not found page
  www/app/[locale]/[...rest]/page.tsx
  www/app/[locale]/not-found.tsx
  www/messages/en.json
  www/messages/ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

changed:git commit deny patterns to catch combined -n flags
  .agents/settings.json
Due: prettier --write

docs(404): add not found page (#6381)
  www/app/[locale]/[...rest]/page.tsx
  www/app/[locale]/not-found.tsx
  www/messages/en.json
  www/messages/ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix(www): preserve query parameters when switching language
  www/app/[locale]/lang-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): enhance editor with screenshot capability and code highlighting
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/playground-client.tsx
  www/app/[locale]/(apps)/playground/shiki-highlighter.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): implement playground feature with code editor and preview functionality
  pnpm-lock.yaml
  www/.gitignore
  www/app/[locale]/(apps)/playground/constants.ts
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/esbuild.ts
  www/app/[locale]/(apps)/playground/layout.tsx
  www/app/[locale]/(apps)/playground/page.tsx
  www/app/[locale]/(apps)/playground/playground-client.tsx
  www/app/[locale]/(apps)/playground/playground-loader.tsx
  www/app/[locale]/(apps)/playground/prettier.ts
  www/app/[locale]/(apps)/playground/preview.tsx
  www/app/[locale]/(apps)/playground/search-params.ts
  www/app/[locale]/(apps)/playground/toolbar.tsx
  www/app/[locale]/(apps)/playground/versions.ts
  www/app/[locale]/header.tsx
  www/app/[locale]/layout.tsx
  www/components/index.ts
  www/components/mdx/code-block.tsx
  www/components/playground-button.tsx
  www/components/stack-blitz-button.tsx
  www/components/stack-blitz-icon.tsx
  www/libs/stackblitz.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): add version management for playground dependencies and improve file generation
  packages/react/package.json
  www/app/[locale]/(apps)/playground/versions.gen.ts
  www/app/[locale]/(apps)/playground/versions.ts
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): add deferred screenshot functionality to improve performance
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/preview.tsx
  www/app/[locale]/(apps)/playground/screenshot.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): enhance preview component with locale support and refactor messaging
  www/app/[locale]/(apps)/playground/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(playground): remove export from internal functions in playground script
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): add revision tracking to ParentToIframeMessage for update handling
  www/app/[locale]/(apps)/playground/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): update max width for resizable pane
  www/app/[locale]/(apps)/playground/playground-client.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(gitignore): remove unnecessary starting `/.`
  www/.gitignore
Due: none

fix(playground): simplify main function invocation by removing conditional check
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): add screenshot timeout handling and improve share error management
  www/app/[locale]/(apps)/playground/preview.tsx
  www/app/[locale]/(apps)/playground/toolbar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(playground): replace initEsbuild with initializeEsbuild for better promise handling
  www/app/[locale]/(apps)/playground/esbuild.ts
  www/app/[locale]/(apps)/playground/playground-client.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(playground): remove unused Layout component from playground
  www/app/[locale]/(apps)/playground/layout.tsx
  www/app/[locale]/(apps)/playground/playground-client.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(playground): use `Separator`
  www/app/[locale]/(apps)/playground/playground-client.tsx
  www/app/[locale]/(apps)/playground/toolbar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(toolbar): simplify error handling in formatting function
  www/app/[locale]/(apps)/playground/toolbar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
