Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat: added fallback for theme tokens
  .changeset/fair-trees-tease.md
  packages/components/loading/src/loading-provider.tsx
  packages/components/notice/src/notice.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): fix chart axis props comment
  packages/components/charts/src/use-chart-axis.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(bar-chart): fix fillOpacity prop not be used
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/use-bar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(bar-chart): remove splitColors props
  packages/components/charts/src/use-bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(bar-chart): organise `useBarChart` props
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/use-bar-chart.ts
  packages/components/charts/src/use-chart-axis.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): remove space in props comment
  packages/components/charts/src/use-chart-axis.ts
  packages/components/charts/src/use-chart-grid.ts
  packages/components/charts/src/use-chart-legend.ts
  packages/components/charts/src/use-chart-tooltip.ts
  packages/components/charts/src/use-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): change line-chart theme
  packages/theme/src/components/bar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(stories): added bar-chart stories
  packages/components/charts/src/bar-chart.tsx
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove unnecessary code
  packages/components/button/src/icon-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/good-frogs-mate.md
Due: prettier --write

chore(chart): change reference-line display order
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/line-chart.tsx
  stories/components/feedback/area-chart.stories.tsx
  stories/components/feedback/line-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(bar-chart): update fill-opacity
  packages/components/charts/src/use-bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change priority of props
  packages/components/button/src/icon-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/flat-eggs-impress.md
Due: prettier --write

fix(bar-chart): fix bar-chart properties
  packages/components/charts/src/chart.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added user mapping for imaimai17468
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added discord mapping for imaimai17468
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core-members): added new member Toshiki Imai
  docs/constant/core-members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(stories): added bar-chart stories
  packages/components/charts/src/use-bar-chart.ts
  stories/components/feedback/area-chart.stories.tsx
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(bar-chart): fix key of `Bar`
  packages/components/charts/src/bar-chart.tsx
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(select): fix wrong change
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(layouts): replace getBy* methods with findBy* methods
  packages/components/layouts/tests/layouts.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(layouts): remove changeset file
  .changeset/tender-bears-confess.md
Due: prettier --write

feat(chart): added feature of customizing tooltip cursor fill color
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-chart-tooltip.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(chart): added feature of customizing tooltip cursor stroke,strokeWidth,strokeDasharray
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/use-chart-tooltip.ts
  packages/components/charts/src/use-line-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(chart): fix axis tickFormatter when type="parcent",layoutType="vertical"
  packages/components/charts/src/use-bar-chart.ts
  packages/components/charts/src/use-chart-axis.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(bar-chart): added feature to style activebar
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-bar-chart.ts
  packages/theme/src/components/bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(bar-chart): added feature to style background
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-bar-chart.ts
  packages/theme/src/components/bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(bar-chart): fixed problem with bar not reflecting `radius`
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated documentation order values
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
  docs/contents/styled-system/cli.ja.mdx
  docs/contents/styled-system/cli.mdx
  docs/contents/styled-system/global-styles.ja.mdx
  docs/contents/styled-system/global-styles.mdx
  docs/contents/styled-system/gradient.ja.mdx
  docs/contents/styled-system/gradient.mdx
  docs/contents/styled-system/loading.ja.mdx
  docs/contents/styled-system/loading.mdx
  docs/contents/styled-system/notification.ja.mdx
  docs/contents/styled-system/notification.mdx
  docs/contents/styled-system/reset-styles.ja.mdx
  docs/contents/styled-system/reset-styles.mdx
  docs/contents/styled-system/semantic-tokens.ja.mdx
  docs/contents/styled-system/semantic-tokens.mdx
  docs/contents/styled-system/text-and-layer-styles.ja.mdx
  docs/contents/styled-system/text-and-layer-styles.mdx
  docs/contents/styled-system/ui.ja.mdx
  docs/contents/styled-system/ui.mdx
Due: prettier --write

build: updated dependecies
  pnpm-lock.yaml
Due: none

ci(docs): updated docs
  packages/components/modal/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.2.10.mdx
  CHANGELOG.md
Due: prettier --write

build(package.json): updated @yamada-ui/react version
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write

docs: added at-rules documentation in Japanese
  docs/contents/styled-system/at-rules.ja.mdx
  docs/contents/styled-system/at-rules.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
