Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor: renamed SOURCE to SOURCE_URL
  scripts/check-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added CSS generation script
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: renamed StylesProps to StyleProps
  packages/core/src/components/component.types.ts
  packages/core/src/css/css.types.ts
  packages/core/src/styles/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.3.mdx
  CHANGELOG.md
Due: prettier --write

refactor: renamed types and updated shorthand
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `SvgProperties`
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: updated `background` properties
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: removed
  packages/core/src/styles/background.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "feat: updated `background` properties"
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "Revert "feat: updated `background` properties""
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "fix: removed"
  packages/core/src/styles/background.ts
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: updated `color` properties
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(_app.page.tsx): simplified color and theme managers
  docs/pages/_app.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): simplify storage manager naming
  .changeset/twenty-penguins-jam.md
  packages/core/src/providers/color-mode-manager.ts
  packages/core/src/providers/color-mode-provider.tsx
  packages/core/src/providers/theme-manager.ts
  packages/core/src/providers/theme-provider.tsx
  packages/providers/src/ui-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): optimized parent path extraction
  docs/utils/contentlayer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected titles in mdx files
  docs/contents/styled-system/configure/index.mdx
  docs/contents/styled-system/theming/index.mdx
Due: prettier --write

build: updated search contents
  docs/i18n/content.en.json
Due: prettier --write

docs: updated RangeSlider description and package name
  docs/contents/components/forms/range-slider/props.mdx
Due: prettier --write

style(layouts): adjust padding in sidebar components
  docs/components/layouts/sidebar.tsx
  docs/components/navigation/table-of-contents.tsx
  docs/layouts/document-layout.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update tabs with new UI library
  docs/components/navigation/tabs.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style: added spacing for readability
  docs/components/mdx/linked-heading.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style: adjusted text color in props card
  docs/components/mdx/props-card.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `effect.ts`
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `flex.ts`
  scripts/generate-css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add id to PropsCard and improve ToC generation
  docs/components/mdx/props-card.tsx
  docs/contentlayer.config.ts
  docs/scripts/component-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/navigation): improved scrolling behavior
  docs/components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: translate comments to english
  docs/contents/styled-system/theming/component-styles.mdx
Due: prettier --write

refactor(components): replace `onClick` with `onPointerDown`
  .changeset/healthy-badgers-sparkle.md
  packages/components/button/src/button.tsx
  packages/components/close-button/src/close-button.tsx
  packages/components/pagination/src/pagination-item.tsx
  packages/components/ripple/src/use-ripple.ts
  packages/components/tabs/src/tab.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(header): replace Text with Logo component
  docs/components/layouts/header.tsx
  docs/components/media-and-icons/logo.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(public/favicon): updated favicon styles and size
  docs/public/favicon.svg
Due: none

feat(logo): add SVG versions and update PNGs
  docs/public/logo-black.png
  docs/public/logo-black.svg
  docs/public/logo-black@2x.png
  docs/public/logo-colored.png
  docs/public/logo-colored@2x.png
  docs/public/logo-white.png
  docs/public/logo-white.svg
  docs/public/logo-white@2x.png
  docs/public/logomark-black.png
  docs/public/logomark-black.svg
  docs/public/logomark-black@2x.png
  docs/public/logomark-white.png
  docs/public/logomark-white.svg
  docs/public/logomark-white@2x.png
Due: none

docs: updated log images
  logo/favicon.svg
  logo/logo-black.png
  logo/logo-black.svg
  logo/logo-black@2x.png
  logo/logo-colored.png
  logo/logo-colored@2x.png
  logo/logo-white.png
  logo/logo-white.svg
  logo/logo-white@2x.png
  logo/logomark-black.png
  logo/logomark-black.svg
  logo/logomark-black@2x.png
  logo/logomark-white.png
  logo/logomark-white.svg
  logo/logomark-white@2x.png
Due: none

style: remove commented-out color codes
  packages/theme/src/tokens/colors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated README with new tagline
  README.ja.md
  README.md
Due: prettier --write
