Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs: use `For`
  docs/contents/components/forms/dropzone/index.ja.mdx
  docs/contents/components/forms/dropzone/index.mdx
Due: prettier --write

refactor: dynamically generate Tooltip components and labels
  docs/contents/components/overlay/tooltip/index.ja.mdx
  docs/contents/components/overlay/tooltip/index.mdx
Due: prettier --write

docs: use for in `Code` component
  docs/contents/components/typography/code/index.ja.mdx
  docs/contents/components/typography/code/index.mdx
Due: prettier --write

docs: use For
  docs/contents/components/typography/highlight/index.ja.mdx
  docs/contents/components/typography/highlight/index.mdx
Due: prettier --write

docs: use For
  docs/contents/components/feedback/status/index.ja.mdx
  docs/contents/components/feedback/status/index.mdx
Due: prettier --write

docs: use For
  docs/contents/components/feedback/progress/index.ja.mdx
  docs/contents/components/feedback/progress/index.mdx
Due: prettier --write

docs: refactor simplify object property shorthand
  docs/contents/components/typography/highlight/index.ja.mdx
  docs/contents/components/typography/highlight/index.mdx
Due: prettier --write

feat: migrate deprecate
  packages/cli/package.json
  packages/cli/src/command/migrate/deprecatedMap.ts
  packages/cli/src/command/migrate/index.ts
  packages/cli/src/command/migrate/migrateDeprecatedProps.ts
  packages/cli/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: increased coverage for use-checkbox hook
  packages/components/checkbox/tests/checkbox-card-addon.test.tsx
  packages/components/checkbox/tests/checkbox-card.test.tsx
  packages/components/checkbox/tests/use-checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: use for in dialog
  docs/contents/components/overlay/dialog/index.ja.mdx
  docs/contents/components/overlay/dialog/index.mdx
Due: prettier --write

docs: use `For`
  docs/contents/components/forms/year-picker/index.ja.mdx
  docs/contents/components/forms/year-picker/index.mdx
Due: prettier --write

docs: use `For`
  docs/contents/components/layouts/wrap/index.ja.mdx
  docs/contents/components/layouts/wrap/index.mdx
Due: prettier --write

docs: use `For`
  docs/contents/components/layouts/grid/index.ja.mdx
  docs/contents/components/layouts/grid/index.mdx
Due: prettier --write

fix: add key to `For` items
  docs/contents/components/layouts/wrap/index.ja.mdx
  docs/contents/components/layouts/wrap/index.mdx
Due: prettier --write

docs: revert for component
  docs/contents/components/feedback/status/index.ja.mdx
  docs/contents/components/feedback/status/index.mdx
Due: prettier --write

docs: use for in `MonthPicker`
  docs/contents/components/forms/month-picker/index.ja.mdx
  docs/contents/components/forms/month-picker/index.mdx
Due: prettier --write

docs: use for in `textarea`
  docs/contents/components/forms/textarea/index.ja.mdx
  docs/contents/components/forms/textarea/index.mdx
Due: prettier --write

fix: replace to `ChevronDownIcon`
  packages/components/accordion/src/accordion-label.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: replace to `LucideIcon`
  packages/components/alert/src/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: format
  packages/components/alert/src/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix dependencies
  packages/components/alert/package.json
Due: prettier --write

Revert "fix: fix dependencies"
  packages/components/alert/package.json
Due: prettier --write

fix(test): fix icon
  packages/components/alert/tests/alert.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: replace `LucideIcon`
  packages/components/avatar/package.json
  packages/components/avatar/src/avatar-icon.tsx
  packages/components/avatar/src/avatar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix `pnpm-lock`
  pnpm-lock.yaml
Due: none

build: fix `dependencies`
  packages/components/accordion/package.json
  pnpm-lock.yaml
Due: prettier --write

build: fix `dependencies`
  packages/components/alert/package.json
  pnpm-lock.yaml
Due: prettier --write

build: add `@yamada-ui/icon` in `dependencies`
  packages/components/accordion/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: replace `LucideIcon`
  packages/components/autocomplete/package.json
  packages/components/autocomplete/src/autocomplete-icon.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore(all): update scripts and configuration files
  .github/composite-actions/sync-docs/action.yml
  .github/workflows/quality.yml
  docs/package.json
  docs/scripts/generate-icons.ts
  lefthook.yaml
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/react/src/components/loading/loading-provider.stories.tsx
  packages/react/src/components/motion/utils.stories.tsx
  packages/react/src/components/notice/notice-provider.stories.tsx
  packages/react/src/core/css/breakpoint.stories.tsx
  packages/react/src/hooks/use-async-callback/index.stories.tsx
  packages/react/src/providers/theme-provider/theme-provider.stories.tsx
  packages/react/src/providers/ui-provider/ui-provider.stories.tsx
  packages/react/src/theme/index.ts
  packages/react/src/theme/styles/global-style.stories.tsx
  packages/react/src/theme/styles/layer-styles.stories.tsx
  packages/react/src/theme/styles/other-style.stories.tsx
  packages/react/src/theme/styles/reset-style.stories.tsx
  packages/react/src/theme/styles/text-styles.stories.tsx
  packages/react/src/theme/tools/extend-config.test.ts
  packages/react/src/theme/tools/extend-config.ts
  packages/react/src/theme/tools/extend-style.test.ts
  packages/react/src/theme/tools/extend-style.ts
  packages/react/src/theme/tools/extend-theme.test.ts
  packages/react/src/theme/tools/extend-theme.ts
  packages/react/src/theme/tools/extend-token.test.ts
  packages/react/src/theme/tools/extend-token.ts
  packages/react/src/theme/tools/generate.test.ts
  packages/react/src/theme/tools/generate.ts
  packages/react/src/theme/tools/index.ts
  packages/test/package.json
  packages/utils/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): updated type definitions and imports
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/core/components/component.types.ts
  packages/react/src/core/components/memo.ts
  packages/react/src/core/styled.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added conditional to release job in CI
  .github/workflows/next.yml
Due: prettier --write

refactor(react): simplify function component types
  packages/react/src/core/components/component.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: replaced icon
  packages/react/src/components/alert/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(docs): added early exit to build script
  docs/ignored-build-step.sh
Due: none

ci: updated test and format commands in CI config
  .github/workflows/quality.yml
Due: prettier --write

refactor: use string array from object array for each prop
  docs/contents/components/data-display/card/index.ja.mdx
  docs/contents/components/data-display/card/index.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
