Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat: add context menu
  packages/components/context-menu/README.md
  packages/components/context-menu/package.json
  packages/components/context-menu/src/context-menu-trigger.tsx
  packages/components/context-menu/src/context-menu.tsx
  packages/components/context-menu/src/index.ts
  packages/components/context-menu/tests/context-menu.test.tsx
  packages/components/context-menu/tsconfig.json
  packages/components/popover/src/popover.tsx
  packages/react/package.json
  packages/react/src/index.ts
  pnpm-lock.yaml
  stories/components/overlay/context-menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/lucky-bottles-joke.md
Due: prettier --write

fix: fix test
  packages/components/context-menu/package.json
  pnpm-lock.yaml
Due: prettier --write

test: add test
  packages/components/context-menu/package.json
  packages/components/context-menu/tests/context-menu.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: delete changeset
  .changeset/slimy-windows-poke.md
Due: prettier --write

ci(changesets): version packages
  .changeset/orange-students-fail.md
  .changeset/sour-baboons-provide.md
  packages/components/breadcrumb/CHANGELOG.md
  packages/components/breadcrumb/package.json
  packages/components/reorder/CHANGELOG.md
  packages/components/reorder/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(component): updated component
  packages/components/breadcrumb/DOCS.json
  packages/components/reorder/DOCS.json
  pnpm-lock.yaml
Due: prettier --write

fix: test case
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/tests/radio-group.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(quality workflow): added changeset-release branch trigger
  .github/workflows/quality.yml
Due: prettier --write

ci(component): updated component
  docs/contents/components/data-display/card/props.ja.mdx
  docs/contents/components/data-display/card/props.mdx
  docs/contents/components/data-display/native-table/props.ja.mdx
  docs/contents/components/data-display/native-table/props.mdx
  docs/contents/components/data-display/reorder/props.ja.mdx
  docs/contents/components/data-display/reorder/props.mdx
  docs/contents/components/data-display/reorder/theming.ja.mdx
  docs/contents/components/data-display/reorder/theming.mdx
  docs/contents/components/feedback/area-chart/props.ja.mdx
  docs/contents/components/feedback/area-chart/props.mdx
  docs/contents/components/feedback/bar-chart/props.ja.mdx
  docs/contents/components/feedback/bar-chart/props.mdx
  docs/contents/components/feedback/line-chart/props.ja.mdx
  docs/contents/components/feedback/line-chart/props.mdx
  docs/contents/components/feedback/pie-chart/props.ja.mdx
  docs/contents/components/feedback/pie-chart/props.mdx
  docs/contents/components/feedback/radar-chart/props.ja.mdx
  docs/contents/components/feedback/radar-chart/props.mdx
  docs/contents/components/forms/checkbox/props.ja.mdx
  docs/contents/components/forms/checkbox/props.mdx
  docs/contents/components/forms/radio/props.ja.mdx
  docs/contents/components/forms/radio/props.mdx
  docs/contents/components/forms/toggle/props.ja.mdx
  docs/contents/components/forms/toggle/props.mdx
  docs/contents/components/navigation/breadcrumb/props.ja.mdx
  docs/contents/components/navigation/breadcrumb/props.mdx
Due: prettier --write

test(rating): added hover test
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: consolidated notification scripts
  .github/workflows/release.yml
  package.json
  scripts/mattermost.ts
  scripts/notification-release.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated keywords in package.json files
  .changeset/plenty-seas-judge.md
  packages/components/charts/package.json
  packages/components/color-picker/package.json
  packages/components/infinite-scroll-area/package.json
  packages/components/rating/package.json
  packages/components/resizable/package.json
  packages/components/snacks/package.json
  packages/components/toggle/package.json
Due: prettier --write

refactor(plop): updated file structure and import statements
  plop/component/package-multi/package.json.hbs
  plop/component/package-multi/src/{{dashCase packageName}}.tsx.hbs
  plop/component/package/package.json.hbs
  plop/component/package/src/{{dashCase packageName}}.tsx.hbs
  plop/component/storybook/{{dashCase packageName}}.stories.tsx.hbs
  plopfile.mjs
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

test(rating): added event tests
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(rating): fix `HTMLElement.matcher` error
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(rating): remove unnecessary `act`
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): replace `fireEvent` to `userEvent`
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): replace to `userEvent`
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated contribution guide links in READMEs
  plop/component/package-multi/README.md.hbs
  plop/component/package/README.md.hbs
  plop/hook/package/README.md.hbs
Due: none

docs: updated contribution guide link in markdown
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated all contribution guide links
  .changeset/brave-planets-rescue.md
  packages/components/charts/README.md
  packages/components/color-picker/README.md
  packages/components/infinite-scroll-area/README.md
  packages/components/rating/README.md
  packages/components/resizable/README.md
  packages/components/ripple/README.md
  packages/components/snacks/README.md
  packages/components/stat/README.md
  packages/components/toggle/README.md
  packages/hooks/use-clipboard/README.md
  packages/hooks/use-eye-dropper/README.md
  packages/hooks/use-hover/README.md
  packages/hooks/use-idle/README.md
  packages/hooks/use-infinite-scroll/README.md
  packages/hooks/use-local-storage/README.md
  packages/hooks/use-media-query/README.md
  packages/hooks/use-os/README.md
  packages/hooks/use-window-event/README.md
Due: prettier --write

fix: fireEvent is not wrapped by waitfor
  packages/components/infinite-scroll-area/tests/infinite-scroll-area.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: removed changeset file for cleanup
  .changeset/lucky-bottles-joke.md
Due: prettier --write

feat(theme): added `ContextMenu` component styles
  .changeset/fifty-timers-accept.md
  packages/theme/src/components/context-menu.ts
  packages/theme/src/components/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(react): removed context-menu dependency and export
  packages/react/package.json
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(popover): added contextmenu trigger support
  .changeset/cold-bugs-brush.md
  packages/components/popover/src/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added options to component style hooks
  .changeset/cool-comics-push.md
  packages/core/src/components/use-component-style.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): moved context menu to menu package
  .changeset/pretty-snails-reply.md
  packages/components/context-menu/README.md
  packages/components/context-menu/package.json
  packages/components/context-menu/src/context-menu-trigger.tsx
  packages/components/context-menu/src/context-menu.tsx
  packages/components/context-menu/src/index.ts
  packages/components/context-menu/tests/context-menu.test.tsx
  packages/components/context-menu/tsconfig.json
  packages/components/menu/src/context-menu-trigger.tsx
  packages/components/menu/src/context-menu.tsx
  packages/components/menu/src/index.ts
  packages/components/menu/src/menu.tsx
  stories/components/overlay/context-menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove unnessesary code
  packages/components/infinite-scroll-area/tests/infinite-scroll-area.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added label to yearPicker documentation
  docs/contents/components/forms/year-picker/index.ja.mdx
  docs/contents/components/forms/year-picker/index.mdx
Due: prettier --write

docs: updated breadcrumb documentation in Japanese
  docs/contents/components/navigation/breadcrumb/index.ja.mdx
  docs/contents/components/navigation/breadcrumb/index.mdx
Due: prettier --write

docs: updated reorder component documentation
  docs/contents/components/data-display/reorder/index.ja.mdx
  docs/contents/components/data-display/reorder/index.mdx
Due: prettier --write

docs(components): updated contextMenu documentation
  docs/contents/components/overlay/context-menu/index.ja.mdx
  docs/contents/components/overlay/context-menu/index.mdx
Due: prettier --write

docs: updated contextMenu documentation and text
  packages/components/menu/src/context-menu.tsx
  stories/components/overlay/context-menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated ContextMenu descriptions
  docs/contents/components/overlay/context-menu/index.ja.mdx
  docs/contents/components/overlay/context-menu/index.mdx
Due: prettier --write
