Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

ci(release): add issue template update and notifications
  .github/workflows/release.yml
Due: prettier --write

fix(github): replace PAT_TOKEN with GITHUB_TOKEN
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: prettier --write

Next into Release (#6327)
  .github/workflows/next.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
Due: prettier --write

refactor(system): handle CSS variables and interpolations correctly (#6326)
  .changeset/dirty-years-listen.md
  .changeset/fluffy-parrots-wash.md
  packages/react/src/core/css/utils.ts
  packages/react/src/core/system/var.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: update workflow tokens to PAT_TOKEN
  .github/workflows/codecov.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  packages/react/README.md
Due: prettier --write

chore(deps): update pnpm to 10.33.0 and configure built dependencies
  package.json
  pnpm-workspace.yaml
Due: prettier --write

feat: wip
  .github/workflows/post-dependabot.yml
Due: prettier --write

fix(.claude): restore symlink to .agents
  .claude
Due: none

chore(permissions): block --no-verify and -n variants including combined flags (-mn, -nm)
  .agents/settings.json
Due: prettier --write

docs(contributing): update deprecated typescript.tsdk to js/ts.tsdk.path
  www/contents/community/contributing.ja.mdx
  www/contents/community/contributing.mdx
Due: prettier --write

chore(deps): update pnpm to 10.33.0 and configure built dependencies
  package.json
  packages/cli/eslint.config.ts
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/react/eslint.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/utils/eslint.config.ts
  packages/utils/vitest.config.ts
  packages/workspace/eslint.config.ts
  packages/workspace/package.json
  packages/workspace/src/eslint/index.ts
  packages/workspace/src/vitest/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/eslint.config.ts
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint): import defineConfig directly from eslint/config
  packages/workspace/src/eslint/index.ts
  pnpm-workspace.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): implement playground feature with code editor and preview functionality
  pnpm-lock.yaml
  www/.gitignore
  www/app/[locale]/(apps)/playground/constants.ts
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/esbuild.ts
  www/app/[locale]/(apps)/playground/layout.tsx
  www/app/[locale]/(apps)/playground/page.tsx
  www/app/[locale]/(apps)/playground/playground-client.tsx
  www/app/[locale]/(apps)/playground/playground-loader.tsx
  www/app/[locale]/(apps)/playground/prettier.ts
  www/app/[locale]/(apps)/playground/preview.tsx
  www/app/[locale]/(apps)/playground/search-params.ts
  www/app/[locale]/(apps)/playground/toolbar.tsx
  www/app/[locale]/(apps)/playground/versions.ts
  www/app/[locale]/header.tsx
  www/app/[locale]/layout.tsx
  www/components/index.ts
  www/components/mdx/code-block.tsx
  www/components/playground-button.tsx
  www/components/stack-blitz-button.tsx
  www/components/stack-blitz-icon.tsx
  www/libs/stackblitz.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): enhance editor with screenshot capability and code highlighting
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/playground-client.tsx
  www/app/[locale]/(apps)/playground/shiki-highlighter.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): add version management for playground dependencies and improve file generation
  packages/react/package.json
  www/app/[locale]/(apps)/playground/versions.gen.ts
  www/app/[locale]/(apps)/playground/versions.ts
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(playground): remove export from internal functions in playground script
  www/scripts/generate/playground.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): add deferred screenshot functionality to improve performance
  www/app/[locale]/(apps)/playground/editor.tsx
  www/app/[locale]/(apps)/playground/preview.tsx
  www/app/[locale]/(apps)/playground/screenshot.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): enhance preview component with locale support and refactor messaging
  www/app/[locale]/(apps)/playground/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(playground): update max width for resizable pane
  www/app/[locale]/(apps)/playground/playground-client.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(playground): add revision tracking to ParentToIframeMessage for update handling
  www/app/[locale]/(apps)/playground/preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): add pnpm workspace catalog entries for shared dependencies
  eslint.config.ts
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/eslint.config.ts
  packages/workspace/package.json
  packages/workspace/src/eslint/index.ts
  playgrounds/next/app/eslint.config.ts
  playgrounds/next/app/package.json
  playgrounds/next/pages/eslint.config.ts
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/eslint.config.ts
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/eslint.config.ts
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/eslint.config.ts
  playgrounds/tanstack/start/package.json
  playgrounds/vite/eslint.config.ts
  playgrounds/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(workspace): remove @yamada-ui/utils dependency by inlining wait function
  packages/workspace/package.json
  packages/workspace/src/octokit/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(retry): simplify wait logic in rate limit handler
  packages/workspace/src/octokit/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove catalog dependencies from package.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier --write

chore(deps): update pnpm to 10.33.0 and configure built dependencies (#6332)
  eslint.config.ts
  package.json
  packages/cli/eslint.config.ts
  packages/cli/package.json
  packages/cli/vitest.config.ts
  packages/react/eslint.config.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/utils/eslint.config.ts
  packages/utils/package.json
  packages/utils/vitest.config.ts
  packages/workspace/eslint.config.ts
  packages/workspace/package.json
  packages/workspace/src/eslint/index.ts
  packages/workspace/src/octokit/index.ts
  packages/workspace/src/vitest/index.ts
  playgrounds/next/app/eslint.config.ts
  playgrounds/next/app/package.json
  playgrounds/next/pages/eslint.config.ts
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/eslint.config.ts
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/eslint.config.ts
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/eslint.config.ts
  playgrounds/tanstack/start/package.json
  playgrounds/vite/eslint.config.ts
  playgrounds/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/eslint.config.ts
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

chore(package): added clean-package dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(pnpm-workspace): updated minimumReleaseAge to 1440
  pnpm-workspace.yaml
Due: none

fix(styles): run eslint and prettier after writing files
  scripts/generate/styles/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(pnpm-workspace): updated minimumReleaseAge to 1440 (#6339)
  pnpm-workspace.yaml
Due: none

fix(styles): run eslint and prettier after writing files (#6340)
  scripts/generate/styles/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(cli): use node protocol in validate-diff-3 mocks
  packages/cli/src/commands/update/validate-diff-3.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: get pathname in guide.ts
  www/data/guide.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: use pathname instead of slug
  www/app/[locale]/(apps)/guides/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
