Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@9c97a19a22caae7b67b978be43ceea0642d17049 🚀
  project.json
Due: prettier --write

test(useBreakpoint): enhanced use-breakpoint coverage
  packages/hooks/use-breakpoint/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add aria-label for withFallback-avatar-svg
  .changeset/dull-experts-allow.md
  .changeset/new-mayflies-mix.md
  packages/components/avatar/src/avatar-icon.tsx
  packages/components/avatar/src/avatar.tsx
  packages/components/avatar/tests/avatar-group.test.tsx
  stories/components/media-and-icons/avatar.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(data-table): added DataTable with dynamic filtering and views
  docs/pages/examples/tasks/data-table.tsx
  docs/pages/examples/tasks/data.tsx
  docs/pages/examples/tasks/data/data.tsx
  docs/pages/examples/tasks/filter.tsx
  docs/pages/examples/tasks/filter/index.tsx
  docs/pages/examples/tasks/filter/priority/index.tsx
  docs/pages/examples/tasks/filter/status/index.tsx
  docs/pages/examples/tasks/filter/view/index.tsx
  docs/pages/examples/tasks/footer/index.tsx
  docs/pages/examples/tasks/header.tsx
  docs/pages/examples/tasks/header/index.tsx
  docs/pages/examples/tasks/index.tsx
  docs/pages/examples/tasks/table/body/index.tsx
  docs/pages/examples/tasks/table/head/index.tsx
  docs/pages/examples/tasks/table/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tasks): updated component wrappers and spacing
  docs/pages/examples/tasks/header.tsx
  docs/pages/examples/tasks/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(data-table): update data handling and enhance UI logic
  docs/pages/examples/tasks/data-table.tsx
  docs/pages/examples/tasks/data.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(header): simplify Text component format
  docs/pages/examples/tasks/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): added secondary color for violet scheme
  docs/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(authentication): added company and form components
  docs/pages/examples/authentication/company.tsx
  docs/pages/examples/authentication/form.tsx
  docs/pages/examples/authentication/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(i18n): add author descriptions and update components
  docs/i18n/ui.en.json
  docs/i18n/ui.ja.json
  docs/pages/examples/[slug].page.tsx
  docs/pages/examples/data.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(package.json): simplify prebuild script
  docs/package.json
Due: prettier --write

style(pages): simplified Text component styling
  docs/pages/examples/[slug].page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(pages/examples/tasks): added @ts-ignore to headerProps
  docs/pages/examples/tasks/data-table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated date handling in report insights
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(theme): renamed files to kebab-case format
  packages/theme/src/tokens/font-sizes.ts
  packages/theme/src/tokens/font-weights.ts
  packages/theme/src/tokens/index.ts
  packages/theme/src/tokens/letter-spacings.ts
  packages/theme/src/tokens/line-heights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core-members): reordered member entries
  docs/constant/core-members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(tsconfig): add `.mjs`
  tsconfig.json
Due: prettier --write

build: add -w `globals`, `@eslint/eslintrc`, `typescript-eslint`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(eslint): update `lint` command
  eslint.config.mjs
  package.json
Due: prettier --write

chore: remove `.eslintrc`
  .eslintrc
Due: prettier --write

feat: add `eslint.config.mjs`
  eslint.config.mjs
Due: none

test(hooks): add tests for `useMediaQuery`
  packages/hooks/use-media-query/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: renamed and updated workflow configurations
  docs/.github/workflows/sync.yml
Due: prettier --write

ci: updated workflow names and ids for syncing
  .github/workflows/release.yml
Due: prettier --write

chore(docs): remove all GitHub template files and workflows
  docs/.github/FUNDING.yml
  docs/.github/ISSUE_TEMPLATE/bug_report.ja.yml
  docs/.github/ISSUE_TEMPLATE/bug_report.yml
  docs/.github/ISSUE_TEMPLATE/config.yml
  docs/.github/ISSUE_TEMPLATE/documentation_request.ja.yml
  docs/.github/ISSUE_TEMPLATE/documentation_request.yml
  docs/.github/composite-actions/install/action.yml
  docs/.github/pull_request_template.md
  docs/.github/workflows/observe-issues.yml
  docs/.github/workflows/observe-pull-requests.yml
  docs/.github/workflows/sync.yml
Due: prettier --write

chore(husky): removed husky hooks from docs
  docs/.husky/commit-msg
  docs/.husky/pre-commit
Due: none

chore(docs): removed all documentation files
  docs/.npmrc
  docs/.nvmrc
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.ja.md
  docs/CONTRIBUTING.md
  docs/LICENSE
  docs/README.ja.md
  docs/README.md
Due: prettier --write

chore(docs): remove observe scripts and update metadata
  docs/package.json
  docs/scripts/observe-issues.ts
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added docs pattern to pnpm workspace
  pnpm-workspace.yaml
Due: none

chore(package.json): updated lint and format scripts, added docs scripts
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: updated ignore files, removed docs configs
  .eslintignore
  .gitignore
  .prettierignore
  docs/.commitlintrc
  docs/.env.example
  docs/.eslintignore
  docs/.eslintrc
  docs/.gitignore
  docs/.lintstagedrc.mjs
  docs/.prettierignore
  docs/.prettierrc
Due: prettier --write

style(docs): updated eslint configuration
  docs/.eslintrc
Due: prettier --write

refactor(docs): simplify content layer config logic
  docs/contentlayer.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added paths-ignore to workflow config
  .github/workflows/quality.yml
Due: prettier --write

build(package.json): updated build and lint scripts
  package.json
Due: prettier --write

feat(docs): added experimental externalDir config
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
