Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat(cli): add interactive workspace selection for monorepo init
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update import paths to use node: prefix for consistency
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): delegated YAML retrieval to the parser and corrected the logic added support for the .yml file extension extracted getWorkspace to a separate file and strengthened the tests
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/workspace.test.ts
  packages/cli/src/commands/init/workspace.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: generate changeset file
  .changeset/kind-pets-judge.md
Due: prettier --write

fix(workspace): enhance workspace pattern resolution and streamline logic
  packages/cli/src/commands/init/workspace.test.ts
  packages/cli/src/commands/init/workspace.ts
Due: prettier --write, eslint --max-warnings 0 --fix

revert: unnecessary line break changes
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): improve workspace installation feedback and error handling
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): improve workspace output formatting in init command
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update fs and os imports to use node: prefix for consistency
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/workspace.test.ts
  packages/cli/src/commands/init/workspace.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): replace shell execution to a secure function
  packages/cli/src/commands/init/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(init): simplify workspace install logic
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
  packages/cli/src/commands/init/workspace/install.test.ts
  packages/cli/src/commands/init/workspace/install.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(workspace): add error handling for malformed YAML and JSON files
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(package): correct priority of workspace YAML file resolution
  packages/cli/src/utils/package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(init): separate the installation logic into a separate file
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
  packages/cli/src/commands/init/workspace/index.ts
  packages/cli/src/commands/init/workspace/install.test.ts
  packages/cli/src/commands/init/workspace/install.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): added missing negative handling for workspace
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(get-workspaces): add path traversal protection to skip workspaces outside project root
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(init): rename workspace function
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/workspace/add-package.test.ts
  packages/cli/src/commands/init/workspace/add-package.ts
  packages/cli/src/commands/init/workspace/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): include outdir in `addPackage` to exclude newly created package from workspace choices
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/init/workspace/add-package.test.ts
  packages/cli/src/commands/init/workspace/add-package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(init): correct prompt message for workspace selection
  packages/cli/src/commands/init/workspace/add-package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(package): add engines field to specify required Node.js version
  packages/cli/package.json
Due: prettier --write

fix(get-workspaces): support Yarn v1 legacy workspaces format
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(get-workspaces): sort returned workspaces for deterministic ordering
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(get-workspaces): improve error handling for unreadable YAML and JSON files
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(add-package): quote workspace path in printed cd command
  .changeset/kind-pets-judge.md
  packages/cli/src/commands/init/workspace/add-package.test.ts
  packages/cli/src/commands/init/workspace/add-package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): replace yamljs with yaml
  packages/cli/package.json
  packages/cli/src/commands/init/workspace/get-workspaces.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/package.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tests): update expectation for console log in workspace install tests
  packages/cli/src/commands/init/workspace/install.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(add-package): update --yes behavior to print commands instead of installing
  packages/cli/src/commands/init/workspace/add-package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tests): enhance workspace retrieval tests for empty and malformed configurations
  packages/cli/src/commands/init/workspace/get-workspaces.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(get-workspaces): streamline workspace path resolution and error handling
  packages/cli/src/commands/init/workspace/get-workspaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(instructions): prohibit use of --no-verify for ai commits
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier --write

chore(permissions): block --no-verify and -n variants including combined flags (-mn, -nm)
  .agents/settings.json
Due: prettier --write

fix: add -n flag to git commit deny rule
  .agents/settings.json
  .claude
  .claude/settings.json
Due: prettier --write

fix(.claude): restore symlink to .agents
  .claude
Due: none

fix: removed AGENTS.md changes and add Claude settings with no-verify commit restriction
  .claude
  .claude/settings.json
  .github/copilot-instructions.md
  AGENTS.md
Due: prettier --write

chore: extend git commit deny patterns to catch combined -n flags
  .agents/settings.json
Due: prettier --write

fix(copy-button): make tooltip for copying codeblock stay on click
  www/components/copy-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(www): skip vercel build for draft pull requests
  www/ignored-build-step.sh
Due: none

chore(www): use vercel git env for upstream fetch url
  www/ignored-build-step.sh
Due: none

chore(www): improve cache for build:content script
  www/turbo.json
Due: prettier --write

ci(quality): add 10 minute timeouts to quality and test workflows
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
