Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(charts): added cell props to BarChart and updated types
  .changeset/spicy-mugs-doubt.md
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/index.ts
  packages/components/charts/src/use-bar-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(insights-header): updated component imports and logic
  docs/pages/insights/insights-header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(insights-header): adjusted date calculation logic
  docs/pages/insights/insights-header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): updated default start date calculation
  docs/pages/insights/index.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(insights): added locale support to user names
  docs/pages/insights/user-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): removed unnecessary type exports
  .changeset/chilly-ads-clap.md
  packages/theme/src/tokens/animations.ts
  packages/theme/src/tokens/blurs.ts
  packages/theme/src/tokens/borders.ts
  packages/theme/src/tokens/breakpoints.ts
  packages/theme/src/tokens/colors.ts
  packages/theme/src/tokens/font-sizes.ts
  packages/theme/src/tokens/font-weights.ts
  packages/theme/src/tokens/fonts.ts
  packages/theme/src/tokens/gradients.ts
  packages/theme/src/tokens/letter-spacings.ts
  packages/theme/src/tokens/line-heights.ts
  packages/theme/src/tokens/radii.ts
  packages/theme/src/tokens/shadows.ts
  packages/theme/src/tokens/sizes.ts
  packages/theme/src/tokens/spaces.ts
  packages/theme/src/tokens/transitions.ts
  packages/theme/src/tokens/z-indices.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(carousel): add changeset
  .changeset/slow-mice-tie.md
Due: prettier --write

feat(cli): added theme generation feature and updates
  .changeset/healthy-ducks-tell.md
  packages/cli/package.json
  packages/cli/src/command/colors/index.ts
  packages/cli/src/command/index.ts
  packages/cli/src/command/theme/index.ts
  packages/cli/src/command/tokens/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/string.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(data-display): added string check in table map
  stories/components/data-display/native-table.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(multi-select): add customComponent, maxSelectValues, closeOnSelect
  packages/components/select/tests/multi-select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(multi-select): fix review point
  packages/components/select/tests/multi-select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(carousel): replace EmblaCarouselType to CarouselControl
  docs/contents/components/data-display/carousel/props.ja.mdx
  docs/contents/components/data-display/carousel/props.mdx
  packages/components/carousel/DOCS.json
  packages/components/carousel/src/index.ts
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(carousel): revert mdx
  docs/contents/components/data-display/carousel/props.ja.mdx
  docs/contents/components/data-display/carousel/props.mdx
Due: prettier --write

docs(FramerMotion): fix useMotionAnimationFrame to useAnimationFrame
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
Due: prettier --write

chore(changeset): updated version and improved markdown formatting
  .changeset/slow-mice-tie.md
Due: prettier --write

feat(utils): added MergeIfDefined type and updated usage
  .changeset/brave-schools-reflect.md
  packages/utils/src/index.types.ts
  packages/utils/src/react.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(motion): added motionForwardRef and updated types
  .changeset/pink-moons-cry.md
  packages/components/motion/src/index.ts
  packages/components/motion/src/motion-forward-ref.tsx
  packages/components/motion/src/motion.tsx
  packages/components/motion/src/motion.types.ts
  packages/components/motion/src/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(modal): updated to use motionForwardRef throughout
  .changeset/new-gifts-train.md
  packages/components/modal/src/dialog.tsx
  packages/components/modal/src/drawer.tsx
  packages/components/modal/src/modal-overlay.tsx
  packages/components/modal/src/modal.tsx
  packages/components/popover/src/popover-content.tsx
  packages/components/popover/src/popover.tsx
  packages/components/resizable/src/resizable-trigger.tsx
  packages/components/tooltip/src/tooltip.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
  packages/core/src/components/component.types.ts
  packages/core/src/components/forward-ref.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(insights): updated date handling and imports
  docs/pages/insights/insights-header.tsx
  docs/pages/insights/insights-utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): fixed width handling in listProps
  .changeset/bright-tigers-lick.md
  packages/components/autocomplete/src/autocomplete-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(select): fixed width handling in SelectList component
  .changeset/green-berries-leave.md
  packages/components/select/src/select-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(notice): added listProps and itemProps to notice components
  .changeset/little-socks-reflect.md
  packages/components/notice/src/notice-provider.tsx
  packages/core/src/theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(notice): added closeStrategy option to notice components
  .changeset/sweet-maps-jam.md
  packages/components/notice/src/notice.tsx
  packages/core/src/theme.types.ts
  stories/hooks/use-notice.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(snacks): added closeStrategy option for snacks
  .changeset/six-buses-count.md
  packages/components/snacks/src/use-snacks.tsx
  packages/core/src/theme.types.ts
  stories/hooks/use-snacks.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(colors.mdx, spaces.mdx): updated sections and values
  stories/documents/theme/colors.mdx
  stories/documents/theme/spaces.mdx
Due: prettier --write

docs: updated font sizes and space tokens in docs
  docs/contents/getting-started/basics.ja.mdx
  docs/contents/getting-started/basics.mdx
  docs/contents/styled-system/semantic-tokens.ja.mdx
  docs/contents/styled-system/semantic-tokens.mdx
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
  docs/contents/styled-system/theming/default-theme.ja.mdx
  docs/contents/styled-system/theming/default-theme.mdx
Due: prettier --write

feat(theme): added new space tokens in theme package
  .changeset/quiet-starfishes-drum.md
  packages/theme/src/tokens/spaces.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): added additional spacing values
  stories/documents/theme/spaces.mdx
Due: prettier --write

Fix theme shadow full-width space to half-space.
  packages/theme/src/tokens/shadows.ts
Due: prettier --write, eslint --max-warnings 0 --fix

add changeset
  .changeset/late-days-hug.md
Due: prettier --write

feat(theme-tools): added `generate` function for themes
  .changeset/wise-forks-double.md
  packages/theme-tools/src/generate.ts
  packages/theme-tools/src/index.ts
  packages/theme-tools/tests/generate.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: add FocusLock tests
  packages/components/focus-lock/tests/focus-lock.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(theme-tools): add new spacing values in tests
  packages/theme-tools/tests/generate.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(eslint): correct JSDoc
  eslint/base.mjs
Due: none
