Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor: pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: move styles(use-area-chart) to baseStyle
  packages/components/charts/src/use-area-chart.ts
  packages/theme/src/components/area-chart.ts
  packages/theme/src/components/bar-chart.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/pie-chart.ts
  packages/theme/src/components/radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move specified props to area-chart
  packages/theme/src/components/area-chart.ts
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: remove unused baseStyle on donut-chart
  packages/theme/src/components/donut-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(switch): add `switch` role
  packages/components/switch/src/switch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(switch): add `aria-checked` attr
  packages/components/switch/src/switch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(switch): add and update unittests
  packages/components/switch/tests/switch.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: renamed workflows and updated scripts
  .github/workflows/insight.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/reviewer-pull-request.yml
  package.json
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/report-insight.ts
  scripts/reviewer-pull-requests.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: removed turbo caching setup from action.yml
  .github/composite-actions/install/action.yml
Due: prettier --write

feat(switch): add a changeset
  .changeset/tiny-beds-unite.md
Due: prettier --write

feat(utils): added `is` function for equality checks
  .changeset/tasty-schools-rhyme.md
  packages/utils/src/assertion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: correction of ElementType import method
  docs/pages/examples/mail/sidebar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(stories): remove font size props from icons
  stories/components/data-display/carousel.stories.tsx
  stories/components/data-display/paging-table.stories.tsx
  stories/components/data-display/reorder.stories.tsx
  stories/components/data-display/resizable.stories.tsx
  stories/components/data-display/tag.stories.tsx
  stories/components/disclosure/accordion.stories.tsx
  stories/components/forms/autocomplete.stories.tsx
  stories/components/forms/button.stories.tsx
  stories/components/forms/color-picker.stories.tsx
  stories/components/forms/date-picker.stories.tsx
  stories/components/forms/dropzone.stories.tsx
  stories/components/forms/editable.stories.tsx
  stories/components/forms/file-input.stories.tsx
  stories/components/forms/input.stories.tsx
  stories/components/forms/month-picker.stories.tsx
  stories/components/forms/multi-autocomplete.stories.tsx
  stories/components/forms/multi-date-picker.stories.tsx
  stories/components/forms/multi-select.stories.tsx
  stories/components/forms/native-select.stories.tsx
  stories/components/forms/range-date-picker.stories.tsx
  stories/components/forms/range-slider.stories.tsx
  stories/components/forms/rating.stories.tsx
  stories/components/forms/select.stories.tsx
  stories/components/forms/slider.stories.tsx
  stories/components/forms/toggle.stories.tsx
  stories/components/forms/year-picker.stories.tsx
  stories/components/media-and-icons/avatar.stories.tsx
  stories/components/media-and-icons/icon.stories.tsx
  stories/components/media-and-icons/lucide.stories.tsx
  stories/components/navigation/breadcrumb.stories.tsx
  stories/components/navigation/pagination.stories.tsx
  stories/components/overlay/menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add icon tags generation script and update package.json
  .github/composite-actions/update-docs/action.yml
  docs/package.json
  docs/pages/icons/list.tsx
  docs/pages/icons/tags.ts
  docs/scripts/icon-tags.ts
  package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move other properties from use-*.ts to each package
  packages/components/charts/src/use-bar-chart.ts
  packages/components/charts/src/use-line-chart.ts
  packages/components/charts/src/use-pie-chart.ts
  packages/components/charts/src/use-radar-chart.ts
  packages/theme/src/components/bar-chart.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/pie-chart.ts
  packages/theme/src/components/radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(motion): updated dependencies and expanded API
  .changeset/sour-ghosts-hammer.md
  packages/components/motion/package.json
  packages/components/motion/src/index.ts
  packages/components/motion/src/motion.types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added ObjectLiteral type and updated types
  .changeset/dull-peas-accept.md
  packages/utils/src/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): updated type definitions and imports
  .changeset/hot-bikes-smile.md
  packages/core/src/css/css.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): updated `ReorderItem` to use `value` attribute
  .changeset/shaggy-plants-reflect.md
  docs/contents/components/data-display/reorder/index.ja.mdx
  docs/contents/components/data-display/reorder/index.mdx
  packages/components/reorder/src/reorder-item.tsx
  packages/components/reorder/src/reorder.tsx
  packages/components/reorder/tests/reorder.test.tsx
  stories/components/data-display/reorder.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(modal): reordered properties in dialog object
  packages/components/modal/src/dialog.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(utils): added tests for 'is' function in assertions
  packages/utils/tests/assertion.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(fontawesome): removed ElementType from icon type
  packages/components/fontawesome/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated path in .eslintignore for examples
  .eslintignore
Due: none

refactor(docs): simplify icon usage across components
  docs/pages/examples/authentication/company.tsx
  docs/pages/examples/cards/bookmark-card.tsx
  docs/pages/examples/cards/github-card.tsx
  docs/pages/examples/cards/notification-card.tsx
  docs/pages/examples/cards/payment-method-card.tsx
  docs/pages/examples/dashboard/cards.tsx
  docs/pages/examples/dashboard/index.tsx
  docs/pages/examples/mail/detail.tsx
  docs/pages/examples/mail/sidebar.tsx
  docs/pages/examples/music/content.tsx
  docs/pages/examples/music/header.tsx
  docs/pages/examples/playground/footer/index.tsx
  docs/pages/examples/playground/header/control-button.tsx
  docs/pages/examples/tasks/data-table.tsx
  docs/pages/examples/tasks/filter.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): updated default breakpoint handling
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/breakpoint.ts
  packages/theme/src/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated Japanese documentation details
  docs/contents/styled-system/configure/customize-config.ja.mdx
  docs/contents/styled-system/configure/customize-config.mdx
  docs/contents/styled-system/configure/default-config.ja.mdx
  docs/contents/styled-system/configure/default-config.mdx
Due: prettier --write

chore: updated changeset for patch release
  .changeset/plenty-crews-exercise.md
Due: prettier --write

refactor(use-pan-event): updated cleanup logic and imports
  .changeset/thick-mugs-notice.md
  packages/hooks/use-pan-event/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: revision of text
  docs/contents/components/disclosure/accordion/accessibility.ja.mdx
  docs/contents/components/disclosure/accordion/accessibility.mdx
Due: prettier --write

feat(slider): added dynamic thumbSize calculations for SSR
  .changeset/forty-yaks-fetch.md
  packages/components/slider/src/range-slider.tsx
  packages/components/slider/src/slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: edit pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: add new line to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

test(accordion): updated async tests and queries
  packages/components/accordion/tests/accordion.test.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  packages/components/menu/tests/menu.test.tsx
  packages/components/popover/tests/popover.test.tsx
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add keyboard navigation for multi-autocomplete component
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: improved test code
  packages/components/progress/tests/circle-progress.test.tsx
  packages/components/progress/tests/progress.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: put back the deleted parts
  packages/components/progress/tests/progress.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(modal): add `dioalog` role
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
