Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(eslint): add cspellConfig import
  eslint.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update dependencies to latest versions
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

feat: add script to generate dependencies.json
  dependencies.json
  package.json
  pnpm-lock.yaml
  scripts/generate-dependencies.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove deprecated dropzone accept-types import
  packages/react/package.json
  packages/react/src/components/alert/alert.tsx
  packages/react/src/components/dropzone/dropzone.stories.tsx
  packages/react/src/components/dropzone/dropzone.style.ts
  packages/react/src/components/dropzone/dropzone.test.tsx
  packages/react/src/components/dropzone/dropzone.tsx
  packages/react/src/components/dropzone/index.ts
  packages/react/src/components/dropzone/namespace.ts
  packages/react/src/components/dropzone/use-dropzone-border.ts
  packages/react/src/components/dropzone/use-dropzone.ts
  packages/react/src/components/resizable/resizable.stories.tsx
  packages/react/src/index.ts
  packages/react/src/legacy-components/dropzone/accept-types.ts
  packages/react/src/legacy-components/dropzone/dropzone.stories.tsx
  packages/react/src/legacy-components/dropzone/dropzone.test.tsx
  packages/react/src/legacy-components/dropzone/dropzone.tsx
  packages/react/src/legacy-components/dropzone/index.ts
  packages/react/src/theme/components/dropzone.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update dependencies for stability
  package.json
  packages/react/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@2d24109f49f5129b018ae9b44360fcd2a023b9b4 🚀
  project.json
Due: prettier --write

ci(changesets): updated packages
  .changeset/six-trees-smell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

build(dependencies): update react and vite versions
  package.json
  pnpm-lock.yaml
  www/scripts/generate/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@e0330f60037ab695ba44e099ac185e75246495bf 🚀
  project.json
Due: prettier --write

ci: add notification script for release updates
  scripts/changelog.ts
  scripts/coverage-issues.ts
  scripts/create-issues.ts
  scripts/notification-release.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@a4f90c1217a8fc5b70ca38e71a8907376e496dab 🚀
  project.json
Due: prettier --write

ci: add migration visit link to changelogs
  .changeset/spotty-spies-visit.md
  CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@8eb0bd5a3474c75a98f1823d8551c39df095302d 🚀
  project.json
Due: prettier --write

build(tsconfig): extend include to 'packages' directory
  package.json
  packages/react/src/components/dropzone/props.json
  packages/react/src/components/tag/props.json
  packages/react/src/core/css/styles.ts
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(system): simplify WithoutThemeProps type definition
  packages/react/src/core/system/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix(use-descendant): simplify index management logic
  packages/react/src/components/accordion/accordion.stories.tsx
  packages/react/src/components/accordion/accordion.test.tsx
  packages/react/src/components/accordion/accordion.tsx
  packages/react/src/components/accordion/props.json
  packages/react/src/components/accordion/use-accordion.ts
  packages/react/src/components/pin-input/pin-input.stories.tsx
  packages/react/src/components/pin-input/pin-input.test.tsx
  packages/react/src/components/pin-input/pin-input.tsx
  packages/react/src/components/pin-input/props.json
  packages/react/src/components/pin-input/use-pin-input.ts
  packages/react/src/components/segmented-control/use-segmented-control.ts
  packages/react/src/components/steps/props.json
  packages/react/src/components/steps/steps.stories.tsx
  packages/react/src/components/steps/steps.tsx
  packages/react/src/components/steps/use-steps.ts
  packages/react/src/components/tabs/props.json
  packages/react/src/components/tabs/tabs.stories.tsx
  packages/react/src/components/tabs/tabs.tsx
  packages/react/src/components/tabs/use-tabs.ts
  packages/react/src/hooks/use-descendant/index.test.tsx
  packages/react/src/hooks/use-descendant/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(List): cache children rendering with useMemo
  packages/react/src/components/list/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(props): add size and variant options to components
  packages/react/src/components/close-button/props.json
  packages/react/src/components/drawer/props.json
  packages/react/src/components/modal/props.json
Due: prettier --write

chore(tsconfig): simplified exclude paths
  packages/workspace/src/typescript/tsconfig.json
Due: prettier --write

fix: remove unused jsx-preview components and imports
  www/components/mdx/code-block.tsx
  www/components/mdx/code-group-tabs.tsx
  www/components/mdx/code-group.tsx
  www/components/mdx/jsx-preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(rating): updated component structure
  packages/react/src/components/rating/index.ts
  packages/react/src/components/rating/rating-utils.ts
  packages/react/src/components/rating/rating.stories.tsx
  packages/react/src/components/rating/rating.style.ts
  packages/react/src/components/rating/rating.test.tsx
  packages/react/src/components/rating/rating.tsx
  packages/react/src/components/rating/use-rating-item.ts
  packages/react/src/components/rating/use-rating.tsx
  packages/react/src/index.ts
  packages/react/src/legacy-components/rating/rating-context.ts
  packages/react/src/legacy-components/rating/rating-group.tsx
  packages/react/src/legacy-components/rating/rating-item.tsx
  packages/react/src/legacy-components/rating/rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(descendants): add focus method for descendant management
  packages/react/src/core/css/conditions.ts
  packages/react/src/hooks/use-descendant/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(fonts): replace mono fonts with system fonts
  packages/react/src/theme/tokens/fonts.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(reset-style): set fontFamily to inherit for code elements
  packages/react/src/theme/styles/reset-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(kbd): update labels to proper casing and style
  packages/react/src/components/kbd/kbd.stories.tsx
  packages/react/src/components/kbd/kbd.style.ts
  packages/react/src/theme/styles/text-styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(style): adjust border and rounding styles for components
  packages/react/src/components/drawer/drawer.style.ts
  packages/react/src/components/modal/modal.style.ts
  packages/react/src/components/popover/popover.style.ts
  packages/react/src/components/tooltip/tooltip.style.ts
  packages/react/src/theme/semantic-tokens/colors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(dom): replace space key with code for consistency
  packages/react/src/utils/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-popover): remove unused delay props and refactor context
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
  packages/react/src/components/popover/props.json
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(menu): add use-menu hook for internal logic
  cspell.json
  packages/react/src/components/context-menu/context-menu.stories.tsx
  packages/react/src/components/context-menu/context-menu.style.ts
  packages/react/src/components/context-menu/context-menu.test.tsx
  packages/react/src/components/context-menu/context-menu.tsx
  packages/react/src/components/context-menu/index.ts
  packages/react/src/components/context-menu/namespace.ts
  packages/react/src/components/menu/index.ts
  packages/react/src/components/menu/menu-context.ts
  packages/react/src/components/menu/menu.stories.tsx
  packages/react/src/components/menu/menu.style.ts
  packages/react/src/components/menu/menu.tsx
  packages/react/src/components/menu/namespace.ts
  packages/react/src/components/menu/props.json
  packages/react/src/components/menu/use-menu.ts
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-focus-visible): make focus property configurable to fix "Cannot redefine property: focus"
  .changeset/easy-windows-jam.md
  packages/hooks/use-focus-visible/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/easy-windows-jam.md
  .changeset/tangy-socks-tie.md
  packages/components/checkbox/CHANGELOG.md
  packages/components/checkbox/package.json
  packages/components/radio/CHANGELOG.md
  packages/components/radio/package.json
  packages/components/rating/CHANGELOG.md
  packages/components/rating/package.json
  packages/components/segmented-control/CHANGELOG.md
  packages/components/segmented-control/package.json
  packages/components/select/CHANGELOG.md
  packages/components/select/package.json
  packages/components/switch/CHANGELOG.md
  packages/components/switch/package.json
  packages/components/table/CHANGELOG.md
  packages/components/table/package.json
  packages/hooks/use-focus-visible/CHANGELOG.md
  packages/hooks/use-focus-visible/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix(use-outside-click): handle multiple refs in event detection
  packages/react/src/hooks/use-outside-click/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-focus): remove unnecessary visibility check
  packages/react/src/hooks/use-focus/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(use-descendants): simplify register logic and improve type safety
  packages/react/src/hooks/use-descendant/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(popover): improve outside click handling and ARIA attributes
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
