Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

test(pin-input): add tests
  packages/components/pin-input/tests/pin-input-field.test.tsx
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add .idea to .gitignore
  .gitignore
Due: none

test(pin-input): fix import
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(textarea): modified to reflect row prop
  packages/components/textarea/src/textarea.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added github-token to jest action
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): updated token for coverage report
  .github/workflows/quality.yml
Due: prettier --write

feat(textarea): addition of autosize function to textarea
  .changeset/silver-paws-cover.md
  .changeset/spotty-grapes-cover.md
  packages/components/textarea/src/textarea.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(stories): add textarea autosize story
  stories/components/forms/textarea.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed URL
  docs/contents/hooks/use-theme.ja.mdx
  docs/contents/hooks/use-theme.mdx
Due: prettier --write

ci(docs): updated docs
  packages/components/input/DOCS.json
  packages/components/resizable/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.2.3.mdx
  CHANGELOG.md
Due: prettier --write

refactor(textarea): separation of autosize processing into useAutosize
  packages/components/textarea/src/textarea.tsx
  packages/components/textarea/src/useAutosize.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(textarea): change file extension useAutosize.tsx→useAutosize.ts
  packages/components/textarea/src/useAutosize.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: table component
  packages/components/table/test/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(quality workflow): changed token for coverage comments
  .github/workflows/quality.yml
Due: prettier --write

ci: updated token for comment creation
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): optimized install step in workflow
  .github/workflows/quality.yml
Due: prettier --write

ci: added token to coverage report action
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): updated tokens and conditional steps
  .github/workflows/quality.yml
Due: prettier --write

test: rename test -> tests
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated token for coverage report comment
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): switched to GITHUB_TOKEN for comments
  .github/workflows/quality.yml
Due: prettier --write

ci: removed redundant github-token
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): updated token for comment creation
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): removed ISSUE_TOKEN from actions
  .github/workflows/quality.yml
Due: prettier --write

refactor(textarea): chenge file name useAutosize.ts→use-autosize.ts
  packages/components/textarea/src/textarea.tsx
  packages/components/textarea/src/use-autosize.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add meeting notes and project plans
  report.md
Due: prettier --write

ci(quality.yml): comment out coverage steps
  .github/workflows/quality.yml
  report.md
Due: prettier --write

feat(core): added dynamic storage key handling
  .changeset/khaki-masks-smell.md
  packages/core/src/providers/color-mode-manager.ts
  packages/core/src/providers/color-mode-provider.tsx
  packages/core/src/providers/theme-manager.ts
  packages/core/src/providers/theme-provider.tsx
  packages/providers/src/ui-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added chart components
  packages/components/charts/README.md
  packages/components/charts/package.json
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/index.ts
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/radar-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-bar-chart.ts
  packages/components/charts/src/use-chart.ts
  packages/components/charts/src/use-line-chart.ts
  packages/components/charts/src/use-pie-chart.ts
  packages/components/charts/src/use-radar-chart.ts
  packages/components/charts/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added chart component styles
  packages/theme/src/components/area-chart.ts
  packages/theme/src/components/bar-chart.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/pie-chart.ts
  packages/theme/src/components/radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added chart component stories
  stories/components/feedback/area-chart.stories.tsx
  stories/components/feedback/bar-chart.stories.tsx
  stories/components/feedback/line-chart.stories.tsx
  stories/components/feedback/pie-chart.stories.tsx
  stories/components/feedback/radar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): added chart types to generated theme
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added auto-assign and review workflows
  .github/auto-assign.yml
  .github/workflows/review.yml
Due: prettier --write

feat(theme): added `unstyled` variant to `Resizable`
  .changeset/fuzzy-deers-destroy.md
  packages/core/src/generated-theme.types.ts
  packages/theme/src/components/resizable.ts
  stories/components/data-display/resizable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: correct casing of initial letters in file name
  examples/create-react-app/src/app.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(pin-input): fix faling test in "calls onChange and onComplete appropriately"
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
