Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix: add openOnClick support to date, color, autocomplete, select
  .changeset/eager-ants-dress.md
  .changeset/red-bugs-matter.md
  packages/react/src/components/autocomplete/autocomplete.tsx
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/react/src/components/color-picker/color-picker.tsx
  packages/react/src/components/color-picker/use-color-picker.ts
  packages/react/src/components/date-picker/date-picker.stories.tsx
  packages/react/src/components/date-picker/date-picker.tsx
  packages/react/src/components/date-picker/use-date-picker.tsx
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(popover): add transferFocus option for focus transfer
  .changeset/hungry-pillows-notice.md
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: update focus transfer logic in date and color pickers
  .changeset/flat-lions-speak.md
  packages/react/src/components/color-picker/use-color-picker.ts
  packages/react/src/components/date-picker/use-date-picker.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(calendar): reset field props for select components
  .changeset/dull-rooms-remain.md
  packages/react/src/components/calendar/calendar.tsx
  packages/react/src/components/field/use-field-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(accordion): update accessibility
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

docs(accordion): fix accessibility section
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

fix(style): correct focus styles for invalid inputs
  .changeset/proud-numbers-sort.md
  packages/react/src/components/autocomplete/autocomplete.style.ts
  packages/react/src/components/select/select.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Added a test file for pull request
  test.txt
Due: none

refactor(styles): replace inline container/media types with defined interfaces
  .changeset/three-guests-start.md
  packages/react/src/core/css/at-rule.ts
  packages/react/src/core/css/index.types.ts
  packages/react/src/core/css/styles.ts
  scripts/generate/styles/styled-props.ts
  scripts/generate/styles/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(styled): pass name to createStyled function
  .changeset/empty-donkeys-brake.md
  packages/react/src/core/components/create-component.tsx
  packages/react/src/core/components/use-component-style.ts
  packages/react/src/core/system/styled.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(style): add container style queries for variants
  .changeset/tasty-bars-dream.md
  packages/react/src/components/checkbox-card/checkbox-card.style.ts
  packages/react/src/components/checkbox/checkbox.style.ts
  packages/react/src/components/dropzone/dropzone.style.ts
  packages/react/src/components/editable/editable.style.ts
  packages/react/src/components/fieldset/fieldset.style.ts
  packages/react/src/components/input/input.style.ts
  packages/react/src/components/radio-card/radio-card.style.ts
  packages/react/src/components/radio/radio.style.ts
  packages/react/src/components/rating/rating.style.ts
  packages/react/src/components/slider/slider.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(icons): improve layout and structure
  www/app/[locale]/(apps)/icons/preview-drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(link): update href to correct documentation path
  www/contents/components/(utilities)/slot.ja.mdx
  www/contents/components/(utilities)/slot.mdx
Due: prettier --write

refactor(styles): replace inline type definitions with array types
  .changeset/three-guests-start.md
  packages/react/src/core/css/at-rule.ts
  packages/react/src/core/css/index.types.ts
  packages/react/src/core/css/styles.ts
  scripts/generate/styles/styled-props.ts
  scripts/generate/styles/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(styling): add component name for CSS variables
  .changeset/empty-donkeys-brake.md
  packages/react/src/core/components/create-component.tsx
  packages/react/src/core/components/use-component-style.ts
  packages/react/src/core/system/styled.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(style): add container style queries for components
  .changeset/tasty-bars-dream.md
  packages/react/src/components/checkbox-card/checkbox-card.style.ts
  packages/react/src/components/checkbox/checkbox.style.ts
  packages/react/src/components/dropzone/dropzone.style.ts
  packages/react/src/components/editable/editable.style.ts
  packages/react/src/components/fieldset/fieldset.style.ts
  packages/react/src/components/input/input.style.ts
  packages/react/src/components/radio-card/radio-card.style.ts
  packages/react/src/components/radio/radio.style.ts
  packages/react/src/components/rating/rating.style.ts
  packages/react/src/components/slider/slider.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: revert doc-map.*.json files
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
Due: prettier --write

chore: discard changes to www/data/doc-map.en.json
  www/data/doc-map.en.json
Due: prettier --write

chore: discard changes to www/data/doc-map.ja.json
  www/data/doc-map.ja.json
Due: prettier --write

feat(native-popover): add `native-popover` component
  .changeset/thin-ducks-tan.md
  packages/react/src/components/native-popover/index.ts
  packages/react/src/components/native-popover/namespace.ts
  packages/react/src/components/native-popover/native-popover.stories.tsx
  packages/react/src/components/native-popover/native-popover.style.ts
  packages/react/src/components/native-popover/native-popover.test.tsx
  packages/react/src/components/native-popover/native-popover.tsx
  packages/react/src/components/native-popover/use-native-popover.tsx
  packages/react/src/components/popover/popover.style.ts
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): add `_popoverOpen` style prop and condition
  .changeset/eighty-weeks-live.md
  packages/react/src/core/css/conditions.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(utils): add fallback options to browser checks
  .changeset/two-suns-create.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test cases for DataList
  packages/react/src/components/data-list/data-list.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(for): rename `times` prop to `repeat`
  .changeset/hip-geckos-matter.md
  packages/react/src/components/for/for.tsx
  www/contents/components/(utilities)/for.ja.mdx
  www/contents/components/(utilities)/for.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: update issue creation process to run tests
  .github/workflows/observe-issue-and-pull-request.yml
  pnpm-lock.yaml
  scripts/issue/a11y/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dull-rooms-remain.md
  .changeset/eager-ants-dress.md
  .changeset/flat-lions-speak.md
  .changeset/hungry-pillows-notice.md
  .changeset/proud-numbers-sort.md
  .changeset/proud-paths-ask.md
  .changeset/red-bugs-matter.md
  .changeset/two-suns-create.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

refactor(rehype): add slug synchronization plugin support
  pnpm-lock.yaml
  www/components/mdx/card.tsx
  www/contents/get-started/advanced.ja.mdx
  www/contents/get-started/advanced.mdx
  www/contents/get-started/basics.ja.mdx
  www/contents/get-started/basics.mdx
  www/contents/get-started/index.ja.mdx
  www/contents/get-started/index.mdx
  www/contents/styling/animation.ja.mdx
  www/contents/styling/animation.mdx
  www/contents/styling/color-mode.ja.mdx
  www/contents/styling/color-mode.mdx
  www/contents/styling/responsive-design.ja.mdx
  www/contents/styling/responsive-design.mdx
  www/package.json
  www/utils/rehype-plugins/index.ts
  www/utils/rehype-plugins/rehype-slug.ts
  www/utils/remark-plugins/remark-card-group.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(remove): delete obsolete slug sync files
  www/utils/rehype-plugins/rehype-slug-sync.ts
  www/utils/slug-sync.ts
  www/utils/transform-unified-toc.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): remove deprecated ColorPicker mention
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
Due: prettier --write

ci(changesets): update styles
  pnpm-lock.yaml
Due: none

ci(changesets): update props
  packages/react/src/components/autocomplete/props.json
  packages/react/src/components/calendar/props.json
  packages/react/src/components/color-picker/props.json
  packages/react/src/components/date-picker/props.json
  packages/react/src/components/menu/props.json
  packages/react/src/components/popover/props.json
  packages/react/src/components/select/props.json
  www/data/props/autocomplete.json
  www/data/props/calendar.json
  www/data/props/color-picker.json
  www/data/props/date-picker.json
  www/data/props/menu.json
  www/data/props/popover.json
  www/data/props/select.json
Due: prettier --write

ci(changesets): update registries
  packages/react/src/components/autocomplete/registry.json
  packages/react/src/components/calendar/registry.json
  packages/react/src/components/color-picker/registry.json
  packages/react/src/components/date-picker/registry.json
  packages/react/src/components/field/registry.json
  packages/react/src/components/popover/registry.json
  packages/react/src/components/select/registry.json
  packages/react/src/hooks/use-combobox/registry.json
  www/public/registry/v2/components/autocomplete.json
  www/public/registry/v2/components/calendar.json
  www/public/registry/v2/components/color-picker.json
  www/public/registry/v2/components/date-picker.json
  www/public/registry/v2/components/field.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/select.json
  www/public/registry/v2/hooks/use-combobox.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-0-5.ja.mdx
  www/contents/changelog/cli/2-0-5.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/react/2-0-5.ja.mdx
  www/contents/changelog/react/2-0-5.mdx
  www/contents/changelog/utils/2-0-4.ja.mdx
  www/contents/changelog/utils/2-0-4.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

ci(changesets): updated packages
  .changeset/green-aliens-punch.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

docs(accordion): change Accordion to Accordion.Root in accessibility section
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

docs(alert): update accessibility
  www/contents/components/(components)/alert.ja.mdx
  www/contents/components/(components)/alert.mdx
Due: prettier --write

chore(deps): update Vitest to v4
  package.json
  packages/react/vitest.config.ts
  packages/workspace/src/vitest/setup.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(react): export `NativePopover` component
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
