Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix: incorrect placement of aria-multiselectable
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/use-month.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/mighty-scissors-run.md
Due: prettier --write

test(transitions): fix error
  packages/components/transitions/tests/slide-fade.test.tsx
  packages/components/transitions/tests/slide.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix getByTestid to getByRole
  packages/components/segmented-control/tests/segmented-control.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove changeset
  .changeset/funny-dolls-jump.md
Due: prettier --write

test: add tests for clicking checkboxes and rows
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add the a11y section for `Modal` component
  docs/contents/components/overlay/modal/accessibility.ja.mdx
  docs/contents/components/overlay/modal/accessibility.mdx
Due: prettier --write

test: added a test for the size of pagingTable
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add tests for the table's sorting functionality
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: enhance the accessibility of DatePicker
  .changeset/proud-guests-complain.md
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/use-date-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): fix the descriptions for the a11y of `Modal`
  docs/contents/components/overlay/modal/accessibility.ja.mdx
  docs/contents/components/overlay/modal/accessibility.mdx
Due: prettier --write

refactor: update RangeSlider accessibility
  .changeset/polite-penguins-pay.md
  packages/components/slider/src/range-slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.5.mdx
  CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

fix(charts): corrected typo in variable name 'isPercent'
  .changeset/healthy-geese-perform.md
  packages/components/charts/src/donut-chart.tsx
  packages/components/charts/src/pie-chart-label.tsx
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/use-pie-chart.ts
  packages/components/charts/tests/donut-chart.test.tsx
  packages/components/charts/tests/pie-chart.test.tsx
  stories/components/feedback/donut-chart.stories.tsx
  stories/components/feedback/pie-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added cspell configuration and script
  cspell.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(docs): corrected typos in documentation files
  docs/contents/components/data-display/card/index.ja.mdx
  docs/contents/components/data-display/card/index.mdx
  docs/contents/components/data-display/native-table/index.ja.mdx
  docs/contents/components/data-display/table/index.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.mdx
  docs/contents/components/forms/checkbox/accessibility.ja.mdx
  docs/contents/components/forms/radio/accessibility.ja.mdx
  docs/contents/components/other/ripple/index.ja.mdx
  docs/contents/components/overlay/drawer/index.ja.mdx
  docs/contents/components/overlay/drawer/index.mdx
  docs/contents/components/overlay/modal/index.ja.mdx
  docs/contents/components/overlay/modal/index.mdx
  docs/contents/components/overlay/tooltip/index.ja.mdx
  docs/contents/hooks/use-notice.ja.mdx
  docs/contents/hooks/use-snacks.ja.mdx
  docs/contents/hooks/use-theme.ja.mdx
  docs/contents/hooks/use-theme.mdx
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
  stories/hooks/use-disclosure.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(components): corrected typos in test descriptions
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
  packages/components/calendar/tests/calendar.test.tsx
  packages/components/carousel/src/carousel-indicators.tsx
  packages/components/charts/tests/area-chart.test.tsx
  packages/components/charts/tests/bar-chart.test.tsx
  packages/components/charts/tests/line-chart.test.tsx
  packages/components/charts/tests/radar-chart.test.tsx
  packages/components/color-picker/tests/alpha-slider.test.tsx
  packages/components/file-button/tests/file-button.test.tsx
  packages/components/file-input/tests/file-input.test.tsx
  packages/components/motion/tests/motion.test.tsx
  packages/components/pagination/src/pagination-item.tsx
  packages/components/portal/tests/portal.test.tsx
  packages/components/segmented-control/tests/segmented-control.test.tsx
  packages/components/snacks/tests/snacks.test.tsx
  packages/components/table/tests/table.test.tsx
  packages/hooks/use-infinite-scroll/tests/index.test.tsx
  packages/hooks/use-os/tests/use-os.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: thematize Icon component
  .changeset/fifty-bulldogs-prove.md
  packages/components/icon/src/icon.tsx
  packages/theme/src/components/icon.ts
  packages/theme/src/components/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@fe2486a000b292125f0692f3beb7bb50b46021e8 🚀
  assets/Color-KGDBMAHA-Bc5Xqamg.js
  assets/Color-KGDBMAHA-w_Jglnl6.js
  assets/DocsRenderer-PKQXORMH-225xx8NO.js
  assets/DocsRenderer-PKQXORMH-sZ8dHRbZ.js
  assets/borders-BiK-_-EM.js
  assets/borders-BpLVo8xE.js
  assets/breakpoints-Ag-Z_T5Q.js
  assets/breakpoints-DjJYWbVH.js
  assets/colors-BSPBllNn.js
  assets/gradients-CGtUcJXj.js
  assets/gradients-CYiys-dN.js
  assets/iframe-B1M6gBLJ.js
  assets/iframe-ywLdQwQk.js
  assets/index-CUPN7Ckf.js
  assets/index-DgkxgJm0.js
  assets/index-g0mLp5b3.js
  assets/preview-11NPxqAF.js
  assets/preview-7aAAAYbC.js
  assets/preview-BO-m7PJs.js
  assets/preview-BqAPVKY4.js
  assets/preview-BtoscB45.js
  assets/preview-CGHcgigP.js
  assets/radii-CC1oCWzT.js
  assets/radii-D03XOnUY.js
  assets/shadows-BdMJ1aUp.js
  assets/sizes-BsHfKx1f.js
  assets/spaces-gZ27rMm_.js
  assets/transitions-BpfSQZMW.js
  assets/typography-DYj2g6sm.js
  assets/use-disclosure.stories-CcCt-AoG.js
  assets/use-disclosure.stories-DzRRCaOf.js
  assets/welcome-BLAhZ8M8.js
  assets/welcome-CCACa7CP.js
  assets/z-index-BiObilOo.js
  assets/z-index-DTwfeJ6P.js
  iframe.html
  index.json
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test cases
  packages/components/charts/tests/area-chart.test.tsx
  packages/components/charts/tests/line-chart.test.tsx
  packages/components/charts/tests/radar-chart.test.tsx
  packages/components/motion/tests/motion.test.tsx
  packages/components/snacks/tests/snacks.test.tsx
  packages/components/transitions/tests/slide-fade.test.tsx
  packages/components/transitions/tests/slide.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected 'isPercent' spelling across docs
  docs/contents/components/feedback/donut-chart/index.ja.mdx
  docs/contents/components/feedback/donut-chart/index.mdx
  docs/contents/components/feedback/donut-chart/props.ja.mdx
  docs/contents/components/feedback/donut-chart/props.mdx
  docs/contents/components/feedback/pie-chart/index.ja.mdx
  docs/contents/components/feedback/pie-chart/index.mdx
  docs/contents/components/feedback/pie-chart/props.ja.mdx
  docs/contents/components/feedback/pie-chart/props.mdx
  packages/components/charts/DOCS.json
Due: prettier --write

test(theme): add unittests for `transformTheme`
  packages/core/tests/theme.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: use `start/end` instead of `left/right`
  packages/components/markdown/src/patterns.ts
  packages/components/markdown/src/remark-ui-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update packages
  pnpm-lock.yaml
Due: none

docs: add accessibility section for Stat
  docs/contents/components/data-display/stat/accessibility.ja.mdx
  docs/contents/components/data-display/stat/accessibility.mdx
Due: prettier --write

chore: revert pnpm-lock.yaml changes
  pnpm-lock.yaml
Due: none

refactor(docs): reordered icon tags for clarity and consistency
  docs/pages/icons/tags.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(docs): updated eslint rules configuration
  docs/.eslintrc.json
Due: prettier --write

chore: updated dependencies and refactored code
  package.json
  packages/components/accordion/src/accordion.tsx
  packages/components/portal/src/default-portal.tsx
  packages/hooks/use-descendant/src/index.ts
  packages/hooks/use-event-listener/src/index.ts
  pnpm-lock.yaml
  scripts/generate-css/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated default values and syntax cleanup
  package.json
  packages/components/accordion/src/accordion.tsx
  packages/components/portal/src/default-portal.tsx
  packages/hooks/use-descendant/src/index.ts
  packages/hooks/use-event-listener/src/index.ts
  pnpm-lock.yaml
  scripts/generate-css/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix
