Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs(layouts): add HStack, VStack, ZStack comments
  packages/components/layouts/src/stack.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated reverse prop description
  docs/contents/components/layouts/stack/index.ja.mdx
Due: prettier --write

docs(stat): update usage documentation
  docs/contents/components/data-display/stat/index.ja.mdx
  docs/contents/components/data-display/stat/index.mdx
Due: prettier --write

refactor(components): standardize Stat component usage
  stories/components/data-display/stat.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated rating component documentation
  docs/contents/components/forms/rating/index.ja.mdx
  docs/contents/components/forms/rating/index.mdx
Due: prettier --write

fix(stories): removed max value rule from rating component
  stories/components/forms/rating.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(rating): added component description
  packages/components/rating/src/rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-focus-visible): fixed `focus-visible` state bug
  .changeset/early-dots-press.md
  packages/hooks/use-focus-visible/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(changeset): updated `OmitProps` type in docs
  .changeset/sour-islands-train.md
  packages/core/src/components/component.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/motion): updated `MotionProps` type definition
  .changeset/hip-lamps-sleep.md
  packages/components/motion/src/motion.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/rating): moved state declarations up
  packages/components/rating/src/use-rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(rating): added motion support to rating group
  packages/components/rating/package.json
  packages/components/rating/src/rating-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix: replace withGroupMax
  stories/components/media-and-icons/avatar.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test for `Modal`
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): version packages
  .changeset/bright-pianos-perform.md
  .changeset/fresh-hounds-peel.md
  .changeset/honest-brooms-love.md
  .changeset/proud-berries-shout.md
  .changeset/purple-peaches-brake.md
  packages/components/autocomplete/CHANGELOG.md
  packages/components/autocomplete/package.json
  packages/components/native-select/CHANGELOG.md
  packages/components/native-select/package.json
  packages/components/native-table/CHANGELOG.md
  packages/components/native-table/package.json
  packages/components/select/CHANGELOG.md
  packages/components/select/package.json
  packages/components/slider/CHANGELOG.md
  packages/components/slider/package.json
  packages/components/table/CHANGELOG.md
  packages/components/table/package.json
  packages/hooks/use-media-query/CHANGELOG.md
  packages/hooks/use-media-query/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
  packages/theme-tools/CHANGELOG.md
  packages/theme-tools/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.0.3.mdx
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@53820a8484561ce2a1aea4311cc44adfcd8d2266 🚀
  project.json
Due: prettier --write

fix(theme): updated `Avatar` fallback bg color
  .changeset/bright-pianos-perform.md
  packages/theme/src/components/avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected `ThemeProps` type references
  .changeset/honest-brooms-love.md
  packages/components/autocomplete/src/autocomplete.tsx
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/native-select/src/native-select.tsx
  packages/components/native-table/src/native-table.tsx
  packages/components/select/src/multi-select.tsx
  packages/components/slider/src/range-slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(storybook): add avatar with fallback story
  stories/components/media-and-icons/avatar.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components): fixed excessive state updates in Button
  .changeset/seven-phones-smile.md
  .changeset/witty-gifts-exist.md
  packages/components/button/src/button.tsx
  packages/theme/src/components/button.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: added function to remove unnecessary attributes
  .changeset/early-kids-battle.md
  .changeset/proud-scissors-jog.md
  packages/components/checkbox/src/checkbox.tsx
  packages/components/form-control/src/form-control.tsx
  packages/components/form-control/src/index.ts
  packages/components/select/src/select-icon.tsx
  packages/components/select/src/select.tsx
  packages/components/select/src/use-select.ts
  packages/components/switch/src/switch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(button): fixed typos and improved comments
  packages/components/button/tests/button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): version packages
  .changeset/seven-phones-smile.md
  .changeset/witty-gifts-exist.md
  packages/components/button/CHANGELOG.md
  packages/components/button/package.json
  packages/components/calendar/CHANGELOG.md
  packages/components/calendar/package.json
  packages/components/carousel/CHANGELOG.md
  packages/components/carousel/package.json
  packages/components/file-button/CHANGELOG.md
  packages/components/file-button/package.json
  packages/components/modal/CHANGELOG.md
  packages/components/modal/package.json
  packages/hooks/use-media-query/CHANGELOG.md
  packages/hooks/use-media-query/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
  packages/theme-tools/CHANGELOG.md
  packages/theme-tools/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.0.4.mdx
  CHANGELOG.md
Due: prettier --write

chore(changeset): added snapshot config
  .changeset/config.json
Due: prettier --write

build: added version and release scripts for next
  package.json
Due: prettier --write

ci(next.yml): added next.js github workflow
  .github/workflows/next.yml
Due: prettier --write

build: updated docs
  packages/components/editable/DOCS.json
  packages/components/layouts/DOCS.json
  packages/components/motion/DOCS.json
  packages/components/native-select/DOCS.json
  packages/components/pin-input/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/rating/DOCS.json
  packages/components/ripple/DOCS.json
  packages/components/select/DOCS.json
  packages/components/stat/DOCS.json
Due: prettier --write

style(segmented-control): updated styles and zIndex fix
  .changeset/four-lobsters-help.md
  .changeset/twenty-olives-brake.md
  packages/components/segmented-control/src/segmented-control.tsx
  packages/theme/src/components/segmented-control.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(header): stripped prerelease tags from version
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
