Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

chore: updated .nvmrc version constraint
  .nvmrc
Due: none

refactor: added generic type to component exports
  plop/component/theme-multi/{{dashCase packageName}}.ts.hbs
  plop/component/theme/{{dashCase packageName}}.ts.hbs
Due: none

refactor(theme): updated For component typing
  packages/theme/src/components/for.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(status): add component
  .changeset/three-jokes-hope.md
  packages/components/alert/src/alert.tsx
  packages/components/markdown/src/remark-ui-component.ts
  packages/components/status/README.md
  packages/components/status/package.json
  packages/components/status/src/index.ts
  packages/components/status/src/status.tsx
  packages/components/status/tests/status.test.tsx
  packages/components/status/tsconfig.json
  packages/core/src/theme.types.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/status.ts
  pnpm-lock.yaml
  stories/components/data-display/status.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(dropzone): added dynamic aria-labelledby support
  .changeset/gentle-snails-brake.md
  packages/components/dropzone/src/dropzone.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(empty-state): added new `EmptyState` component and docs
  .changeset/honest-dingos-watch.md
  packages/components/empty-state/DOCS.json
  packages/components/empty-state/README.md
  packages/components/empty-state/package.json
  packages/components/empty-state/src/empty-state.tsx
  packages/components/empty-state/src/index.ts
  packages/components/empty-state/tests/empty-state.test.tsx
  packages/components/empty-state/tsconfig.json
  packages/core/src/generated-theme.types.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/empty-state.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/other/empty-state.stories.tsx
  stories/components/other/for.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): add new pseudo-classes and attributes
  .changeset/ten-tips-wonder.md
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components): add `DataList` component and tests
  .changeset/lucky-toes-watch.md
  packages/components/data-list/README.md
  packages/components/data-list/package.json
  packages/components/data-list/src/data-list.tsx
  packages/components/data-list/src/index.ts
  packages/components/data-list/tests/data-list.test.tsx
  packages/components/data-list/tsconfig.json
  packages/core/src/generated-theme.types.ts
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/data-list.ts
  packages/theme/src/components/index.ts
  packages/theme/src/styles/reset-style.ts
  pnpm-lock.yaml
  stories/components/data-display/data-list.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): replace FormControl with Fieldset
  docs/contents/components/forms/input/index.ja.mdx
  docs/contents/components/forms/input/index.mdx
  docs/contents/components/forms/pin-input/accessibility.ja.mdx
  docs/contents/components/forms/pin-input/accessibility.mdx
  stories/components/forms/pin-input.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

Deploying to gh-pages from @ yamada-ui/yamada-ui@43571b21f499abb1ed0e6c27cd64e04b9eec347b 🚀
  assets/Color-F6OSRLHC-B9iRN-sc.js
  assets/Color-F6OSRLHC-BN5c2_av.js
  assets/DocsRenderer-CFRXHY34-Be4hQ9VV.js
  assets/DocsRenderer-CFRXHY34-C2VZT9EL.js
  assets/borders-BN0_bwbj.js
  assets/borders-CYnLPD-z.js
  assets/breakpoints-DnFhR_Jj.js
  assets/breakpoints-X-eDOi5a.js
  assets/colors-CV1gFYRa.js
  assets/dropzone.stories-CC7nTdAh.js
  assets/dropzone.stories-DFaypivS.js
  assets/entry-preview-O5r-iyHm.js
  assets/gradients-BTeh9obp.js
  assets/gradients-DiVns8lO.js
  assets/iframe-CvpiNPW_.js
  assets/iframe-DihNNc2w.js
  assets/index-CNff6vtX.js
  assets/index-CsndFmkw.js
  assets/index-ySwHA5Dn.js
  assets/pin-input.stories-CJg0oxtz.js
  assets/pin-input.stories-P-OQOhb8.js
  assets/preview-BouhI6X8.js
  assets/preview-CX6ToI--.js
  assets/preview-IZyeAam8.js
  assets/preview-KK50snGt.js
  assets/preview-dElA_iW0.js
  assets/preview-h9Wv1G9P.js
  assets/radii-CuFP5hGQ.js
  assets/radii-DVEsGXLR.js
  assets/shadows-wzhtvJch.js
  assets/sizes-CKpvLLTr.js
  assets/spaces-BgqoARzs.js
  assets/transitions-BqfhavXm.js
  assets/typography-CktKWCKg.js
  assets/welcome-BeP-EgpA.js
  assets/welcome-CePmGqoz.js
  assets/z-index-Dlk7Ay4T.js
  assets/z-index-wDfRKaUy.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat: fix withDefaultIsChecked for storybook
  stories/components/forms/radio.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove isChecked for useRadio
  packages/components/radio/src/radio.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(calendar): extract `InputProps` for reuse
  .changeset/eleven-terms-poke.md
  packages/components/calendar/src/use-calendar-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(infinite-scroll-area): remove all is from props, variables, related hooks
  .changeset/honest-days-sip.md
  packages/components/infinite-scroll-area/src/infinite-scroll-area.tsx
  packages/components/infinite-scroll-area/tests/infinite-scroll-area.test.tsx
  packages/hooks/use-infinite-scroll/src/index.ts
  stories/components/data-display/infinite-scroll-area.stories.tsx
  stories/hooks/use-infinite-scroll.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `is` prefix
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/autocomplete/src/use-autocomplete-option.ts
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  stories/components/forms/autocomplete.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix default props
  packages/components/autocomplete/src/multi-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/heavy-mugs-report.md
Due: prettier --write

chore: update dependencies and add new icons
  .changeset/lucky-bananas-mix.md
  .changeset/young-moons-stare.md
  docs/package.json
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/next/app/package.json
  examples/next/pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  package.json
  packages/components/carousel/package.json
  packages/components/fontawesome/package.json
  packages/components/lucide/package.json
  packages/components/lucide/src/icons/cloud-alert.tsx
  packages/components/lucide/src/icons/equal-approximately.tsx
  packages/components/lucide/src/icons/index.ts
  packages/components/lucide/src/icons/index.types.ts
  packages/components/lucide/src/icons/laptop-minimal-check.tsx
  packages/components/lucide/src/icons/toilet.tsx
  packages/components/resizable/package.json
  packages/next/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): standardize color to 'muted' across components
  .changeset/fair-waves-train.md
  docs/components/forms/search.tsx
  docs/components/navigation/related-links.tsx
  docs/pages/icons/list.tsx
  packages/theme/src/components/blockquote.ts
  packages/theme/src/components/calendar.ts
  packages/theme/src/components/color-selector.ts
  packages/theme/src/components/dropzone.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/markdown.ts
  packages/theme/src/components/menu.ts
  packages/theme/src/components/native-table.ts
  packages/theme/src/components/radar-chart.ts
  packages/theme/src/components/stat.ts
  packages/theme/src/components/stepper.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): simplify autocomplete logic and cleanup
  .changeset/sixty-rivers-swim.md
  packages/components/autocomplete/src/autocomplete-context.ts
  packages/components/autocomplete/src/autocomplete-list.tsx
  packages/components/autocomplete/src/use-autocomplete-list.ts
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/month-picker.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-multi-date-picker.ts
  packages/components/calendar/src/use-range-date-picker.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/calendar/src/year-picker.tsx
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/use-color-picker.ts
  packages/components/color-picker/tests/color-picker.test.tsx
  packages/components/menu/src/menu-list.tsx
  packages/components/select/src/select-list.tsx
  packages/components/select/src/use-select-list.ts
  packages/components/select/src/use-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/neat-suns-pay.md
  packages/components/highlight/src/highlight.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.6.4.mdx
  CHANGELOG.md
Due: prettier --write

feat: add accessibility documentation for PinInput component
  docs/contents/components/forms/pin-input/accessibility.ja.mdx
  docs/contents/components/forms/pin-input/accessibility.mdx
Due: prettier --write

fix(orientation): fix orientation data selector not working in firefox
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): added changeset
  .changeset/plenty-points-appear.md
Due: prettier --write

refactor(pseudo): removed unnecessary quotation
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/eighty-flies-check.md
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/dirty-dolls-turn.md
  packages/components/dropzone/src/dropzone.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/brown-walls-dream.md
  packages/components/focus-lock/src/focus-lock.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tabs): remove is prefix in props
  .changeset/tricky-gifts-hear.md
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab-panels.tsx
  packages/components/tabs/src/tab.tsx
  packages/components/tabs/src/tabs-context.tsx
  packages/components/tabs/src/tabs.tsx
  packages/components/tabs/tests/tabs.test.tsx
  packages/hooks/use-clickable/src/index.ts
  stories/components/disclosure/tabs.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/stale-dolphins-jog.md
  packages/components/editable/src/editable.tsx
  stories/components/forms/editable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): remove unused import
  packages/components/tabs/tests/tabs.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): use the correct context
  packages/components/tabs/src/tab-panel.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
