Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor(components/charts): update default chart angles
  packages/components/charts/src/use-radial-chart.ts
  stories/components/data-display/radial-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated radial chart default angles and examples
  docs/contents/components/data-display/radial-chart/index.ja.mdx
  docs/contents/components/data-display/radial-chart/index.mdx
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.10.mdx
  CHANGELOG.md
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@f9a4c7f1c186d10f702e5b1684336b664bea12fe 🚀
  project.json
Due: prettier --write

feat: added new components and utility functions
  .changeset/plenty-dancers-stare.md
Due: prettier --write

ci(changesets): updated packages
  .changeset/plenty-dancers-stare.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.5.0.mdx
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@dbe8c628da49fb2c4c4ee6073ad43b4eb60bbc48 🚀
  project.json
Due: prettier --write

docs: update contributor list and props details
  docs/constant/contributors.ts
  docs/contents/components/data-display/radial-chart/props.ja.mdx
  docs/contents/components/data-display/radial-chart/props.mdx
  docs/contents/components/media-and-icons/image/props.ja.mdx
  docs/contents/components/media-and-icons/image/props.mdx
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated radial chart endAngle in docs
  docs/contents/components/data-display/radial-chart/index.ja.mdx
  docs/contents/components/data-display/radial-chart/index.mdx
Due: prettier --write

test: add test for string
  packages/utils/tests/string.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: removed changeset-release/docs branch trigger
  .github/workflows/quality.yml
Due: prettier --write

fix(insights-utils): added validation for invalid date strings
  docs/pages/insights/insights-utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: apply styles to ModalContent wrapper elements
  .changeset/happy-mails-occur.md
  packages/components/modal/src/dialog.tsx
  packages/components/modal/src/drawer.tsx
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: moved modal style assertions outside of waitFor
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(button-group): remove　unnecessary marginBlockEnd property
  packages/components/button/src/button-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add patch changeset
  .changeset/little-meals-listen.md
Due: prettier --write

test: add tests for popover animation
  packages/components/popover/tests/popover.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update component and style definitions
  .changeset/shiny-pianos-promise.md
  docs/components/forms/search.tsx
  docs/components/navigation/table-of-contents.tsx
  packages/components/checkbox/src/checkbox.tsx
  packages/components/loading/src/loading-provider.tsx
  packages/components/menu/src/menu-button.tsx
  packages/components/modal/src/drawer.tsx
  packages/components/modal/src/modal-overlay.tsx
  packages/components/modal/src/modal.tsx
  packages/components/motion/src/factory.ts
  packages/components/motion/src/index.ts
  packages/components/motion/src/motion.tsx
  packages/components/motion/src/motion.types.ts
  packages/components/motion/tests/motion.test.tsx
  packages/components/popover/src/popover-content.tsx
  packages/components/rating/src/rating-group.tsx
  packages/components/reorder/src/reorder-item.tsx
  packages/components/reorder/src/reorder.tsx
  packages/components/ripple/src/ripple.tsx
  packages/components/segmented-control/src/segmented-control.tsx
  packages/components/snacks/src/snacks.tsx
  packages/components/switch/src/switch.tsx
  packages/components/tabs/src/tab.tsx
  packages/components/tooltip/src/tooltip.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
  packages/core/src/components/component.types.ts
  packages/core/src/factory.ts
  packages/core/src/styled.ts
  packages/core/src/styles.ts
  packages/hooks/use-clickable/src/index.ts
  packages/nextjs/src/image.tsx
  packages/test/src/accessibility.tsx
  scripts/generate-css/exclude-props.ts
  stories/components/motion/variants.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: make aria-label mandatory for IconButton to enhance accessibility
  packages/components/button/src/icon-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: replace Menu with Popover
  docs/contents/components/overlay/popover/index.ja.mdx
  docs/contents/components/overlay/popover/index.mdx
Due: prettier --write

docs: fix JSDocs
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add emeriti category and update lists
  docs/components/mdx/users.tsx
  docs/constant/contributors.ts
  docs/constant/emeriti.ts
  docs/constant/index.ts
  docs/constant/maintainers.ts
  docs/constant/members.ts
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
  docs/scripts/content/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: correct text from "Hover me!" to "Look me!" for non-hover component
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
Due: prettier --write

docs: add custom labels for DonutChart
  docs/contents/components/data-display/donut-chart/index.ja.mdx
Due: prettier --write

docs: add custom labels for DonutChart in English
  docs/contents/components/data-display/donut-chart/index.mdx
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix(docs): remove `pointerEvents`
  docs/components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add a new prop to range-date-picker
  .changeset/tasty-lamps-shake.md
  packages/components/calendar/src/calendar-utils.ts
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/src/use-month.tsx
  stories/components/forms/range-date-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add a color semantic
  .changeset/slimy-hornets-melt.md
  packages/theme/src/semantics.ts
  stories/documents/theme/colors.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove a extra story pattern
  stories/components/forms/range-date-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated contributor list order and entries
  docs/constant/contributors.ts
  docs/constant/members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components/select): removed unnecessary closing tags
  .changeset/tender-chefs-provide.md
  packages/components/select/src/select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): updated MixedArray type definition
  docs/utils/array.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/transitions): updated rounding in CountUp
  docs/components/transitions/count-up.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
