Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

tmp
  docs/contents/components/forms/color-picker/accessibility.ja.mdx
  docs/contents/components/forms/color-picker/accessibility.mdx
  docs/server.ts
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update documentation and add new pages
  docs/contents/components/media-and-icons/fontawesome/index.ja.mdx
  docs/contents/components/media-and-icons/fontawesome/index.mdx
  docs/contents/components/media-and-icons/icon/index.ja.mdx
  docs/contents/components/media-and-icons/icon/index.mdx
  docs/contents/components/media-and-icons/lucide/index.ja.mdx
  docs/contents/components/media-and-icons/lucide/index.mdx
  docs/contents/components/media-and-icons/picture/index.ja.mdx
  docs/contents/components/media-and-icons/picture/index.mdx
  docs/contents/components/media-and-icons/picture/props.ja.mdx
  docs/contents/components/media-and-icons/picture/props.mdx
  docs/contents/hooks/use-breakpoint-effect.ja.mdx
  docs/contents/hooks/use-breakpoint-state.ja.mdx
  docs/contents/hooks/use-breakpoint-value.ja.mdx
  docs/contents/hooks/use-breakpoint.ja.mdx
  docs/contents/hooks/use-update-breakpoint-effect.ja.mdx
  docs/contents/styled-system/theming/default-theme.ja.mdx
  docs/contents/styled-system/theming/default-theme.mdx
  docs/scripts/component/props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(image): updated jsdoc for `Picture` component
  .changeset/new-horses-play.md
  packages/components/image/src/picture.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(media): updated image source URL in story config
  stories/components/media-and-icons/picture.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated MDX component mappings and styles
  docs/components/mdx/index.tsx
  docs/contents/components/data-display/tag/accessibility.ja.mdx
  docs/contents/components/data-display/tag/accessibility.mdx
  docs/contents/components/feedback/alert/accessibility.ja.mdx
  docs/theme/styles/mdx-styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tag): added closeButtonProps to tag component
  .changeset/small-pears-complain.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/table): update types and interfaces in useTable
  .changeset/thick-horses-watch.md
  packages/components/table/src/use-table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update types and clean up constants in mdx
  docs/components/mdx/package-managers.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: translate to Japanese
  docs/contents/components/other/close-button/accessibility.ja.mdx
Due: prettier --write

fix: translate to Japanese
  docs/contents/components/overlay/modal/accessibility.ja.mdx
Due: prettier --write

feat(docs): fix descriptions for the a11y of Toggle
  docs/contents/components/forms/toggle/accessibility.ja.mdx
  docs/contents/components/forms/toggle/accessibility.mdx
Due: prettier --write

fix(accordion): added aria-hidden, refactored IDs
  .changeset/wise-planes-fix.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(color-picker): added aria-roledescription to components
  .changeset/neat-penguins-lick.md
  cspell.json
  packages/components/color-picker/src/use-saturation-slider.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(file-input): add useClickable support and refactor props
  packages/components/file-input/package.json
  packages/components/file-input/src/file-input.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add roles and descriptions
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/fair-eagles-judge.md
Due: prettier --write

feat: update carousel accessibility attributes
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add roles and descriptions
  packages/components/carousel/src/carousel-indicators.tsx
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@9a6b46282ab0f83e293f361982214d2e5b003a7c 🚀
  assets/Color-ERTF36HU-DNba-GXj.js
  assets/Color-ERTF36HU-DdoHU7JQ.js
  assets/DocsRenderer-CFRXHY34-BNvJ7Shz.js
  assets/DocsRenderer-CFRXHY34-F8GjnpKA.js
  assets/borders-B53-KhAy.js
  assets/borders-CIWSuif5.js
  assets/breakpoints-Bn88mJEV.js
  assets/breakpoints-D7T7duqr.js
  assets/colors-Cul9G9HP.js
  assets/entry-preview-DsdE8D_Z.js
  assets/entry-preview-niNvDcYW.js
  assets/gradients-BPX7Jmrp.js
  assets/gradients-CBQFcVuB.js
  assets/iframe-BG9bqLL7.js
  assets/iframe-CmZRmLd7.js
  assets/index-D9ld-kTW.js
  assets/index-DUKSNEtZ.js
  assets/index-dxWpDHHo.js
  assets/picture.stories-C-jQBKr4.js
  assets/picture.stories-DubR8xgi.js
  assets/preview-B_rUTxYO.js
  assets/preview-CY0ZSvo1.js
  assets/preview-D-79hFQY.js
  assets/preview-DD4nqFYa.js
  assets/preview-DWbzlhHB.js
  assets/preview-Xh0Zwxzf.js
  assets/radii-BlJX-Xom.js
  assets/radii-jIo2uyOw.js
  assets/shadows-DtiOGaoV.js
  assets/sizes-Cp6Onkmz.js
  assets/spaces-D6w743L2.js
  assets/transitions-0IpELeSS.js
  assets/typography-B6j8TPYI.js
  assets/welcome-5KrENDkf.js
  assets/welcome-EF0njG0f.js
  assets/z-index-B5Jkaz5o.js
  assets/z-index-C33lD5s_.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update keyboard interaction and roles
  docs/contents/components/forms/file-input/accessibility.ja.mdx
  docs/contents/components/forms/file-input/accessibility.mdx
Due: prettier --write

feat(pin-input): added role and refactored props handling
  .changeset/chatty-timers-matter.md
  .changeset/thick-squids-mate.md
  packages/components/pin-input/src/pin-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add accessibility documentation for components
  docs/contents/components/overlay/dialog/accessibility.ja.mdx
  docs/contents/components/overlay/dialog/accessibility.mdx
  docs/contents/components/overlay/drawer/accessibility.ja.mdx
  docs/contents/components/overlay/drawer/accessibility.mdx
  docs/contents/components/overlay/modal/accessibility.mdx
Due: prettier --write

feat(modal): added accessibility improvements
  .changeset/moody-shirts-eat.md
  cspell.json
  packages/components/modal/src/dialog-close-button.tsx
  packages/components/modal/src/drawer-content.tsx
  packages/components/modal/src/modal-body.tsx
  packages/components/modal/src/modal-close-button.tsx
  packages/components/modal/src/modal-content.tsx
  packages/components/modal/src/modal-context.ts
  packages/components/modal/src/modal-header.tsx
  packages/components/modal/src/modal-overlay.tsx
  packages/components/modal/src/modal.tsx
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): fix aria-label description for the a11y of Toggle
  docs/contents/components/forms/toggle/accessibility.ja.mdx
  docs/contents/components/forms/toggle/accessibility.mdx
Due: prettier --write

feat(docs): modify phrase and delete <br/> tag
  docs/contents/components/forms/button/accessibility.ja.mdx
  docs/contents/components/forms/button/accessibility.mdx
Due: prettier --write

refactor(utils): centralize string manipulation functions
  .changeset/poor-gorillas-hug.md
  docs/scripts/component/props.ts
  docs/scripts/component/theme.ts
  docs/scripts/content/styled-system.ts
  docs/scripts/generate-icon-tags.ts
  docs/scripts/utils.ts
  docs/utils/github.ts
  docs/utils/object.ts
  docs/utils/string.ts
  packages/cli/src/command/theme/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/string.ts
  packages/theme/src/components/drawer.ts
  packages/utils/src/string.ts
  packages/utils/tests/string.test.ts
  scripts/a11y-issues.ts
  scripts/generate-css/index.ts
  scripts/generate-css/styles.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): removed 'mono' from SEMANTIC_COLOR_SCHEMES
  packages/utils/src/color.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(core): fixed undefined variant or size bug in styles
  .changeset/mean-monkeys-sell.md
  packages/core/src/components/use-component-style.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added `transformSize` function and tests
  .changeset/ninety-pans-unite.md
  packages/utils/src/string.ts
  packages/utils/tests/string.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): updated component styles and sizes
  .changeset/four-badgers-live.md
  packages/theme/src/components/button.ts
  packages/theme/src/components/color-swatch.ts
  packages/theme/src/components/date-picker.ts
  packages/theme/src/components/input.ts
  packages/theme/src/components/native-select.ts
  packages/theme/src/components/pagination.ts
  packages/theme/src/components/segmented-control.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(table): added value handling for size transformation
  .changeset/brown-forks-turn.md
  packages/components/table/package.json
  packages/components/table/src/paging-table-control.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(table): correct `aria-rowindex` and improve spans
  .changeset/khaki-swans-sniff.md
  packages/components/table/src/table-utils.tsx
  packages/components/table/src/tbody.tsx
  packages/components/table/src/tfoot.tsx
  packages/components/table/src/thead.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(theme): updated table styles for alignment
  .changeset/quiet-suits-rule.md
  packages/theme/src/components/native-table.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: set displayName and __ui__
  .changeset/proud-lemons-beg.md
  packages/components/motion/src/motion.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): added necessary aria attributes to Tab and TabPanel component
  .changeset/sharp-ties-tease.md
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab-panels.tsx
  packages/components/tabs/src/tab.tsx
  packages/components/tabs/src/tabs-context.tsx
  packages/components/tabs/src/tabs.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore: fix lint
  packages/theme/src/components/airy.ts
  packages/theme/src/components/flip.ts
  stories/components/transitions/flip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
