Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(area-chart): delete AreaChartProveder and tooltip, legend is changed to not function
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated github url
  docs/.github/ISSUE_TEMPLATE/bug_report.ja.yml
  docs/.github/ISSUE_TEMPLATE/bug_report.yml
  docs/.github/ISSUE_TEMPLATE/config.yml
  docs/CONTRIBUTING.ja.md
  docs/CONTRIBUTING.md
  docs/README.ja.md
  docs/constant/core-members.ts
  docs/constant/sns.ts
  docs/contents/community/contributing.ja.mdx
  docs/contents/community/contributing.mdx
  docs/contents/community/index.ja.mdx
  docs/contents/community/index.mdx
  docs/contents/components/data-display/markdown/index.ja.mdx
  docs/contents/components/data-display/markdown/index.mdx
  docs/contents/components/feedback/area-chart/index.ja.mdx
  docs/contents/components/feedback/area-chart/index.mdx
  docs/contents/components/feedback/bar-chart/index.ja.mdx
  docs/contents/components/feedback/bar-chart/index.mdx
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
  docs/contents/components/feedback/pie-chart/index.ja.mdx
  docs/contents/components/feedback/pie-chart/index.mdx
  docs/contents/components/feedback/radar-chart/index.ja.mdx
  docs/contents/components/feedback/radar-chart/index.mdx
  docs/contents/getting-started/advanced.ja.mdx
  docs/contents/getting-started/advanced.mdx
  docs/contents/getting-started/basics.ja.mdx
  docs/contents/getting-started/basics.mdx
  docs/contents/getting-started/installation/index.ja.mdx
  docs/contents/getting-started/installation/index.mdx
  docs/contents/getting-started/installation/individual.ja.mdx
  docs/contents/getting-started/installation/individual.mdx
  docs/contents/getting-started/installation/minimal.ja.mdx
  docs/contents/getting-started/installation/minimal.mdx
  docs/contents/styled-system/ui.ja.mdx
  docs/contents/styled-system/ui.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): version packages
  docs/constant/contributors.ts
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated github url
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.ja.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .storybook/theme.ts
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  package.json
  plop/component/package-multi/README.md.hbs
  plop/component/package-multi/package.json.hbs
  plop/component/package/README.md.hbs
  plop/component/package/package.json.hbs
  plop/hook/package/README.md.hbs
  plop/hook/package/package.json.hbs
  scripts/discord.ts
  scripts/mattermost.ts
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated github url
  README.ja.md
  README.md
  packages/components/link/tests/link.test.tsx
  packages/react/README.md
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(scripts): updated repository owner references
  scripts/changelog.ts
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(changelog): updated for v1.2.8 release
  .changelog/manifest.json
  .changelog/v1.2.8.mdx
  CHANGELOG.md
Due: prettier --write

refactor(scripts): updated owner references in scripts
  docs/scripts/changelog.ts
  docs/scripts/component-props.ts
  docs/scripts/contributors.ts
  docs/scripts/observe-issues.ts
  docs/scripts/observe-pull-requests.ts
  docs/scripts/style-props.ts
  docs/scripts/theme-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@76483d1665a8c923f64d50527b92116917e73128 🚀
  assets/Color-6VNJS4EI-mMwibaJI.js
  assets/Color-6VNJS4EI-nKPnnVt1.js
  assets/DocsRenderer-NNNQARDV-96p6Hbsp.js
  assets/DocsRenderer-NNNQARDV-mCSF2SUG.js
  assets/WithTooltip-V3YHNWJZ--bVyn4rv.js
  assets/WithTooltip-V3YHNWJZ-pVqdHYp3.js
  assets/borders.stories-E6MSr8EL.js
  assets/borders.stories-twp3b6BY.js
  assets/breakpoints.stories-ZN4dS5wo.js
  assets/colors.stories-uy1zb1PD.js
  assets/formatter-SWP5E3XI-ZoXDzQKo.js
  assets/gradients.stories-KdlHRCLl.js
  assets/gradients.stories-l37jR2B0.js
  assets/iframe-4o11BbKs.js
  assets/iframe-Z-bJ-M2e.js
  assets/index-1uqIljYW.js
  assets/markdown.stories-Y8xoWb24.js
  assets/preview-7oDtxv0j.js
  assets/preview-H3oZXJUy.js
  assets/preview-dew1l3DZ.js
  assets/preview-fsIyl-HE.js
  assets/preview-hY1r-MnP.js
  assets/preview-qlcFR3ig.js
  assets/radii.stories-7OkYFm98.js
  assets/shadows.stories-kBO6Yrww.js
  assets/sizes.stories-FaVKXzKu.js
  assets/spaces.stories-g7giufU1.js
  assets/syntaxhighlighter-B5GMVT5T-AG_UaI9B.js
  assets/syntaxhighlighter-B5GMVT5T-lpK-GX3j.js
  assets/transitions.stories-S4iuvi70.js
  assets/typography.stories-SwKPI-gn.js
  assets/welcome.stories-9Ug1x39c.js
  assets/welcome.stories-ww5bthwf.js
  assets/z-index.stories-MLX6SOMQ.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(area-chart): added useChartContainer
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-container.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added a reviewer to release workflow
  docs/.github/workflows/release.yml
Due: prettier --write

docs: updated links and badges in README files
  docs/README.ja.md
  docs/README.md
  docs/contents/components/data-display/markdown/index.ja.mdx
  docs/contents/components/data-display/markdown/index.mdx
Due: prettier --write

chore: updated repository URLs in config and docs
  .changeset/config.json
  .storybook/manager-head.html
  .storybook/theme.ts
  README.ja.md
  README.md
  stories/components/data-display/markdown.stories.tsx
  stories/system/theme/configure.stories.tsx
  stories/system/theme/extend-theming.stories.tsx
  stories/system/theme/global-style.stories.tsx
  stories/system/theme/override-theming.stories.tsx
  stories/system/theme/reset-style.stories.tsx
  stories/system/theme/tokens.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add release label to specific PRs
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added special handling for 'release' PRs
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(scripts): added early return for reviewer count
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(pr-script): added early return for single reviewer
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(charts): updated useBarChart
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-bar-chart.ts
  packages/theme/src/components/bar-chart.ts
  stories/components/feedback/bar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): added useChartAxis
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-axis.ts
  packages/components/charts/src/use-chart-container.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style: updated lint-staged config patterns
  .lintstagedrc.mjs
Due: none

ci: added sync workflow and configuration
  .github/sync.yml
  .github/workflows/sync.yml
Due: prettier --write

feat: added console log output
  dummy.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated test coverage command
  .github/workflows/sync.yml
Due: prettier --write

feat: added redirect for /coverage endpoint
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

ci: renamed and updated workflow file
  .github/workflows/coverage.yml
Due: prettier --write

ci: updated target branch for coverage
  .github/workflows/coverage.yml
Due: prettier --write

test(accordion): added render correctness test
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(coverage.yml): updated paths for coverage workflow test(accordion): removed redundant render test
  .github/workflows/coverage.yml
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added git user config to coverage workflow
  .github/workflows/coverage.yml
Due: prettier --write

refactor(area-chart): added useChartReferenceLine
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-container.ts
  packages/components/charts/src/use-chart-reference-line.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(vitest): fix path glob patterns in `test.coverage.exclude`
  vitest.config.mts
Due: none

test: add test for snacks
  packages/components/snacks/tests/snacks.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
