Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(select): add `combobox` role
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): remove `aria-selected` (or `aria-checked`) when disabled
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add `aria-activedescendant` attr
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(select): `aria-expanded`
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add `group` roles
  packages/components/select/src/option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(select): use `aria-selected` (is not multi), `aria-checked` (is multi)
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add `aria-label` attrs to option-group
  packages/components/select/src/option-group.tsx
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add `aria-controles` attr to the trigger element
  packages/components/select/src/select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add `aria-label` and `aria-labelledby`
  packages/components/select/src/select.tsx
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(select): fix unittests
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(select): move `role`, `aria-label` declarations to the hook
  packages/components/select/src/option-group.tsx
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.1.mdx
  CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

fix: remove container and render
  packages/components/checkbox/tests/checkbox.test.tsx
  packages/components/progress/tests/progress.test.tsx
  packages/components/tag/tests/tag.test.tsx
  packages/components/textarea/tests/textarea.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add optional chain to progress
  .changeset/plenty-crews-exercise.md
  packages/components/progress/src/progress.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: moved docs update to sync docs step
  .github/workflows/release.yml
Due: prettier --write

refactor(carousel): move `container` styles
  packages/components/carousel/src/carousel.tsx
  packages/theme/src/components/carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(skeleton): add skeleton test with isLoaded
  packages/components/skeleton/tests/skeleton.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added `isTouchDevice` function
  .changeset/pink-cheetahs-kneel.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(hooks): added touch device checks in useClickable
  .changeset/breezy-eels-listen.md
  packages/hooks/use-clickable/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(menu): corrected touch selection bug on MenuItem
  .changeset/twenty-cameras-cover.md
  packages/components/menu/src/menu-button.tsx
  packages/components/menu/src/menu-item.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(github templates): added new os options to bug report forms
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

chore(scripts): updated discord notification groups in scripts
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated discord role IDs across scripts
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: modified Tabs a11y docs
  docs/contents/components/disclosure/tabs/accessibility.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.mdx
Due: prettier --write

feat(use-clickable): added disableTouchBehavior prop and logic
  packages/hooks/use-clickable/src/index.ts
  packages/hooks/use-clickable/tests/index.test.tsx
  stories/components/overlay/menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add accessibility docs
  docs/contents/components/forms/radio/accessibility.ja.mdx
  docs/contents/components/forms/radio/accessibility.mdx
Due: prettier --write

refactor: unify icon with @yamada-lucide
  docs/components/media-and-icons/apple.tsx
  docs/components/media-and-icons/index.ts
  docs/components/media-and-icons/paypal.tsx
  docs/pages/examples/authentication/company.tsx
  docs/pages/examples/cards/bookmark-card.tsx
  docs/pages/examples/cards/github-card.tsx
  docs/pages/examples/cards/notification-card.tsx
  docs/pages/examples/cards/payment-method-card.tsx
  docs/pages/examples/dashboard/cards.tsx
  docs/pages/examples/dashboard/index.tsx
  docs/pages/examples/mail/detail.tsx
  docs/pages/examples/mail/inbox.tsx
  docs/pages/examples/mail/sidebar.tsx
  docs/pages/examples/music/content.tsx
  docs/pages/examples/music/header.tsx
  docs/pages/examples/music/sidebar.tsx
  docs/pages/examples/playground/footer/index.tsx
  docs/pages/examples/playground/header/control-button.tsx
  docs/pages/examples/tasks/data-table.tsx
  docs/pages/examples/tasks/data.tsx
  docs/pages/examples/tasks/filter.tsx
  packages/components/fontawesome/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: renamed workflows and updated scripts
  .github/workflows/insight.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/reviewer-pull-request.yml
  package.json
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/report-insight.ts
  scripts/reviewer-pull-requests.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: japanese has wandered in
  docs/contents/components/forms/radio/accessibility.mdx
Due: prettier --write

fix: reorder import
  stories/components/data-display/calendar.stories.tsx
  stories/components/data-display/carousel.stories.tsx
  stories/components/data-display/paging-table.stories.tsx
  stories/components/data-display/reorder.stories.tsx
  stories/components/data-display/resizable.stories.tsx
  stories/components/data-display/tag.stories.tsx
  stories/components/disclosure/accordion.stories.tsx
  stories/components/forms/autocomplete.stories.tsx
  stories/components/forms/button.stories.tsx
  stories/components/forms/color-picker.stories.tsx
  stories/components/forms/date-picker.stories.tsx
  stories/components/forms/dropzone.stories.tsx
  stories/components/forms/editable.stories.tsx
  stories/components/forms/file-button.stories.tsx
  stories/components/forms/file-input.stories.tsx
  stories/components/forms/input.stories.tsx
  stories/components/forms/month-picker.stories.tsx
  stories/components/forms/multi-autocomplete.stories.tsx
  stories/components/forms/multi-date-picker.stories.tsx
  stories/components/forms/multi-select.stories.tsx
  stories/components/forms/native-select.stories.tsx
  stories/components/forms/range-date-picker.stories.tsx
  stories/components/forms/range-slider.stories.tsx
  stories/components/forms/rating.stories.tsx
  stories/components/forms/select.stories.tsx
  stories/components/forms/slider.stories.tsx
  stories/components/forms/toggle.stories.tsx
  stories/components/forms/year-picker.stories.tsx
  stories/components/layouts/center.stories.tsx
  stories/components/media-and-icons/avatar.stories.tsx
  stories/components/media-and-icons/icon.stories.tsx
  stories/components/media-and-icons/lucide.stories.tsx
  stories/components/navigation/breadcrumb.stories.tsx
  stories/components/navigation/pagination.stories.tsx
  stories/components/navigation/stepper.stories.tsx
  stories/components/other/visually-hidden.stories.tsx
  stories/components/overlay/menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added turbo caching to workflows
  .github/workflows/next.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

feat(theme): updated breakpoint structure to object
  .changeset/small-weeks-cheer.md
  packages/theme/src/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added responsive style configuration based on parent container
  .changeset/shiny-bats-rush.md
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/breakpoint.ts
  packages/core/src/theme.types.ts
  packages/core/tests/breakpoint.test.ts
  packages/core/tests/config.test.ts
  packages/core/tests/css.test.tsx
  packages/hooks/use-breakpoint/src/index.ts
  stories/system/styles/breakpoint.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(component): update media queries and styles
  packages/core/tests/compoment.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(input): make input component headless
  .changeset/hip-hornets-decide.md
  packages/components/input/src/input-addon.tsx
  packages/components/input/src/input-element.tsx
  packages/components/input/src/input-group.tsx
  packages/theme/src/components/input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move specified props to area-chart
  packages/theme/src/components/area-chart.ts
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: eliminate code differences
  pnpm-lock.yaml
Due: none
