Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

build(package.json): removed postinstall script
  package.json
Due: prettier --write

docs: fix docs
  docs/contents/components/data-display/stat/accessibility.ja.mdx
  docs/contents/components/data-display/stat/accessibility.mdx
Due: prettier --write

ci(check-modified-files): optimized output variable assignments
  .github/composite-actions/check-modified-files/action.yml
  .github/workflows/quality.yml
Due: prettier --write

refactor(scripts): reordered variable assignments
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: update tsup version to 8.2.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove duplicate dates declaration in getRangeDates function
  .changeset/tall-walls-march.md
  packages/components/calendar/src/calendar-utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.6.mdx
  CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

refactor(docs): update script naming and organization
  .github/composite-actions/update-docs/action.yml
  docs/package.json
  docs/scripts/component/props.ts
  docs/scripts/component/theme.ts
  docs/scripts/component/utils.ts
  docs/scripts/content/changelog.ts
  docs/scripts/content/contributors.ts
  docs/scripts/content/search.ts
  docs/scripts/content/styled-system.ts
  docs/scripts/content/translate.ts
  docs/scripts/generate-icon-tags.ts
  docs/scripts/utils.ts
  package.json
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove line
  packages/theme/src/components/image.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: improved test
  packages/components/breadcrumb/tests/breadcrumb.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(calendar): enhance test coverage for calendar
  packages/components/calendar/tests/calendar-utils.test.tsx
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix props
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove styles
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(update-docs): updated GitHub action dependencies
  .github/composite-actions/update-docs/action.yml
Due: prettier --write

refactor(api): expanded conditions for skipping pr actions
  docs/pages/api/github/observe/update-pull-requests.ts
  docs/pages/api/github/webhook/pull-request/opened.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(release workflow): added theme sync step after publish
  .github/workflows/release.yml
Due: prettier --write

refactor(components): updated icon component handling
  .changeset/cuddly-mayflies-refuse.md
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): corrected icon baseStyle assignment
  .changeset/fluffy-maps-bake.md
  packages/theme/src/components/icon.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: computedProps and deleted styles
  packages/components/file-button/src/file-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: sentence
  docs/contents/components/forms/editable/accessibility.mdx
Due: prettier --write

feat: fix
  docs/contents/components/forms/editable/accessibility.mdx
Due: prettier --write

refactor(scripts): updated user exclusion logic in insights
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix thematize
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): add `lefthook`
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove `.husky/`
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): remove `husky`, `lint-staged`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: `.lintstagedrc.mjs`
  .lintstagedrc.mjs
Due: none

chore(npm-scripts): update `prepare` command
  docs/package.json
  package.json
Due: prettier --write

feat(docs): add `lefthook.yaml`
  lefthook.yaml
Due: none

refactor(components): updated type definitions and styles
  .changeset/little-students-itch.md
  docs/theme/components/button.ts
  docs/theme/components/mark.ts
  packages/core/src/theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): simplified component type structures and props
  .changeset/proud-snakes-wave.md
  packages/core/src/components/component.types.ts
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/css.types.ts
  packages/core/src/theme.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(file-button): added theme support and refactored component
  .changeset/rare-pears-teach.md
  packages/components/file-button/src/file-button.tsx
  packages/theme/src/components/file-button.ts
  packages/theme/src/components/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(reorder): fixed item display bug in reorder component
  .changeset/short-beers-hope.md
  packages/components/reorder/src/reorder.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(reorder): added comprehensive unit tests
  packages/components/reorder/tests/reorder.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/layouts): updated position calculation logic
  packages/components/layouts/src/stack.tsx
  packages/components/layouts/tests/layouts.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-event-listener): added cleanup function test
  packages/hooks/use-event-listener/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(dropzone): added tests for accept, reject, idle states
  packages/components/dropzone/tests/dropzone.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
