Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: added closebutton component documentation
  docs/contents/components/other/close-button/index.ja.mdx
  docs/contents/components/other/close-button/index.mdx
  docs/contents/components/other/close-button/props.ja.mdx
  docs/contents/components/other/close-button/props.mdx
  docs/contents/components/other/close-button/theming.ja.mdx
  docs/contents/components/other/close-button/theming.mdx
Due: prettier --write

docs: added portal component documentation
  docs/contents/components/other/portal/index.ja.mdx
  docs/contents/components/other/portal/index.mdx
  docs/contents/components/other/portal/props.ja.mdx
  docs/contents/components/other/portal/props.mdx
Due: prettier --write

style(editable-code-block): added tabIndex to ScrollArea
  docs/components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added focuslock component documentation
  docs/contents/components/other/focus-lock/index.ja.mdx
  docs/contents/components/other/focus-lock/index.mdx
  docs/contents/components/other/focus-lock/props.ja.mdx
  docs/contents/components/other/focus-lock/props.mdx
Due: prettier --write

docs: add Japanese and English motion component docs
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/components/other/motion/props.ja.mdx
  docs/contents/components/other/motion/props.mdx
Due: prettier --write

docs: reposition keyframes section in docs
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
Due: prettier --write

refactor(components): optimized prop spreading in Portal
  .changeset/thirty-rabbits-teach.md
  packages/components/portal/src/portal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add `FileButton` test
  packages/components/file-button/tests/file-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(update): updated test
  packages/components/close-button/test/close-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): enhanced `useIsMounted` hook logic
  .changeset/thirty-buttons-explain.md
  packages/components/skeleton/src/skeleton.tsx
  packages/utils/src/react.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(segmented-control): updated animation and style handling
  .changeset/itchy-scissors-jam.md
  .changeset/pretty-wombats-design.md
  packages/components/segmented-control/package.json
  packages/components/segmented-control/src/segmented-control.tsx
  packages/theme/src/components/segmented-control.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

feat(indicator): added `containerProps` support
  .changeset/ten-vans-enjoy.md
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added spotlight component docs
  docs/contents/components/navigation/spotlight/index.ja.mdx
  docs/contents/components/navigation/spotlight/index.mdx
Due: prettier --write

docs: added colorpicker consideration docs
  docs/contents/components/forms/color-picker/index.ja.mdx
  docs/contents/components/forms/color-picker/index.mdx
Due: prettier --write

docs: added useSnacks hook consideration docs
  docs/contents/hooks/use-snacks.ja.mdx
  docs/contents/hooks/use-snacks.mdx
Due: prettier --write

refactor(components/forms): reduced search query length check
  docs/components/forms/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added chart components consideration pages
  docs/contents/components/feedback/area-chart/index.ja.mdx
  docs/contents/components/feedback/area-chart/index.mdx
  docs/contents/components/feedback/bar-chart/index.ja.mdx
  docs/contents/components/feedback/bar-chart/index.mdx
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
  docs/contents/components/feedback/radar-chart/index.ja.mdx
  docs/contents/components/feedback/radar-chart/index.mdx
Due: prettier --write

docs: add `SimpleGrid` component consideration pages
  docs/contents/components/layouts/simple-grid/index.ja.mdx
  docs/contents/components/layouts/simple-grid/index.mdx
Due: prettier --write

docs: added rating component placeholder docs
  docs/contents/components/forms/rating/index.ja.mdx
  docs/contents/components/forms/rating/index.mdx
Due: prettier --write

docs: add stat component placeholder pages
  docs/contents/components/data-display/stat/index.ja.mdx
  docs/contents/components/data-display/stat/index.mdx
Due: prettier --write

ci(docs): updated docs
  packages/components/indicator/DOCS.json
  packages/components/segmented-control/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.8.mdx
  CHANGELOG.md
Due: prettier --write

fix(seo): updated og image URL and dimensions
  docs/constant/seo.ts
  docs/public/og.png
Due: prettier --write, eslint --max-warnings 0 --fix

feat(storybook): added success tag example
  stories/components/data-display/tag.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@99f46e7839d705714fd026e78d1d483aea63bb08 🚀
  assets/Color-6VNJS4EI-hsYpu6PM.js
  assets/Color-6VNJS4EI-zEPUybvl.js
  assets/DocsRenderer-NNNQARDV-JK6ecjbP.js
  assets/DocsRenderer-NNNQARDV-PbDeD0qE.js
  assets/WithTooltip-V3YHNWJZ-qjyCQtEw.js
  assets/WithTooltip-V3YHNWJZ-xA-ODVgF.js
  assets/borders.stories-gC7_pHGg.js
  assets/borders.stories-hH-xB3fW.js
  assets/breakpoints.stories-1MeBfcp0.js
  assets/breakpoints.stories-VD0HpEl4.js
  assets/colors.stories-KDbo2tSa.js
  assets/formatter-SWP5E3XI-nPgh-CJW.js
  assets/gradients.stories-Ad0lttB4.js
  assets/gradients.stories-LBzfzQ_3.js
  assets/iframe-0CB3tnUm.js
  assets/iframe-iy_qlMvY.js
  assets/index-d_QR_qhZ.js
  assets/preview--v8hBp8y.js
  assets/preview-SKIqY7YA.js
  assets/preview-ZwE79slJ.js
  assets/preview-izKpesO-.js
  assets/preview-qWjF3fpZ.js
  assets/preview-xzox1iUi.js
  assets/radii.stories-iGICp0zG.js
  assets/shadows.stories-r5ttxN2R.js
  assets/sizes.stories-a7sJhiHK.js
  assets/spaces.stories-PHBg1aC1.js
  assets/syntaxhighlighter-V7JZZA35-3bgD7OSP.js
  assets/syntaxhighlighter-V7JZZA35-Q7h33nsb.js
  assets/tag.stories-dqwNjcYL.js
  assets/tag.stories-w6uJl3vj.js
  assets/transitions.stories-SHG5zDGF.js
  assets/typography.stories-aOOTKda-.js
  assets/welcome.stories-dtF8aS0Q.js
  assets/welcome.stories-lSjzwJFr.js
  assets/z-index.stories-ZViW4rsz.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: moved utils to scripts folder
  scripts/generate-css/index.ts
  scripts/generate-css/styles.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): updated generation scripts
  .github/workflows/release.yml
  scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(changelog): corrected section heading
  scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix
