Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat(chart): added dashed line style to area chart
  docs/contents/components/feedback/area-chart/index.ja.mdx
  docs/contents/components/feedback/area-chart/index.mdx
Due: prettier --write

docs: updated average line in charts
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: added dashed line chart examples
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
Due: prettier --write

docs: updated line-chart data for new characters
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@a058c8a2ffdd5b0109c9d9dc4d462338397f6c55 🚀
  project.json
Due: prettier --write

fix(utils): enhanced `isMac` to be case-insensitive
  .changeset/tidy-cameras-pay.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scroll-area): optimized safari scroll behavior
  packages/components/scroll-area/src/scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated @yamada-ui/react version
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write

docs: updated chartProps.syncId in examples
  docs/contents/components/feedback/area-chart/index.ja.mdx
  docs/contents/components/feedback/area-chart/index.mdx
  docs/contents/components/feedback/bar-chart/index.ja.mdx
  docs/contents/components/feedback/bar-chart/index.mdx
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
Due: prettier --write

refactor(scroll-area): optimized scroll comparison logic
  packages/components/scroll-area/src/scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: show context-menu
  packages/components/context-menu/README.md
  packages/components/context-menu/package.json
  packages/components/context-menu/src/context-menu.tsx
  packages/components/context-menu/src/index.ts
  packages/components/context-menu/tests/context-menu.test.tsx
  packages/components/context-menu/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/context-menu.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/overlay/context-menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added planned component docs in English and Japanese
  docs/contents/components/data-display/split-panel/index.ja.mdx
  docs/contents/components/data-display/split-panel/index.mdx
  docs/contents/components/disclosure/tree/index.ja.mdx
  docs/contents/components/disclosure/tree/index.mdx
  docs/contents/components/forms/phone-input/index.ja.mdx
  docs/contents/components/forms/phone-input/index.mdx
  docs/contents/components/other/swipeable/index.ja.mdx
  docs/contents/components/other/swipeable/index.mdx
  docs/contents/components/overlay/context-menu/index.ja.mdx
  docs/contents/components/overlay/context-menu/index.mdx
  docs/contents/components/overlay/tour/index.ja.mdx
  docs/contents/components/overlay/tour/index.mdx
Due: prettier --write

ci(codecov): commented out config settings
  codecov.yml
  test.json
Due: prettier --write

test(factory): added placeholder for factory tests
  packages/core/tests/factory.test.ts
  test.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci(codecov.yml): simplified coverage flags
  codecov.yml
Due: prettier --write

chore(codecov): simplified coverage reporting flags
  codecov.yml
Due: prettier --write

fix: chart legend views
  packages/components/charts/src/chart-legend.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  packages/components/charts/DOCS.json
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.3.0.mdx
  CHANGELOG.md
Due: prettier --write

fix: added a warp to the legend in the theme section
  packages/components/charts/src/chart-legend.tsx
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: made the legend wrap around
  packages/components/charts/src/chart-legend.tsx
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(getting-started/hono): added hono ja document
  docs/contents/getting-started/frameworks/hono.ja.mdx
Due: prettier --write

fix: made the legend wrap around
  .changeset/eleven-scissors-breathe.md
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: major to patch
  .changeset/eleven-scissors-breathe.md
Due: prettier --write

ci(changesets): version packages
  .changeset/eleven-scissors-breathe.md
  packages/hooks/use-media-query/CHANGELOG.md
  packages/hooks/use-media-query/package.json
  packages/providers/CHANGELOG.md
  packages/providers/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/test/CHANGELOG.md
  packages/test/package.json
  packages/theme-tools/CHANGELOG.md
  packages/theme-tools/package.json
  packages/theme/CHANGELOG.md
  packages/theme/package.json
Due: prettier --write

chore: removed .docs directory and references
  .gitignore
  scripts/generate-docs.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: removed .theme and .docs from .gitignore
  docs/.gitignore
Due: none

ci: removed coverage workflow
  .github/workflows/coverage.yml
Due: prettier --write

docs(getting-started/hono): add documentation for running react
  docs/contents/getting-started/frameworks/hono.ja.mdx
Due: prettier --write

docs(getting-started/hono): added hono en document
  docs/contents/getting-started/frameworks/hono.mdx
Due: prettier --write

docs(getting-started/hono): fix documentation
  docs/contents/getting-started/frameworks/hono.ja.mdx
  docs/contents/getting-started/frameworks/hono.mdx
Due: prettier --write

fix: typo carousel indicators component
  packages/components/carousel/src/carousel-indicators.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
