Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

style(README): standardized img tag formatting
  README.md
Due: prettier --write

docs: updated sponsor logos alignment and size
  README.md
Due: prettier --write

docs: updated sponsor section formatting
  README.md
Due: prettier --write

style(readme): increased sponsor heading size
  README.md
Due: prettier --write

docs(README): simplified sponsorship section
  README.md
Due: prettier --write

docs: updated sponsor links in readme
  README.md
Due: prettier --write

docs: updated sponsor tiers in README
  README.md
Due: prettier --write

docs(README): updated sponsor headings and images
  README.md
Due: prettier --write

style(README): changed sponsor sections to paragraphs
  README.md
Due: prettier --write

docs: updated sponsor links in README
  README.md
Due: prettier --write

docs: updated sponsor images in README
  README.ja.md
  README.md
Due: prettier --write

style(mdx): updated avatar size in members component
  docs/components/mdx/members.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add AVAP sponsor logo svg
  docs/public/sponsors/avap.svg
Due: none

feat(mdx): added sponsors component and integration
  docs/components/mdx/index.tsx
  docs/components/mdx/sponsors.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added sponsor tiers to community page
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
Due: prettier --write

refactor(header): replaced Logo with Image for theming
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add link for test tips
  docs/CONTRIBUTING.ja.md
  docs/CONTRIBUTING.md
Due: prettier --write

docs: edit link for test tips
  docs/CONTRIBUTING.ja.md
  docs/CONTRIBUTING.md
Due: prettier --write

docs: add link for test tips
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

refactor(components): centralize sponsors data
  docs/components/mdx/sponsors.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): simplify Sponsors component usage
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
Due: prettier --write

feat(media-and-icons): added open collective, patreon icons
  docs/components/media-and-icons/index.ts
  docs/components/media-and-icons/open-collective.tsx
  docs/components/media-and-icons/patreon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(sponsors): added sponsors constant and import
  docs/constant/index.ts
  docs/constant/sponsors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(support): added support section in UI
  docs/i18n/ui.en.json
  docs/i18n/ui.ja.json
  docs/pages/index.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: removed avap sponsor SVGs
  sponsors/avap-dark.svg
  sponsors/avap-light.svg
Due: none

fix: change default gap value to 0.5rem
  packages/components/list/src/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/quiet-colts-dance.md
Due: prettier --write

style: changed headings to white color
  docs/pages/index.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: edit link for test tips
  docs/CONTRIBUTING.ja.md
Due: prettier --write

docs: edit link for test tips
  CONTRIBUTING.ja.md
Due: prettier --write

refactor(examples/hono): remove production script
  examples/hono/src/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: month-picker
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: date-picker
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: multi-date-picker
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: range-date-picker
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(chart): added `ChartTooltipType`
  packages/components/charts/src/chart.types.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: `data-selected`の詳細度をあげた
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add changeset
  .changeset/orange-numbers-turn.md
Due: prettier --write

feat(chart): added `valueFormatter` props to tooltip
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/tooltip.tsx
  packages/components/charts/src/use-chart-tooltip.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix rest token theme
  packages/components/loading/src/loading-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
