Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

test(table): enhanced Thead coverage
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: changed className
  .changeset/thick-ducks-carry.md
  packages/components/select/src/option-group.tsx
  packages/components/select/src/option.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(table): fixed data name
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(table): fixed data episode
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated condition to use isUndefined
  docs/contexts/i18n-context.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(table): remove unnecessary props
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(editable): update tests and add useEditableControl tests
  packages/components/editable/tests/editable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(swipeable): added propGetter
  packages/components/swipeable/src/swipeable.tsx
  packages/components/swipeable/src/use-swipeable.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change className to BEM
  .changeset/nervous-shirts-tie.md
  packages/components/resizable/src/resizable-trigger.tsx
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(carousel): added `orientation` and `indicator` tests
  packages/components/carousel/tests/carousel.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(indicator): refactor class-name in indicator
  .changeset/wet-geckos-drum.md
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): added text search test
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): modification of existing tests
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: use @testing-library/user-event to implement keyboard event
  .changeset/blue-monkeys-sniff.md
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): added warning test
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Delete .changeset/blue-monkeys-sniff.md
  .changeset/blue-monkeys-sniff.md
Due: prettier --write

test(autocomplete): added `onFocusLast` test
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-focus): add tests for focus hooks
  packages/hooks/use-focus/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated variable in filter logic
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add `docs/eslint.config.mjs`
  docs/eslint.config.mjs
Due: none

chore(docs): update `lint` command
  docs/package.json
Due: prettier --write

feat(eslint): add a set of ESLint configuration files compatible with FlatConfig
  eslint.config.mjs
  eslint/import.mjs
  eslint/react.mjs
  eslint/testing-library.mjs
  eslint/typescript.mjs
  eslint/vitest.mjs
Due: none

chore: remove `docs/.eslintignore`, `docs/.eslintrc.json`
  docs/.eslintignore
  docs/.eslintrc.json
Due: prettier --write

chore: update `pre-commit`
  .husky/pre-commit
Due: none

test(autocomplete): added `keyEvent` tests
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(icon): fix typo
  packages/components/icon/tests/icon.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(checkbox): fix import path
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: typo
  packages/components/icon/tests/icon.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(hooks/use-size): add tests for useSizes and useSize hooks
  packages/hooks/use-size/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added timeline and timepicker docs in en and ja
  docs/contents/components/data-display/timeline/index.ja.mdx
  docs/contents/components/data-display/timeline/index.mdx
  docs/contents/components/forms/time-picker/index.ja.mdx
  docs/contents/components/forms/time-picker/index.mdx
Due: prettier --write

docs: expanded calendar component props options
  docs/scripts/component-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: remove outdated MultiDatePickerProps and RangeDatePickerProps
  docs/contents/components/data-display/calendar/props.ja.mdx
  docs/contents/components/data-display/calendar/props.mdx
  docs/contents/components/forms/multi-date-picker/props.ja.mdx
  docs/contents/components/forms/multi-date-picker/props.mdx
  docs/contents/components/forms/range-date-picker/props.ja.mdx
  docs/contents/components/forms/range-date-picker/props.mdx
Due: prettier --write

docs: updated default values and text in docs
  docs/contents/components/forms/month-picker/index.ja.mdx
  docs/contents/components/forms/month-picker/index.mdx
Due: prettier --write

docs: add Japanese and English documentation for YearPicker
  docs/contents/components/forms/year-picker/index.ja.mdx
  docs/contents/components/forms/year-picker/index.mdx
  docs/contents/components/forms/year-picker/props.ja.mdx
  docs/contents/components/forms/year-picker/props.mdx
  docs/contents/components/forms/year-picker/theming.ja.mdx
  docs/contents/components/forms/year-picker/theming.mdx
Due: prettier --write

docs: updated component documentation in JSON
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

ci(changelog): updated changelog
  .changelog/manifest.json
  .changelog/v1.3.11.mdx
  CHANGELOG.md
  docs/contents/changelog/index.ja.mdx
  docs/contents/changelog/index.mdx
  docs/contents/changelog/v1.3.11.mdx
Due: prettier --write

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: guarantee to act on menuButton
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): added warning log test
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
