Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

style(docs): added missing semicolon to exit command
  docs/ignored-build-step.sh
Due: none

chore(docs): added echo command for main branch check
  docs/ignored-build-step.sh
Due: none

chore(docs): updated build step exit status and message
  docs/ignored-build-step.sh
Due: none

chore(docs): updated ignored build step script
  docs/ignored-build-step.sh
Due: none

chore(docs): added check for doc changes in script
  docs/ignored-build-step.sh
Due: none

chore(docs): simplified build step conditions
  docs/ignored-build-step.sh
Due: none

fix(docs): corrected syntax error in shell script
  docs/ignored-build-step.sh
Due: none

ci: add [skip ci] to commit messages in CI flow
  .github/workflows/pre-release.yml
Due: prettier --write

test(useResizeObserver): enhance test coverage
  packages/hooks/use-resize-observer/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove unnessesary test
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(breadcrumb): added ellipsis to theme
  packages/theme/src/components/breadcrumb.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(pre-release): updated CI workflow for docs and css
  .github/workflows/pre-release.yml
Due: prettier --write

feat(hoge.txt): added new file hoge.txt
  hoge.txt
Due: none

chore(docs): updated build step script for clarity
  docs/ignored-build-step.sh
Due: none

docs: updated hoge.txt content
  hoge.txt
Due: none

chore(docs): added git fetch to build script
  docs/ignored-build-step.sh
Due: none

refactor: use variable for target branch in script
  docs/ignored-build-step.sh
Due: none

feat: added new file hoge.txt
  hoge.txt
Due: none

docs: updated package name in docs package.json
  docs/package.json
Due: prettier --write

ci: updated paths-ignore in release workflow
  .github/workflows/release.yml
Due: prettier --write

ci: updated pre-release workflow paths and commits
  .github/workflows/pre-release.yml
Due: prettier --write

ci(pre-release): update changelog generation logic
  .github/workflows/pre-release.yml
  package.json
  scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated paths for release workflow
  .github/workflows/release.yml
Due: prettier --write

ci(pre-release): updated path filters for triggers
  .github/workflows/pre-release.yml
Due: prettier --write

ci: added push to ci commit commands
  .github/workflows/pre-release.yml
Due: prettier --write

docs: updated author links in examples data
  docs/pages/examples/data.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected grammar in ui.en.json description
  docs/i18n/ui.en.json
Due: prettier --write

fix(file-input): removed incorrect `aria-readonly` attribute
  .changeset/large-wombats-dream.md
  packages/components/file-input/src/file-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update pin-input handling and props
  .changeset/dry-llamas-tease.md
  packages/components/pin-input/src/pin-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(pre-release): refactor workflow to use patch files
  .github/workflows/pre-release.yml
Due: prettier --write

ci(pre-release): added git user setup in workflow
  .github/workflows/pre-release.yml
Due: prettier --write

docs: updated license section in README
  packages/react/README.md
Due: prettier --write

docs(react): added codecov badge to README
  packages/react/README.md
Due: prettier --write

fix: fix tooltip behavior on mobile device
  packages/components/tooltip/src/tooltip.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

ci(pre-release.yml): streamline release workflow steps
  .github/workflows/pre-release.yml
Due: prettier --write

ci: added debug.txt to pre-release workflow
  .github/workflows/pre-release.yml
  debug.txt
Due: prettier --write

ci(component): updated component
  docs/contents/components/data-display/paging-table/props.ja.mdx
  docs/contents/components/data-display/paging-table/props.mdx
  docs/contents/components/data-display/table/props.ja.mdx
  docs/contents/components/data-display/table/props.mdx
  docs/contents/components/feedback/donut-chart/props.ja.mdx
  docs/contents/components/feedback/donut-chart/props.mdx
  docs/contents/components/feedback/pie-chart/props.ja.mdx
  docs/contents/components/feedback/pie-chart/props.mdx
  docs/contents/components/forms/button/props.ja.mdx
  docs/contents/components/forms/button/props.mdx
  docs/contents/components/layouts/flex/props.ja.mdx
  docs/contents/components/layouts/flex/props.mdx
  docs/contents/components/layouts/grid/props.ja.mdx
  docs/contents/components/layouts/grid/props.mdx
  docs/contents/components/layouts/stack/props.ja.mdx
  docs/contents/components/layouts/stack/props.mdx
  docs/contents/components/overlay/menu/theming.ja.mdx
  docs/contents/components/overlay/menu/theming.mdx
  packages/components/button/DOCS.json
  packages/components/card/DOCS.json
  packages/components/checkbox/DOCS.json
  packages/components/layouts/DOCS.json
  packages/components/native-table/DOCS.json
  packages/components/radio/DOCS.json
  packages/components/table/DOCS.json
  packages/components/toggle/DOCS.json
Due: prettier --write

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix
