Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

chore(deps): update codecov-action to v5
  .github/workflows/codecov.yml
  .github/workflows/test.yml
Due: prettier --write

chore(deps): update codecov-action to v5 (#6090)
  .github/workflows/codecov.yml
  .github/workflows/test.yml
Due: prettier --write

fix: use fs/promises glob, AsyncIterable with Array.fromAsync
  packages/cli/src/utils/fs.ts
  packages/react/vitest.config.ts
  scripts/generate/registries/index.ts
  scripts/generate/styles/index.ts
  www/scripts/generate/relations.ts
  www/utils/markdown/replace-relations.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add TanStack Start guide in English and Japanese
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
  www/contents/get-started/frameworks/tanstack-start.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
Due: prettier --write

chore(deps): add github-actions ecosystem to dependabot
  depandabot.yaml
Due: none

chore: move depandabot.yaml to .github directory
  .github/depandabot.yaml
Due: none

chore(deps): add GitHub Actions ecosystem to Dependabot (#6091)
  .github/depandabot.yaml
Due: none

fix(docs): address review comments for color-selector accessibility
  www/contents/components/(components)/color-selector.ja.mdx
  www/contents/components/(components)/color-selector.mdx
Due: prettier --write

build: add stackblitz integration and dependencies
  cspell.json
  pnpm-lock.yaml
  www/components/index.ts
  www/components/mdx/code-block.tsx
  www/components/stack-blitz-button.tsx
  www/components/stack-blitz-icon.tsx
  www/contents/components/(charts)/area-chart.ja.mdx
  www/contents/components/(charts)/area-chart.mdx
  www/contents/components/(charts)/bar-chart.ja.mdx
  www/contents/components/(charts)/bar-chart.mdx
  www/contents/components/(charts)/composed-chart.ja.mdx
  www/contents/components/(charts)/composed-chart.mdx
  www/contents/components/(charts)/line-chart.ja.mdx
  www/contents/components/(charts)/line-chart.mdx
  www/contents/components/(charts)/pie-chart.ja.mdx
  www/contents/components/(charts)/pie-chart.mdx
  www/contents/components/(charts)/radar-chart.ja.mdx
  www/contents/components/(charts)/radar-chart.mdx
  www/contents/components/(charts)/radial-chart.ja.mdx
  www/contents/components/(charts)/radial-chart.mdx
  www/contents/components/(components)/table.ja.mdx
  www/contents/components/(components)/table.mdx
  www/libs/eslint-plugin-unused-imports.ts
  www/libs/prettier.ts
  www/libs/stackblitz.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

build: add stackblitz integration and dependencies (#6092)
  cspell.json
  pnpm-lock.yaml
  www/components/index.ts
  www/components/mdx/code-block.tsx
  www/components/stack-blitz-button.tsx
  www/components/stack-blitz-icon.tsx
  www/contents/components/(charts)/area-chart.ja.mdx
  www/contents/components/(charts)/area-chart.mdx
  www/contents/components/(charts)/bar-chart.ja.mdx
  www/contents/components/(charts)/bar-chart.mdx
  www/contents/components/(charts)/composed-chart.ja.mdx
  www/contents/components/(charts)/composed-chart.mdx
  www/contents/components/(charts)/line-chart.ja.mdx
  www/contents/components/(charts)/line-chart.mdx
  www/contents/components/(charts)/pie-chart.ja.mdx
  www/contents/components/(charts)/pie-chart.mdx
  www/contents/components/(charts)/radar-chart.ja.mdx
  www/contents/components/(charts)/radar-chart.mdx
  www/contents/components/(charts)/radial-chart.ja.mdx
  www/contents/components/(charts)/radial-chart.mdx
  www/contents/components/(components)/table.ja.mdx
  www/contents/components/(components)/table.mdx
  www/libs/eslint-plugin-unused-imports.ts
  www/libs/prettier.ts
  www/libs/stackblitz.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix(metadata): update page titles for each section
  www/app/[locale]/(apps)/examples/authentication/page.tsx
  www/app/[locale]/(apps)/examples/dashboard/page.tsx
  www/app/[locale]/(apps)/examples/forms/page.tsx
  www/app/[locale]/(apps)/examples/mail/page.tsx
  www/app/[locale]/(apps)/examples/music/page.tsx
  www/app/[locale]/(apps)/examples/playground/page.tsx
  www/app/[locale]/(apps)/examples/tasks/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(metadata): update page titles for each section (#6093)
  www/app/[locale]/(apps)/examples/authentication/page.tsx
  www/app/[locale]/(apps)/examples/dashboard/page.tsx
  www/app/[locale]/(apps)/examples/forms/page.tsx
  www/app/[locale]/(apps)/examples/mail/page.tsx
  www/app/[locale]/(apps)/examples/music/page.tsx
  www/app/[locale]/(apps)/examples/playground/page.tsx
  www/app/[locale]/(apps)/examples/tasks/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): update dependency and config documentation
  .changeset/shaky-wolves-eat.md
  cspell.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/update/validate-diff-3.test.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/fs.test.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/typescript.test.ts
  packages/react/package.json
  packages/react/src/components/chart/cartesian-chart.tsx
  packages/react/src/components/chart/chart.tsx
  packages/react/src/components/chart/polar-chart.tsx
  packages/react/src/components/chart/use-cartesian-chart.ts
  packages/react/src/components/chart/use-polar-chart.ts
  packages/react/src/components/reorder/reorder.test.tsx
  packages/react/src/components/slot/slot.test.tsx
  packages/react/src/core/css/styles.ts
  packages/react/src/hooks/use-disclosure/use-promise-disclosure.test.ts
  packages/react/src/hooks/use-focus/index.test.tsx
  packages/react/src/hooks/use-local-storage/index.test.ts
  packages/react/src/utils/context.test.ts
  packages/react/src/utils/ref.test.ts
  packages/react/src/utils/store.test.tsx
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): update dependency and config documentation (#6095)
  .changeset/shaky-wolves-eat.md
  cspell.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/update/validate-diff-3.test.ts
  packages/cli/src/utils/config.test.ts
  packages/cli/src/utils/fs.test.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/typescript.test.ts
  packages/react/package.json
  packages/react/src/components/chart/cartesian-chart.tsx
  packages/react/src/components/chart/chart.tsx
  packages/react/src/components/chart/polar-chart.tsx
  packages/react/src/components/chart/use-cartesian-chart.ts
  packages/react/src/components/chart/use-polar-chart.ts
  packages/react/src/components/reorder/reorder.test.tsx
  packages/react/src/components/slot/slot.test.tsx
  packages/react/src/core/css/styles.ts
  packages/react/src/hooks/use-disclosure/use-promise-disclosure.test.ts
  packages/react/src/hooks/use-focus/index.test.tsx
  packages/react/src/hooks/use-local-storage/index.test.ts
  packages/react/src/utils/context.test.ts
  packages/react/src/utils/ref.test.ts
  packages/react/src/utils/store.test.tsx
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/airy.json
  www/public/registry/dev/v2/components/calendar.json
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/collapse.json
  www/public/registry/dev/v2/components/date-picker.json
  www/public/registry/dev/v2/components/drawer.json
  www/public/registry/dev/v2/components/fade-scale.json
  www/public/registry/dev/v2/components/fade.json
  www/public/registry/dev/v2/components/flip.json
  www/public/registry/dev/v2/components/loading.json
  www/public/registry/dev/v2/components/modal.json
  www/public/registry/dev/v2/components/motion.json
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/components/reorder.json
  www/public/registry/dev/v2/components/resizable.json
  www/public/registry/dev/v2/components/ripple.json
  www/public/registry/dev/v2/components/rotate.json
  www/public/registry/dev/v2/components/segmented-control.json
  www/public/registry/dev/v2/components/slide-fade.json
  www/public/registry/dev/v2/components/slide.json
  www/public/registry/dev/v2/components/snacks.json
  www/public/registry/dev/v2/components/tooltip.json
Due: prettier --write

fix(utils): extract a shared `wait` utility and use it consistently
  .changeset/easy-pillows-sin.md
  packages/react/src/components/collapse/collapse.test.tsx
  packages/react/src/components/infinite-scroll-area/infinite-scroll-area.stories.tsx
  packages/react/src/components/loading/loading-provider.stories.tsx
  packages/react/src/components/loading/use-loading.stories.tsx
  packages/react/src/components/skeleton/skeleton.stories.tsx
  packages/react/src/hooks/use-async-callback/index.stories.tsx
  packages/react/src/hooks/use-async-callback/index.test.tsx
  packages/react/test/drag.ts
  packages/react/test/utils.ts
  packages/utils/src/function.test.ts
  packages/utils/src/function.ts
  packages/utils/src/index.test.ts
  packages/workspace/package.json
  packages/workspace/src/octokit/index.ts
  pnpm-lock.yaml
  www/utils/async.ts
Due: prettier --write, eslint --max-warnings 0 --fix

perf(ci): parallelize quality checks in single turbo runs
  .github/workflows/quality.yml
Due: prettier --write

fix(utils): extract a shared `wait` utility and use it consistently (#6098)
  .changeset/easy-pillows-sin.md
  packages/react/src/components/collapse/collapse.test.tsx
  packages/react/src/components/infinite-scroll-area/infinite-scroll-area.stories.tsx
  packages/react/src/components/loading/loading-provider.stories.tsx
  packages/react/src/components/loading/use-loading.stories.tsx
  packages/react/src/components/skeleton/skeleton.stories.tsx
  packages/react/src/hooks/use-async-callback/index.stories.tsx
  packages/react/src/hooks/use-async-callback/index.test.tsx
  packages/react/test/drag.ts
  packages/react/test/utils.ts
  packages/utils/src/function.test.ts
  packages/utils/src/function.ts
  packages/utils/src/index.test.ts
  packages/workspace/package.json
  packages/workspace/src/octokit/index.ts
  pnpm-lock.yaml
  www/utils/async.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(get-started): installation section for tanstack start
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

docs(AGENTS.md): add Yamada UI development guide
  AGENTS.md
  CLAUDE.md
  lefthook.yaml
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: prettier --write

fix(lefthook): use .prettierignore to exclude symlink instead of shell filtering
  .prettierignore
  lefthook.yaml
Due: none

Added Yamada UI development guide (#6104)
  .prettierignore
  AGENTS.md
  CLAUDE.md
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@c6b754944a5f0bec4eb99e1d2e9503501ae017fc 🚀
  project.json
Due: prettier --write

chore(packages/react): added __screenshots__ to clean script
  packages/react/package.json
Due: prettier --write

chore(packages/react): added __screenshots__ to clean script (#6105)
  packages/react/package.json
Due: prettier --write

ci(changesets): updated packages
  .changeset/easy-pillows-sin.md
  .changeset/fresh-wasps-tickle.md
  .changeset/fruity-kings-trade.md
  .changeset/old-banks-drop.md
  .changeset/purple-turkeys-marry.md
  .changeset/replace-execa.md
  .changeset/shaky-wolves-eat.md
  .changeset/spotty-deer-pull.md
  .changeset/ten-laws-warn.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@7f420c20f656f6c4fc407cad74324a5420440bf4 🚀
  project.json
Due: prettier --write

feat(cli): add --dry-run/-n option for CLI commands
  packages/cli/src/commands/add/index.test.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.test.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.test.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.test.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/tokens/index.test.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/commands/update/index.test.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/commands/update/update-files.test.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/fs.test.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(cli): add --dry-run/-n option for CLI commands
  .changeset/tasty-bobcats-lay.md
  packages/cli/src/commands/add/index.test.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.test.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.test.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.test.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/tokens/index.test.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/commands/update/index.test.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/commands/update/update-files.test.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/fs.test.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/package.test.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/airy.json
  www/public/registry/dev/v2/components/autocomplete.json
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/date-picker.json
  www/public/registry/dev/v2/components/dropzone.json
  www/public/registry/dev/v2/components/flip.json
  www/public/registry/dev/v2/components/native-popover.json
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/components/rotate.json
  www/public/registry/dev/v2/components/snacks.json
  www/public/registry/dev/v2/components/stack.json
Due: prettier --write

docs(tanstack-start): changes file path
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

ci: update dependencies to catalog versions
  .changeset/moody-garlics-teach.md
  cspell.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier --write

docs(get-started): themeSchemeScript section for Tanstack Start
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

chore(deps): remove @next/eslint-plugin-next from catalog
  pnpm-workspace.yaml
Due: none

Update dependencies to catalog versions (#6111)
  .changeset/moody-garlics-teach.md
  cspell.json
  packages/cli/package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/react-router/framework/package.json
  playgrounds/tanstack/router/package.json
  playgrounds/tanstack/start/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  www/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
