Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.5.1.mdx
  CHANGELOG.md
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@ddb452dd13b82cf3abf027b3464cf813490d256f 🚀
  project.json
Due: prettier --write

refactor(scripts): changed prettier export to local function
  packages/components/lucide/scripts/generate-icons.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added group and peer style handlers
  .changeset/sweet-maps-rest.md
  packages/core/src/pseudos.ts
  packages/utils/src/index.types.ts
  stories/system/styles/pseudo.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update styled-system logic and types
  docs/scripts/content/styled-system.ts
  docs/theme/styles/mdx-styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

(fix) : changed the color used in `DropzoneAccept` and `Dropzone` to success
  docs/contents/components/forms/dropzone/index.ja.mdx
  docs/contents/components/forms/dropzone/index.mdx
Due: prettier --write

feat: useSelectList to support multi-select functionality
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected the type of AutocompleteItemWithItems and adding labelProps
  .changeset/thick-spiders-exist.md
  packages/components/autocomplete/src/autocomplete-option-group.tsx
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: remove unnecessary whitespace
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(root/eslint): upadte `ignores` in `eslint.config.mjs`
  eslint.config.mjs
Due: none

chore(docs/eslint): update `ignores` in `eslint.config.mjs`
  docs/eslint.config.mjs
Due: none

chore(example/vite/eslint): update `ignores` in `eslint.config.mjs`
  examples/vite/eslint.config.mjs
Due: none

chore(examples/remix/eslint): update `ignores` in `eslint.config.mjs`
  examples/remix/eslint.config.mjs
Due: none

chore(examples/next/app/eslint): update `ignores` in `eslint.config.mjs`
  examples/next/app/eslint.config.mjs
Due: none

chore(examples/next/pages): update `ignores` in `eslint.config.mjs`
  examples/next/pages/eslint.config.mjs
Due: none

chore(root/deps): update `eslint-plugin-import` to `v2.30.0`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root/eslint): update `eslint/import.mjs`
  eslint/import.mjs
Due: none

chore(example/remix/deps): update `eslint-plugin-import` to `v2.30.0`
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/next/pages/deps): update `eslint-plugin-import` to `v2.30.0`
  examples/next/pages/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/next/app/deps): update `eslint-plugin-import` to v2.30.0
  examples/next/app/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add changeset
  .changeset/twelve-trains-itch.md
Due: prettier --write

chore: create airy package
  packages/components/airy/README.md
  packages/components/airy/package.json
  packages/components/airy/src/airy.tsx
  packages/components/airy/src/index.ts
  packages/components/airy/tests/airy.test.tsx
  packages/components/airy/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/airy.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/transitions/airy.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add yamada-ui/motion package
  packages/components/airy/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: create airy component
  packages/components/airy/src/airy.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: create airy story
  stories/components/transitions/airy.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: create rotate package
  packages/components/rotate/README.md
  packages/components/rotate/package.json
  packages/components/rotate/src/index.ts
  packages/components/rotate/src/rotate.tsx
  packages/components/rotate/tests/rotate.test.tsx
  packages/components/rotate/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/rotate.ts
  pnpm-lock.yaml
  stories/components/transitions/rotate.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add @yamada-ui/motion package
  packages/components/rotate/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: create rotate component
  packages/components/rotate/src/rotate.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: use previous state for setCurrentElement
  packages/components/airy/src/airy.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: create rotate story
  stories/components/transitions/rotate.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remote WithTransitionProps and change rotate prop type
  packages/components/rotate/src/rotate.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: remove WithTransitionProps
  packages/components/swap/src/airy.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: create flip package
  packages/components/flip/README.md
  packages/components/flip/package.json
  packages/components/flip/src/flip.tsx
  packages/components/flip/src/index.ts
  packages/components/flip/tests/flip.test.tsx
  packages/components/flip/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/flip.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/transitions/flip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add @yamada-ui/motion package
  packages/components/flip/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: remove animation prop
  stories/components/transitions/airy.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: create flip story
  stories/components/transitions/flip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove swap-related files
  packages/components/swap/README.md
  packages/components/swap/package.json
  packages/components/swap/src/airy.tsx
  packages/components/swap/src/flip.tsx
  packages/components/swap/src/index.ts
  packages/components/swap/src/rotate.tsx
  packages/components/swap/src/swap.tsx
  packages/components/swap/tests/swap.test.tsx
  packages/components/swap/tsconfig.json
  packages/theme/src/components/swap.ts
  stories/components/motion/swap.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove import swap
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
