Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix: set the `displayName` and `__ui__` for `@yamada-ui/native-select`
  .changeset/odd-beers-tease.md
  packages/components/native-select/src/native-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set the `displayName` and `__ui__` for `@yamada-ui/native-table`
  .changeset/fair-socks-reflect.md
  packages/components/native-table/src/native-table.tsx
  packages/components/native-table/src/table-caption.tsx
  packages/components/native-table/src/table-container.tsx
  packages/components/native-table/src/tbody.tsx
  packages/components/native-table/src/td.tsx
  packages/components/native-table/src/tfoot.tsx
  packages/components/native-table/src/th.tsx
  packages/components/native-table/src/thead.tsx
  packages/components/native-table/src/tr.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: set __ui__
  packages/components/modal/src/dialog.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set displayname and ui to checkbox
  .changeset/chilly-spies-approve.md
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: modify import code
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update prop from size to boxSize
  docs/contents/components/feedback/circle-progress/index.ja.mdx
  docs/contents/components/feedback/circle-progress/index.mdx
  packages/components/progress/tests/circle-progress.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set displayname and ui to dropzone
  .changeset/soft-trains-judge.md
  packages/components/dropzone/src/dropzone.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update package.json dependencies across projects
  docs/package.json
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/next/app/package.json
  examples/next/pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(lucide-icons): added new icons and updated dependencies
  .changeset/itchy-shrimps-grow.md
  packages/components/lucide/package.json
  packages/components/lucide/src/icons/briefcase-conveyor-belt.tsx
  packages/components/lucide/src/icons/clock-alert.tsx
  packages/components/lucide/src/icons/file-user.tsx
  packages/components/lucide/src/icons/grid2x2-plus.tsx
  packages/components/lucide/src/icons/headphone-off.tsx
  packages/components/lucide/src/icons/index.ts
  packages/components/lucide/src/icons/index.types.tsx
  packages/components/lucide/src/icons/message-square-lock.tsx
  packages/components/lucide/src/icons/octagon-minus.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated package dependencies versions
  .changeset/mighty-spies-fold.md
  packages/cli/package.json
  packages/components/carousel/package.json
  packages/components/focus-lock/package.json
  packages/components/loading/package.json
  packages/components/markdown/package.json
  packages/components/modal/package.json
  packages/components/resizable/package.json
  packages/next/package.json
Due: prettier --write

chore: updated cleaning scripts and tsbuildinfo config
  cspell.json
  docs/package.json
  package.json
Due: prettier --write

fix: set displayname and ui to editable
  .changeset/twenty-waves-serve.md
  packages/components/editable/src/editable.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(vitest.config): updated ignore patterns in config
  vitest.config.mts
Due: none

refactor(components): rename button component elements and props
  .changeset/slimy-timers-judge.md
  packages/components/button/src/button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update checkbox icon component names
  .changeset/short-paws-approve.md
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Update .changeset/thick-trees-rest.md
  .changeset/thick-trees-rest.md
Due: prettier --write

fix: changed FC import to @yamada-ui/core
  .changeset/polite-cobras-type.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add displayName and __ui__ to Icon
  packages/components/fontawesome/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset md
  .changeset/six-cups-stare.md
Due: prettier --write

fix(carousel): fixed resize and slide watch settings
  .changeset/small-onions-switch.md
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add aria-orientation attribute to TabList component
  packages/components/tabs/src/tab-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/curly-rivers-grow.md
Due: prettier --write

feat: set display name and ui for rippe
  packages/components/ripple/src/ripple.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update color scheme handling logic
  .changeset/honest-dogs-dream.md
  packages/components/carousel/src/carousel-control.tsx
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/css.types.ts
  scripts/generate-docs.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(calendar): update Japanese calendar props documentation
  docs/contents/components/data-display/calendar/props.ja.mdx
  docs/contents/components/data-display/calendar/props.mdx
  docs/contents/components/data-display/table/props.ja.mdx
  docs/contents/components/data-display/table/props.mdx
  docs/contents/components/feedback/progress/props.ja.mdx
  docs/contents/components/feedback/progress/props.mdx
  docs/contents/components/forms/autocomplete/props.ja.mdx
  docs/contents/components/forms/autocomplete/props.mdx
  docs/contents/components/forms/button/props.ja.mdx
  docs/contents/components/forms/button/props.mdx
  docs/contents/components/forms/color-picker/props.ja.mdx
  docs/contents/components/forms/color-picker/props.mdx
  docs/contents/components/forms/select/props.ja.mdx
  docs/contents/components/forms/select/props.mdx
  docs/contents/components/forms/slider/props.ja.mdx
  docs/contents/components/forms/slider/props.mdx
  docs/contents/components/navigation/link/props.ja.mdx
  docs/contents/components/navigation/link/props.mdx
  docs/contents/components/overlay/modal/props.ja.mdx
  docs/contents/components/overlay/modal/props.mdx
  docs/scripts/component/props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: change the test from throwing an error to using console.warn
  packages/hooks/use-breakpoint/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change change throw Error to console.warn
  packages/hooks/use-breakpoint/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/hungry-parents-know.md
Due: prettier --write

fix: add display-name in image component
  .changeset/dull-jobs-know.md
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: added displayName and __ui__ to CloseIcon and CloseButton component
  .changeset/gold-vans-pump.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.5.3.mdx
  CHANGELOG.md
Due: prettier --write

fix: changed the location where displayName and **ui** are defined
  .changeset/pretty-bananas-invent.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: create-yamada-app update vite template
  packages/create-yamada-app/src/templates/vite/index.html
  packages/create-yamada-app/src/templates/vite/public/favicon.svg
  packages/create-yamada-app/src/templates/vite/public/vite.svg
  packages/create-yamada-app/src/templates/vite/src/App.css
  packages/create-yamada-app/src/templates/vite/src/App.tsx
  packages/create-yamada-app/src/templates/vite/src/assets/react.svg
  packages/create-yamada-app/src/templates/vite/src/index.css
  packages/create-yamada-app/src/templates/vite/src/main.tsx
  packages/create-yamada-app/src/templates/vite/vite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add ColorModeScript
  packages/create-yamada-app/src/templates/next/app/app/layout.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove library globals and fix vite.config.ts
  packages/create-yamada-app/src/templates/vite/package.json
  packages/create-yamada-app/src/templates/vite/vite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
