Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore: updated Discord link in issue template
  docs/.github/ISSUE_TEMPLATE/config.yml
Due: prettier --write

feat(form-control): added data attributes to form control to facilitate styling based on input state
  .changeset/afraid-yaks-teach.md
  packages/components/form-control/src/form-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): alpha value is displayed when default-color is set
  .changeset/purple-paws-peel.md
  packages/components/color-picker/src/use-color-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(notice): add tests for notice
  packages/components/notice/tests/notice.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): version packages
  .changeset/purple-paws-peel.md
  packages/components/color-picker/CHANGELOG.md
  packages/components/color-picker/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.2.2.mdx
  CHANGELOG.md
Due: prettier --write

docs(storybook): add Ripple with isDisabled
  stories/components/other/ripple.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

tests for color-picker
  packages/components/color-picker/tests/colorPicker.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

update the id
  packages/components/color-picker/tests/colorPicker.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@1d821558b856c158fb69400db20a9c4387d1dfd9 🚀
  assets/Color-6VNJS4EI-LKVdzCoW.js
  assets/Color-6VNJS4EI-Lhkgz8kk.js
  assets/DocsRenderer-NNNQARDV-0xOnqwzO.js
  assets/DocsRenderer-NNNQARDV-XyciPYKf.js
  assets/WithTooltip-V3YHNWJZ-088NExRD.js
  assets/WithTooltip-V3YHNWJZ-xLkuCZOB.js
  assets/borders.stories-Qe8sygqm.js
  assets/borders.stories-y-f2hOqi.js
  assets/breakpoints.stories-aLoGwMgi.js
  assets/breakpoints.stories-j3EmNFK0.js
  assets/colors.stories-KeHwdmLB.js
  assets/formatter-SWP5E3XI-jiGTBIuj.js
  assets/gradients.stories-YVkqBC34.js
  assets/gradients.stories-YqdqPxGy.js
  assets/iframe-TcQ49kIG.js
  assets/iframe-YlKZ4F_j.js
  assets/index-I3leRhBb.js
  assets/preview-7tdwR3uo.js
  assets/preview-9AhOjKRy.js
  assets/preview-HbWildTH.js
  assets/preview-LGPKvVGt.js
  assets/preview-hezX7eL_.js
  assets/preview-iW9Nq6U4.js
  assets/radii.stories-PttIZCBq.js
  assets/ripple.stories-N0pDJBnC.js
  assets/ripple.stories-qtfYXuQp.js
  assets/shadows.stories-tjOjWIEU.js
  assets/sizes.stories-QfCMQeul.js
  assets/spaces.stories-BqpBc3rh.js
  assets/syntaxhighlighter-V7JZZA35-VjlsYHnT.js
  assets/syntaxhighlighter-V7JZZA35-bwbgn65J.js
  assets/transitions.stories-4bzQ1UrP.js
  assets/typography.stories-sh5RggOh.js
  assets/welcome.stories-DvSUOAm2.js
  assets/welcome.stories-rd-hZdfF.js
  assets/z-index.stories-1G_IT9hh.js
  iframe.html
  index.json
  project.json
  stories.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix(ci): fixed to npx
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): added skip-step to pnpm test command
  .github/workflows/quality.yml
Due: prettier --write

chore: added coverage directory to .gitignore
  .gitignore
  package.json
Due: prettier --write

test(jest.config): added coverage and module ignore patterns
  jest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/resizable): extend `ResizableItem` props
  .changeset/twelve-berries-help.md
  packages/components/resizable/src/resizable-item.tsx
  packages/components/resizable/src/use-resizable.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(package.json): updated vite to 5.0.12
  package.json
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

ci(quality.yml): added matrix generation for test jobs
  .github/workflows/quality.yml
Due: prettier --write

ci: update workflows and naming conventions
  .github/workflows/next.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

ci: updated matrix keys in quality workflow
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): fixed matrix package reference
  .github/workflows/quality.yml
Due: prettier --write

ci: standardized job step names in release.yml
  docs/.github/workflows/release.yml
Due: prettier --write

ci(quality.yml): removed redundant install step
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): added custom install step
  .github/workflows/quality.yml
Due: prettier --write

fix: remove option
  .github/workflows/quality.yml
Due: prettier --write

chore: renamed layout.test.tsx to layouts.test.tsx
  packages/components/layouts/tests/layouts.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(quality.yml): updated test script and added skip-step
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): added dynamic test script generation
  .github/workflows/quality.yml
Due: prettier --write

ci(test): added --passWithNoTests to test:ci script
  package.json
Due: prettier --write

fix(package.json): removed passWithNoTests from test:ci
  package.json
Due: prettier --write

ci: added check for existing tests in workflow
  .github/workflows/quality.yml
Due: prettier --write

ci(quality.yml): added PR comment for missing tests
  .github/workflows/quality.yml
Due: prettier --write

ci: updated workflow for coverage reports
  .github/workflows/quality.yml
Due: prettier --write

docs(motion): updated motion component doc link
  .changeset/tall-llamas-visit.md
  packages/components/motion/src/motion.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(input): added missing period to jsdoc comment
  .changeset/honest-hornets-hang.md
  packages/components/input/src/input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: streamline quality checks workflow
  .github/workflows/quality.yml
Due: prettier --write

ci: updated path extraction in quality.yml
  .github/workflows/quality.yml
Due: prettier --write

chore: updated changeset to patch level
  .changeset/afraid-yaks-teach.md
Due: prettier --write
