Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/eighty-flies-check.md
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(resizable): replace `resizable-trigger-icon` to use `@yamada-ui/lucide`
  .changeset/hip-rockets-jump.md
  packages/components/resizable/package.json
  packages/components/resizable/src/resizable-trigger.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remake lock file
  pnpm-lock.yaml
Due: none

fix(resizable): removed resizable trigger icon
  packages/components/resizable/src/index.ts
  packages/components/resizable/src/resizable-trigger.tsx
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(resizable-trigger): removed unused type
  packages/components/resizable/src/resizable-trigger.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(orientation): fix orientation data selector not working in firefox
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): added changeset
  .changeset/plenty-points-appear.md
Due: prettier --write

refactor(pseudo): removed unnecessary quotation
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/neat-suns-pay.md
  packages/components/highlight/src/highlight.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: removed outdated changeset files
  .changeset/large-foxes-perform.md
  .changeset/metal-apricots-wait.md
  .changeset/poor-phones-divide.md
  .changeset/thirty-seahorses-press.md
Due: prettier --write

feat: could console.log x y position]
  packages/hooks/use-floating/README.md
  packages/hooks/use-floating/package.json
  packages/hooks/use-floating/src/index.ts
  packages/hooks/use-floating/tsconfig.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add new hook
  package.json
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add new hook
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add new hook
  packages/react/package.json
Due: prettier --write

chore: use use-floating hook instead of usepopper
  packages/components/popover/package.json
  packages/components/popover/src/popover-content.tsx
  packages/components/popover/src/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add accessibility documentation for PinInput component
  docs/contents/components/forms/pin-input/accessibility.ja.mdx
  docs/contents/components/forms/pin-input/accessibility.mdx
Due: prettier --write

feat: fix deprecated for isRequired
  packages/components/form-control/src/form-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.6.4.mdx
  CHANGELOG.md
Due: prettier --write

feat: remove is prefix in props
  .changeset/brown-walls-dream.md
  packages/components/focus-lock/src/focus-lock.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/dirty-dolls-turn.md
  packages/components/dropzone/src/dropzone.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/stale-dolphins-jog.md
  packages/components/editable/src/editable.tsx
  stories/components/forms/editable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: radio packages
  packages/components/form-control/src/form-control.tsx
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
  packages/components/radio/tests/radio.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(breadcrumb): remove is prefix from props
  .changeset/orange-moons-serve.md
  packages/components/breadcrumb/src/breadcrumb.tsx
  packages/components/breadcrumb/tests/breadcrumb.test.tsx
  stories/components/navigation/breadcrumb.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/eight-buses-lie.md
  packages/components/close-button/src/close-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix `Icon` to `FontAwesomeIcon`
  docs/contents/components/media-and-icons/fontawesome/index.ja.mdx
  docs/contents/components/media-and-icons/fontawesome/index.mdx
Due: prettier --write

feat(theme): updated CircleProgress type definition
  .changeset/popular-garlics-shop.md
  packages/theme/src/components/circle-progress.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(list): fixed prop reflection in list component
  .changeset/moody-cheetahs-rescue.md
  packages/components/list/src/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tooltip): updated props and Popper integration
  .changeset/big-dodos-scream.md
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: revert changes to isNative
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/tests/radio-group.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: delete changes made that is not related
  examples/next/app/app/color/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: rename checked variables
  packages/components/radio/src/radio.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(package): remove lucide from dependencies
  packages/components/resizable/package.json
Due: prettier --write

feat(tabs): remove is prefix in props
  .changeset/tricky-gifts-hear.md
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab-panels.tsx
  packages/components/tabs/src/tab.tsx
  packages/components/tabs/src/tabs-context.tsx
  packages/components/tabs/src/tabs.tsx
  packages/components/tabs/tests/tabs.test.tsx
  packages/hooks/use-clickable/src/index.ts
  stories/components/disclosure/tabs.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): remove unused import
  packages/components/tabs/tests/tabs.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): use the correct context
  packages/components/tabs/src/tab-panel.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
