Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: update DataList component examples and descriptions
  www/contents/components/(components)/data-list.ja.mdx
  www/contents/components/(components)/data-list.mdx
Due: prettier --write

feat(button): import Button from correct path
  packages/react/src/components/button/icon-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(eslint): remove duplicate import rule
  packages/workspace/src/eslint/base.ts
  packages/workspace/src/eslint/import.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(props): move directory reading after spinner success
  scripts/generate/props/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(.github): remove redundant pnpm gen:props command
  .github/composite-actions/update-www/action.yml
Due: prettier --write

refactor(index): remove unnecessary command argument
  www/scripts/generate/docs/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add data generation script and command
  package.json
  scripts/generate/data/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(packages/react): combine Button imports for clarity
  packages/react/src/components/file-button/file-button.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tokens): rename generateThemeTokens to index.ts
  package.json
  packages/cli/package.json
  packages/cli/src/command/index.ts
  packages/cli/src/command/theme/index.ts
  packages/cli/src/command/tokens/index.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/tokens/config.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/assertion.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/module.ts
  packages/cli/src/utils/object.ts
  packages/cli/src/utils/prettier.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(drawer): migrate documentation
  www/contents/components/(components)/drawer.ja.mdx
  www/contents/components/(components)/drawer.mdx
Due: prettier --write

docs: add examples for changing link variants and color schemes in documentation
  www/contents/components/(components)/link.ja.mdx
  www/contents/components/(components)/link.mdx
Due: prettier --write

perf: add execa dependency for improved process handling
  packages/cli/package.json
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/index.ts
  packages/cli/src/utils/cli.ts
  packages/cli/src/utils/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(cli): add commands for init, diff, and add functionality
  cspell.json
  package.json
  packages/cli/package.json
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/git.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

build: add formatting to generated files and utils
  packages/cli/src/commands/init/index.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/typescript.ts
  packages/react/tsconfig.json
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@77b93deda7bea27e408ccfebd6906523a0d64944 🚀
  project.json
Due: prettier --write

chore: add registry fetch utility and update dependencies
  packages/cli/package.json
  packages/cli/src/commands/init/index.ts
  packages/cli/src/utils/registry.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(kbd): migrate documentation
  www/contents/components/(components)/kbd.ja.mdx
  www/contents/components/(components)/kbd.mdx
Due: prettier --write

docs(editable): migrate documentation
  cspell.json
  pnpm-lock.yaml
  www/components/mdx/get-component.tsx
  www/contents/components/(components)/editable.ja.mdx
  www/contents/components/(components)/editable.mdx
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs(empty-state): migrate documentation
  www/contents/components/(components)/empty-state.ja.mdx
  www/contents/components/(components)/empty-state.mdx
Due: prettier --write

docs(drawer): added CloseTrigger signature
  www/contents/components/(components)/drawer.ja.mdx
  www/contents/components/(components)/drawer.mdx
Due: prettier --write

ci: add theme registry JSON files
  packages/react/src/theme/registry.json
  scripts/generate/registries/index.ts
  www/public/registry/v2/src/theme.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update icon index generation to include data and template
  packages/react/src/components/icon/registry.json
  packages/react/src/theme/registry.json
  scripts/generate/icons/index.ts
  scripts/generate/icons/template.ts
  scripts/generate/registries/index.ts
  www/public/registry/v2/components/icon.json
  www/public/registry/v2/src/theme.json
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@451347421fa35676c1b75de2f941f86254f80202 🚀
  project.json
  sb-addons/a11y-2/manager-bundle.js
  sb-addons/docs-1/manager-bundle.js
  sb-addons/storybook-3/manager-bundle.js
  sb-addons/storybook-core-server-presets-0/common-manager-bundle.js
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

docs(fade): migrate documentation
  www/contents/components/(animations)/fade.ja.mdx
  www/contents/components/(animations)/fade.mdx
Due: prettier --write

docs(fade-scale): migrate documentation
  www/contents/components/(animations)/fade-scale.ja.mdx
  www/contents/components/(animations)/fade-scale.mdx
Due: prettier --write

refactor(index): remove unnecessary comments and exports
  packages/react/src/index.ts
  packages/react/src/registry.json
  scripts/generate/registries/index.ts
  www/public/registry/v2/index.json
  www/public/registry/v2/theme.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(autocomplete): update import path and dependencies
  packages/react/src/components/autocomplete/autocomplete.style.ts
  packages/react/src/components/autocomplete/registry.json
  packages/react/src/components/select/index.ts
  www/public/registry/v2/components/autocomplete.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: align imports in file-button components
  packages/react/src/components/file-button/file-button.stories.tsx
  packages/react/src/components/file-button/file-button.tsx
  packages/react/src/components/file-button/registry.json
  packages/react/src/components/flex/flex.stories.tsx
  packages/react/src/components/for/for.stories.tsx
  packages/react/src/components/kbd/kbd.stories.tsx
  packages/react/src/hooks/use-async-callback/index.ts
  packages/react/src/hooks/use-async-callback/registry.json
  www/public/registry/v2/components/file-button.json
  www/public/registry/v2/hooks/use-async-callback.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs(field): migrate documentation
  www/contents/components/(components)/field.ja.mdx
  www/contents/components/(components)/field.mdx
Due: prettier --write

docs(editable): modified titles
  www/contents/components/(components)/editable.mdx
  www/contents/components/(components)/field.ja.mdx
  www/contents/components/(components)/field.mdx
Due: prettier --write

docs(fieldset): migrate documentation
  cspell.json
  www/contents/components/(components)/field.ja.mdx
  www/contents/components/(components)/fieldset.ja.mdx
  www/contents/components/(components)/fieldset.mdx
Due: prettier --write

refactor(registry): improve fetch and template processing functions
  packages/cli/package.json
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/registry.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(add): handle generated components and update logic
  packages/cli/src/commands/add/index.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(init): delay adding @yamada-ui/react v2 dependency
  packages/cli/src/commands/init/index.ts
  packages/cli/src/constant.ts
Due: prettier --write, eslint --max-warnings 0 --fix
