Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(notice): enhance placement handling and add exit animation values
  packages/react/src/components/notice/notice-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added new component docs and updated existing ones
  website/contents/components/box/index.ja.mdx
  website/contents/components/box/index.mdx
  website/contents/components/cli.ja.mdx
  website/contents/components/cli.mdx
  website/contents/components/create-component.ja.mdx
  website/contents/components/create-component.mdx
  website/contents/components/styled.ja.mdx
  website/contents/components/styled.mdx
  website/contents/get-started/cli.ja.mdx
  website/contents/get-started/cli.mdx
  website/contents/styling/index.ja.mdx
  website/contents/styling/index.mdx
  website/contents/theming/cli.ja.mdx
  website/contents/theming/cli.mdx
  website/data/doc-map.en.json
  website/data/doc-map.ja.json
  website/messages/en.json
  website/messages/ja.json
  website/scripts/generate/doc-map.ts
  website/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(website): added ignored-build-step.sh script
  website/ignored-build-step.sh
Due: none

build(pnpm-config): updated ignored files in workspace config
  pnpm-workspace.yaml
Due: none

feat: added metadata generation for pages
  website/app/[locale]/(apps)/icons/page.tsx
  website/app/[locale]/(apps)/themes/page.tsx
  website/app/[locale]/layout.tsx
  website/data/doc-map.en.json
  website/data/doc-map.ja.json
  website/messages/en.json
  website/messages/ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(icon): added new stories and updated docs
  packages/react/src/components/icon/icon.stories.tsx
  packages/react/src/components/icon/lucide-icon.stories.tsx
  pnpm-lock.yaml
  www/components/mdx/code-block.tsx
  www/contents/components/box.ja.mdx
  www/contents/components/box.mdx
  www/contents/components/icon.ja.mdx
  www/contents/components/icon.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

style(docs): updated header top property value
  www/app/[locale]/docs/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(react): added ClientOnly and Show components with stories
  packages/react/src/components/client-only/client-only.stories.tsx
  packages/react/src/components/client-only/client-only.tsx
  packages/react/src/components/client-only/index.ts
  packages/react/src/components/show/index.ts
  packages/react/src/components/show/show.stories.tsx
  packages/react/src/components/show/show.tsx
  packages/react/src/hooks/use-async/index.ts
  packages/react/src/hooks/use-mounted/index.test.ts
  packages/react/src/hooks/use-mounted/index.ts
  packages/react/src/index.ts
  packages/react/src/utils/context.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/eslint.config): added cspellConfig to eslint settings
  www/eslint.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components): add client/server only components with i18n support
  www/components/mdx/client-only.tsx
  www/components/mdx/code-block.tsx
  www/components/mdx/get-component.tsx
  www/components/mdx/jsx-preview.tsx
  www/components/mdx/server-only.tsx
  www/contents/hooks/use-boolean.ja.mdx
  www/contents/hooks/use-boolean.mdx
  www/messages/en.json
  www/messages/ja.json
  www/utils/rehype-plugins/rehype-pre.ts
  www/utils/remark-plugins/remark-code-block.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(www): updated clean script in package.json
  www/package.json
Due: prettier --write

chore: updated file paths and documentation structure
  www/contents/components/(components)/box.ja.mdx
  www/contents/components/(components)/box.mdx
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/icon.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/scripts/generate/doc-map.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/scripts): updated doc-map generation logic
  www/data/doc-map.ja.json
  www/data/index.ts
  www/scripts/generate/doc-map.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/scripts): updated slug generation logic
  www/scripts/generate/doc-map.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: removed unused hooks and their tests
  packages/react/src/hooks/use-animation/index.test.tsx
  packages/react/src/hooks/use-animation/index.ts
  packages/react/src/hooks/use-focus-visible/index.test.tsx
  packages/react/src/hooks/use-focus-visible/index.ts
  packages/react/src/hooks/use-pan-event/index.test.tsx
  packages/react/src/hooks/use-pan-event/index.ts
  packages/react/src/hooks/use-size/index.test.tsx
  packages/react/src/hooks/use-size/index.ts
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(react-hooks): renamed event parameter to ev across hooks
  packages/react/src/hooks/use-event-listener/index.ts
  packages/react/src/hooks/use-window-event/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(infinite-scroll-area): enhanced reset button behavior
  packages/react/src/components/infinite-scroll-area/infinite-scroll-area.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: optimized search and pagination logic
  www/app/[locale]/(apps)/icons/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(app): updated icon data handling and search logic
  www/app/[locale]/(apps)/icons/list.tsx
  www/app/[locale]/docs/[...slug]/page.tsx
  www/app/[locale]/docs/[...slug]/pagination.tsx
  www/app/[locale]/docs/header.tsx
  www/app/[locale]/docs/sidebar.tsx
  www/app/[locale]/header.tsx
  www/app/[locale]/mobile-menu.tsx
  www/app/[locale]/nav-menu.tsx
  www/app/[locale]/search.tsx
  www/data/doc-map.en.json
  www/data/index.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
  www/scripts/generate/doc-map.ts
  www/scripts/generate/icons.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): swapped React return types order
  packages/react/src/core/components/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(search): added transition properties to Item component
  www/app/[locale]/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(header): corrected MenuOptionGroup type attribute
  www/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(ignored-build-step.sh): corrected branch check logic
  www/ignored-build-step.sh
Due: none

build: updated build script conditions for www changes
  www/ignored-build-step.sh
Due: none

chore(package): add emotion dependencies, remove script file
  package.json
  pnpm-lock.yaml
  scripts/report-insights.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(constants): updated github urls to version 1
  www/constant/sns.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update documentation links and commands
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  packages/react/README.md
  packages/utils/README.md
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@6d4b08a80149c0631c396629d20aea73d8ff0837 🚀
  project.json
Due: prettier --write

fix(eslint): update plugin rules and dependencies
  .eslint/vitest.ts
  package.json
  packages/react/package.json
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/tool-case-icon.tsx
  packages/react/src/components/icon/icons/vector-square-icon.tsx
  pnpm-lock.yaml
  www/data/icons.json
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): enhance notice component with length prop with z-index
  packages/react/src/components/notice/notice-provider.tsx
  packages/react/src/components/notice/notice.style.ts
  packages/react/src/components/notice/notice.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): add default limit of 5 to useNotice hook
  packages/react/src/components/notice/notice-provider.tsx
  packages/react/src/components/notice/notice.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint): simplify plugin declaration in config
  .eslint/jsx-a11y.ts
  www/app/[locale]/(apps)/icons/list.tsx
  www/app/[locale]/mobile-menu.tsx
  www/eslint.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): update dependencies across multiple packages
  www/contents/changelog/v1.7.4.mdx
  www/contents/changelog/v1.7.5.mdx
  www/contents/changelog/v1.7.6.mdx
  www/contents/changelog/v1.7.7.mdx
Due: prettier --write

chore(config): add no-console rule for scripts folder
  www/eslint.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix
