Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(core): made `var` token optional in `StyleProps`
  .changeset/brave-dots-love.md
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  packages/components/autocomplete/DOCS.json
  packages/components/button/DOCS.json
  packages/components/calendar/DOCS.json
  packages/components/carousel/DOCS.json
  packages/components/close-button/DOCS.json
  packages/components/color-picker/DOCS.json
  packages/components/file-button/DOCS.json
  packages/components/modal/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/select/DOCS.json
  packages/components/transitions/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.2.7.mdx
  CHANGELOG.md
Due: prettier --write

test(file-input): added more tests
  packages/components/file-input/tests/file-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed a bug where range slider thumb was not being applied
  .changeset/odd-squids-tell.md
  packages/components/slider/src/range-slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(package.json): downgraded @swc/core to 1.4.1
  package.json
Due: prettier --write

refactor(area-chart): fixed theme
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/legend.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/theme/src/components/area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

docs: updated team images src for consistency
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
Due: prettier --write

ci: add discord webhook env & refactor code
  .github/workflows/observe.yml
  scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

perf(scripts): increased issues fetch per page
  scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added discord webhook env variable
  docs/.github/workflows/observe.yml
  docs/scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(utils): handled hex colors without '#'
  .changeset/tall-sheep-repeat.md
  packages/utils/src/color.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(accordion): fixed theme token usage in styles
  .changeset/spicy-tools-rule.md
  packages/components/accordion/src/accordion.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed a bug where theme tokens were used in components
  packages/components/color-picker/src/alpha-slider.tsx
  packages/components/color-picker/src/color-selector-body.tsx
  packages/components/color-picker/src/color-selector-swatches.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/hue-slider.tsx
  packages/components/color-picker/src/saturation-slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed a bug where theme tokens were used in components
  packages/components/color-picker/src/color-selector-swatches.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed a bug where theme tokens were used in components
  .changeset/spicy-tools-rule.md
Due: prettier --write

fix(resizable): fixed theme token usage in styles
  .changeset/many-brooms-complain.md
  packages/components/resizable/src/resizable-item.tsx
  packages/components/resizable/src/resizable.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix:theme token usage in styles #840
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected links in CONTRIBUTING(.ja).md
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

style(header): updated background transparency
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style: simplified button states styling
  docs/components/forms/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: removed placeholder spotlight docs
  docs/contents/components/navigation/spotlight/index.ja.mdx
  docs/contents/components/navigation/spotlight/index.mdx
Due: prettier --write

docs: updated chart components status to planned
  docs/contents/components/feedback/area-chart/index.ja.mdx
  docs/contents/components/feedback/area-chart/index.mdx
  docs/contents/components/feedback/bar-chart/index.ja.mdx
  docs/contents/components/feedback/bar-chart/index.mdx
  docs/contents/components/feedback/line-chart/index.ja.mdx
  docs/contents/components/feedback/line-chart/index.mdx
  docs/contents/components/feedback/pie-chart/index.ja.mdx
  docs/contents/components/feedback/pie-chart/index.mdx
  docs/contents/components/feedback/radar-chart/index.ja.mdx
  docs/contents/components/feedback/radar-chart/index.mdx
Due: prettier --write

fix(inputelement): fixed theme token usage in styles
  .changeset/wicked-colts-taste.md
  packages/components/input/src/input-element.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: extracted wait function to utils/async
  docs/components/mdx/editable-code-block.tsx
  docs/scripts/component-props.ts
  docs/scripts/translate-content.ts
  docs/utils/assertion.ts
  docs/utils/async.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(reorder): fixed duplicate `onCompleteChange` calls
  .changeset/fifty-impalas-press.md
  packages/components/reorder/src/reorder.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): corrected input border thickness in dark mode
  .changeset/hot-donuts-clean.md
  packages/theme/src/components/input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added "Challengers wanted" label to filter
  scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added "Challengers wanted" label to issue filter
  docs/scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "fix(color-picker): fixed a bug where theme tokens were used in components"
  .changeset/spicy-tools-rule.md
Due: prettier --write

fix(color-picker): fixed a bug where theme tokens were used in components
  .changeset/young-camels-drum.md
  packages/components/color-picker/src/color-swatch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed a bug where theme tokens were used in components
  packages/components/color-picker/src/color-swatch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "fix(color-picker): fixed a bug where theme tokens were used in components"
  packages/components/color-picker/src/color-swatch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: generate test when gen:component run
  plop/component/package/tests/{{dashCase packageName}}.test.tsx.hbs
Due: none
