Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs(bleed): migrate documentation
  www/contents/components/(components)/bleed.ja.mdx
  www/contents/components/(components)/bleed.mdx
Due: prettier --write

refactor(descendants): improve descendant focus and index handling
  packages/react/src/components/menu/menu.tsx
  packages/react/src/components/menu/use-menu.ts
  packages/react/src/hooks/use-combobox/index.ts
  packages/react/src/hooks/use-descendants/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(avatar): reduce border width to 1px and check image load
  packages/react/src/components/avatar/avatar.style.ts
  packages/react/src/components/avatar/use-avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(breadcrumb): improve ellipsis focus styles
  packages/react/src/components/breadcrumb/breadcrumb.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(bleed): adjust blockStart from md to lg in story
  packages/react/src/components/bleed/bleed.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(badge): migrate documentation
  www/contents/components/(components)/badge.ja.mdx
  www/contents/components/(components)/badge.mdx
Due: prettier --write

feat(use-popover): removed unnecessary data-disabled attribute
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(descendantManager): improve index handling and node comparison
  packages/react/src/hooks/use-descendants/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-combobox): add onSelect callback and activeDescendant tracking
  packages/react/src/hooks/use-combobox/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): add comprehensive select component implementation
  packages/react/src/client.ts
  packages/react/src/components/native-select/native-select.style.ts
  packages/react/src/components/select/index.ts
  packages/react/src/components/select/namespace.ts
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.style.ts
  packages/react/src/components/select/select.test.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
  packages/react/src/index.ts
  packages/react/src/providers/i18n-provider/intl/en-US.ts
  packages/react/src/providers/i18n-provider/intl/ja-JP.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(menu): remove unused rest props from div
  packages/react/src/components/menu/menu.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(update focus ring property): replace focusRing with focusVisibleRing
  packages/react/src/components/input/input.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(native-select): rename OptionGroup to Group for clarity
  packages/react/src/components/native-select/index.ts
  packages/react/src/components/native-select/namespace.ts
  packages/react/src/components/native-select/native-select.stories.tsx
  packages/react/src/components/native-select/native-select.test.tsx
  packages/react/src/components/native-select/native-select.tsx
  packages/react/src/components/native-select/use-native-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style: add CSS variables for error and focus border colors
  packages/react/src/components/dropzone/dropzone.style.ts
  packages/react/src/components/editable/editable.style.ts
  packages/react/src/components/input/input-addon.style.ts
  packages/react/src/components/input/input.style.ts
  packages/react/src/theme/styles/global-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(avatar): modified style
  packages/react/src/components/avatar/avatar.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(button): migrate documentation
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/button.mdx
Due: prettier --write

docs(breadcrumb): migrate documentation
  www/contents/components/(components)/breadcrumb.ja.mdx
  www/contents/components/(components)/breadcrumb.mdx
Due: prettier --write

docs(avatar): migrate documentation
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/avatar.mdx
Due: prettier --write

docs(accordion): added v2 documentation
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

fix(search): update router push to use locale option
  www/app/[locale]/lang-button.tsx
  www/app/[locale]/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(packages/react): add scroll-into-view dependency
  packages/react/package.json
  packages/react/src/components/select/namespace.ts
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.style.ts
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
  packages/react/src/hooks/use-combobox/index.ts
  packages/react/src/hooks/use-descendants/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(www): iframe support
  pnpm-lock.yaml
  www/components/mdx/code-block.tsx
  www/components/mdx/iframe.tsx
  www/package.json
  www/utils/rehype-plugins/rehype-pre.ts
  www/utils/remark-plugins/remark-code-block.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/app/[locale]/docs/[...slug]/page.tsx): set Box width to full
  www/app/[locale]/docs/[...slug]/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(circle-progress): migrate documentation
  www/contents/components/(components)/circle-progress.ja.mdx
  www/contents/components/(components)/circle-progress.mdx
Due: prettier --write

docs(carousel): migrate documentation
  cspell.json
  www/contents/components/(components)/carousel.ja.mdx
  www/contents/components/(components)/carousel.mdx
Due: prettier --write

fix(combobox): add openOnClick feature for click activation
  packages/react/src/components/popover/use-popover.tsx
  packages/react/src/components/select/namespace.ts
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
  packages/react/src/hooks/use-combobox/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): add missing translations and update imports
  cspell.json
  packages/react/src/client.ts
  packages/react/src/components/autocomplete/autocomplete.stories.tsx
  packages/react/src/components/autocomplete/autocomplete.style.ts
  packages/react/src/components/autocomplete/autocomplete.test.tsx
  packages/react/src/components/autocomplete/autocomplete.tsx
  packages/react/src/components/autocomplete/index.ts
  packages/react/src/components/autocomplete/namespace.ts
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/react/src/index.ts
  packages/react/src/providers/i18n-provider/intl/en-US.ts
  packages/react/src/providers/i18n-provider/intl/ja-JP.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(notice): migrate notice component to Sonner with API compatibility
  packages/react/package.json
  packages/react/src/components/notice/index.ts
  packages/react/src/components/notice/namespace.ts
  packages/react/src/components/notice/notice-provider.tsx
  packages/react/src/components/notice/notice.stories.tsx
  packages/react/src/components/notice/notice.style.ts
  packages/react/src/components/notice/notice.tsx
  packages/react/src/components/notice/use-notice.tsx
  packages/react/src/providers/ui-provider/ui-provider.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(code): migrate documentation
  www/contents/components/(components)/code.ja.mdx
  www/contents/components/(components)/code.mdx
Due: prettier --write

docs(card): update usage examples to use Card.Root component
  www/contents/components/(components)/card.ja.mdx
  www/contents/components/(components)/card.mdx
Due: prettier --write

refactor(index): update spinner messages and add target filtering
  scripts/generate/props/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix(select): add includePlaceholder prop handling to options
  packages/react/src/components/native-select/native-select.stories.tsx
  packages/react/src/components/native-select/native-select.test.tsx
  packages/react/src/components/native-select/props.json
  packages/react/src/components/native-select/use-native-select.tsx
  packages/react/src/components/select/namespace.ts
  packages/react/src/components/select/props.json
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): add filter and matcher functions for matching
  packages/react/src/components/autocomplete/autocomplete.tsx
  packages/react/src/components/autocomplete/props.json
  packages/react/src/components/autocomplete/use-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(packages): update typescript-eslint to ^8.39.0
  packages/workspace/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update dependencies to latest versions
  package.json
  packages/workspace/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
