Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat: add sitemap.ts for SEO optimization
  www/app/sitemap.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(card): fix card docs using wrong size
  www/contents/components/(components)/card.ja.mdx
  www/contents/components/(components)/card.mdx
Due: prettier --write

refactor(native-popover): remove unnecessary position property
  .changeset/spotty-signs-type.md
  packages/react/src/components/native-popover/native-popover.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): update next.js to 15.5.7 for CVE-2025-66478
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

chore(deps): update react to 19.2.1 for CVE-2025-55182
  package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

fix(react): add ts-nocheck to vitest.config.ts for vite version mismatch
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(ci): update test jobs
  .github/workflows/quality.yml
Due: prettier --write

ci(changesets): updated packages
  .changeset/early-webs-start.md
  .changeset/green-aliens-punch.md
  .changeset/puny-mangos-shave.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

docs(password-input): update accessibility
  www/contents/components/(components)/password-input.ja.mdx
  www/contents/components/(components)/password-input.mdx
Due: prettier --write

docs(segmented-control): update accessibility
  www/contents/components/(components)/segmented-control.ja.mdx
  www/contents/components/(components)/segmented-control.mdx
Due: prettier --write

Update www/contents/components/(components)/password-input.mdx
  www/contents/components/(components)/password-input.mdx
Due: prettier --write

docs(stat): update accessibility
  www/contents/components/(components)/stat.ja.mdx
  www/contents/components/(components)/stat.mdx
Due: prettier --write

fix(qr-code): correct namespace and index exports
  packages/react/src/components/qr-code/index.ts
  packages/react/src/components/qr-code/namespace.ts
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(qr-code): change defaults for `ecc` to `L`
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(switch): update accessibility
  www/contents/components/(components)/switch.ja.mdx
  www/contents/components/(components)/switch.mdx
Due: prettier --write

docs(tag): update accessibility
  www/contents/components/(components)/tag.ja.mdx
  www/contents/components/(components)/tag.mdx
Due: prettier --write

chore: update CODEOWNERS and spell check inclusions
  .github/CODEOWNERS
  cspell.json
Due: prettier --write

chore(.github): add CODE_OF_CONDUCT.md to owners
  .github/CODEOWNERS
Due: none

chore: add changeset check workflow for pull requests
  .github/workflows/changeset-check.yml
Due: prettier --write

chore: update Accordion component interfaces for consistency and add test property
  packages/react/src/components/accordion/accordion.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(ci): update matrix identifiers
  .github/workflows/quality.yml
Due: prettier --write

feat(ci): tiny fix
  .github/workflows/quality.yml
Due: prettier --write

chore: add changeset check workflow for pull requests
  .github/workflows/quality.yml
Due: prettier --write

chore: pr test
  packages/react/src/components/accordion/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(ci): fix job name
  .github/workflows/quality.yml
Due: prettier --write

perf(qr-code): simplify default prop arguments
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: move browser test files
  packages/react/src/components/badge/badge.test.tsx
  packages/react/src/components/badge/browser/badge.test.tsx
  packages/react/src/components/carousel/browser/carousel.test.tsx
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/components/flex/browser/flex.test.tsx
  packages/react/src/components/flex/flex.test.tsx
  packages/react/src/components/list/browser/list.test.tsx
  packages/react/src/components/list/list.test.tsx
  packages/react/src/components/stack/browser/z-stack.test.tsx
  packages/react/src/components/stack/z-stack.test.tsx
  packages/react/src/hooks/use-os/browser/use-os.test.tsx
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: update vitest config
  packages/react/vitest.config.ts
  packages/workspace/src/vitest/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(menu): correct selectable items docs example
  www/contents/components/(components)/menu.ja.mdx
  www/contents/components/(components)/menu.mdx
Due: prettier --write

fix(codeowners): fix `CODEOWNERS` file
  .github/CODEOWNERS
Due: none

chore: update react and next dependencies
  package.json
  packages/react/package.json
  packages/utils/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

docs(icon): update accessibility
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/icon.mdx
Due: prettier --write

docs(pagination): update accessibility
  www/contents/components/(components)/pagination.ja.mdx
  www/contents/components/(components)/pagination.mdx
Due: prettier --write

docs(avatar): update accessibility
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/avatar.mdx
Due: prettier --write

feat(dependabot): introduce `cooldown`
  depandabot.yaml
Due: none
