Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix: remove unnecessary aria-readonly on native select
  packages/components/native-select/src/native-select.tsx
  packages/components/native-select/tests/native-select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/real-needles-applaud.md
Due: prettier --write

ci: updated tokens for workflow actions
  docs/.github/workflows/release.yml
Due: prettier --write

ci: added GITHUB_TOKEN to workflow envs
  .github/workflows/observe.yml
Due: prettier --write

refactor(scripts): reduced required reviewers to one
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated issue and PR templates
  docs/.github/ISSUE_TEMPLATE/bug_report.ja.yml
  docs/.github/ISSUE_TEMPLATE/bug_report.yml
  docs/.github/ISSUE_TEMPLATE/documentation_request.ja.yml
  docs/.github/ISSUE_TEMPLATE/documentation_request.yml
  docs/.github/pull_request_template.md
Due: prettier --write

chore(github): update issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.ja.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: prettier --write

chore: updated team member roles
  docs/constant/contributors.ts
  docs/constant/core-members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected explanation of theme application
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
Due: prettier --write

style(forms): changed search max width to lg
  docs/components/forms/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(observe workflow): added scheduled observe tasks
  docs/.github/workflows/observe.yml
  docs/package.json
  docs/scripts/observe-issues.ts
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(notice): fix limit 1 on useNotice does not work
  .changeset/swift-rice-develop.md
  packages/components/notice/src/notice.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed as per review
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
Due: prettier --write

refactor: switched to listEvents for issue tracking
  scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(notice): add limit value test
  packages/components/notice/tests/notice.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated theming documentation structure
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
Due: prettier --write

docs: updated colorMode links in documentation
  docs/contents/styled-system/color-mode.ja.mdx
  docs/contents/styled-system/color-mode.mdx
Due: prettier --write

feat: 日本語でnpmの検証(他はまだ)までは終わって、ドキュメントを執筆した
  docs/contents/getting-started/frameworks/gatsby.ja.mdx
Due: prettier --write

test(color-picker): simplified and removed tests
  packages/components/color-picker/tests/colorPicker.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added vite scripts to package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(stories): corrected fallbackValue in color-picker
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): changed default color to `#ffffff`
  .changeset/breezy-impalas-retire.md
  packages/components/color-picker/src/use-color-selector.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed initial color selection bug
  .changeset/weak-dryers-think.md
  packages/components/color-picker/src/use-color-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components/forms): updated color-picker placeholder
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added `sameColor` function
  .changeset/poor-queens-travel.md
  packages/utils/src/color.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): corrected initial color selection bug
  .changeset/weak-dryers-think.md
Due: prettier --write

feat: 日本語のドキュメントを作成
  docs/contents/getting-started/frameworks/gatsby.ja.mdx
Due: prettier --write

refactor(components): removed console.log from ColorPicker story
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style: remove extra line in color selector
  packages/components/color-picker/src/use-color-selector.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: 読み込む方法を修正
  docs/contents/getting-started/frameworks/gatsby.ja.mdx
Due: prettier --write

feat: 英語のドキュメント追加
  docs/contents/getting-started/frameworks/gatsby.mdx
Due: prettier --write

test: add test for popover
  packages/components/popover/tests/popover.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated cron schedule to hourly
  .github/workflows/observe.yml
Due: prettier --write

test: add test in motion
  packages/components/motion/tests/motion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

build: updated dependencies
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write
