Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs: updated Japanese accessibility documentation
  docs/contents/components/disclosure/tabs/accessibility.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.mdx
Due: prettier --write

ci(update-docs): updated fetch and title settings
  .github/composite-actions/update-docs/action.yml
Due: prettier --write

ci: updated GitHub token in workflow files
  .github/workflows/insight.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/reviewer-pull-request.yml
Due: prettier --write

feat(theme): added `Fieldset` component, updated styles
  .changeset/fair-days-begin.md
  packages/theme/src/components/fieldset.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/index.ts
  packages/theme/src/styles/reset-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(test): added `filterVisuallyHidden` function
  .changeset/calm-tomatoes-fly.md
  packages/test/src/accessibility.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(form-control): added `Fieldset` component and dependencies
  .changeset/little-wasps-wave.md
  docs/contents/components/forms/form-control/index.ja.mdx
  docs/contents/components/forms/form-control/index.mdx
  packages/components/form-control/package.json
  packages/components/form-control/src/fieldset.tsx
  packages/components/form-control/src/form-control.tsx
  packages/components/form-control/src/index.ts
  packages/components/form-control/tests/fieldset.test.tsx
  packages/components/form-control/tests/form-control.test.tsx
  pnpm-lock.yaml
  stories/components/forms/fieldset.stories.tsx
  stories/components/forms/form-control.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(radio): enhanced accessibility for radio components
  .changeset/angry-elephants-carry.md
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(checkbox): added container props and aria support
  .changeset/strange-goats-shake.md
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(form-control): updated dependencies and imports
  packages/components/form-control/package.json
  packages/components/form-control/tests/fieldset.test.tsx
  packages/components/form-control/tests/form-control.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

test(modal): updated visibility check to async-await
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: Translated "Setup the Project - 5" from Japanese to English.
  docs/contents/community/contributing.mdx
Due: prettier --write

feat(core): added native CSS pseudo-class selectors
  .changeset/metal-ghosts-roll.md
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(accordion): enhanced component structure and a11y
  .changeset/silly-cooks-greet.md
  .changeset/tricky-dolphins-fry.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
  packages/components/accordion/src/accordion.tsx
  packages/theme/src/components/accordion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(transitions): fixed height calculation in Collapse animation
  .changeset/lucky-lizards-grab.md
  packages/components/transitions/src/collapse.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated paths in .eslintignore file
  .eslintignore
Due: none

test(accordion): updated attribute checks to aria-expanded
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test for notice
  packages/components/notice/tests/notice.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed text
  docs/contents/components/disclosure/accordion/accessibility.ja.mdx
  docs/contents/components/disclosure/accordion/accessibility.mdx
Due: prettier --write

feat: add `colorSheme` property into `step-separator`
  packages/components/stepper/src/step-separator.tsx
  stories/components/navigation/stepper.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(modal): updated test to use async waitFor function
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(accordion): updated test to use findAllByRole
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed japanese text
  docs/contents/components/disclosure/accordion/accessibility.ja.mdx
Due: prettier --write

fix: fixed text
  docs/contents/components/forms/radio/accessibility.ja.mdx
  docs/contents/components/forms/radio/accessibility.mdx
Due: prettier --write

docs: updated Japanese accordion accessibility docs
  docs/contents/components/disclosure/accordion/accessibility.ja.mdx
  docs/contents/components/disclosure/accordion/accessibility.mdx
Due: prettier --write

chore: add CODEOWNERS file for yamada-ui team
  .github/CODEOWNERS
Due: none

docs: add test.md with initial content
  test.md
Due: prettier --write

chore: updated CODEOWNERS to global coverage
  .github/CODEOWNERS
Due: none

ci(update workflows): enhanced pull request triggers and scripts
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/reviewer-pull-request.yml
  package.json
  scripts/notification-reviewer.ts
  scripts/reviewer-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(reviewer-pull-request.yml): updated notification args
  .github/workflows/reviewer-pull-request.yml
  scripts/notification-reviewer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(notification-reviewer): added recursiveOctokit integration
  scripts/notification-reviewer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Add: test commit
  README.md
Due: prettier --write

fix: fix style
  docs/contents/components/feedback/alert/accessibility.ja.mdx
  docs/contents/components/feedback/alert/accessibility.mdx
Due: prettier --write

chore: updated CODEOWNERS to include new team
  .github/CODEOWNERS
Due: none

docs: add hoge.md documentation file
  hoge.md
Due: prettier --write

chore(.github): updated CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore(codeowners): update codeowners
  .github/CODEOWNERS
Due: none

chore(codeowners): update codeowners for hoge
  .github/CODEOWNERS_hoge
Due: none

chore(.github): updated code owners list
  .github/CODEOWNERS
Due: none

docs: change title
  docs/contents/components/media-and-icons/avatar/accessibility.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
