Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs: added order to framework docs
  docs/contents/getting-started/frameworks/create-react-app.ja.mdx
  docs/contents/getting-started/frameworks/create-react-app.mdx
  docs/contents/getting-started/frameworks/gatsby.ja.mdx
  docs/contents/getting-started/frameworks/gatsby.mdx
  docs/contents/getting-started/frameworks/nextjs/index.ja.mdx
  docs/contents/getting-started/frameworks/nextjs/index.mdx
  docs/contents/getting-started/frameworks/remix.ja.mdx
  docs/contents/getting-started/frameworks/remix.mdx
  docs/contents/getting-started/frameworks/vite.ja.mdx
  docs/contents/getting-started/frameworks/vite.mdx
Due: prettier --write

docs: updated gatsby docs with TypeScript usage
  docs/contents/getting-started/frameworks/gatsby.ja.mdx
  docs/contents/getting-started/frameworks/gatsby.mdx
Due: prettier --write

ci(docs): updated docs
  packages/components/color-picker/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.2.5.mdx
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@0fd4e825c108ffabef61d8e37f1ef4971e5ecea6 🚀
  project.json
Due: prettier --write

feat(area-chart): added area-chart custom story
  packages/components/charts/src/area-chart.tsx
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): adjusted reviewer count logic
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): adjusted reviewer count logic
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected not to set fontSize of excessive numbers in AvatarGroup to theme sizes
  .changeset/tasty-avocados-bake.md
  packages/theme/src/components/avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): fix type import
  packages/components/charts/src/area-chart.tsx
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(reorder): add tests
  packages/components/reorder/tests/reorder.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

build: updated dependencies to latest versions
  examples/vite/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update color-picker.tsx
  packages/components/color-picker/src/color-picker.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated ignore list and vite package name
  .changeset/config.json
  examples/vite/package.json
Due: prettier --write

fix(color-picker): fixed bug with `matchWidth` prop
  .changeset/bright-snails-rescue.md
  packages/components/color-picker/src/use-color-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(area-chart): implementation of features of areachart
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(area-chart): get color with useToken
  packages/components/charts/src/area-chart.tsx
  packages/theme/src/components/area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(drawer): fixed bug with `isFullHeight` prop
  .changeset/sour-pianos-fly.md
  packages/components/modal/src/drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test in motion
  packages/components/motion/tests/motion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): separation of logic and modules
  packages/components/charts/package.json
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/area-gradient.tsx
  packages/components/charts/src/area-split.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/theme/src/components/area-chart.ts
  pnpm-lock.yaml
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(deps): update version of `react-resizable-panels`
  packages/components/resizable/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/beige-rings-perform.md
Due: prettier --write

refactor(area-chart): implementation of PropGetter within use-area-chart.ts
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/area-gradient.tsx
  packages/components/charts/src/use-area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(Resizable): add helper method
  packages/components/resizable/tests/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(Resizable): add tests
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(textarea): fixed SSR support for autosize
  .changeset/happy-owls-smoke.md
  packages/components/textarea/src/textarea.tsx
  packages/components/textarea/src/use-autosize.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/button): replaced `useMergeRefs` with `mergeRefs`
  .changeset/beige-pots-battle.md
  packages/components/button/src/button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added disableStyleProp handling
  .changeset/long-snakes-do.md
  packages/core/src/components/component.types.ts
  packages/core/src/components/should-forward-prop.ts
  packages/core/src/css/css.ts
  packages/core/src/styled.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(resizable): fixed layout bug with ResizableItem order
  .changeset/stale-bears-report.md
  packages/components/resizable/src/resizable-item.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: moved assignee addition logic
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added assignees to non-draft PRs
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated warning notes in resizable docs
  docs/contents/components/data-display/resizable/index.ja.mdx
  docs/contents/components/data-display/resizable/index.mdx
Due: prettier --write

refactor: corrected component reference in ui util
  docs/contents/styled-system/ui.ja.mdx
  docs/contents/styled-system/ui.mdx
Due: prettier --write

docs: updated `ui` component documentation
  docs/contents/styled-system/ui.ja.mdx
  docs/contents/styled-system/ui.mdx
Due: prettier --write

refactor: removed unused pathname from router
  docs/contexts/i18n-context.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(textarea): renamed libRef to ref in useAutosize
  packages/components/textarea/src/use-autosize.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(scroll-area): add test for `ScrollArea`
  packages/components/scroll-area/tests/content.tsx
  packages/components/scroll-area/tests/scroll-area.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
