Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix(number-input): support mouse wheel in shadow DOM
  .changeset/quiet-otters-whistle.md
  packages/react/src/components/number-input/number-input.test.browser.tsx
  packages/react/src/components/number-input/use-number-input.ts
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(editable): support shadow DOM focus cleanup
  .changeset/witty-dragons-dream.md
  packages/react/src/components/editable/editable.test.browser.tsx
  packages/react/src/components/editable/use-editable.ts
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(focus): support shadow DOM management
  .changeset/wild-dragons-relax.md
  packages/react/src/hooks/use-focus/index.test.browser.tsx
  packages/react/src/hooks/use-focus/index.test.webkit.tsx
  packages/react/src/hooks/use-focus/index.ts
  packages/utils/src/dom.test.browser.ts
  packages/utils/src/dom.ts
  packages/utils/src/event.test.browser.ts
  packages/utils/src/event.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(dom): resolve related targets in shadow DOM
  .changeset/silver-owls-glide.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/utils/dom.test.browser.ts
  packages/react/src/utils/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(utils): include container keys in Path (#7784)
  .changeset/fix-path-container-keys.md
  packages/utils/src/index.test.ts
  packages/utils/src/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(dom): preserve related target fallback
  packages/react/src/utils/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(number-input): support mouse wheel in shadow DOM (#7787)
  .changeset/quiet-otters-whistle.md
  packages/react/src/components/number-input/number-input.test.browser.tsx
  packages/react/src/components/number-input/use-number-input.ts
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/number-input.json
Due: prettier --write

fix(dom): preserve related target context
  packages/react/src/utils/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tooltip): add positioner props
  .changeset/bright-frogs-listen.md
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tooltip): add positioner props (#7789)
  .changeset/bright-frogs-listen.md
  packages/react/src/components/tooltip/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(dom): resolve related targets in shadow DOM (#7785)
  .changeset/silver-owls-glide.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/utils/dom.test.browser.ts
  packages/react/src/utils/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(focus): support shadow DOM management (#7786)
  .changeset/wild-dragons-relax.md
  packages/react/src/hooks/use-focus/index.test.browser.tsx
  packages/react/src/hooks/use-focus/index.test.webkit.tsx
  packages/react/src/hooks/use-focus/index.ts
  packages/utils/src/dom.test.browser.ts
  packages/utils/src/dom.ts
  packages/utils/src/event.test.browser.ts
  packages/utils/src/event.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(editable): support shadow DOM focus cleanup (#7788)
  .changeset/witty-dragons-dream.md
  packages/react/src/components/editable/editable.test.browser.tsx
  packages/react/src/components/editable/use-editable.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): support slot props
  .changeset/orange-modals-props.md
  packages/react/src/components/modal/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/editable.json
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/components/tooltip.json
  www/public/registry/dev/v2/hooks/use-focus.json
Due: prettier --write

feat(popover): add shorthand props
  .changeset/clever-wolves-whisper.md
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): support slot props (#7790)
  .changeset/orange-modals-props.md
  packages/react/src/components/modal/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/modal.json
Due: prettier --write

feat(popover): add shorthand props (#7791)
  .changeset/clever-wolves-whisper.md
  packages/react/src/components/popover/popover.stories.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/popover.json
Due: prettier --write

fix(portal): preserve focus lock scope
  .changeset/tough-stingrays-dance.md
  packages/react/src/components/focus-lock/focus-lock.tsx
  packages/react/src/components/focus-lock/index.ts
  packages/react/src/components/portal/portal.test.browser.tsx
  packages/react/src/components/portal/portal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(portal): preserve focus lock scope (#7792)
  .changeset/tough-stingrays-dance.md
  packages/react/src/components/focus-lock/focus-lock.tsx
  packages/react/src/components/focus-lock/index.ts
  packages/react/src/components/portal/portal.test.browser.tsx
  packages/react/src/components/portal/portal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/button.json
  www/public/registry/dev/v2/components/focus-lock.json
  www/public/registry/dev/v2/components/modal.json
  www/public/registry/dev/v2/components/portal.json
Due: prettier --write

fix(popover): update @yamada-ui/react version to patch and add shorthand content and slot props
  .changeset/clever-wolves-whisper.md
Due: prettier --write

ci(changesets): updated packages
  .changeset/bright-frogs-listen.md
  .changeset/clever-wolves-whisper.md
  .changeset/fix-path-container-keys.md
  .changeset/fix-popover-shadow-dom.md
  .changeset/four-lions-dance.md
  .changeset/orange-modals-props.md
  .changeset/quiet-otters-whistle.md
  .changeset/silver-owls-glide.md
  .changeset/tough-stingrays-dance.md
  .changeset/wild-dragons-relax.md
  .changeset/witty-dragons-dream.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update registries
  www/public/registry/v2/components/button.json
  www/public/registry/v2/components/editable.json
  www/public/registry/v2/components/focus-lock.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/number-input.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/portal.json
  www/public/registry/v2/components/tooltip.json
  www/public/registry/v2/hooks/use-focus.json
  www/public/registry/v2/hooks/use-outside-click.json
Due: prettier --write

ci(changesets): update props
  www/data/props/menu.json
  www/data/props/modal.json
  www/data/props/popover.json
  www/data/props/tip.json
  www/data/props/tooltip.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-1-11.ja.mdx
  www/contents/changelog/cli/2-1-11.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/react/2-2-6.ja.mdx
  www/contents/changelog/react/2-2-6.mdx
  www/contents/changelog/utils/2-1-6.ja.mdx
  www/contents/changelog/utils/2-1-6.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
  www/data/relations.json
Due: prettier --write

ci(changesets): update next registries
  www/public/registry/next/v2/components/button.json
  www/public/registry/next/v2/components/editable.json
  www/public/registry/next/v2/components/focus-lock.json
  www/public/registry/next/v2/components/modal.json
  www/public/registry/next/v2/components/number-input.json
  www/public/registry/next/v2/components/popover.json
  www/public/registry/next/v2/components/portal.json
  www/public/registry/next/v2/components/tooltip.json
  www/public/registry/next/v2/hooks/use-focus.json
  www/public/registry/next/v2/hooks/use-outside-click.json
Due: prettier --write

fix(deps): synchronize oxlint lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7794.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-react-dependencies-7795.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7797.md
  .changeset/dependabot-react-dependencies-7797.md
  .changeset/dependabot-styles-7797.md
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/layout-freeform-icon.tsx
  packages/react/src/components/icon/icons/mic-audio-lines-icon.tsx
  packages/react/src/components/icon/icons/mic-signal-icon.tsx
  packages/react/src/components/icon/icons/mosque-icon.tsx
  packages/react/src/components/icon/icons/rotate-ccw-clock-icon.tsx
  packages/react/src/components/icon/icons/rotate-cw-fading-clock-icon.tsx
  packages/react/src/components/icon/icons/scan-square-icon.tsx
  packages/react/src/components/icon/icons/shield-keyhole-icon.tsx
  packages/react/src/components/icon/icons/square-off-icon.tsx
  packages/react/src/components/icon/icons/user-shield-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
