Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix: remove aria-readonly from rest
  packages/components/pin-input/src/pin-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: update eslint configurations and exclusions
  .eslintrc
  .eslintrc.base.json
  .eslintrc.json
  .prettierignore
  .prettierrc.json
  docs/.eslintignore
  docs/.eslintrc
  docs/.eslintrc.json
  docs/.prettierignore
  docs/.prettierrc.json
  docs/package.json
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style(docs): updated ESLint extends configuration
  docs/.eslintrc.json
Due: prettier --write

chore(package.json): updated lint script options
  package.json
Due: prettier --write

chore(docs): updated eslint rules and npm scripts
  docs/.eslintrc.json
  docs/package.json
Due: prettier --write

chore(tsconfig): excluded docs from tsconfig
  tsconfig.json
Due: prettier --write

ci(quality.yml): updated paths to trigger workflow
  .github/workflows/quality.yml
Due: prettier --write

ci: remove docs sync workflow step
  .github/workflows/release.yml
Due: prettier --write

refactor(core): made `base` in `ResponsiveObject` optional
  .changeset/wicked-spoons-talk.md
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/css.types.ts
  packages/core/src/factory.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(github): updated issue templates descriptions and added new ones
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation_report.ja.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.ja.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

docs: updated documentation links and tools
  .github/sync.yml
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  README.ja.md
  README.md
  docs/constant/sns.ts
  packages/react/README.md
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint-config): simplified parserOptions and overrides
  .eslintrc.base.json
  .eslintrc.json
Due: prettier --write

chore: updated clean scripts to remove node_modules
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: added examples to eslintignore
  .eslintignore
Due: none

feat: added docs:lint script to package.json
  package.json
Due: prettier --write

docs: updated repository links and commands
  docs/contents/community/contributing.ja.mdx
  docs/contents/community/contributing.mdx
Due: prettier --write

fix: typo
  packages/hooks/use-media-query/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: add default value test pattern
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected typo in Next.js link
  CONTRIBUTING.ja.md
Due: prettier --write

feat(constants): added path constants and utilities
  docs/constant/index.ts
  docs/constant/path.ts
  docs/utils/path.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(docs): removed unused devDependencies from docs/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(docs): updated configuration path handling in scripts
  docs/libs/openai.ts
  docs/scripts/changelog.ts
  docs/scripts/component-props.ts
  docs/scripts/contributors.ts
  docs/scripts/search-content.ts
  docs/scripts/style-props.ts
  docs/scripts/theme-component.ts
  docs/scripts/translate-content.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(.github): updated punctuation in issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation_report.ja.yml
  .github/ISSUE_TEMPLATE/documentation_report.yml
  .github/ISSUE_TEMPLATE/documentation_request.ja.yml
  .github/ISSUE_TEMPLATE/documentation_request.yml
  .github/ISSUE_TEMPLATE/feature_request.ja.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: prettier --write

ci(release.yml): updated conditional workflow steps
  .github/workflows/release.yml
Due: prettier --write

docs: updated contributing documentation sections
  docs/contents/community/contributing.ja.mdx
  docs/contents/community/contributing.mdx
Due: prettier --write

refactor(docs): updated optional type annotations and defaults
  docs/@types/contentlayer.d.ts
  docs/components/navigation/link-card.tsx
  docs/components/navigation/tree.tsx
  docs/contexts/page-context.tsx
  docs/utils/contentlayer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added ts-ignore to breadcrumb mapping
  docs/components/navigation/breadcrumb.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): removed unnecessary ts-ignore comment
  docs/components/navigation/breadcrumb.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): added eslint and typescript ignore configs
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): update css handling and optimize transforms
  .changeset/new-beers-arrive.md
  packages/core/src/config.ts
  packages/core/src/css/css.ts
  packages/core/src/css/var.ts
  packages/core/src/index.ts
  packages/core/tests/config.test.ts
  packages/hooks/use-animation/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update constant path references
  docs/scripts/changelog.ts
  docs/scripts/component-props.ts
  docs/scripts/contributors.ts
  docs/scripts/style-props.ts
  docs/scripts/theme-component.ts
  docs/utils/path.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): remove eslint and typescript ignores
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

build(docs): added find-packages dependency
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(docs): centralized version management in context
  docs/components/layouts/header.tsx
  docs/contexts/page-context.tsx
  docs/pages/404.page.tsx
  docs/pages/examples/[slug].page.tsx
  docs/pages/index.page.tsx
  docs/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: refactor workflows to use new check-modified action
  .github/composite-actions/check-modified-files/action.yml
  .github/workflows/quality.yml
Due: prettier --write

ci: simplified file modification check logic
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: updated git diff base reference in action.yml
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write
