Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore: fix `orientation` in storybook
  stories/components/data-display/card.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: fix
  packages/components/card/src/card.tsx
  packages/components/card/tests/card.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add change set
  .changeset/calm-mugs-stare.md
Due: prettier --write

feat: remove is prefix in props
  .changeset/gentle-planets-accept.md
  packages/components/accordion/src/accordion-context.tsx
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
  packages/components/accordion/src/accordion-panel.tsx
  packages/components/accordion/src/accordion.tsx
  stories/components/disclosure/accordion.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/tasty-phones-lick.md
  packages/components/pagination/src/pagination-item.tsx
  packages/components/pagination/src/pagination.tsx
  packages/components/pagination/src/use-pagination.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: rename direction to orientation
  .changeset/gentle-books-compete.md
  packages/components/button/src/button-group.tsx
  stories/components/forms/button.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: rename direction to orientation
  .changeset/plenty-years-pull.md
  packages/components/toggle/src/toggle-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(github api): added "triage" label to issue filters
  docs/pages/api/github/observe/update-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: remove sync-branch workflow automation
  .github/workflows/sync-branch.yml
Due: prettier --write

fix: fix default props
  packages/components/autocomplete/src/multi-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: replace `ChevronIcon` in `Carousel` with `@yamada-ui/lucide`
  .changeset/hip-ladybugs-approve.md
  packages/components/carousel/src/carousel-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove `pagination-icon.tsx` and use `@yamada-ui/lucide` icon
  .changeset/few-pants-travel.md
  packages/components/pagination/src/pagination-icon.tsx
  packages/components/pagination/src/pagination-item.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update and deprecate icon components
  .changeset/sweet-chicken-begin.md
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(alert): updated icons and dependency versions
  .changeset/proud-doors-shake.md
  package.json
  packages/components/alert/package.json
  packages/components/alert/src/alert.tsx
  packages/components/alert/tests/alert.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix: Replace `SelectIcon` with `LucideIcon`
  packages/components/select/src/select-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add changeset
  .changeset/unlucky-waves-jam.md
Due: prettier --write

fix: replace `autocompleteicon` with `LucideIcon`
  packages/components/autocomplete/src/autocomplete-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/yellow-poets-mate.md
Due: prettier --write

feat(link): remove is prefix in props
  .changeset/stale-singers-joke.md
  packages/components/link/src/link-box.tsx
  packages/components/link/src/link.tsx
  packages/components/link/tests/link.test.tsx
  stories/components/data-display/table.stories.tsx
  stories/components/navigation/link-box.stories.tsx
  stories/components/navigation/link.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: improve focus handling in PinInput component
  packages/components/pin-input/src/pin-input.tsx
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(fix): insert `@yamada-ui/lucide` and remove `@yamada-ui/icon`
  packages/components/carousel/package.json
Due: prettier --write

build: updated `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

fix: remove `yamada-ui/icon` and add `yamada-ui/lucide`
  packages/components/autocomplete/package.json
Due: prettier --write

fix: remove `yamada-ui/icon` and add `yamada-ui/lucide`
  packages/components/select/package.json
Due: prettier --write

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/heavy-mugs-report.md
Due: prettier --write

feat: remove is prefix in variables
  .changeset/fair-sloths-film.md
  packages/components/form-control/src/form-control.tsx
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
  packages/components/radio/tests/radio-group.test.tsx
  packages/components/radio/tests/radio.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set aria-label of IconButton and fix associated components
  docs/components/forms/search.tsx
  docs/components/layouts/header.tsx
  docs/pages/examples/cards/bookmark-card.tsx
  docs/pages/examples/mail/detail.tsx
  docs/pages/examples/mail/sidebar.tsx
  docs/pages/examples/music/sidebar.tsx
  docs/pages/examples/playground/footer/index.tsx
  docs/pages/examples/playground/header/share-button.tsx
  docs/pages/insights/total-chart.tsx
  examples/create-react-app/src/components/layouts/header.tsx
  examples/hono/src/components/layouts/header.tsx
  examples/next/app/components/layouts/header.tsx
  examples/next/pages/components/layouts/header.tsx
  examples/remix/app/components/layouts/header.tsx
  examples/vite/src/components/layouts/header.tsx
  packages/components/calendar/src/calendar-header.tsx
  packages/components/calendar/src/use-calendar-header.tsx
  packages/components/carousel/src/carousel-control.tsx
  packages/components/carousel/src/use-carousel.ts
  packages/components/color-picker/src/color-selector-eye-dropper.tsx
  packages/components/color-picker/src/use-color-selector.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: fix typo
  stories/components/forms/editable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components): add `EmptyState` component and docs
  .changeset/honest-dingos-watch.md
  packages/components/empty-state/DOCS.json
  packages/components/empty-state/README.md
  packages/components/empty-state/package.json
  packages/components/empty-state/src/empty-state.tsx
  packages/components/empty-state/src/index.ts
  packages/components/empty-state/tests/empty-state.test.tsx
  packages/components/empty-state/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/empty-state.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/other/empty-state.stories.tsx
  stories/components/other/for.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(components): replaced Text with p in For tests
  packages/components/for/tests/for.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(image): include `boxSize` in `rest`
  examples/next/app/app/color/page.tsx
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): standardize color to 'muted' across components
  .changeset/fair-waves-train.md
  docs/components/forms/search.tsx
  docs/components/navigation/related-links.tsx
  docs/pages/icons/list.tsx
  packages/theme/src/components/blockquote.ts
  packages/theme/src/components/calendar.ts
  packages/theme/src/components/color-selector.ts
  packages/theme/src/components/dropzone.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/markdown.ts
  packages/theme/src/components/menu.ts
  packages/theme/src/components/native-table.ts
  packages/theme/src/components/radar-chart.ts
  packages/theme/src/components/stat.ts
  packages/theme/src/components/stepper.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update dependencies and add new icons
  .changeset/lucky-bananas-mix.md
  .changeset/young-moons-stare.md
  docs/package.json
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/next/app/package.json
  examples/next/pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  package.json
  packages/components/carousel/package.json
  packages/components/fontawesome/package.json
  packages/components/lucide/package.json
  packages/components/lucide/src/icons/cloud-alert.tsx
  packages/components/lucide/src/icons/equal-approximately.tsx
  packages/components/lucide/src/icons/index.ts
  packages/components/lucide/src/icons/index.types.ts
  packages/components/lucide/src/icons/laptop-minimal-check.tsx
  packages/components/lucide/src/icons/toilet.tsx
  packages/components/resizable/package.json
  packages/next/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(avatar-icon): remove `step-icon` in `step-status` and use `@yamada-ui/lucide` icon
  .changeset/kind-months-compare.md
  packages/components/stepper/package.json
  packages/components/stepper/src/index.ts
  packages/components/stepper/src/step-status.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: fixed order of imports in `step-status`
  packages/components/stepper/src/step-status.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
