Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix: update component rendering logic to simplify structure
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/checkbox/registry.json
  packages/react/src/components/radio/radio.stories.tsx
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/radio/registry.json
  www/public/registry/v2/components/checkbox.json
  www/public/registry/v2/components/radio.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update Toaster props for accessibility and hotkey
  packages/react/src/components/notice/notice.tsx
  packages/react/src/components/notice/registry.json
  www/public/registry/v2/components/notice.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(remove): eliminate repeated table footers from stories
  packages/react/src/components/native-table/native-table.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: supplement the missing headings and their content between languages
  www/contents/community/contributing.ja.mdx
  www/contents/components/(components)/avatar.mdx
  www/contents/hooks/use-timeout.ja.mdx
  www/contents/hooks/use-timeout.mdx
Due: prettier --write

fix(docs): correct heading levels and variable names
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

chore: add branch ignore logic to build script
  www/ignored-build-step.sh
Due: none

chore: add debug info for Vercel environment variables
  www/ignored-build-step.sh
Due: none

ci(docs): update ignored build step script
  www/ignored-build-step.sh
Due: none

ci(ignored build step): add URL check to cancel build
  www/ignored-build-step.sh
Due: none

ci(ignored-build): add skip logic for specific URL
  www/ignored-build-step.sh
Due: none

fix(ignore-build): correct URL check condition
  www/ignored-build-step.sh
Due: none

refactor(line-chart): updated component structure
  packages/react/package.json
  packages/react/src/components/chart/grid.style.ts
  packages/react/src/components/chart/grid.tsx
  packages/react/src/components/chart/index.ts
  packages/react/src/components/chart/legend.style.ts
  packages/react/src/components/chart/legend.tsx
  packages/react/src/components/chart/line-chart.namespace.ts
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/line-chart.style.ts
  packages/react/src/components/chart/line-chart.tsx
  packages/react/src/components/chart/tooltip.style.ts
  packages/react/src/components/chart/tooltip.tsx
  packages/react/src/components/chart/x-axis.style.ts
  packages/react/src/components/chart/x-axis.tsx
  packages/react/src/components/chart/y-axis.style.ts
  packages/react/src/components/chart/y-axis.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(line-chart): add feature of custom component
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/line-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(lefthook): added `post-checkout` hook
  lefthook.yaml
Due: none

feat(charts): style system implementatioin of chart grid
  packages/react/src/components/chart/grid.tsx
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/recharts-properties.ts
  packages/react/src/components/chart/use-grid.ts
  packages/react/src/components/chart/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(line-chart): added `DisableAnimation` storybook
  packages/react/src/components/chart/line-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update eslint directories in docs
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

feat(line-chart): added `Grid` provider
  packages/react/src/components/chart/grid.tsx
  packages/react/src/components/chart/line-chart.stories.tsx
  packages/react/src/components/chart/line-chart.tsx
  packages/react/src/components/chart/use-grid.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(lefthook): added `frozen-lockfile` option
  lefthook.yaml
Due: none

fix: adapt the Link for i18n
  packages/workspace/src/eslint/base.ts
  packages/workspace/src/eslint/react.ts
  www/app/[locale]/(apps)/examples/music/header.tsx
  www/app/[locale]/search.tsx
  www/components/mdx/card.tsx
  www/components/mdx/component-list.tsx
  www/components/mdx/contributors.tsx
  www/components/mdx/hook-list.tsx
  www/components/mdx/sponsors.tsx
  www/components/next-link.tsx
  www/eslint.config.ts
  www/i18n/navigation.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/spotty-spies-visit.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

fix: add SourceCodeLink component to pages
  cspell.json
  www/app/[locale]/(apps)/example-menu.tsx
  www/app/[locale]/(apps)/examples/authentication/page.tsx
  www/app/[locale]/(apps)/examples/forms/page.tsx
  www/app/[locale]/(apps)/examples/layout.tsx
  www/app/[locale]/(apps)/examples/mail/page.tsx
  www/app/[locale]/(apps)/examples/music/page.tsx
  www/app/[locale]/(apps)/examples/page.tsx
  www/app/[locale]/(apps)/examples/playground/page.tsx
  www/app/[locale]/(apps)/examples/source-code-link.tsx
  www/app/[locale]/(apps)/icons/page.tsx
  www/app/[locale]/(apps)/themes/page.tsx
  www/app/[locale]/header.tsx
  www/messages/en.json
  www/messages/ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: unify heading slugs across languages
  pnpm-lock.yaml
  www/package.json
  www/utils/rehype-plugins/index.ts
  www/utils/rehype-plugins/rehype-slug-sync.ts
  www/utils/slug-sync.ts
  www/utils/transform-unified-toc.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(ignored-build-step): update URL check logic
  www/ignored-build-step.sh
Due: none

chore(lefthook): add file tracking for pnpm install on `post-merge` and `post-checkout`
  lefthook.yaml
Due: none

feat(line-chart): update namespace
  packages/react/src/components/chart/legend.tsx
  packages/react/src/components/chart/line-chart.namespace.ts
  packages/react/src/components/chart/tooltip.tsx
  packages/react/src/components/chart/x-axis.tsx
  packages/react/src/components/chart/y-axis.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(charts): removed styled property from `useGrid`
  packages/react/src/components/chart/grid.tsx
  packages/react/src/components/chart/line-chart.namespace.ts
  packages/react/src/components/chart/use-grid.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(*): add docs
  cspell.json
  www/app/[locale]/(llms)/llms-components.txt/route.ts
  www/app/[locale]/(llms)/llms.txt/[...slug]/route.ts
  www/app/[locale]/(llms)/llms.txt/route.ts
  www/app/[locale]/docs/[...slug]/llms-link.tsx
  www/app/[locale]/docs/[...slug]/toc.tsx
  www/messages/en.json
  www/messages/ja.json
  www/next.config.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cascade-layers): update description for CSS cascade layers
  www/contents/components/(components)/date-picker.mdx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/contents/styling/cascade-layers.ja.mdx
Due: prettier --write

refactor(www/components): change Box to Grid in code preview
  www/components/code-preview.tsx
  www/components/examples/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add legacy documentation pages and redirects
  www/contents/get-started/legacy.ja.mdx
  www/contents/get-started/legacy.mdx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/next.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove redundant badge images from README files
  README.ja.md
  README.md
Due: prettier --write

refactor(next): centralize metadata generation logic
  www/app/[locale]/(apps)/examples/page.tsx
  www/app/[locale]/(apps)/icons/page.tsx
  www/app/[locale]/(apps)/themes/page.tsx
  www/app/[locale]/docs/[...slug]/page.tsx
  www/app/[locale]/layout.tsx
  www/app/[locale]/og/route.tsx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(next): update og url params handling for consistency
  www/app/[locale]/og/route.tsx
  www/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): rename Roadmap.tsx to roadmap.tsx
  www/components/examples/roadmap.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(*): add docs
  cspell.json
  www/app/[locale]/(llms)/llms-components.txt/route.ts
  www/app/[locale]/(llms)/llms.txt/[...slug]/route.ts
  www/app/[locale]/(llms)/llms.txt/route.ts
  www/app/[locale]/docs/[...slug]/llms-link.tsx
  www/app/[locale]/docs/[...slug]/toc.tsx
  www/messages/en.json
  www/messages/ja.json
  www/next.config.ts
  www/utils/replace-props-table.test.ts
  www/utils/replace-props-table.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(Loading): migrate loading animations from SVG to CSS
  packages/react/src/components/loading/audio.tsx
  packages/react/src/components/loading/circles.tsx
  packages/react/src/components/loading/dots.tsx
  packages/react/src/components/loading/grid.tsx
  packages/react/src/components/loading/oval.tsx
  packages/react/src/components/loading/puff.tsx
  packages/react/src/components/loading/registry.json
  packages/react/src/components/loading/rings.tsx
  www/public/registry/v2/components/loading.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix(props): remove default 'hoge' values from JSON files
  packages/react/src/components/alpha-slider/props.json
  packages/react/src/components/calendar/props.json
  packages/react/src/components/carousel/props.json
  packages/react/src/components/color-swatch/props.json
  packages/react/src/components/drawer/props.json
  packages/react/src/components/file-button/props.json
  packages/react/src/components/hue-slider/props.json
  packages/react/src/components/indicator/props.json
  packages/react/src/components/modal/props.json
  packages/react/src/components/pagination/props.json
  packages/react/src/components/pin-input/props.json
  packages/react/src/components/skeleton/props.json
  packages/react/src/components/table/props.json
  scripts/generate/props/index.ts
  www/data/props/alpha-slider.json
  www/data/props/calendar.json
  www/data/props/carousel.json
  www/data/props/color-swatch.json
  www/data/props/drawer.json
  www/data/props/file-button.json
  www/data/props/hue-slider.json
  www/data/props/indicator.json
  www/data/props/modal.json
  www/data/props/pagination.json
  www/data/props/pin-input.json
  www/data/props/skeleton.json
  www/data/props/table.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove obsolete update-www action.yml
  .github/composite-actions/update-www/action.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
  pnpm-lock.yaml
  scripts/changelog.ts
  scripts/coverage-issues.ts
  scripts/create-issues.ts
  scripts/notification-release.ts
  www/app/[locale]/(apps)/icons/list.tsx
  www/contents/changelog/cli/2-0-0.ja.mdx
  www/contents/changelog/cli/2-0-0.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-0-0.ja.mdx
  www/contents/changelog/react/2-0-0.mdx
  www/contents/changelog/utils/2-0-0.ja.mdx
  www/contents/changelog/utils/2-0-0.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/index.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
  www/scripts/generate/changelog.ts
  www/scripts/generate/docs/map.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
