Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(deps): add playwright and playwright-core to package.json and update pnpm-lock.yaml
  package.json
  packages/react/src/components/chart/area-chart.stories.tsx
  packages/react/src/components/chart/bar-chart.stories.tsx
  packages/react/src/components/chart/composed-chart.stories.tsx
  packages/react/src/components/chart/line-chart.stories.tsx
  pnpm-lock.yaml
  www/app/[locale]/(apps)/examples/music/content.tsx
  www/app/[locale]/(apps)/examples/playground/footer.tsx
  www/contents/components/(charts)/area-chart.ja.mdx
  www/contents/components/(charts)/area-chart.mdx
  www/contents/components/(charts)/bar-chart.ja.mdx
  www/contents/components/(charts)/bar-chart.mdx
  www/contents/components/(charts)/composed-chart.ja.mdx
  www/contents/components/(charts)/composed-chart.mdx
  www/contents/components/(charts)/line-chart.ja.mdx
  www/contents/components/(charts)/line-chart.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/icon.json
Due: prettier --write

build(deps): resolve security advisories
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(deps): resolve security advisories (#7799)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): regenerate lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7804.md
  .changeset/dependabot-react-dependencies-7804.md
Due: prettier --write

fix(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7806.md
Due: prettier --write

fix(i18n): resolve available locales
  .changeset/brown-walls-retire.md
  .changeset/calm-ways-press.md
  packages/react/src/providers/i18n-provider/i18n-provider.test.tsx
  packages/react/src/providers/i18n-provider/i18n-provider.tsx
  packages/react/src/providers/ui-provider/ui-provider.test.tsx
  packages/react/src/providers/ui-provider/ui-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): refresh lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7809.md
  .changeset/dependabot-icons-7809.md
  .changeset/dependabot-react-dependencies-7809.md
  .changeset/dependabot-styles-7809.md
  packages/react/src/components/icon/icons/angle-icon.tsx
  packages/react/src/components/icon/icons/audio-lines-x-icon.tsx
  packages/react/src/components/icon/icons/broom-icon.tsx
  packages/react/src/components/icon/icons/broom-sparkles-icon.tsx
  packages/react/src/components/icon/icons/eject-icon.tsx
  packages/react/src/components/icon/icons/face-angry-icon.tsx
  packages/react/src/components/icon/icons/face-expressionless-icon.tsx
  packages/react/src/components/icon/icons/face-grinning-icon.tsx
  packages/react/src/components/icon/icons/face-neutral-icon.tsx
  packages/react/src/components/icon/icons/face-slightly-frowning-icon.tsx
  packages/react/src/components/icon/icons/face-slightly-smiling-icon.tsx
  packages/react/src/components/icon/icons/face-slightly-smiling-plus-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/layer-arrow-down-icon.tsx
  packages/react/src/components/icon/icons/layer-arrow-up-icon.tsx
  packages/react/src/components/icon/icons/layers-arrow-down-icon.tsx
  packages/react/src/components/icon/icons/layers-arrow-up-icon.tsx
  packages/react/src/components/icon/icons/mail-badge-icon.tsx
  packages/react/src/components/icon/icons/meh-icon.tsx
  packages/react/src/components/icon/icons/shield-lock-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): update @babel/types to version 7.29.8 and adjust icon imports in password input and rating components
  package.json
  packages/react/src/components/password-input/password-input.stories.tsx
  packages/react/src/components/rating/rating.stories.tsx
  pnpm-lock.yaml
  www/contents/components/(components)/password-input.ja.mdx
  www/contents/components/(components)/password-input.mdx
  www/contents/components/(components)/rating.ja.mdx
  www/contents/components/(components)/rating.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: reorder icon imports in password input and rating stories for consistency
  packages/react/src/components/password-input/password-input.stories.tsx
  packages/react/src/components/rating/rating.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/action-bar.json
  www/public/registry/dev/v2/components/airy.json
  www/public/registry/dev/v2/components/collapse.json
  www/public/registry/dev/v2/components/drawer.json
  www/public/registry/dev/v2/components/fade-scale.json
  www/public/registry/dev/v2/components/fade.json
  www/public/registry/dev/v2/components/flip.json
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/loading.json
  www/public/registry/dev/v2/components/modal.json
  www/public/registry/dev/v2/components/motion.json
  www/public/registry/dev/v2/components/notice.json
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/components/reorder.json
  www/public/registry/dev/v2/components/ripple.json
  www/public/registry/dev/v2/components/rotate.json
  www/public/registry/dev/v2/components/segmented-control.json
  www/public/registry/dev/v2/components/slide-fade.json
  www/public/registry/dev/v2/components/slide.json
  www/public/registry/dev/v2/components/snacks.json
  www/public/registry/dev/v2/components/tooltip.json
  www/public/registry/dev/v2/providers/i18n-provider.json
Due: prettier --write

fix(i18n): resolve available locales (#7812)
  .changeset/brown-walls-retire.md
  .changeset/calm-ways-press.md
  packages/react/src/providers/i18n-provider/i18n-provider.test.tsx
  packages/react/src/providers/i18n-provider/i18n-provider.tsx
  packages/react/src/providers/ui-provider/ui-provider.test.tsx
  packages/react/src/providers/ui-provider/ui-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/providers/i18n-provider.json
  www/public/registry/dev/v2/providers/ui-provider.json
Due: prettier --write

fix(popover): preserve nested popup focus
  .changeset/neat-pandas-laugh.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(system): resolve color mode styles in shadow DOM
  .changeset/fix-shadow-color-mode-condition.md
  packages/react/src/core/css/use-css.test.browser.tsx
  packages/react/src/core/system/styled.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(popover): preserve nested popup focus (#7814)
  .changeset/neat-pandas-laugh.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/components/popover/use-popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/menu.json
  www/public/registry/dev/v2/components/popover.json
Due: prettier --write

fix(system): resolve color mode styles in shadow DOM (#7816)
  .changeset/fix-shadow-color-mode-condition.md
  packages/react/src/core/css/use-css.test.browser.tsx
  packages/react/src/core/system/styled.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/brown-walls-retire.md
  .changeset/calm-ways-press.md
  .changeset/dependabot-cli-dependencies-7794.md
  .changeset/dependabot-cli-dependencies-7806.md
  .changeset/dependabot-cli-dependencies-7809.md
  .changeset/dependabot-icons-7797.md
  .changeset/dependabot-icons-7809.md
  .changeset/dependabot-react-dependencies-7795.md
  .changeset/dependabot-react-dependencies-7797.md
  .changeset/dependabot-react-dependencies-7809.md
  .changeset/dependabot-styles-7797.md
  .changeset/dependabot-styles-7809.md
  .changeset/fix-shadow-color-mode-condition.md
  .changeset/neat-pandas-laugh.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@8c4bb2b8727b91797e5438486225e0872e6b9600 🚀
  project.json
Due: prettier --write

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update registries
  www/public/registry/v2/components/action-bar.json
  www/public/registry/v2/components/airy.json
  www/public/registry/v2/components/chart.json
  www/public/registry/v2/components/collapse.json
  www/public/registry/v2/components/drawer.json
  www/public/registry/v2/components/fade-scale.json
  www/public/registry/v2/components/fade.json
  www/public/registry/v2/components/flip.json
  www/public/registry/v2/components/icon.json
  www/public/registry/v2/components/loading.json
  www/public/registry/v2/components/menu.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/motion.json
  www/public/registry/v2/components/notice.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/reorder.json
  www/public/registry/v2/components/ripple.json
  www/public/registry/v2/components/rotate.json
  www/public/registry/v2/components/segmented-control.json
  www/public/registry/v2/components/slide-fade.json
  www/public/registry/v2/components/slide.json
  www/public/registry/v2/components/snacks.json
  www/public/registry/v2/components/tooltip.json
  www/public/registry/v2/providers/i18n-provider.json
  www/public/registry/v2/providers/ui-provider.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-1-12.ja.mdx
  www/contents/changelog/cli/2-1-12.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/react/2-2-7.ja.mdx
  www/contents/changelog/react/2-2-7.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
  www/data/relations.json
Due: prettier --write

ci(changesets): update next registries
  www/public/registry/next/v2/components/action-bar.json
  www/public/registry/next/v2/components/airy.json
  www/public/registry/next/v2/components/chart.json
  www/public/registry/next/v2/components/collapse.json
  www/public/registry/next/v2/components/drawer.json
  www/public/registry/next/v2/components/fade-scale.json
  www/public/registry/next/v2/components/fade.json
  www/public/registry/next/v2/components/flip.json
  www/public/registry/next/v2/components/icon.json
  www/public/registry/next/v2/components/loading.json
  www/public/registry/next/v2/components/menu.json
  www/public/registry/next/v2/components/modal.json
  www/public/registry/next/v2/components/motion.json
  www/public/registry/next/v2/components/notice.json
  www/public/registry/next/v2/components/popover.json
  www/public/registry/next/v2/components/reorder.json
  www/public/registry/next/v2/components/ripple.json
  www/public/registry/next/v2/components/rotate.json
  www/public/registry/next/v2/components/segmented-control.json
  www/public/registry/next/v2/components/slide-fade.json
  www/public/registry/next/v2/components/slide.json
  www/public/registry/next/v2/components/snacks.json
  www/public/registry/next/v2/components/tooltip.json
  www/public/registry/next/v2/providers/i18n-provider.json
  www/public/registry/next/v2/providers/ui-provider.json
Due: prettier --write

fix(cli): resolve relative import paths for nested sections
  .changeset/fix-cli-nested-section-import-paths.md
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(react): exclude test suffixes from registry generation
  .changeset/fix-registry-test-files.md
  packages/react/scripts/generate/registries/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): simplify relative path calculation for section imports
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): resolve relative import paths for nested sections (#7823)
  .changeset/fix-cli-nested-section-import-paths.md
  packages/cli/src/utils/registry.test.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(react): exclude test suffixes from registry generation (#7825)
  .changeset/fix-registry-test-files.md
  packages/react/scripts/generate/registries/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

fix(deps): remove duplicate lockfile entries
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7826.md
  .changeset/dependabot-react-dependencies-7826.md
  .changeset/dependabot-styles-7826.md
  packages/react/src/components/icon/icons/audio-lines-off-icon.tsx
  packages/react/src/components/icon/icons/car-battery-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/list-clock-icon.tsx
  packages/react/src/components/icon/icons/midi-port-icon.tsx
  packages/react/src/components/icon/icons/mop-icon.tsx
  packages/react/src/components/icon/icons/mop-sparkles-icon.tsx
  packages/react/src/components/icon/icons/square-dimensions-icon.tsx
  packages/react/src/components/icon/icons/square-text-icon.tsx
  packages/react/src/components/icon/icons/usb-c-port-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(i18n): format ICU type definitions
  .changeset/fix-icu-types-format-7826.md
  packages/react/src/providers/i18n-provider/icu.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix
