Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat(react): remove `@ts-expect-error`
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(pnpm): add `minimumReaseAge`
  pnpm-workspace.yaml
Due: none

feat(pnpm): add a comment about `minimumReleaseAge`
  pnpm-workspace.yaml
Due: none

feat(workflow): add permissions for npm trustPolicy
  .github/workflows/release.yml
Due: prettier --write

feat: refine `lefthook.yaml`
  lefthook.yaml
Due: none

chore(deps): bump `lefthook`
  package.json
  pnpm-lock.yaml
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@4ae71c7b6e9c459362eb9dfc1e0fdb2d526db382 🚀
  project.json
Due: prettier --write

feat(loading): pass loadingProps to Suspense component
  .changeset/vast-beers-battle.md
  packages/react/src/components/loading/suspense.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(context): correct return type for defaultValue in createContext
  .changeset/swift-owls-bathe.md
  packages/react/src/utils/context.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove unnecessary type generics from button component
  .changeset/late-bottles-hunt.md
  packages/react/src/components/button/button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(segmented-control): add item and indicator props to context
  .changeset/cyan-heads-make.md
  packages/react/src/components/segmented-control/segmented-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(react/test): move browser-mode test files
  packages/react/src/components/badge/badge.test.tsx
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/components/flex/flex.test.tsx
  packages/react/src/components/list/list.test.tsx
  packages/react/src/components/stack/z-stack.test.tsx
  packages/react/src/hooks/use-os/use-os.test.tsx
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(update): remove deprecated webhook handlers
  www/app/api/github/observe/update-issues.ts
  www/app/api/github/observe/update-pull-requests.ts
  www/app/api/github/webhook/pull-request-review/dismissed.ts
  www/app/api/github/webhook/pull-request-review/submitted.ts
  www/app/api/github/webhook/pull-request/opened.ts
  www/app/api/github/webhook/pull-request/review-request-removed.ts
  www/app/api/github/webhook/route.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(package): update storybook dependencies to 9.1.17
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(playgrounds, rr7): add react router framework mode example
  playgrounds/react-router/framework/.gitignore
  playgrounds/react-router/framework/app/components/color-mode-button.tsx
  playgrounds/react-router/framework/app/root.tsx
  playgrounds/react-router/framework/app/routes.ts
  playgrounds/react-router/framework/app/routes/home.tsx
  playgrounds/react-router/framework/eslint.config.ts
  playgrounds/react-router/framework/package.json
  playgrounds/react-router/framework/react-router.config.ts
  playgrounds/react-router/framework/tsconfig.json
  playgrounds/react-router/framework/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@2f53d7d0bfdceacc19f82b167afc860a9a747708 🚀
  project.json
  sb-manager/globals-runtime.js
Due: prettier --write, eslint --max-warnings 0 --fix

ci(workflow): pin playwright to version 1.56.1
  .github/workflows/observe-issue-and-pull-request.yml
Due: prettier --write

refactor(packages): update main to src/index.ts and add clean-config
  packages/cli/clean-package.config.json
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettier --write

ci(changesets): updated packages
  .changeset/cyan-heads-make.md
  .changeset/early-webs-start.md
  .changeset/green-aliens-punch.md
  .changeset/late-bottles-hunt.md
  .changeset/puny-mangos-shave.md
  .changeset/swift-owls-bathe.md
  .changeset/vast-beers-battle.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

feat(native-accordion): add `NativeAccordion` component
  .changeset/hip-grapes-throw.md
  .changeset/ripe-pianos-hunt.md
  packages/react/src/components/accordion/accordion.style.ts
  packages/react/src/components/native-accordion/index.ts
  packages/react/src/components/native-accordion/namespace.ts
  packages/react/src/components/native-accordion/native-accordion.stories.tsx
  packages/react/src/components/native-accordion/native-accordion.style.ts
  packages/react/src/components/native-accordion/native-accordion.test.tsx
  packages/react/src/components/native-accordion/native-accordion.tsx
  packages/react/src/components/native-accordion/use-native-accordion.ts
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(react): update vitest.config.ts
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(test, ci): group tests in quality ci workflow
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

chore(quality): allow running quality.yml workflow for testing
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

docs(react-router): update 'Scripts' heading
  www/contents/get-started/frameworks/react-router.mdx
Due: prettier --write

chore(home): remove meta from home.tsx
  .gitignore
  playgrounds/react-router/framework/.gitignore
  playgrounds/react-router/framework/app/routes/home.tsx
  playgrounds/react-router/framework/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(badge): add full rounded variant showcase
  packages/react/src/components/badge/badge.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@0f9da34c6764dfa649ef3c55dbd2a7616bce528f 🚀
  project.json
Due: prettier --write

feat(tag): add fullRounded prop for rounded tags
  .changeset/fuzzy-times-relate.md
  packages/react/src/components/tag/tag.stories.tsx
  packages/react/src/components/tag/tag.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update styles
  www/data/styles.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-0-6.ja.mdx
  www/contents/changelog/react/2-0-6.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

ci(changesets): updated packages
  .changeset/tiny-snakes-shine.md
  .changeset/wild-paths-obey.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@ec13eae7228b92c7618098aeeba492401c0e2370 🚀
  project.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-0-7.ja.mdx
  www/contents/changelog/react/2-0-7.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

refactor(test): update import path from #browser-test to #test/browser
  packages/react/src/components/badge/badge.test.tsx
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/components/flex/flex.test.tsx
  packages/react/src/components/list/list.test.tsx
  packages/react/src/components/stack/z-stack.test.tsx
  packages/react/src/hooks/use-os/use-os.test.tsx
  packages/react/test/browser/index.ts
  packages/react/test/browser/render.tsx
  packages/react/tsconfig.json
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@01e108cc37b628186d7cf04449593b3071368285 🚀
  project.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
