Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix(tooltip): add missing change in examples
  stories/components.tsx
  stories/components/data-display/area-chart.stories.tsx
  stories/components/forms/range-slider.stories.tsx
  stories/components/forms/slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(transitions): remove is prefix in props
  packages/components/motion/src/motion.types.ts
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
  packages/components/transitions/tests/airy.test.tsx
  packages/components/transitions/tests/collapse.test.tsx
  packages/components/transitions/tests/fade.test.tsx
  packages/components/transitions/tests/flip.test.tsx
  packages/components/transitions/tests/rotate.test.tsx
  packages/components/transitions/tests/scale-fade.test.tsx
  packages/components/transitions/tests/slide-fade.test.tsx
  packages/components/transitions/tests/slide.test.tsx
  stories/components/transitions/airy.stories.tsx
  stories/components/transitions/collapse.stories.tsx
  stories/components/transitions/fade.stories.tsx
  stories/components/transitions/flip.stories.tsx
  stories/components/transitions/rotate.stories.tsx
  stories/components/transitions/scale-fade.stories.tsx
  stories/components/transitions/slide-fide.stories.tsx
  stories/components/transitions/slide.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change import of lucide in navigation to *Icon
  stories/components/navigation/breadcrumb.stories.tsx
  stories/components/navigation/pagination.stories.tsx
  stories/components/navigation/stepper.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: fixed content
  docs/contents/components/overlay/menu/accessibility.ja.mdx
  docs/contents/components/overlay/menu/accessibility.mdx
Due: prettier --write

fix: change to tab & user.keyboard
  packages/components/popover/tests/popover.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: delte fireEvent
  packages/components/popover/tests/popover.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected component name in descriptions
  docs/contents/components/data-display/color-swatch/props.ja.mdx
  docs/contents/components/data-display/color-swatch/theming.ja.mdx
Due: prettier --write

fix: change `Icon` in `@yamada-ui/fontawesome` to `FontawesomeIcon`
  .changeset/tender-spiders-brake.md
  docs/components/mdx/editable-code-block.tsx
  packages/components/fontawesome/src/icon.tsx
  packages/components/fontawesome/src/index.ts
  packages/components/fontawesome/tests/icon.test.tsx
  stories/components/media-and-icons/font-awesome.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update transition documentation wording
  docs/contents/components/transitions/airy/index.ja.mdx
  docs/contents/components/transitions/airy/index.mdx
  docs/contents/components/transitions/flip/index.ja.mdx
  docs/contents/components/transitions/flip/index.mdx
  docs/contents/components/transitions/rotate/index.ja.mdx
  docs/contents/components/transitions/rotate/index.mdx
Due: prettier --write

fix(pin-input): moved disabled and readOnly above filterUndefined
  .changeset/metal-apricots-wait.md
  packages/components/pin-input/src/pin-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: separate logic from style
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/use-accordion-item.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(ci): added sync branch workflow
  .github/workflows/quality.yml
  .github/workflows/sync-branch.yml
Due: prettier --write

feat(components): add for component
  .changeset/late-candles-work.md
  packages/components/for/README.md
  packages/components/for/package.json
  packages/components/for/src/for.tsx
  packages/components/for/src/index.ts
  packages/components/for/tests/for.test.tsx
  packages/components/for/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/for.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/other/for.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated .gitignore and .nvmrc versions
  .gitignore
  .nvmrc
Due: none

fix: fixed so that `variant` is reflected even when `as={IconButton}`
  .changeset/poor-phones-divide.md
  packages/components/file-button/src/file-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(alert): updated status type references and imports
  packages/components/alert/src/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added accessibility document to calendar
  docs/contents/components/data-display/calendar/accessibility.ja.mdx
  docs/contents/components/data-display/calendar/accessibility.mdx
Due: prettier --write

fix(transitions): remove eslint ignore rule
  packages/components/motion/src/motion.types.ts
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(transitions): format
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components): remove eslint ignore rule
  packages/components/button/src/button.tsx
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): remove eslint ignore rule
  packages/components/modal/src/drawer-content.tsx
  packages/components/modal/src/drawer.tsx
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): format
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tooltip): remove eslint ignore rule
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.6.3.mdx
  CHANGELOG.md
Due: prettier --write

docs: add form-control docs
  docs/contents/components/forms/form-control/accessibility.ja.mdx
  docs/contents/components/forms/form-control/accessibility.mdx
Due: prettier --write

docs(a11y/number-input): add `accessibility` section
  docs/contents/components/forms/number-input/accessibility.ja.mdx
  docs/contents/components/forms/number-input/accessibility.mdx
Due: prettier --write

feat(modal): remove is prefix in props
  .changeset/heavy-dogs-notice.md
  packages/components/modal/src/drawer-content.tsx
  packages/components/modal/src/drawer.tsx
  packages/components/modal/src/modal.tsx
  packages/components/modal/tests/dialog.test.tsx
  packages/components/modal/tests/drawer.test.tsx
  packages/components/modal/tests/modal.test.tsx
  stories/components/overlay/dialog.stories.tsx
  stories/components/overlay/drawer.stories.tsx
  stories/components/overlay/modal.stories.tsx
  stories/hooks/use-disclosure.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tooltip): remove is prefix in props
  .changeset/beige-tools-kick.md
  packages/components/tooltip/src/tooltip.tsx
  packages/components/tooltip/tests/tooltip.test.tsx
  stories/components.tsx
  stories/components/data-display/area-chart.stories.tsx
  stories/components/forms/range-slider.stories.tsx
  stories/components/forms/slider.stories.tsx
  stories/components/overlay/tooltip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
