Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat: added new fontAwesome icons
  docs/components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated form and stack examples
  docs/contents/components/forms/rating/index.ja.mdx
  docs/contents/components/forms/rating/index.mdx
  docs/contents/components/layouts/stack/index.ja.mdx
  docs/contents/components/layouts/stack/index.mdx
Due: prettier --write

refactor: updated icon component usage
  docs/contents/components/forms/rating/index.ja.mdx
  docs/contents/components/forms/rating/index.mdx
Due: prettier --write

fix(utils): fixed incorrect `PropGetter` types
  .changeset/tasty-eggs-push.md
  packages/utils/src/index.types.ts
  packages/utils/src/react.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(rating): disabled motion on readOnly/disabled states
  .changeset/fuzzy-stingrays-tease.md
  packages/components/rating/src/rating-group.tsx
  packages/components/rating/src/use-rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(motion): added new motion types and updated usage
  .changeset/quiet-houses-fold.md
  packages/components/motion/src/motion.tsx
  packages/components/motion/src/motion.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): replaced input with ui.input
  docs/contents/components/forms/checkbox/index.ja.mdx
  docs/contents/components/forms/checkbox/index.mdx
  docs/contents/components/forms/radio/index.ja.mdx
  docs/contents/components/forms/radio/index.mdx
Due: prettier --write

fix(utils): updated `DOMAttributes` type
  .changeset/hip-eyes-type.md
  packages/utils/src/react.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated motion prop getter types
  packages/components/motion/src/motion.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style: added missing semi-colons
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added new `UIPropGetter` types
  .changeset/spotty-peaches-marry.md
  packages/core/src/components/component.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): wrapped inputs with ui namespace
  stories/components/forms/checkbox.stories.tsx
  stories/components/forms/radio.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

refactor: updated type imports and usage
  .changeset/tough-jobs-mix.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/autocomplete/package.json
  packages/components/autocomplete/src/autocomplete-list.tsx
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/calendar/src/date-picker-icon.tsx
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/carousel/src/use-carousel.ts
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/src/checkbox.tsx
  packages/components/editable/src/editable.tsx
  packages/components/menu/package.json
  packages/components/menu/src/menu-list.tsx
  packages/components/number-input/src/number-input.tsx
  packages/components/popover/src/popover-content.tsx
  packages/components/popover/src/popover.tsx
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
  packages/components/rating/src/use-rating.tsx
  packages/components/segmented-control/src/segmented-control.tsx
  packages/components/select/package.json
  packages/components/select/src/select-list.tsx
  packages/components/select/src/use-select.ts
  packages/components/slider/src/range-slider.tsx
  packages/components/slider/src/slider.tsx
  packages/components/stepper/src/use-stepper.ts
  packages/components/table/src/use-table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: updated aria-readonly attribute check
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  packages/components/editable/DOCS.json
  packages/components/motion/DOCS.json
  packages/components/native-select/DOCS.json
  packages/components/pin-input/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/ripple/DOCS.json
  packages/components/select/DOCS.json
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.0.5.mdx
  CHANGELOG.md
Due: prettier --write

feat(utils): added string conversion functions
  .changeset/ninety-suits-tan.md
  packages/utils/src/assertion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): fixed drawer component roundness
  .changeset/grumpy-actors-judge.md
  packages/theme/src/components/drawer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@042e51dbd768a6bbb14a946178f2c6d3513bb930 🚀
  project.json
Due: prettier --write

feat: added ColorPicker and ColorInput
  packages/components/color-picker/README.md
  packages/components/color-picker/package.json
  packages/components/color-picker/src/color-input.tsx
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/index.ts
  packages/components/color-picker/src/use-color-input.ts
  packages/components/color-picker/src/use-color-picker.ts
  packages/components/color-picker/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/color-input.ts
  packages/theme/src/components/color-picker.ts
  packages/theme/src/components/index.ts
  stories/components/forms/color-input.stories.tsx
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added Resizable
  packages/components/resizable/README.md
  packages/components/resizable/package.json
  packages/components/resizable/src/index.ts
  packages/components/resizable/src/resizable.tsx
  packages/components/resizable/src/use-resizable.ts
  packages/components/resizable/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/resizable.ts
  stories/components/data-display/resizable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependenceis
  pnpm-lock.yaml
Due: none

chore(autocomplete): removed unused `select` module
  .changeset/seven-forks-accept.md
  packages/components/autocomplete/package.json
Due: prettier --write

chore: removed sync.yml configuration
  .github/sync.yml
Due: prettier --write

ci(docs): updated docs
  packages/components/menu/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/radio/DOCS.json
  packages/components/segmented-control/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.1.0.mdx
  CHANGELOG.md
Due: prettier --write

fix: added default placement
  .changeset/pretty-jobs-complain.md
  packages/components/modal/src/drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): version packages
  .changeset/pretty-jobs-complain.md
  .changeset/seven-forks-accept.md
  packages/components/autocomplete/CHANGELOG.md
  packages/components/autocomplete/package.json
  packages/components/modal/CHANGELOG.md
  packages/components/modal/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
