Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat: add `backgroundPosition` XY
  packages/core/src/styles/background.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: created changeset
  .changeset/fair-gifts-complain.md
Due: prettier --write

fix: fix typo
  .changeset/fair-gifts-complain.md
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

chore: added homepage to package.json files
  plop/component/package-multi/package.json.hbs
  plop/component/package/package.json.hbs
  plop/hook/package/package.json.hbs
Due: none

build: updated dependencies
  examples/create-react-app/package.json
  examples/nextjs-app/package.json
  examples/nextjs-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(utils): added `module` utils
  .changeset/early-eyes-punch.md
  packages/utils/src/index.ts
  packages/utils/src/module.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added `interopDefault` function
  .changeset/unlucky-hounds-reflect.md
  packages/components/focus-lock/src/focus-lock.tsx
  packages/core/src/styled.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(nextjs): deprecated CacheProvider, added image attrs
  .changeset/few-lemons-share.md
  packages/nextjs/src/cache-provider.tsx
  packages/nextjs/src/image.tsx
  packages/nextjs/src/use-emotion-cache.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(react): switched to named exports for AppRouter
  .changeset/weak-pens-deny.md
  packages/react/package.json
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(nextjs-app): removed CacheProvider wrapper
  examples/nextjs-app/app/layout.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(nextjs-app): removed CacheProvider wrapper
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.mjs
Due: none

refactor: simplified eslint path filtering logic
  .lintstagedrc.mjs
Due: none

build: updated search contents
  docs/i18n/content.en.json
Due: prettier --write

docs: updated installation instructions
  docs/contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  docs/contents/getting-started/frameworks/nextjs/app-router.mdx
  docs/contents/styled-system/color-mode.ja.mdx
  docs/contents/styled-system/color-mode.mdx
  docs/contents/styled-system/reset-styles.ja.mdx
  docs/contents/styled-system/reset-styles.mdx
  docs/contents/styled-system/theming/component-styles.ja.mdx
  docs/contents/styled-system/theming/component-styles.mdx
  docs/contents/styled-system/theming/customize-theme.ja.mdx
  docs/contents/styled-system/theming/customize-theme.mdx
  docs/contents/styled-system/theming/switch-themes.ja.mdx
  docs/contents/styled-system/theming/switch-themes.mdx
Due: prettier --write

fix: fix patch
  .changeset/fair-gifts-complain.md
Due: prettier --write

fix: add `bgPosX` & `bgPosY`
  packages/core/src/styles/background.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: changed to patch
  .changeset/rude-weeks-mate.md
Due: prettier --write

fix: chaged to patch
  .changeset/gold-pumpkins-call.md
Due: prettier --write

fix: `all` moved `others.ts`
  packages/core/src/styles/interactivity.ts
  packages/core/src/styles/others.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `borderBlockWidth` `borderBlockStyle` `borderBlockColor`
  packages/core/src/styles/border.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `borderInlineWidth` `borderInlineStyle` `borderInlineColor`
  packages/core/src/styles/border.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `border-image-*`
  packages/core/src/styles/border.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `borderCollapse` `borderSpacing`
  packages/core/src/styles/border.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add changeset
  .changeset/dirty-lies-drop.md
Due: prettier --write

refactor(core): renamed storage managers for clarity
  .changeset/clever-poems-dress.md
  packages/core/src/providers/color-mode-manager.ts
  packages/core/src/providers/color-mode-provider.tsx
  packages/core/src/providers/color-mode-script.tsx
  packages/core/src/providers/theme-manager.ts
  packages/core/src/providers/theme-provider.tsx
  packages/core/src/providers/theme-script.tsx
  packages/providers/src/ui-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): restructured imports and cleaned types
  .changeset/weak-shirts-cover.md
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/breakpoint.ts
  packages/core/src/theme.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): made VarTokens type exportable
  packages/core/src/theme.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated color and theme storage managers
  examples/nextjs-app/app/layout.tsx
  examples/nextjs-pages/pages/_app.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: corrected logic for ignored paths in linting
  .lintstagedrc.mjs
Due: none

feat(core): added color and theme scheme managers
  .changeset/gentle-pumas-try.md
  packages/core/src/providers/color-mode-manager.ts
  packages/core/src/providers/theme-manager.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(package.json): updated scripts in package.json
  package.json
Due: prettier --write

docs: updated docs
  docs/contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  docs/contents/getting-started/frameworks/nextjs/app-router.mdx
  docs/contents/styled-system/color-mode.ja.mdx
  docs/contents/styled-system/color-mode.mdx
  docs/contents/styled-system/theming/switch-themes.ja.mdx
  docs/contents/styled-system/theming/switch-themes.mdx
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

ci: updated workflow and package scripts
  docs/.github/workflows/release.yml
  docs/package.json
Due: prettier --write

refactor(core): handle non-string cookie values
  packages/core/src/providers/color-mode-manager.ts
  packages/core/src/providers/theme-manager.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add `breakAfter` & `breakBefore` & `breakInside`
  .changeset/tender-lemons-repeat.md
  packages/core/src/styles/layout.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): enhanced `fraction` transform handling
  .changeset/short-spiders-shake.md
  packages/core/src/styles/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
