Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(cli): remove unimplemented tool types (biome, oxfmt, oxlint)
  packages/cli/src/index.type.ts
  packages/cli/src/utils/toolchain/index.test.ts
  packages/cli/src/utils/toolchain/index.ts
  packages/cli/src/utils/toolchain/types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): extract inline formatter/linter options into named interfaces
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/toolchain/index.ts
  packages/cli/src/utils/toolchain/types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: enhance coverage for useCheckboxGroup
  packages/react/src/components/checkbox/use-checkbox-group.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(visually-hidden): replace Button with IconButton in examples
  packages/react/src/components/visually-hidden/visually-hidden.stories.tsx
  www/contents/components/(utilities)/visually-hidden.ja.mdx
  www/contents/components/(utilities)/visually-hidden.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(accordion): export Accordion.ItemType
  .changeset/funny-spoons-spend.md
  packages/react/src/components/accordion/namespace.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(visually-hidden): replace Button with IconButton in examples (#6224)
  packages/react/src/components/visually-hidden/visually-hidden.stories.tsx
  www/contents/components/(utilities)/visually-hidden.ja.mdx
  www/contents/components/(utilities)/visually-hidden.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(accordion): export Accordion.ItemType (#6225)
  .changeset/funny-spoons-spend.md
  packages/react/src/components/accordion/namespace.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@1aa1e8643340d01e9c4bcb2290a66e0f41aa8b1e 🚀
  project.json
Due: prettier --write

fix(docs): auto-scroll sidebar to active component on search navigation
  www/app/[locale]/docs/sidebar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): auto-scroll sidebar to active component on search navigation (#6219)
  www/app/[locale]/docs/sidebar.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/cold-balloons-begin.md
  .changeset/funny-spoons-spend.md
  .changeset/hungry-windows-shop.md
  .changeset/young-regions-knock.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

refactor(cli): unify tool detection into registry-based lookup
  packages/cli/src/utils/toolchain/detect.test.ts
  packages/cli/src/utils/toolchain/detect.ts
  packages/cli/src/utils/toolchain/formatters/prettier.ts
  packages/cli/src/utils/toolchain/linters/eslint.ts
  packages/cli/src/utils/toolchain/types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): add return statements after process.exit to prevent test bleed
  packages/cli/src/commands/view/index.test.ts
  packages/cli/src/commands/view/index.ts
  packages/cli/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): remove unused words for unimplemented tools
  cspell.json
Due: prettier --write

fix(docs): update jp anchor links to use english slugs
  www/contents/community/contributing.ja.mdx
  www/contents/components/(animations)/motion.ja.mdx
Due: prettier --write

fix(docs): update jp anchor links to use english slugs (#6226)
  www/contents/community/contributing.ja.mdx
  www/contents/components/(animations)/motion.ja.mdx
Due: prettier --write

test(carousel): simplify async assertions
  packages/react/src/components/carousel/carousel.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: refine test helpers
  packages/react/src/components/loading/loading.test.tsx
  packages/react/src/components/notice/notice.test.tsx
  packages/react/src/core/css/animation.test.ts
  packages/react/src/core/css/at-rule.test.ts
  packages/react/src/core/css/calc.test.ts
  packages/react/src/core/css/color-mix.test.ts
  packages/react/src/core/css/color-scheme.test.ts
  packages/react/src/core/css/config.test.ts
  packages/react/src/core/css/css.test.ts
  packages/react/src/core/css/display.test.ts
  packages/react/src/core/css/filter.test.ts
  packages/react/src/core/css/focus-ring.test.ts
  packages/react/src/core/css/function.test.ts
  packages/react/src/core/css/gradient.test.ts
  packages/react/src/core/css/grid.test.ts
  packages/react/src/core/css/style.test.ts
  packages/react/src/core/css/transform.test.ts
  packages/react/src/core/css/transition.test.ts
  packages/react/src/core/css/utils.test.ts
  packages/react/src/hooks/use-breakpoint/use-breakpoint-value.test.tsx
  packages/react/src/hooks/use-value/index.test.tsx
  packages/react/test/browser/index.ts
  packages/react/test/browser/render.tsx
  packages/react/test/index.ts
  packages/react/test/provider.tsx
  packages/react/test/render.tsx
  packages/react/test/system.ts
  packages/react/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@c7053a8e43b470bc3a257ab915bf71534e5b56dc 🚀
  project.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/accordion.json
Due: prettier --write

feat(skills): add issue triage skill
  .agents/skills/triage-issue/SKILL.md
Due: prettier --write

chore: updated CODEOWNERS for better coverage
  .github/CODEOWNERS
Due: none

chore: updated CODEOWNERS for better coverage (#6234)
  .github/CODEOWNERS
Due: none

feat(autocomplete): add match function for filtering logic
  .changeset/little-humans-deny.md
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/utils/src/string.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: remove CLAUDE.md from .prettierignore
  .prettierignore
Due: none

Update package.json
  package.json
Due: prettier --write

Update header in README.md from H1 to H2
  .changeset/README.md
Due: prettier --write

Assign ownership for changeset markdown files
  .github/CODEOWNERS
Due: none

Assign ownership for changeset markdown files (#6242)
  .github/CODEOWNERS
Due: none

Update README.md
  .changeset/README.md
Due: prettier --write

feat(autocomplete): add match function for filtering logic (#6239)
  .changeset/little-humans-deny.md
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/utils/src/string.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(utils): make `value` parameter optional in `setAttribute`
  .changeset/thin-forks-end.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/autocomplete.json
Due: prettier --write

chore: remove CLAUDE.md from .prettierignore (#6238)
  .prettierignore
Due: none

fix(theme): update subtle color for dark mode
  .changeset/wet-pillows-ring.md
  packages/react/src/theme/semantic-tokens/colors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: setup kodiak
  .kodiak.toml
Due: none

feat(descendants): enable AND-search in descendant filtering
  .changeset/silent-areas-rest.md
  .changeset/small-bottles-boil.md
  packages/react/src/hooks/use-descendants/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(radio,checkbox): add support for aria-controls and aria-labelledby
  .changeset/forty-bags-beg.md
  .changeset/lucky-kiwis-bake.md
  .changeset/open-rocks-win.md
  .changeset/wicked-books-film.md
  packages/react/src/components/checkbox/checkbox.stories.tsx
  packages/react/src/components/checkbox/checkbox.style.ts
  packages/react/src/components/checkbox/checkbox.tsx
  packages/react/src/components/checkbox/use-checkbox.ts
  packages/react/src/components/radio/radio.style.ts
  packages/react/src/components/radio/radio.tsx
  packages/react/src/components/radio/use-radio.ts
  www/contents/components/(components)/checkbox.ja.mdx
  www/contents/components/(components)/checkbox.mdx
Due: prettier --write, eslint --max-warnings 0 --fix
