Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: updated multiple component documentation
  docs/contents/components/data-display/infinite-scroll-area/props.ja.mdx
  docs/contents/components/data-display/infinite-scroll-area/props.mdx
  docs/contents/components/media-and-icons/lucide/props.ja.mdx
  docs/contents/components/media-and-icons/lucide/props.mdx
Due: prettier --write

refactor(docs): removed debug log from component-props
  docs/scripts/component-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(tv2 icon): removed obsolete file
  packages/components/lucide/src/icons/tv2.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): added clearIcons function to remove files
  packages/components/lucide/scripts/generate-icons.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated tabs accessibility documentation
  docs/contents/components/disclosure/tabs/accessibility.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.mdx
Due: prettier --write

docs: update Japanese breadcrumb accessibility doc
  docs/contents/components/navigation/breadcrumb/accessibility.ja.mdx
  docs/contents/components/navigation/breadcrumb/accessibility.mdx
Due: prettier --write

docs: updated README files with lucide component info
  README.ja.md
  README.md
  packages/react/README.md
Due: prettier --write

docs(components/data-display): added lucide icon component info
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(examples): added new packages to examples
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/nextjs-app/package.json
  examples/nextjs-pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(docs): updated DocumentLayout for optional props
  docs/layouts/document-layout.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add search icon tags script and update dependencies
  docs/package.json
  docs/pages/icons/tags.ts
  docs/scripts/search-icon-tags.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated component naming and props
  docs/components/mdx/code-block.tsx
  docs/components/mdx/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(i18n): added icons section to ui json files
  docs/i18n/ui.en.json
  docs/i18n/ui.ja.json
Due: prettier --write

docs: added new icon components and pages
  docs/pages/icons/icon-drawer.tsx
  docs/pages/icons/index.page.tsx
  docs/pages/icons/list.tsx
  docs/pages/icons/not-found.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move area-chart css style to area-chart BaseStyle
  packages/components/charts/src/area-chart.tsx
  packages/theme/src/components/area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move radar-chart css style to radar-chart BaseStyle
  packages/components/charts/src/radar-chart.tsx
  packages/theme/src/components/area-chart.ts
  packages/theme/src/components/radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated icon drawer layout and styles
  docs/pages/icons/icon-drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move donut-chart css style to donus-chart BaseStyle
  packages/components/charts/src/donut-chart.tsx
  packages/theme/src/components/donut-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move pie-chart css style to pie-chart BaseStyle
  packages/components/charts/src/pie-chart.tsx
  packages/theme/src/components/pie-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move bar-chart css style to bar-chart BaseStyle
  packages/components/charts/src/bar-chart.tsx
  packages/theme/src/components/bar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move line-chart css style to line-chart BaseStyle
  packages/components/charts/src/line-chart.tsx
  packages/theme/src/components/line-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add changeset automatically
  .changeset/witty-adults-sin.md
Due: prettier --write

refactor: delete unused changeset md, create new changeset md
  .changeset/rotten-peas-smash.md
Due: prettier --write

refactor: make the color-picker component headless
  .changeset/gold-books-whisper.md
  packages/components/color-picker/src/alpha-slider.tsx
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/color-selector-body.tsx
  packages/components/color-picker/src/color-selector-channels.tsx
  packages/components/color-picker/src/color-selector-eye-dropper.tsx
  packages/components/color-picker/src/color-selector-sliders.tsx
  packages/components/color-picker/src/color-selector-swatches.tsx
  packages/components/color-picker/src/color-selector.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/hue-slider.tsx
  packages/components/color-picker/src/saturation-slider.tsx
  packages/theme/src/components/alpha-slider.ts
  packages/theme/src/components/color-picker.ts
  packages/theme/src/components/color-selector.ts
  packages/theme/src/components/color-swatch.ts
  packages/theme/src/components/hue-slider.ts
  packages/theme/src/components/saturation-slider.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: simplified accessibility tests in templates
  plop/component/package-multi/tests/{{dashCase packageName}}.test.tsx.hbs
  plop/component/package/tests/{{dashCase packageName}}.test.tsx.hbs
Due: none

ci: added github-token to update docs step
  .github/workflows/release.yml
Due: prettier --write

refactor(lint): remove duplicate rule
  .eslintrc.json
  packages/hooks/use-clipboard/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated environment variable name in CI config
  .github/workflows/release.yml
Due: prettier --write

fix: modified test
  packages/components/badge/tests/badge.test.tsx
  packages/components/card/tests/card.test.tsx
  packages/components/image/tests/use-image.test.ts
  packages/components/indicator/tests/indicator.test.tsx
  packages/components/kbd/test/kbd.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(docs): updated dependencies and configs
  docs/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

ci: updated coverage thresholds in config and script
  codecov.yml
  scripts/coverage-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add `grid` roles
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month.tsx
  packages/components/calendar/src/year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add `aria-label`s
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month.tsx
  packages/components/calendar/src/year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add a changeset
  .changeset/healthy-suits-wait.md
Due: prettier --write

test(calendar): add unittests
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
