Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(store): export store utility types (#7751)
  .changeset/export-store-types.md
  packages/react/src/utils/store.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: fix motion.dev link text to match actual page titles
  www/contents/components/(animations)/motion.ja.mdx
  www/contents/components/(animations)/motion.mdx
Due: prettier --write

fix(system): resolve color mode variables in shadow DOM
  .changeset/dark-tokens-shadow-host.md
  packages/react/src/core/css/utils.ts
  packages/react/src/core/system/create-system.test.tsx
  packages/react/src/core/system/create-system.ts
  packages/react/src/core/system/index.types.ts
  packages/react/src/core/system/theme-provider.test.tsx
  packages/react/src/core/system/theme-provider.tsx
  packages/react/src/core/system/var.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(system): resolve color mode variables in shadow DOM (#7758)
  .changeset/dark-tokens-shadow-host.md
  packages/react/src/core/css/utils.ts
  packages/react/src/core/system/create-system.test.tsx
  packages/react/src/core/system/create-system.ts
  packages/react/src/core/system/index.types.ts
  packages/react/src/core/system/theme-provider.test.tsx
  packages/react/src/core/system/theme-provider.tsx
  packages/react/src/core/system/var.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): add infinity z-index token
  .changeset/tiny-dragons-fly.md
  packages/react/src/core/generated-theme-tokens.types.ts
  packages/react/src/theme/tokens/z-indices.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): add style props to root type
  .changeset/fuzzy-modals-style.md
  packages/react/src/components/modal/modal.test.tsx
  packages/react/src/components/modal/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): add infinity z-index token (#7760)
  .changeset/tiny-dragons-fly.md
  packages/react/src/core/generated-theme-tokens.types.ts
  packages/react/src/theme/tokens/z-indices.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/theme.json
Due: prettier --write

test(modal): remove root style props coverage
  packages/react/src/components/modal/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): add style props to root type (#7762)
  .changeset/fuzzy-modals-style.md
  packages/react/src/components/modal/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/modal.json
Due: prettier --write

fix(gradient): support multiple gradient layers
  .changeset/multiple-gradients.md
  packages/react/src/components/color-swatch/color-swatch.tsx
  packages/react/src/core/css/gradient.stories.tsx
  packages/react/src/core/css/gradient.test.ts
  packages/react/src/core/css/gradient.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(alpha-slider): remove commented-out gradient
  .changeset/remove-alpha-slider-comment.md
  packages/react/src/components/alpha-slider/alpha-slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(gradient): use shorthand syntax
  .changeset/gradient-shorthand.md
  packages/react/src/components/progress/progress.style.ts
  packages/react/src/components/skeleton/skeleton.style.ts
  packages/react/src/theme/tokens/keyframes.stories.tsx
  www/components/mdx/tokens-preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(alpha-slider): remove changeset
  .changeset/remove-alpha-slider-comment.md
Due: prettier --write

chore(alpha-slider): remove commented-out gradient (#7766)
  packages/react/src/components/alpha-slider/alpha-slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(gradient): support multiple gradient layers (#7764)
  .changeset/multiple-gradients.md
  packages/react/src/components/color-swatch/color-swatch.tsx
  packages/react/src/core/css/gradient.stories.tsx
  packages/react/src/core/css/gradient.test.ts
  packages/react/src/core/css/gradient.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(gradient): use shorthand syntax (#7767)
  .changeset/gradient-shorthand.md
  packages/react/src/components/progress/progress.style.ts
  packages/react/src/components/skeleton/skeleton.style.ts
  packages/react/src/theme/tokens/keyframes.stories.tsx
  www/components/mdx/tokens-preview.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dark-tokens-shadow-host.md
  .changeset/dependabot-cli-dependencies-7754.md
  .changeset/dependabot-icons-7757.md
  .changeset/dependabot-react-dependencies-7757.md
  .changeset/export-store-types.md
  .changeset/fuzzy-modals-style.md
  .changeset/gradient-shorthand.md
  .changeset/multiple-gradients.md
  .changeset/shy-dodos-smile.md
  .changeset/tiny-dragons-fly.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/color-swatch.json
  www/public/registry/dev/v2/components/progress.json
  www/public/registry/dev/v2/components/skeleton.json
Due: prettier --write

fix(changeset): update @yamada-ui/react version from minor to patch and add infinity z-index token
  .changeset/tiny-dragons-fly.md
Due: prettier --write

fix(deps): repair lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7769.md
  .changeset/dependabot-react-dependencies-7769.md
  .changeset/dependabot-styles-7769.md
  packages/react/src/components/icon/icons/circle-euro-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/scan-box-icon.tsx
  packages/react/src/components/icon/icons/server-plus-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(menu): format option group type
  packages/react/src/components/menu/use-menu.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(popover): add positioner props to content
  .changeset/popover-positioner-props.md
  packages/react/src/components/popover/popover.test.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/menu.json
Due: prettier --write

fix(popover): add positioner props to content (#7773)
  .changeset/popover-positioner-props.md
  packages/react/src/components/popover/popover.test.tsx
  packages/react/src/components/popover/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dark-tokens-shadow-host.md
  .changeset/dependabot-cli-dependencies-7754.md
  .changeset/dependabot-icons-7757.md
  .changeset/dependabot-icons-7769.md
  .changeset/dependabot-react-dependencies-7757.md
  .changeset/dependabot-react-dependencies-7769.md
  .changeset/dependabot-styles-7769.md
  .changeset/export-store-types.md
  .changeset/fuzzy-modals-style.md
  .changeset/gradient-shorthand.md
  .changeset/multiple-gradients.md
  .changeset/popover-positioner-props.md
  .changeset/shy-dodos-smile.md
  .changeset/tiny-dragons-fly.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/popover.json
Due: prettier --write

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update registries
  www/public/registry/v2/components/color-swatch.json
  www/public/registry/v2/components/icon.json
  www/public/registry/v2/components/menu.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/progress.json
  www/public/registry/v2/components/resizable.json
  www/public/registry/v2/components/skeleton.json
  www/public/registry/v2/components/textarea.json
  www/public/registry/v2/hooks/use-popper.json
  www/public/registry/v2/providers/i18n-provider.json
  www/public/registry/v2/theme.json
Due: prettier --write

ci(changesets): update props
  www/data/props/menu.json
  www/data/props/modal.json
  www/data/props/popover.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-1-10.ja.mdx
  www/contents/changelog/cli/2-1-10.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-2-5.ja.mdx
  www/contents/changelog/react/2-2-5.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
  www/data/selectors.json
  www/data/theme.json
Due: prettier --write

ci(changesets): update next registries
  www/public/registry/next/v2/components/color-swatch.json
  www/public/registry/next/v2/components/icon.json
  www/public/registry/next/v2/components/menu.json
  www/public/registry/next/v2/components/modal.json
  www/public/registry/next/v2/components/popover.json
  www/public/registry/next/v2/components/progress.json
  www/public/registry/next/v2/components/resizable.json
  www/public/registry/next/v2/components/skeleton.json
  www/public/registry/next/v2/components/textarea.json
  www/public/registry/next/v2/hooks/use-popper.json
  www/public/registry/next/v2/providers/i18n-provider.json
  www/public/registry/next/v2/theme.json
Due: prettier --write

fix(react): clear box shadow for none focus rings
  .changeset/four-lions-dance.md
  packages/react/src/core/css/focus-ring.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(react): clear box shadow for none focus rings (#7775)
  .changeset/four-lions-dance.md
  packages/react/src/core/css/focus-ring.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(popover): support shadow DOM clicks
  .changeset/fix-popover-shadow-dom.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/hooks/use-outside-click/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(popover): support shadow DOM clicks (#7778)
  .changeset/fix-popover-shadow-dom.md
  packages/react/src/components/popover/popover.test.browser.tsx
  packages/react/src/hooks/use-outside-click/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/hooks/use-outside-click.json
Due: prettier --write

fix(utils): include container keys in Path
  .changeset/fix-path-container-keys.md
  packages/utils/src/index.test.ts
  packages/utils/src/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix
