Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: updated discord links in documentation
  .changeset/purple-peaches-brake.md
  .github/ISSUE_TEMPLATE/config.yml
  README.ja.md
  README.md
  packages/react/README.md
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated discord links in documentation
  docs/README.ja.md
  docs/README.md
  docs/constant/sns.ts
  docs/contents/components/data-display/markdown/index.ja.mdx
  docs/contents/components/data-display/markdown/index.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@485aacad6068ffb55ddc4e9d2e7c6b6c3a509918 🚀
  assets/Color-6VNJS4EI-3v6Uz9hf.js
  assets/Color-6VNJS4EI-QAEXHal6.js
  assets/DocsRenderer-NNNQARDV-YUZVuZ8C.js
  assets/DocsRenderer-NNNQARDV-muT6z_JA.js
  assets/WithTooltip-V3YHNWJZ-mFNXdgjS.js
  assets/WithTooltip-V3YHNWJZ-yKXtvuGY.js
  assets/borders.stories-DyXaJqVS.js
  assets/borders.stories-ooZXwmom.js
  assets/breakpoints.stories-G_KIO6eF.js
  assets/breakpoints.stories-mFVI4B2u.js
  assets/colors.stories-5gCA8MCz.js
  assets/formatter-SWP5E3XI-ss4rLa80.js
  assets/gradients.stories-3h6f0cyB.js
  assets/gradients.stories-90RPaevH.js
  assets/iframe-aTJeFpcQ.js
  assets/iframe-xRAxJy8Z.js
  assets/index-R0n5l7OW.js
  assets/markdown.stories--U-Xlfgu.js
  assets/preview-MSVyQnBe.js
  assets/preview-MkEVwW6N.js
  assets/preview-U2h62hC1.js
  assets/preview-XJ2qF162.js
  assets/preview-bA_3gek8.js
  assets/preview-oBu6StG0.js
  assets/radii.stories-3r5KtzEo.js
  assets/shadows.stories-8-kwjziC.js
  assets/sizes.stories-_omcm3NK.js
  assets/spaces.stories-rqoHxJUY.js
  assets/syntaxhighlighter-V7JZZA35-CO2jSmrQ.js
  assets/syntaxhighlighter-V7JZZA35-eBh8D1DE.js
  assets/transitions.stories-e2CLLT4w.js
  assets/typography.stories-mv3Ihi_8.js
  assets/welcome.stories-FaGlQg8l.js
  assets/welcome.stories-rH2idpzr.js
  assets/z-index.stories-K4RdozBx.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added `_filled` pseudo property
  .changeset/ten-icons-beam.md
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added rating component
  packages/components/rating/README.md
  packages/components/rating/package.json
  packages/components/rating/src/index.ts
  packages/components/rating/src/rating-group.tsx
  packages/components/rating/src/rating-item.tsx
  packages/components/rating/src/rating.tsx
  packages/components/rating/src/use-rating.tsx
  packages/components/rating/tsconfig.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added `Rating` component
  .changeset/silly-nails-punch.md
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/rating.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

feat(storybook): add rating component stories
  stories/components/forms/rating.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.0.2.mdx
  CHANGELOG.md
Due: prettier --write

chore: removed changelog:format script
  package.json
Due: prettier --write

refactor(scripts): removed unused description check
  docs/scripts/component-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated dialog and modal placement docs
  docs/contents/components/overlay/dialog/index.ja.mdx
  docs/contents/components/overlay/dialog/index.mdx
  docs/contents/components/overlay/modal/index.ja.mdx
  docs/contents/components/overlay/modal/index.mdx
Due: prettier --write

docs: added avatar and indicator highlights
  docs/contents/components/media-and-icons/avatar/index.ja.mdx
  docs/contents/components/media-and-icons/avatar/index.mdx
  docs/contents/components/media-and-icons/indicator/index.ja.mdx
  docs/contents/components/media-and-icons/indicator/index.mdx
Due: prettier --write

fix: remove unnecessary aria attributes on elements
  .changeset/proud-scissors-jog.md
  packages/components/select/src/select-icon.tsx
  packages/components/select/src/select.tsx
  packages/components/switch/src/switch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test for `Tabs`
  packages/components/tabs/tests/tabs.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: delete unnecessary characters
  packages/components/select/src/select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: corrected japanese text in basics section
  docs/contents/getting-started/basics.ja.mdx
Due: prettier --write

fix(theme): updated `Avatar` fallback bg color
  .changeset/bright-pianos-perform.md
  packages/theme/src/components/avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(storybook): add avatar with fallback story
  stories/components/media-and-icons/avatar.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/rating): enhance prop computation logic
  packages/components/rating/src/rating-group.tsx
  packages/components/rating/src/rating-item.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): added `getPx` function to dom utils
  .changeset/poor-years-serve.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): simplified breakpoint transform logic
  .changeset/hip-lizards-exercise.md
  packages/core/src/css/breakpoint.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(stories): add new Rating component stories
  stories/components/forms/rating.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): simplified rating component styles
  packages/theme/src/components/rating.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(rating): simplify types and props handling
  packages/components/rating/src/rating.tsx
  packages/components/rating/src/use-rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): updated `csstype` to `3.1.3`
  .changeset/red-eels-fix.md
  packages/hooks/use-animation/package.json
Due: prettier --write

feat(rating): added color prop to RatingGroup and Item
  packages/components/rating/src/rating-group.tsx
  packages/components/rating/src/rating-item.tsx
  packages/components/rating/src/use-rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): changed `ref` type to `input` in `MultiAutocomplete`
  .changeset/fresh-hounds-peel.md
  packages/components/autocomplete/src/multi-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(select): added `placeholder` support
  .changeset/proud-berries-shout.md
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: corrected `ThemeProps` type references
  .changeset/honest-brooms-love.md
  packages/components/autocomplete/src/autocomplete.tsx
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/native-select/src/native-select.tsx
  packages/components/native-table/src/native-table.tsx
  packages/components/select/src/multi-select.tsx
  packages/components/slider/src/range-slider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): extract label color logic
  docs/components/data-display/label.tsx
  docs/contentlayer.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(docs): remove extra whitespace in mdx files
  docs/contents/components/layouts/grid/index.ja.mdx
  docs/contents/components/layouts/grid/index.mdx
Due: prettier --write

docs(simple-grid): updated component documentation
  docs/contents/components/layouts/simple-grid/index.ja.mdx
  docs/contents/components/layouts/simple-grid/index.mdx
Due: prettier --write

docs: updated stack component usage
  docs/contents/components/layouts/stack/index.ja.mdx
  docs/contents/components/layouts/stack/index.mdx
Due: prettier --write

docs(SimpleGrid): added component documentation
  packages/components/layouts/src/grid.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
