Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

build(markdown): add -D @types/unist
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add remark-breaks
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add -D @types/mdast
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add ts-pattern
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add `unist-util-remove`
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add @types/hast
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(markdown): add `utils.ts`
  packages/components/markdown/src/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(markdown): add `with-note-components.test.tsx`
  packages/components/markdown/tests/with-note-components.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(markdown): add -D dedent
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(markdown): ensure newline do not break `mdast` to `hast` conversion
  packages/components/markdown/src/markdown.tsx
  packages/components/markdown/src/remark-ui-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(alert): export `Status`
  packages/components/alert/src/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(markdown): add `pattern.ts`
  packages/components/markdown/src/patterns.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(markdown): add unist-util-is
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

build(markdown): add `@types/hast` as a devDependencies instead of dependencies
  packages/components/markdown/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(markdown): import `AlertStatus` from '@yamada-ui/alert' instead of `@yamada-ui/alert/src/alert`
  packages/components/markdown/src/remark-ui-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(aspect-ratio): updated image and alt text
  stories/components/layouts/aspect-ratio.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated content with "SLAM DUNK" references
  docs/contents/components/data-display/card/index.ja.mdx
  docs/contents/components/data-display/card/index.mdx
  docs/contents/components/layouts/aspect-ratio/index.ja.mdx
  docs/contents/components/layouts/aspect-ratio/index.mdx
Due: prettier --write

chore(package): bump dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(reorder): fixed sort order bug and improved code style
  .changeset/famous-horses-unite.md
  packages/components/reorder/src/reorder.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): updated fontawesome dependency
  .changeset/pretty-elephants-sing.md
  packages/components/fontawesome/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(package.json): updated dependencies and node version
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/nextjs-app/package.json
  examples/nextjs-pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: apply theme tokens to Skeleton, SkeletonText, and SkeletonCircle components when using a theme
  .changeset/poor-mayflies-tease.md
  packages/components/skeleton/src/skeleton-circle.tsx
  packages/components/skeleton/src/skeleton-text.tsx
  packages/components/skeleton/src/skeleton.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: use the theme's token in the `Breadcrumb` component
  packages/components/breadcrumb/src/breadcrumb.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: generate changeset
  .changeset/purple-olives-clean.md
Due: prettier --write

feat(Swipeable): added `SwipeableLeftAction` component
  packages/components/swipeable/package.json
  packages/components/swipeable/src/index.ts
  packages/components/swipeable/src/swipeable-left-action.tsx
  packages/components/swipeable/src/swipeable.tsx
  packages/theme/src/components/swipeable.ts
  pnpm-lock.yaml
  stories/components/other/swipeable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(mail): updated state handling and refs
  docs/pages/examples/mail/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: css rounded
  .changeset/clever-trainers-pump.md
  packages/components/avatar/src/avatar-badge.tsx
  packages/components/indicator/src/indicator.tsx
  packages/components/ripple/src/ripple.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

🔧 chore(carousel): Update zIndex to use fallback value
  packages/components/carousel/src/carousel-control.tsx
  packages/components/carousel/src/carousel-indicators.tsx
  packages/components/carousel/src/carousel.tsx
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(motion): added `MotionPanInfo` type
  .changeset/eleven-starfishes-turn.md
  packages/components/motion/src/motion.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): updated imports and types in drawer
  .changeset/brown-icons-heal.md
  packages/components/modal/src/drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: removed unnecessary export of type `PanEventInfo`
  .changeset/moody-toes-run.md
  packages/hooks/use-pan-event/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: added 'packages/cli' to vitest ignore list
  vitest.config.mts
Due: none

fix: to toggle component
  packages/components/toggle/src/toggle.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: use the theme's token in the number-input component
  .changeset/new-terms-refuse.md
  packages/components/number-input/src/number-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: bugs where theme is not applied
  .changeset/six-ducks-remain.md
Due: prettier --write

fix: theme token in ColorSwatch
  .changeset/red-jeans-divide.md
  packages/components/color-picker/src/color-swatch.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(utils): added NaN validation in `getPx`
  .changeset/orange-zebras-relax.md
  packages/utils/src/dom.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
