Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

style(modal): update bg to array for fallback
  packages/react/src/components/menu/menu.style.ts
  packages/react/src/components/menu/registry.json
  packages/react/src/components/modal/modal.style.ts
  packages/react/src/components/modal/registry.json
  packages/react/src/components/popover/popover.style.ts
  packages/react/src/components/popover/registry.json
  packages/react/src/components/tooltip/registry.json
  packages/react/src/components/tooltip/tooltip.style.ts
  www/public/registry/v2/components/menu.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/tooltip.json
Due: prettier --write, eslint --max-warnings 0 --fix

perf(combobox): optimize filtering and item handling
  packages/react/src/components/autocomplete/autocomplete.stories.tsx
  packages/react/src/components/autocomplete/autocomplete.style.ts
  packages/react/src/components/autocomplete/autocomplete.tsx
  packages/react/src/components/autocomplete/index.ts
  packages/react/src/components/autocomplete/props.json
  packages/react/src/components/autocomplete/registry.json
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/react/src/components/calendar/calendar.stories.tsx
  packages/react/src/components/calendar/calendar.style.ts
  packages/react/src/components/calendar/calendar.tsx
  packages/react/src/components/calendar/props.json
  packages/react/src/components/calendar/registry.json
  packages/react/src/components/calendar/use-calendar.ts
  packages/react/src/components/select/props.json
  packages/react/src/components/select/registry.json
  packages/react/src/components/select/select.stories.tsx
  packages/react/src/components/select/select.tsx
  packages/react/src/components/select/use-select.tsx
  www/data/props/autocomplete.json
  www/data/props/calendar.json
  www/data/props/select.json
  www/public/registry/v2/components/autocomplete.json
  www/public/registry/v2/components/calendar.json
  www/public/registry/v2/components/select.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(utils): add type guard for Date objects
  packages/utils/src/assertion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(slide-fade): migrate documentation
  www/contents/components/(animations)/slide-fade.ja.mdx
  www/contents/components/(animations)/slide-fade.mdx
Due: prettier --write

docs: update use-hover docs
  www/contents/hooks/use-hover.ja.mdx
  www/contents/hooks/use-hover.mdx
Due: prettier --write

docs: update use-update-effect docs
  www/contents/hooks/use-update-effect.ja.mdx
  www/contents/hooks/use-update-effect.mdx
Due: prettier --write

docs: update use-async docs
  www/contents/hooks/use-async.ja.mdx
  www/contents/hooks/use-async.mdx
Due: prettier --write

docs: update use-async-callback docs
  www/contents/hooks/use-async-callback.ja.mdx
  www/contents/hooks/use-async-callback.mdx
Due: prettier --write

docs(use-eye-dropper): create documentation
  www/contents/hooks/use-eye-dropper.ja.mdx
  www/contents/hooks/use-eye-dropper.mdx
Due: prettier --write

docs(use-snacks): update limit display section with default value and unlimited option
  www/contents/hooks/use-snacks.ja.mdx
  www/contents/hooks/use-snacks.mdx
Due: prettier --write

docs(use-disclosure): migrate documentation
  www/contents/hooks/use-disclosure.ja.mdx
  www/contents/hooks/use-disclosure.mdx
Due: prettier --write

fix(use-disclosure): replace VStack with fragment for cleaner markup
  www/contents/hooks/use-disclosure.ja.mdx
  www/contents/hooks/use-disclosure.mdx
Due: prettier --write

fix: align VStack and update borderWidth to 1px
  www/contents/components/(animations)/slide-fade.ja.mdx
  www/contents/components/(animations)/slide-fade.mdx
Due: prettier --write

docs(scroll-area): migrate documentation
  www/contents/components/(components)/scroll-area.ja.mdx
  www/contents/components/(components)/scroll-area.mdx
Due: prettier --write

docs(popover): migarate documentation
  www/contents/components/(components)/popover.ja.mdx
  www/contents/components/(components)/popover.mdx
Due: prettier --write

fix(cli): modified path
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: update dependencies to latest versions
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/react/src/hooks/use-focus/index.ts
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

chore(packages/react): update use-mask-input to 3.5.0
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

docs(use-focus-on-show): create documentation
  www/contents/hooks/use-focus-on-show.ja.mdx
  www/contents/hooks/use-focus-on-show.mdx
Due: prettier --write

feat(playground): implement `PlaygroundProvider` and refactor playground components
  www/app/[locale]/playground/components/editor/codemirror-editor.tsx
  www/app/[locale]/playground/components/editor/editor-state.ts
  www/app/[locale]/playground/components/editor/index.ts
  www/app/[locale]/playground/components/editor/preview-editor.tsx
  www/app/[locale]/playground/components/playground-editor-switcher.tsx
  www/app/[locale]/playground/components/playground-editor.tsx
  www/app/[locale]/playground/components/playground-header.tsx
  www/app/[locale]/playground/components/playground-history.tsx
  www/app/[locale]/playground/components/playground-tabs.tsx
  www/app/[locale]/playground/hooks/use-playground-files.ts
  www/app/[locale]/playground/hooks/use-playground.ts
  www/app/[locale]/playground/playground-provider.tsx
  www/app/[locale]/playground/playground.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(calendar): create documentation
  www/contents/components/(components)/calendar.ja.mdx
  www/contents/components/(components)/calendar.mdx
Due: prettier --write

docs(frameworks): migrate next-page documentation
  www/contents/get-started/frameworks/next-pages.ja.mdx
  www/contents/get-started/frameworks/next-pages.mdx
Due: prettier --write

docs(frameworks): migrate next-app documentation
  www/contents/get-started/frameworks/next-app.ja.mdx
  www/contents/get-started/frameworks/next-app.mdx
  www/contents/get-started/index.mdx
Due: prettier --write

style(remove unnecessary borders): eliminate redundant borderCollapse settings
  packages/react/src/components/native-table/native-table.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(modal): add full width to modal component
  packages/react/src/components/modal/modal.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(field): use labelId for id fallback
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(field): adjust message placement and style layout
  packages/react/src/components/field/field.style.ts
  packages/react/src/components/field/field.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-component-style): ensure colorScheme fallback logic
  packages/react/src/core/components/use-component-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(icons): update background and hover styles
  www/app/[locale]/(apps)/icons/preview-drawer.tsx
  www/components/copy-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(use-calendar): simplify updateMaybeDateValue logic
  packages/react/src/components/calendar/use-calendar.ts
  packages/react/src/components/date-picker/use-date-picker.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(field): remove replace prop from Field.Root component
  packages/react/src/components/field/field.stories.tsx
  packages/react/src/components/field/field.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated registry
  packages/react/src/components/calendar/registry.json
  packages/react/src/components/date-picker/registry.json
  packages/react/src/components/field/registry.json
  packages/react/src/components/modal/registry.json
  packages/react/src/components/native-table/registry.json
  packages/react/src/hooks/use-focus/registry.json
  www/public/registry/v2/components/calendar.json
  www/public/registry/v2/components/date-picker.json
  www/public/registry/v2/components/field.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/native-table.json
  www/public/registry/v2/hooks/use-focus.json
Due: prettier --write

fix(style): set gridColumn to initial in vertical orientation
  packages/react/src/components/field/field.style.ts
  packages/react/src/components/field/registry.json
  www/public/registry/v2/components/field.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci(travis): remove unused create-react-app files
  .changeset/config.json
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  examples/create-react-app/.env
  examples/create-react-app/.gitignore
  examples/create-react-app/README.md
  examples/create-react-app/craco.config.js
  examples/create-react-app/eslint.config.ts
  examples/create-react-app/package.json
  examples/create-react-app/public/favicon.svg
  examples/create-react-app/public/index.html
  examples/create-react-app/public/logo-black.png
  examples/create-react-app/public/logo-black.svg
  examples/create-react-app/public/logo-black@2x.png
  examples/create-react-app/public/logo-colored.png
  examples/create-react-app/public/logo-colored@2x.png
  examples/create-react-app/public/logo-white.png
  examples/create-react-app/public/logo-white.svg
  examples/create-react-app/public/logo-white@2x.png
  examples/create-react-app/public/logomark-black.png
  examples/create-react-app/public/logomark-black.svg
  examples/create-react-app/public/logomark-black@2x.png
  examples/create-react-app/public/logomark-white.png
  examples/create-react-app/public/logomark-white.svg
  examples/create-react-app/public/logomark-white@2x.png
  examples/create-react-app/src/app.tsx
  examples/create-react-app/src/components/layouts/header.tsx
  examples/create-react-app/src/components/layouts/index.tsx
  examples/create-react-app/src/index.tsx
  examples/create-react-app/src/theme/config.ts
  examples/create-react-app/src/theme/index.ts
  examples/create-react-app/tsconfig.json
  lefthook.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  package.json
  packages/react/package.json
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  pnpm-lock.yaml
  www/package.json
Due: prettier --write

build: updated icons
  packages/react/src/components/icon/icons/align-center-icon.tsx
  packages/react/src/components/icon/icons/align-justify-icon.tsx
  packages/react/src/components/icon/icons/align-left-icon.tsx
  packages/react/src/components/icon/icons/align-right-icon.tsx
  packages/react/src/components/icon/icons/ev-charger-icon.tsx
  packages/react/src/components/icon/icons/house-heart-icon.tsx
  packages/react/src/components/icon/icons/indent-decrease-icon.tsx
  packages/react/src/components/icon/icons/indent-increase-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/letter-text-icon.tsx
  packages/react/src/components/icon/icons/list-chevrons-up-down-icon.tsx
  packages/react/src/components/icon/icons/list-indent-decrease-icon.tsx
  packages/react/src/components/icon/icons/list-indent-increase-icon.tsx
  packages/react/src/components/icon/icons/text-align-center-icon.tsx
  packages/react/src/components/icon/icons/text-align-end-icon.tsx
  packages/react/src/components/icon/icons/text-align-justify-icon.tsx
  packages/react/src/components/icon/icons/text-align-start-icon.tsx
  packages/react/src/components/icon/icons/text-icon.tsx
  packages/react/src/components/icon/icons/text-initial-icon.tsx
  packages/react/src/components/icon/icons/text-wrap-icon.tsx
  packages/react/src/components/icon/icons/wrap-text-icon.tsx
  www/app/[locale]/search.tsx
  www/data/icons.json
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
