Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(tooltip): updated props and Popper integration
  .changeset/big-dodos-scream.md
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(list): fixed prop reflection in list component
  .changeset/moody-cheetahs-rescue.md
  packages/components/list/src/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(dropzone): added dynamic aria-labelledby support
  .changeset/gentle-snails-brake.md
  packages/components/dropzone/src/dropzone.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): updated CircleProgress type definition
  .changeset/popular-garlics-shop.md
  packages/theme/src/components/circle-progress.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(calendar): extract `InputProps` for reuse
  .changeset/eleven-terms-poke.md
  packages/components/calendar/src/use-calendar-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(infinite-scroll-area): format code
  packages/hooks/use-infinite-scroll/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-infinite-scroll): rename props in test
  packages/hooks/use-infinite-scroll/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@f303a51322dfca1226d698baded3ca3168191495 🚀
  assets/Color-F6OSRLHC-B9iRN-sc.js
  assets/Color-F6OSRLHC-DnVJiS4i.js
  assets/DocsRenderer-CFRXHY34-C2VZT9EL.js
  assets/DocsRenderer-CFRXHY34-DdMOjr3m.js
  assets/borders-CKwPKLew.js
  assets/borders-CYnLPD-z.js
  assets/breakpoints-C-L__53T.js
  assets/breakpoints-DnFhR_Jj.js
  assets/colors-CqUzu6tN.js
  assets/entry-preview-cvUcCWbm.js
  assets/gradients-BTeh9obp.js
  assets/gradients-ogbsiQdt.js
  assets/iframe-CvpiNPW_.js
  assets/iframe-Dshd5g3H.js
  assets/index-3PdQOKLf.js
  assets/index-hxOB3Q0a.js
  assets/index-ySwHA5Dn.js
  assets/preview-BHGdQKMs.js
  assets/preview-BouhI6X8.js
  assets/preview-C7PzUXei.js
  assets/preview-KK50snGt.js
  assets/preview-dElA_iW0.js
  assets/preview-rU-GtQiQ.js
  assets/radii-BxIoJqGq.js
  assets/radii-DVEsGXLR.js
  assets/radio.stories-Cy3fjTf_.js
  assets/radio.stories-Dum3ETfV.js
  assets/shadows-C0h5AYv_.js
  assets/sizes-DzVkN5yM.js
  assets/spaces-CDikDzE_.js
  assets/transitions-B0YUd8XE.js
  assets/typography-C33huqDG.js
  assets/welcome-BeP-EgpA.js
  assets/welcome-CQnAVJDD.js
  assets/z-index-DRDWK2e_.js
  assets/z-index-Dlk7Ay4T.js
  iframe.html
  index.json
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `AvatarIcon` in `Avatar` and use `@yamada-ui/lucide` icon
  .changeset/shy-dolls-explain.md
  packages/components/avatar/package.json
  packages/components/avatar/src/avatar-icon.tsx
  packages/components/avatar/src/avatar.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(resizable): replace `resizable-trigger-icon` to use `@yamada-ui/lucide`
  .changeset/hip-rockets-jump.md
  packages/components/resizable/package.json
  packages/components/resizable/src/resizable-trigger.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(resizable): removed resizable trigger icon
  packages/components/resizable/src/index.ts
  packages/components/resizable/src/resizable-trigger.tsx
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(resizable-trigger): removed unused type
  packages/components/resizable/src/resizable-trigger.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(package): remove lucide from dependencies
  packages/components/resizable/package.json
Due: prettier --write

fix(circle-progress): remove deprecated `size` prop and cleanup
  packages/components/progress/src/circle-progress.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): added changeset
  .changeset/gentle-olives-cover.md
Due: prettier --write

fix: replace `ChevronIcon` in `Carousel` with `@yamada-ui/lucide`
  .changeset/hip-ladybugs-approve.md
  packages/components/carousel/src/carousel-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(fix): insert `@yamada-ui/lucide` and remove `@yamada-ui/icon`
  packages/components/carousel/package.json
Due: prettier --write

build: updated `pnpm-lock.yaml`
  pnpm-lock.yaml
Due: none

fix(image): remove deprecated `size` prop and cleanup
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): add changelog
  .changeset/happy-jars-count.md
Due: prettier --write

refactor(image): include `boxSize` in `rest`
  examples/next/app/app/color/page.tsx
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: delete changes made that is not related
  examples/next/app/app/color/page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `is` prefix
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/autocomplete/src/use-autocomplete-option.ts
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  stories/components/forms/autocomplete.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix default props
  packages/components/autocomplete/src/multi-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/heavy-mugs-report.md
Due: prettier --write

chore: update dependencies and add new icons
  .changeset/lucky-bananas-mix.md
  .changeset/young-moons-stare.md
  docs/package.json
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/next/app/package.json
  examples/next/pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  package.json
  packages/components/carousel/package.json
  packages/components/fontawesome/package.json
  packages/components/lucide/package.json
  packages/components/lucide/src/icons/cloud-alert.tsx
  packages/components/lucide/src/icons/equal-approximately.tsx
  packages/components/lucide/src/icons/index.ts
  packages/components/lucide/src/icons/index.types.ts
  packages/components/lucide/src/icons/laptop-minimal-check.tsx
  packages/components/lucide/src/icons/toilet.tsx
  packages/components/resizable/package.json
  packages/next/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): standardize color to 'muted' across components
  .changeset/fair-waves-train.md
  docs/components/forms/search.tsx
  docs/components/navigation/related-links.tsx
  docs/pages/icons/list.tsx
  packages/theme/src/components/blockquote.ts
  packages/theme/src/components/calendar.ts
  packages/theme/src/components/color-selector.ts
  packages/theme/src/components/dropzone.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/line-chart.ts
  packages/theme/src/components/markdown.ts
  packages/theme/src/components/menu.ts
  packages/theme/src/components/native-table.ts
  packages/theme/src/components/radar-chart.ts
  packages/theme/src/components/stat.ts
  packages/theme/src/components/stepper.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): simplify autocomplete logic and cleanup
  .changeset/sixty-rivers-swim.md
  packages/components/autocomplete/src/autocomplete-context.ts
  packages/components/autocomplete/src/autocomplete-list.tsx
  packages/components/autocomplete/src/use-autocomplete-list.ts
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/month-picker.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-multi-date-picker.ts
  packages/components/calendar/src/use-range-date-picker.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/calendar/src/year-picker.tsx
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/use-color-picker.ts
  packages/components/color-picker/tests/color-picker.test.tsx
  packages/components/menu/src/menu-list.tsx
  packages/components/select/src/select-list.tsx
  packages/components/select/src/use-select-list.ts
  packages/components/select/src/use-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: remove is prefix in props
  .changeset/neat-suns-pay.md
  packages/components/highlight/src/highlight.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.6.4.mdx
  CHANGELOG.md
Due: prettier --write

refactor: added generic type to component exports
  plop/component/theme-multi/{{dashCase packageName}}.ts.hbs
  plop/component/theme/{{dashCase packageName}}.ts.hbs
Due: none

chore: updated .nvmrc version constraint
  .nvmrc
Due: none

feat: add accessibility documentation for PinInput component
  docs/contents/components/forms/pin-input/accessibility.ja.mdx
  docs/contents/components/forms/pin-input/accessibility.mdx
Due: prettier --write

refactor(docs): replace FormControl with Fieldset
  docs/contents/components/forms/input/index.ja.mdx
  docs/contents/components/forms/input/index.mdx
  docs/contents/components/forms/pin-input/accessibility.ja.mdx
  docs/contents/components/forms/pin-input/accessibility.mdx
  stories/components/forms/pin-input.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(orientation): fix orientation data selector not working in firefox
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(changeset): added changeset
  .changeset/plenty-points-appear.md
Due: prettier --write

refactor(pseudo): removed unnecessary quotation
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix
