Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added new discord user mapping
  docs/scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): add tickSize and update styles
  packages/components/charts/src/rechart-properties.ts
  packages/components/charts/src/use-radar-chart.ts
  packages/theme/src/components/radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: remove skip
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: change received value
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(radar-chart): update comments and circle-grid style
  packages/components/charts/src/use-radar-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: change expectation
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(chart): remove pie-chart
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/use-chart-cell.ts
  packages/components/charts/src/use-pie-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(chart): remove pie-chart code
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/index.ts
  packages/components/charts/src/rechart-properties.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(stories): remove pie-chart stories
  stories/components/feedback/pie-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added chart components documentation
  packages/components/charts/DOCS.json
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added @yamada-ui/charts dependency and imports
  docs/components/mdx/editable-code-block.tsx
  docs/components/mdx/index.tsx
  docs/package.json
  docs/pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-window-event): fixed `useWindowEvent` hook to not be a shortcut key
  docs/contents/hooks/use-window-event.ja.mdx
  docs/contents/hooks/use-window-event.mdx
Due: prettier --write

feat(search): add a search icon for mobile
  docs/components/forms/search.tsx
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(i18n): add example sections and components
  docs/i18n/ui.en.json
  docs/i18n/ui.ja.json
  docs/pages/examples/[slug].page.tsx
  docs/pages/examples/authentication.tsx
  docs/pages/examples/cards.tsx
  docs/pages/examples/dashboard.tsx
  docs/pages/examples/forms.tsx
  docs/pages/examples/mail.tsx
  docs/pages/examples/music.tsx
  docs/pages/examples/playground.tsx
  docs/pages/examples/tasks.tsx
  docs/theme/components/index.ts
  docs/theme/components/segmented-control.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added redirect from /examples to /examples/mail
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

test(issue): replaced test:coverage script
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: added issue creation step and coverage scripts
  .github/workflows/quality.yml
  scripts/coverage-issues.ts
  vite.config.json-summary.mts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: requested changes
  docs/components/forms/search.tsx
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tree): updated `overflowY` to be `auto`
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

add: StringLiteral to literal and number
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): removed unused labelRefs handling
  .changeset/spotty-boxes-remain.md
  packages/components/segmented-control/src/segmented-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: excluded directories from vitest config
  vitest.config.mts
Due: none

chore: removed unused vite config files
  package.json
  vite.config.json-summary.mts
  vite.config.lcov-report.mts
Due: prettier --write

feat: enhanced test coverage issue automation
  scripts/coverage-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: renamed and updated workflows
  .github/workflows/observe-issues.yml
  .github/workflows/observe-pull-requests.yml
Due: prettier --write

refactor(scripts): optimized issue handling in coverage
  scripts/coverage-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(quality workflow): re-enabled codecov action
  .github/workflows/quality.yml
  codecov.yml
Due: prettier --write

Update codecov.yml
  codecov.yml
Due: prettier --write

fix: use `prev + 1` instead of `count + 1`
  docs/contents/hooks/use-window-event.ja.mdx
  docs/contents/hooks/use-window-event.mdx
Due: prettier --write

ci: disabled codecov comments
  codecov.yml
Due: prettier --write

ci(codecov): updated codecov configuration
  codecov.yml
Due: prettier --write

ci: added codecov config path to workflow
  .github/workflows/quality.yml
Due: prettier --write

chore(codecov): simplify component config
  codecov.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
