Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(vitest): update browser type definitions in vitest.config.ts
  packages/react/vitest.config.ts
  packages/utils/vitest.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): remove outdated changeset files for React and styles dependencies
  .changeset/dependabot-react-dependencies-7622.md
  .changeset/dependabot-styles-7622.md
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix: improve accessibility by adding aria-labels to input elements and update test cases
  packages/react/src/components/infinite-scroll-area/infinite-scroll-area.test.tsx
  packages/react/src/components/native-select/use-native-select.tsx
  packages/react/src/components/pin-input/pin-input.test.browser.tsx
  packages/react/src/components/reorder/reorder.tsx
  packages/react/src/components/reorder/use-reorder.ts
  packages/react/src/hooks/use-controllable-state/index.test.browser.tsx
  packages/react/src/providers/i18n-provider/i18n-provider.test.tsx
  packages/workspace/src/oxlint/react.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(cli): add 10-minute local cache for docs command
  packages/cli/src/commands/docs/fetch-doc.test.ts
  packages/cli/src/commands/docs/fetch-doc.ts
  packages/cli/src/commands/docs/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(data-list): add tip
  www/contents/components/(components)/data-list.ja.mdx
  www/contents/components/(components)/data-list.mdx
Due: prettier --write

docs(list): add tip
  www/contents/components/(components)/list.ja.mdx
  www/contents/components/(components)/list.mdx
Due: prettier --write

docs(for): add tip
  www/contents/components/(utilities)/for.ja.mdx
  www/contents/components/(utilities)/for.mdx
Due: prettier --write

docs(native-table): add tip
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

docs(reorder): add tip
  www/contents/components/(components)/reorder.ja.mdx
  www/contents/components/(components)/reorder.mdx
Due: prettier --write

fix(cli): resolve review issues in docs command
  packages/cli/src/commands/docs/fetch-doc.test.ts
  packages/cli/src/commands/docs/fetch-doc.ts
  packages/cli/src/commands/docs/index.test.ts
  packages/cli/src/commands/docs/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(timeline): apply review wording
  www/contents/components/(components)/timeline.ja.mdx
  www/contents/components/(components)/timeline.mdx
Due: prettier --write

test: enhance tests for accessibility and platform detection
  packages/react/src/components/infinite-scroll-area/infinite-scroll-area.test.tsx
  packages/react/src/hooks/use-focus/index.test.webkit.tsx
  packages/utils/src/dom.test.webkit.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): rework toolchain adapter design
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/registry.ts
  packages/cli/src/utils/toolchain/formatters/interfaces.ts
  packages/cli/src/utils/toolchain/formatters/prettier.test.ts
  packages/cli/src/utils/toolchain/formatters/prettier.ts
  packages/cli/src/utils/toolchain/index.test.ts
  packages/cli/src/utils/toolchain/index.ts
  packages/cli/src/utils/toolchain/linters/eslint.ts
  packages/cli/src/utils/toolchain/linters/interfaces.ts
  packages/cli/src/utils/toolchain/resolve.test.ts
  packages/cli/src/utils/toolchain/resolve.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/native-select.json
  www/public/registry/dev/v2/components/pin-input.json
  www/public/registry/dev/v2/components/reorder.json
  www/public/registry/dev/v2/components/resizable.json
  www/public/registry/dev/v2/hooks/use-controllable-state.json
  www/public/registry/dev/v2/hooks/use-focus.json
  www/public/registry/dev/v2/providers/i18n-provider.json
Due: prettier --write

feat(skills/create-issue): skip interactive collection when sufficient context exists (#6713)
  .agents/skills/create-issue/SKILL.md
Due: prettier --write

chore(create-issue): use GraphQL for issue type assignment (#6906)
  .agents/skills/create-issue/SKILL.md
Due: prettier --write

ci(release): rename publish job to release and update dependencies
  .github/workflows/release.yml
Due: prettier --write

ci(release): isolate npm publish permissions (#7522)
  .github/workflows/release.yml
Due: prettier --write

ci(security): declare zizmor checkout permission
  .github/workflows/github-actions.yml
Due: prettier --write

chore(devcontainer): align editor tooling with oxc
  .devcontainer/devcontainer.json
Due: prettier --write

test(cli): add coverage for writeCache silent error handling
  packages/cli/src/commands/docs/fetch-doc.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(wrap): add related component tips
  www/contents/components/(components)/wrap.ja.mdx
  www/contents/components/(components)/wrap.mdx
Due: prettier --write

docs(container): add related component tips
  www/contents/components/(components)/container.ja.mdx
  www/contents/components/(components)/container.mdx
Due: prettier --write

docs(grid): add related component tips
  www/contents/components/(components)/grid.ja.mdx
  www/contents/components/(components)/grid.mdx
Due: prettier --write

docs(carousel): add related component tips
  www/contents/components/(components)/carousel.ja.mdx
  www/contents/components/(components)/carousel.mdx
Due: prettier --write

docs(simple-grid): add related component tips
  www/contents/components/(components)/simple-grid.ja.mdx
  www/contents/components/(components)/simple-grid.mdx
Due: prettier --write

docs(stack): add related component tips
  www/contents/components/(components)/stack.ja.mdx
  www/contents/components/(components)/stack.mdx
Due: prettier --write

docs(empty-state): add related component tips
  www/contents/components/(components)/empty-state.ja.mdx
  www/contents/components/(components)/empty-state.mdx
Due: prettier --write

docs(flex): add related component tips
  www/contents/components/(components)/flex.ja.mdx
  www/contents/components/(components)/flex.mdx
Due: prettier --write

docs(card): add related component tips
  www/contents/components/(components)/card.ja.mdx
  www/contents/components/(components)/card.mdx
Due: prettier --write

docs(separator): add related component tips
  www/contents/components/(components)/separator.ja.mdx
  www/contents/components/(components)/separator.mdx
Due: prettier --write

Apply suggestion from @hirotomoyamada
  www/contents/components/(animations)/fade.ja.mdx
Due: prettier --write

docs: simplify visually hidden guidance
  www/contents/components/(utilities)/visually-hidden.ja.mdx
  www/contents/components/(utilities)/visually-hidden.mdx
Due: prettier --write

feat(lint): add @yamada-ui/lint package with props-shorthand rule
  .changeset/lint-props-shorthand.md
  .gitignore
  AGENTS.md
  package.json
  packages/lint/README.md
  packages/lint/clean-package.config.json
  packages/lint/eslint.config.ts
  packages/lint/package.json
  packages/lint/src/index.ts
  packages/lint/src/rules/props-shorthand/README.md
  packages/lint/src/rules/props-shorthand/index.test.ts
  packages/lint/src/rules/props-shorthand/index.ts
  packages/lint/src/rules/props-shorthand/shorthand-map.test.ts
  packages/lint/src/rules/props-shorthand/shorthand-map.ts
  packages/lint/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/lint/src/rules/props-shorthand/ui-component-tracker.ts
  packages/lint/tsconfig.json
  packages/lint/tsdown.config.ts
  packages/lint/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint-plugin): align package naming, deps, and factory tracking
  .changeset/eslint-plugin-props-shorthand.md
  .changeset/lint-props-shorthand.md
  AGENTS.md
  package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/clean-package.config.json
  packages/eslint-plugin/eslint.config.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/README.md
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.ts
  packages/eslint-plugin/tsconfig.json
  packages/eslint-plugin/tsdown.config.ts
  packages/eslint-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint-plugin): drop @typescript-eslint/utils runtime dependency
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs: align tip fences with docs syntax
  www/contents/components/(components)/container.ja.mdx
  www/contents/components/(components)/container.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/carousel.ja.mdx
  www/contents/components/(components)/carousel.mdx
Due: prettier --write
