Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix: fix p value
  packages/components/loading/src/loading-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): change DotUIProps
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): unified tooltip component usage
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/chart-tooltip.tsx
  packages/components/charts/src/legend.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): updated tooltip import, commented out hooks
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/pie-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(use-area-chart): updated default fillOpacity
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update AreaChart styles and props
  packages/theme/src/components/area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/feedback): adjusted opacity, renamed label, removed story
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: renamed hono to hono-react
  .changeset/config.json
  examples/hono/package.json
Due: prettier --write

feat(core): added `__prefix` to `var` prop handling
  .changeset/witty-falcons-run.md
  packages/core/src/config.ts
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(ui-prefix): added missing `ui` prefix to css variables
  .changeset/curly-carrots-exist.md
  packages/components/color-picker/src/alpha-slider.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/layouts/src/stack.tsx
  packages/components/snacks/src/snacks.tsx
  packages/theme/src/components/indicator.ts
  packages/theme/src/components/stat.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): allowed dynamic keys in style props
  .changeset/fair-schools-juggle.md
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added fallback for theme tokens
  .changeset/wicked-bags-fix.md
  packages/core/src/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(layouts): fixed fallback for missing theme tokens
  .changeset/real-waves-repeat.md
  packages/components/layouts/src/stack.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(layout): enhance test coverage
  packages/components/layouts/tests/layouts.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/tender-bears-confess.md
Due: prettier --write

chore(npm-script): update `lint`
  package.json
Due: prettier --write

chore(eslint): establish test code conventions with `eslint-plugin-vitest`
  .eslintrc
Due: prettier --write

chore(eslint): integrate `eslint-plugin-vitest`
  .eslintrc
Due: prettier --write

build(lint): add -w eslint-plugin-vitest
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(area-chart): added `__prefix` to `var` props
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): support variable fillOpacity types
  packages/components/charts/src/area-chart-gradient.tsx
  packages/components/charts/src/area-chart-split.tsx
  packages/components/charts/src/use-area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: use :where()
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: rewrite changeset
  .changeset/orange-numbers-turn.md
Due: prettier --write

chore(setup-test): restore removed `mockImplementation`
  scripts/setup-test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(chart): change AreaChartSeries
  packages/components/charts/src/chart.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): attached dotProp
  packages/components/charts/src/chart-utils.ts
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-area-chart.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): optimized dot properties in useAreaChart
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): refactor containerClassName
  packages/components/charts/src/use-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): change type name `ChartTooltipType`->`ChartTooltip`
  packages/components/charts/src/chart.types.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): restrict types to export
  packages/components/charts/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(build): added banner and sourcemap to packages
  plop/component/package-multi/package.json.hbs
  plop/component/package/package.json.hbs
  plop/hook/package/package.json.hbs
Due: none

build(charts): added banner and sourcemap configs
  packages/components/charts/package.json
Due: prettier --write

refactor(area-chart): assign className
  packages/components/charts/src/area-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added "use client" banner to packages
  .changeset/tasty-mayflies-juggle.md
  packages/components/color-picker/package.json
  packages/components/resizable/package.json
  packages/components/ripple/package.json
  packages/components/snacks/package.json
  packages/components/stat/package.json
Due: prettier --write

chore(changeset): separate changeset
  .changeset/early-mirrors-fry.md
  .changeset/mighty-pens-draw.md
Due: prettier --write

fix(drawer): fixed requested changes in drawer.tsx
  packages/components/modal/src/drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(use-infinite-scroll): add hook with documentation
  packages/hooks/use-infinite-scroll/README.md
  packages/hooks/use-infinite-scroll/package.json
  packages/hooks/use-infinite-scroll/src/index.ts
  packages/hooks/use-infinite-scroll/tsconfig.json
  pnpm-lock.yaml
  stories/hooks/use-infinite-scroll.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
