Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(tree): replace TreeContext with ComponentContext for improved context management
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tree): improve reusability and improve overall tree context
  packages/react/src/components/tree/index.ts
  packages/react/src/components/tree/namespaces.ts
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(exports): export Show and ShowProps explicitly
  packages/react/src/components/show/index.ts
  packages/react/src/components/show/props.json
  www/data/props/show.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): correct usage instructions in documentation
  www/contents/components/(components)/breadcrumb.ja.mdx
  www/contents/components/(components)/editable.ja.mdx
  www/contents/components/(components)/file-input.ja.mdx
  www/contents/components/(components)/highlight.ja.mdx
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/input.ja.mdx
  www/contents/components/(components)/tag.ja.mdx
Due: prettier --write

fix: correct Japanese instructions for setting properties
  www/contents/components/(animations)/airy.ja.mdx
  www/contents/components/(animations)/collapse.ja.mdx
  www/contents/components/(animations)/flip.ja.mdx
  www/contents/components/(animations)/slide.ja.mdx
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/breadcrumb.ja.mdx
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/circle-progress.ja.mdx
  www/contents/components/(components)/color-swatch.ja.mdx
  www/contents/components/(components)/drawer.ja.mdx
  www/contents/components/(components)/drawer.mdx
  www/contents/components/(components)/dropzone.ja.mdx
  www/contents/components/(components)/group.ja.mdx
  www/contents/components/(components)/indicator.ja.mdx
  www/contents/components/(components)/indicator.mdx
  www/contents/components/(components)/modal.ja.mdx
  www/contents/components/(components)/pagination.ja.mdx
  www/contents/components/(components)/separator.ja.mdx
  www/contents/components/(components)/stat.ja.mdx
  www/contents/components/(components)/tabs.ja.mdx
  www/contents/components/(components)/tooltip.ja.mdx
  www/contents/components/(components)/tooltip.mdx
  www/contents/components/(utilities)/client-only.ja.mdx
  www/contents/components/(utilities)/for.ja.mdx
  www/contents/components/(utilities)/format-byte.ja.mdx
  www/contents/components/(utilities)/format-number.ja.mdx
  www/contents/hooks/use-format-number.ja.mdx
Due: prettier --write

refactor(tree): simplify TreeCollection interface and enhance node state management
  packages/react/src/components/tree/tree-collection.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components): correct readOnly labels and descriptions
  www/contents/components/(animations)/airy.mdx
  www/contents/components/(animations)/flip.mdx
  www/contents/components/(components)/dropzone.ja.mdx
  www/contents/components/(components)/dropzone.mdx
  www/contents/components/(components)/editable.mdx
  www/contents/components/(components)/fieldset.mdx
  www/contents/components/(components)/infinite-scroll-area.mdx
  www/contents/components/(components)/input.mdx
  www/contents/components/(components)/switch.ja.mdx
  www/contents/components/(components)/switch.mdx
  www/contents/components/(components)/textarea.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

chore(pnpm): revert pnpm-lock changes
  pnpm-lock.yaml
Due: none

chore(tree): remove unnecessary comments
  packages/react/src/components/tree/tree.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(segmented-control): update transition properties for dark mode
  packages/react/src/components/segmented-control/segmented-control.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tree): fix type issues and duplicates
  packages/react/src/components/tree/index.ts
  packages/react/src/components/tree/namespaces.ts
  packages/react/src/components/tree/tree-collection.ts
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree-utils.tsx
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(theme): simplify titles to "Theme / Tokens
  packages/react/src/theme/tokens/aspect-ratios.stories.tsx
  packages/react/src/theme/tokens/blurs.stories.tsx
  packages/react/src/theme/tokens/colors.stories.tsx
  packages/react/src/theme/tokens/duration.stories.tsx
  packages/react/src/theme/tokens/easings.stories.tsx
  packages/react/src/theme/tokens/font-sizes.stories.tsx
  packages/react/src/theme/tokens/font-weights.stories.tsx
  packages/react/src/theme/tokens/fonts.stories.tsx
  packages/react/src/theme/tokens/keyframes.stories.tsx
  packages/react/src/theme/tokens/letter-spacings.stories.tsx
  packages/react/src/theme/tokens/line-heights.stories.tsx
  packages/react/src/theme/tokens/radii.stories.tsx
  packages/react/src/theme/tokens/shadows.stories.tsx
  packages/react/src/theme/tokens/sizes.stories.tsx
  packages/react/src/theme/tokens/spaces.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(grid): use namespaces for exports, tests, and stories
  packages/react/src/components/grid/grid.stories.tsx
  packages/react/src/components/grid/grid.test.tsx
  packages/react/src/components/grid/grid.tsx
  packages/react/src/components/grid/index.ts
  packages/react/src/components/grid/namespace.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(picture): migrate documentation
  www/contents/components/(components)/picture.ja.mdx
  www/contents/components/(components)/picture.mdx
Due: prettier --write

docs(segmented-control): migrate documentation
  www/contents/components/(components)/segmented-control.ja.mdx
  www/contents/components/(components)/segmented-control.mdx
Due: prettier --write

docs(show): migrate documentation
  www/contents/components/(utilities)/show.ja.mdx
  www/contents/components/(utilities)/show.mdx
Due: prettier --write

docs(use-os): migrate documentation
  www/contents/hooks/use-os.ja.mdx
  www/contents/hooks/use-os.mdx
Due: prettier --write

docs(*): update schema to scheme
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/circle-progress.ja.mdx
  www/contents/components/(components)/close-button.ja.mdx
  www/contents/components/(components)/code.ja.mdx
  www/contents/components/(components)/container.ja.mdx
  www/contents/components/(components)/file-button.ja.mdx
  www/contents/components/(components)/progress.ja.mdx
  www/contents/components/(components)/toggle.ja.mdx
Due: prettier --write

docs(use-os): update documentation
  www/contents/hooks/use-os.ja.mdx
  www/contents/hooks/use-os.mdx
Due: prettier --write

docs(use-timeout): migrate documentation
  www/contents/hooks/use-timeout.ja.mdx
  www/contents/hooks/use-timeout.mdx
Due: prettier --write

docs(use-breakpoint-effect): migrate documentation
  www/contents/hooks/use-breakpoint-effect.ja.mdx
  www/contents/hooks/use-breakpoint-effect.mdx
Due: prettier --write

docs(reoder): migrate documentation
  www/contents/components/(components)/reorder.ja.mdx
  www/contents/components/(components)/reorder.mdx
Due: prettier --write

ci(changelog): added changelog
  pnpm-lock.yaml
Due: none

fix(use-os): update getOS to accept window parameter
  packages/react/src/hooks/use-os/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: remove redundant window undefined test
  packages/react/src/hooks/use-os/use-os.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(reoder): fix documentation
  www/contents/components/(components)/reorder.ja.mdx
  www/contents/components/(components)/reorder.mdx
Due: prettier --write

docs(spacer): migrate documentation
  www/contents/components/(components)/spacer.ja.mdx
  www/contents/components/(components)/spacer.mdx
Due: prettier --write

docs(portal): migrate documentation
  www/contents/components/(utilities)/portal.ja.mdx
  www/contents/components/(utilities)/portal.mdx
Due: prettier --write

fix(notice): update documentation to clarify behavior of display duration
  packages/react/src/core/system/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(notice): update notice placements for better alignment
  packages/react/src/components/notice/notice-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(notice): update default placement value for new placement string
  packages/react/src/core/system/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(notice): simplify value creation in NoticeProvider using createMethods
  packages/react/src/components/notice/notice-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add pre- and post-build scripts for utils handling
  packages/react/package.json
  packages/react/scripts/post-build.ts
  packages/react/scripts/pre-build.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(notice): reduce duplicate condition in horizontal type definition
  packages/react/src/components/notice/notice-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(text-styles): add ghost text style
  packages/react/src/theme/styles/text-styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(code): add highlight support to code blocks
  www/components/code-preview.tsx
  www/components/mdx/code-block.tsx
  www/libs/shiki.ts
  www/utils/rehype-plugins/rehype-pre.ts
  www/utils/remark-plugins/remark-code-block.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(text-styles): add example and update theme reference
  www/contents/theming/styles/global-styles.ja.mdx
  www/contents/theming/styles/global-styles.mdx
  www/contents/theming/styles/layer-styles.ja.mdx
  www/contents/theming/styles/layer-styles.mdx
  www/contents/theming/styles/reset-styles.ja.mdx
  www/contents/theming/styles/reset-styles.mdx
  www/contents/theming/styles/text-styles.ja.mdx
  www/contents/theming/styles/text-styles.mdx
Due: prettier --write

fix(docs): add missing punctuation to descriptions
  www/contents/theming/tokens/animations.ja.mdx
  www/contents/theming/tokens/aspect-ratios.ja.mdx
  www/contents/theming/tokens/blurs.ja.mdx
  www/contents/theming/tokens/borders.ja.mdx
  www/contents/theming/tokens/breakpoints.ja.mdx
  www/contents/theming/tokens/colors.ja.mdx
  www/contents/theming/tokens/durations.ja.mdx
  www/contents/theming/tokens/easings.ja.mdx
  www/contents/theming/tokens/font-sizes.ja.mdx
  www/contents/theming/tokens/font-weights.ja.mdx
  www/contents/theming/tokens/fonts.ja.mdx
  www/contents/theming/tokens/gradients.ja.mdx
  www/contents/theming/tokens/keyframes.ja.mdx
  www/contents/theming/tokens/letter-spacings.ja.mdx
  www/contents/theming/tokens/line-heights.ja.mdx
  www/contents/theming/tokens/radii.ja.mdx
  www/contents/theming/tokens/sizes.ja.mdx
  www/contents/theming/tokens/spaces.ja.mdx
  www/contents/theming/tokens/z-indices.ja.mdx
Due: prettier --write
