Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat: added tree component
  packages/components/tree/README.md
  packages/components/tree/package.json
  packages/components/tree/src/index.ts
  packages/components/tree/src/tree-button.tsx
  packages/components/tree/src/tree-item.tsx
  packages/components/tree/src/tree-panel.tsx
  packages/components/tree/src/tree.tsx
  packages/components/tree/tests/tree.test.tsx
  packages/components/tree/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/tree.ts
  pnpm-lock.yaml
  stories/components/disclosure/tree.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: use destructuring assignment
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/color-picker/src/use-color-picker.ts
  packages/components/native-select/src/native-select.tsx
  packages/components/radio/src/radio.tsx
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: use checkbox
  .changeset/warm-feet-complain.md
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: changeset
  .changeset/fast-rats-live.md
  .changeset/warm-feet-complain.md
Due: prettier --write

fix(charts): delete unnecessary dependencies
  .changeset/stupid-bobcats-do.md
  packages/components/charts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: run changeset
  .changeset/red-months-punch.md
Due: prettier --write

refactor(checkbox): removed unused formControlProps logic
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test
  packages/hooks/use-event-listener/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: use `isNull` provided by `@yamada-ui/utils`
  packages/components/tree/src/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(markdown): remove unused function `isParent`
  packages/components/markdown/src/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(markdown): remove unneeded functions `isText`, `isLiteral`, `isParagraph`
  packages/components/markdown/src/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(markdown): add tests for rendering code blocks
  packages/components/markdown/tests/markdown.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(markdown): add tests for lacking coverage
  packages/components/markdown/tests/with-note-components.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/metal-roses-speak.md
Due: prettier --write

ci(component): updated component
  docs/contents/components/navigation/breadcrumb/theming.ja.mdx
  docs/contents/components/navigation/breadcrumb/theming.mdx
  docs/contents/components/overlay/menu/theming.ja.mdx
  docs/contents/components/overlay/menu/theming.mdx
Due: prettier --write

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

fix: correct ColorPicker/Dropzone/Carousel class name
  .changeset/sweet-monkeys-drive.md
  packages/components/carousel/src/carousel-indicators.tsx
  packages/components/carousel/tests/carousel.test.tsx
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/color-selector-eye-dropper.tsx
  packages/components/color-picker/src/color-selector-swatches.tsx
  packages/components/dropzone/src/dropzone.tsx
  packages/components/dropzone/tests/dropzone.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added changeset
  .changeset/eighty-needles-matter.md
Due: prettier --write

chore: update versions in pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

refactor: remove unnecessary omitObjects in Textarea component
  .changeset/fluffy-laws-repair.md
  packages/components/textarea/src/textarea.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: fixing semantic versioning of changesets
  .changeset/fluffy-laws-repair.md
Due: prettier --write

fix: correct ColorPicker/Dropzone/Carousel class name
  .changeset/selfish-ways-doubt.md
Due: prettier --write

fix: remain some packages version unchanged
  .changeset/sweet-monkeys-drive.md
Due: prettier --write

refactor(theme-tools): renamed parameter in extendConfig function
  .changeset/chilled-vans-care.md
  packages/theme-tools/src/extend-config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): refactor props handling in useEditable
  .changeset/sweet-cameras-explode.md
  packages/components/editable/src/editable.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-token): add tests for theme token retrieval
  packages/hooks/use-token/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: exclude maintainer if already has a PR to review
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: updated aria-labels in test suites
  packages/components/native-select/tests/native-select.test.tsx
  packages/components/number-input/tests/number-input.test.tsx
  packages/components/pagination/tests/pagination.test.tsx
  packages/components/switch/tests/switch.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: change type of reviewers to reviewers from user
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: capitalized `aria-label` texts in components
  .changeset/chilly-hats-play.md
  packages/components/color-picker/src/use-color-selector.ts
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(file-input): corrected `aria-readonly` attribute names
  .changeset/little-countries-glow.md
  packages/components/file-input/src/file-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(color-picker, tag): corrected aria labels and button names
  packages/components/color-picker/tests/color-selector.test.tsx
  packages/components/tag/tests/tag.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(autocomplete/calendar): added aria and autocomplete attributes
  .changeset/polite-spiders-buy.md
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/calendar/src/use-date-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(markdown): use dedicated methods for `null`, `undefined` checks
  packages/components/markdown/src/remark-ui-component.ts
  packages/components/markdown/src/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(menu): updated imports, added aria attributes
  .changeset/gold-mails-tap.md
  packages/components/menu/src/menu-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
