Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

build: updated dependencies
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add theme, components
  examples/remix/app/components/layouts/header.tsx
  examples/remix/app/components/layouts/index.tsx
  examples/remix/app/components/media-and-icons/color-palette.tsx
  examples/remix/app/components/media-and-icons/index.ts
  examples/remix/app/components/media-and-icons/moon.tsx
  examples/remix/app/components/media-and-icons/sun.tsx
  examples/remix/app/root.tsx
  examples/remix/app/theme/components/index.ts
  examples/remix/app/theme/config.ts
  examples/remix/app/theme/index.ts
  examples/remix/app/theme/styles/global-style.ts
  examples/remix/app/theme/styles/index.ts
  examples/remix/app/theme/styles/layer-styles.ts
  examples/remix/app/theme/styles/reset-style.ts
  examples/remix/app/theme/styles/text-styles.ts
  examples/remix/app/theme/tokens/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set 110 for zIndex
  packages/components/transitions/src/slide.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add changeset
  .changeset/witty-seals-approve.md
Due: prettier --write

fix: fixed boxShadow value in component
  .changeset/sharp-readers-train.md
  packages/components/notice/src/notice.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-focus-visible): fixed focus lock bug in modals
  .changeset/healthy-birds-drive.md
  packages/hooks/use-focus-visible/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(segmented-control): fixed prop reflection in control
  .changeset/selfish-icons-taste.md
  packages/components/segmented-control/src/segmented-control.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: optimize imports and disable drag momentum for DrawerContent
  packages/components/modal/src/drawer.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: migrated build system to Vite
  examples/remix/app/root.tsx
  examples/remix/app/routes/_index.tsx
  examples/remix/env.d.ts
  examples/remix/remix.config.js
  examples/remix/tsconfig.json
  examples/remix/vite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated remix scripts with Vite
  examples/remix/package.json
Due: prettier --write

chore: updated images
  examples/remix/public/favicon.ico
  examples/remix/public/favicon.svg
  examples/remix/public/logo-black.png
  examples/remix/public/logo-black.svg
  examples/remix/public/logo-black@2x.png
  examples/remix/public/logo-colored.png
  examples/remix/public/logo-colored@2x.png
  examples/remix/public/logo-white.png
  examples/remix/public/logo-white.svg
  examples/remix/public/logo-white@2x.png
  examples/remix/public/logomark-black.png
  examples/remix/public/logomark-black.svg
  examples/remix/public/logomark-black@2x.png
  examples/remix/public/logomark-white.png
  examples/remix/public/logomark-white.svg
  examples/remix/public/logomark-white@2x.png
Due: none

refactor: remove @remix-run/css-bundle and unused component
  examples/remix/app/root.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: remove @remix-run/css-bundle from dependencies
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: change port to 4447
  examples/remix/vite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: downgraded Vite to unify at version 5.1.4
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

test: add Test for MultiSelect
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/flat-badgers-hammer.md
Due: prettier --write

fix: set as number
  packages/components/transitions/src/slide.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set number for zIndex
  packages/components/carousel/src/carousel-control.tsx
  packages/components/carousel/src/carousel-indicators.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/stupid-carpets-peel.md
Due: prettier --write

test: add test for dialog
  packages/components/modal/tests/dialog.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test for drawer
  packages/components/modal/tests/drawer.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: edit test for drawer
  packages/components/modal/tests/drawer.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(app): improved theme management and SSR support
  examples/remix/app/components/layouts/header.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/_index.tsx
  examples/remix/app/theme/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: use user-event instead of fireEvent
  packages/components/modal/tests/dialog.test.tsx
  packages/components/modal/tests/drawer.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated contributing guidelines with tests
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

refactor(scripts): optimized issue filtering logic
  scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): optimized issue filtering logic
  docs/scripts/observe-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(line-chart): added line chart
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-line-chart.ts
  packages/theme/src/components/line-chart.ts
  stories/components/feedback/line-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): optimize AreaChart memoization & types
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(area-chart): added comment placeholder
  packages/components/charts/src/area-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(use-area-chart): added comment on color usage
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): added todos for color adjustments
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): simplified gradient condition
  packages/components/charts/src/area-chart-gradient.tsx
  packages/components/charts/src/legend.tsx
  packages/components/charts/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@32b301c71fd7c8deae5e891c7f64598bcce03c16 🚀
  assets/Color-6VNJS4EI-IStAXB6J.js
  assets/Color-6VNJS4EI-rFcA-jRn.js
  assets/DocsRenderer-NNNQARDV-84rv2eIm.js
  assets/DocsRenderer-NNNQARDV-VxlHvhvk.js
  assets/WithTooltip-V3YHNWJZ-7v8TzK6Y.js
  assets/WithTooltip-V3YHNWJZ-Gt1w7Tue.js
  assets/borders.stories-PuZEOJGt.js
  assets/borders.stories-mOk9LVBi.js
  assets/breakpoints.stories-_8yK8dhe.js
  assets/breakpoints.stories-moVwJuIl.js
  assets/colors.stories-S46NCVqN.js
  assets/formatter-SWP5E3XI-C925Fzg4.js
  assets/gradients.stories-7O8FS02t.js
  assets/gradients.stories-CmEUXJyp.js
  assets/iframe-_CdpSPWj.js
  assets/iframe-wxmot68Z.js
  assets/index-wZoY38C2.js
  assets/preview-1v7nJ8OS.js
  assets/preview-6YX14dDc.js
  assets/preview-8cbPDd7n.js
  assets/preview-8wGQs2eq.js
  assets/preview-HrowgY88.js
  assets/preview-h13G2Jv8.js
  assets/radii.stories-lGrQfLy_.js
  assets/shadows.stories-G8ZeE-5c.js
  assets/sizes.stories-a8tsu5mD.js
  assets/spaces.stories-deEWksiK.js
  assets/syntaxhighlighter-B5GMVT5T-1lyFp8UL.js
  assets/syntaxhighlighter-B5GMVT5T-hc-kIc5l.js
  assets/textarea.stories-bmYWo0us.js
  assets/textarea.stories-xc9Ts1FH.js
  assets/transitions.stories-LFkHCDml.js
  assets/typography.stories-gCsvEwT_.js
  assets/welcome.stories-jgo0Y3ag.js
  assets/welcome.stories-wsZbpDcH.js
  assets/z-index.stories-mTRa-7Vi.js
  iframe.html
  index.json
  project.json
  stories.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(header): added 'System' color mode option
  examples/remix/app/components/layouts/header.tsx
  examples/remix/app/root.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(charts): use getProps()
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-axis.ts
  packages/components/charts/src/use-chart-container.ts
  packages/components/charts/src/use-chart-grid.ts
  packages/components/charts/src/use-chart-legend.ts
  packages/components/charts/src/use-chart-reference-line.ts
  packages/components/charts/src/use-chart-tooltip.ts
  packages/components/charts/src/use-chart.ts
  packages/components/charts/src/utils.ts
  stories/components/feedback/area-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(textarea): add resizeRef documentation
  docs/contents/components/forms/textarea/index.ja.mdx
  docs/contents/components/forms/textarea/index.mdx
Due: prettier --write
