Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

ci: updated fetch strategy in check-modified-files action
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: refined file change detection logic
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

feat(docs): added eslint and typescript ignore configs
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add more expetation
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(useResizeObserver): enhance test coverage
  packages/hooks/use-resize-observer/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(useResizeObserver): updated pnpm-lock
  pnpm-lock.yaml
Due: none

build: updated dependencies
  pnpm-lock.yaml
Due: none

feat(tooltip): added controlled props handling
  .changeset/swift-peaches-check.md
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(icon.test.tsx): corrected icon import casing
  packages/components/icon/tests/icon.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/rating): optimized prop handling in useRating
  .changeset/ten-falcons-dress.md
  packages/components/rating/src/use-rating.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(number-input): enhanced aria attributes, fixed bugs
  .changeset/early-ladybugs-heal.md
  packages/components/number-input/src/number-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added composite action to check modified files
  .github/composite-actions/check-modified-files/action.yml
  .github/workflows/quality.yml
Due: prettier --write

ci: simplified grep command in action.yml
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: optimized git diff command in action.yml
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: simplified file change detection logic
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: updated file check logic in CI action
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: updated file check logic in action.yml
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: updated file change detection script
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

ci: updated file patterns in check-modified action
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

refactor(core): update css handling and type imports for clarity
  .changeset/pretty-roses-lay.md
  packages/core/src/config.ts
  packages/core/src/css/css.ts
  packages/core/src/css/var.ts
  packages/core/src/index.ts
  packages/core/tests/config.test.ts
  packages/hooks/use-animation/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update path constants usage across scripts
  docs/scripts/changelog.ts
  docs/scripts/component-props.ts
  docs/scripts/contributors.ts
  docs/scripts/style-props.ts
  docs/scripts/theme-component.ts
  docs/utils/path.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update version handling and context use
  docs/components/layouts/header.tsx
  docs/contexts/page-context.tsx
  docs/package.json
  docs/pages/404.page.tsx
  docs/pages/examples/[slug].page.tsx
  docs/pages/index.page.tsx
  docs/utils/next.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated optional properties handling
  docs/@types/contentlayer.d.ts
  docs/components/navigation/link-card.tsx
  docs/components/navigation/tree.tsx
  docs/utils/contentlayer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: streamline CI workflows and add pre-release
  .github/workflows/next.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: prettier --write

ci(changelog): added changelog
  .github/workflows/pre-release.yml
Due: prettier --write

refactor(scripts): formatted json output with prettier
  scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(ignored-build-step.sh): added script to check build step
  docs/ignored-build-step.sh
Due: none

chore(docs): updated ignored-build-step script
  docs/ignored-build-step.sh
Due: none

docs: updated contributors list in constants
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added git remote command to script
  docs/ignored-build-step.sh
Due: none

chore(docs): updated fetch URL in build script
  docs/ignored-build-step.sh
Due: none

chore(docs): added echo statements in build script
  docs/ignored-build-step.sh
Due: none
