Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

test(number-input): rewrote test code to make tests less prone to failure
  packages/components/number-input/tests/number-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated package dependencies versions
  docs/package.json
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/nextjs-app/package.json
  examples/nextjs-pages/package.json
  examples/remix/package.json
  examples/vite/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: removed directory existence check from script
  docs/ignored-build-step.sh
Due: none

chore(team): updated team member entries and profiles
  docs/constant/team.ts
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: removed redundant codeblock placeholders
  docs/contents/components/forms/color-picker/index.mdx
  docs/contents/styled-system/theming/component-styles.mdx
Due: prettier --write

test(file-button): rewrote test code to make tests less prone to failure
  packages/components/file-button/tests/file-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add Japanese accessibility documentation
  docs/contents/components/disclosure/tabs/accessibility.ja.mdx
  docs/contents/components/disclosure/tabs/accessibility.mdx
Due: prettier --write

refactor(docs): updated team member resolution logic
  docs/scripts/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove render and container
  packages/components/native-select/tests/native-select.test.tsx
  packages/components/native-table/tests/native-table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(menu): fixed wrong test on menu test
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added new discord user mappings
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(scripts): removed unused Discord user mappings
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update user components and constants for team division
  docs/components/mdx/users.tsx
  docs/constant/index.ts
  docs/constant/maintainers.ts
  docs/constant/team.ts
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: added update-docs composite action and cleanup
  .github/composite-actions/update-docs/action.yml
  .github/workflows/pre-release.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

feat(scripts): added review type and handling logic
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove act
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix typo
  .changeset/seven-zoos-trade.md
Due: prettier --write

fix: fixed to `patch`
  .changeset/selfish-glasses-brush.md
  .changeset/seven-zoos-trade.md
Due: prettier --write

refactor(scripts): removed unnecessary newline in script
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(transitions): refactor import
  packages/components/transitions/tests/slide-fade.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix className to BEM in `Menu`
  .changeset/rotten-penguins-tie.md
  packages/components/menu/src/menu-group.tsx
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/src/menu-option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `render` & `container`
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix className to BEM in `Menu`
  .changeset/young-chicken-wash.md
  packages/components/menu/src/menu-group.tsx
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/src/menu-option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "fix: fix className to BEM in `Menu`"
  .changeset/rotten-penguins-tie.md
  packages/components/menu/src/menu-group.tsx
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/src/menu-option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(rating): test code classname bem
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix `className`
  .changeset/new-scissors-battle.md
  packages/components/calendar/src/calendar-header.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/year-list.tsx
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `item`
  packages/components/menu/src/menu-option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): made wait function exportable
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added create-issues script for automation
  scripts/create-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): made wait function exportable
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated async handling in issue creation
  scripts/a11y-issues.ts
  scripts/coverage-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated README files for clarity and style
  README.ja.md
  README.md
Due: prettier --write

docs: updated readme and changeset files
  .changeset/thirty-sheep-bake.md
  packages/react/README.md
Due: prettier --write

style(docs): simplify feature list formatting
  docs/contents/components/data-display/markdown/index.ja.mdx
  docs/contents/components/data-display/markdown/index.mdx
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/navigation): updated fallbacks for pagination items
  docs/components/navigation/pagination.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(tabs): rewrote test code to make tests less prone to failure
  packages/components/tabs/tests/tabs.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(tabs): use `await user.click()` instead of `await user.tab()`
  packages/components/tabs/tests/tabs.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless
  .changeset/tricky-eggs-reply.md
  packages/components/toggle/src/toggle.tsx
  packages/theme/src/components/toggle.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless
  .changeset/swift-eggs-talk.md
  packages/components/switch/src/switch.tsx
  packages/theme/src/components/switch.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
