Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(examples/vite): remove `eslint-plugin-prettier`
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/vite): remove sharable config of `eslint-plugin-prettier`
  examples/vite/eslint.config.mjs
Due: none

chore(examples/nextjs-pages): remove sharable config of `eslint-plugin-prettier`
  examples/nextjs-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/nextjs-pages): remove sharable config of `eslint-plugin-prettier`
  examples/nextjs-pages/eslint.config.mjs
Due: none

chore(examples/vite): update `lint` command
  examples/vite/package.json
Due: prettier --write

chore(examples/remix): update `lint` command
  examples/remix/package.json
Due: prettier --write

chore(examples/nextjs-app): update `lint` command
  examples/nextjs-app/package.json
Due: prettier --write

chore(examples/nextjs-pages): update `lint` command
  examples/nextjs-pages/package.json
Due: prettier --write

chore(examples/nextjs-app): remove `eslint-config-prettier`
  examples/nextjs-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(docs): remove `eslint-config-next`
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(components): fixed fontSize and boxSize handling
  .changeset/little-walls-build.md
  packages/components/icon/src/icon.tsx
  packages/components/image/src/image.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(tag): remove unused imports and tests
  packages/components/tag/tests/tag.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(reorder): update tests to use async assertions
  packages/components/reorder/tests/reorder.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.8.mdx
  CHANGELOG.md
Due: prettier --write

chore(docs): remove `prepare` command in `package.json`
  docs/package.json
Due: prettier --write

test: remove `axe-core`
  packages/test/package.json
  packages/test/src/accessibility.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(test): add a changeset
  .changeset/mean-ghosts-protect.md
Due: prettier --write

test(reorder): added missing onCompleteChange test
  packages/components/reorder/tests/reorder.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update contributor and member lists
  docs/constant/contributors.ts
  docs/constant/members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(docs): update maintainers and members lists
  docs/constant/maintainers.ts
  docs/constant/members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(close-button): rename `test` to `tests`
  packages/components/close-button/tests/close-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(kbd): rename `test` to `tests`
  packages/components/kbd/tests/kbd.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(pull-request handler): updated reviewer assignment logic
  docs/pages/api/github/webhook/pull-request/opened.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: removed hardcoded repo data in workflow
  .github/workflows/observe-issue-and-pull-request.yml
Due: prettier --write

ci: updated JSON body key order in script
  .github/workflows/observe-issue-and-pull-request.yml
Due: prettier --write

feat(docs): exported colorSchemes array
  docs/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): added dayjs with timezone support in _app
  docs/pages/_app.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(transitions): added CountUp component for animations
  docs/components/transitions/count-up.tsx
  docs/components/transitions/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(insights): add new insights feature with localization and charts
  docs/i18n/ui.en.json
  docs/i18n/ui.ja.json
  docs/pages/insights/data.json
  docs/pages/insights/detail-modal.tsx
  docs/pages/insights/index.page.tsx
  docs/pages/insights/insights-header.tsx
  docs/pages/insights/insights-provider.tsx
  docs/pages/insights/insights-utils.ts
  docs/pages/insights/total-chart.tsx
  docs/pages/insights/user-chart.tsx
  docs/pages/insights/user-charts.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-picker): fixed type definitions and logic
  .changeset/shaggy-lies-suffer.md
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/use-color-selector.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(charts): added formatter props to chart components
  .changeset/sixty-sheep-eat.md
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/chart-tooltip.tsx
  packages/components/charts/src/donut-chart.tsx
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/pie-chart-label.tsx
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/radar-chart.tsx
  packages/components/charts/src/use-chart-axis.ts
  packages/components/charts/src/use-chart-tooltip.ts
  packages/components/charts/src/use-pie-chart.ts
  packages/components/charts/src/use-radar-chart.ts
  stories/components/data-display/area-chart.stories.tsx
  stories/components/data-display/bar-chart.stories.tsx
  stories/components/data-display/donut-chart.stories.tsx
  stories/components/data-display/line-chart.stories.tsx
  stories/components/data-display/pie-chart.stories.tsx
  stories/components/data-display/radar-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(charts): remove redundant valueFormatter tests
  packages/components/charts/tests/area-chart.test.tsx
  packages/components/charts/tests/bar-chart.test.tsx
  packages/components/charts/tests/line-chart.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components): corrected type definitions and props access
  .changeset/breezy-garlics-jog.md
  packages/components/autocomplete/src/autocomplete-list.tsx
  packages/components/modal/src/modal.tsx
  packages/components/motion/src/motion.tsx
  packages/components/popover/src/popover-content.tsx
  packages/components/select/src/select-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add children prop and runIfFunc usage
  .changeset/brave-ties-work.md
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/month-picker.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-multi-date-picker.ts
  packages/components/calendar/src/use-range-date-picker.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/calendar/src/year-picker.tsx
  stories/components/forms/date-picker.stories.tsx
  stories/components/forms/month-picker.stories.tsx
  stories/components/forms/multi-date-picker.stories.tsx
  stories/components/forms/range-date-picker.stories.tsx
  stories/components/forms/year-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(color-picker): updated children prop types and docs
  .changeset/rotten-mugs-cheat.md
  packages/components/color-picker/src/color-selector.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added Hinata Ohyama to members list
  docs/constant/members.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(color-picker): added `onClose` prop to children handling
  .changeset/nice-clouds-rhyme.md
  .changeset/witty-spiders-bathe.md
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/use-color-picker.ts
  stories/components/forms/color-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
