Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update registries
  packages/react/src/components/field/registry.json
  packages/react/src/components/popover/registry.json
  packages/react/src/components/segmented-control/registry.json
  packages/react/src/components/steps/registry.json
  packages/react/src/components/tag/registry.json
  www/public/registry/v2/components/field.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/segmented-control.json
  www/public/registry/v2/components/steps.json
  www/public/registry/v2/components/tag.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-0-6.ja.mdx
  www/contents/changelog/cli/2-0-6.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-0-8.ja.mdx
  www/contents/changelog/react/2-0-8.mdx
  www/contents/changelog/utils/2-0-5.ja.mdx
  www/contents/changelog/utils/2-0-5.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

refactor(component): add client directive and unify link components
  www/components/next-link.tsx
  www/contents/get-started/frameworks/next-app.ja.mdx
  www/contents/get-started/frameworks/next-app.mdx
  www/contents/get-started/frameworks/next-pages.ja.mdx
  www/contents/get-started/frameworks/next-pages.mdx
  www/contents/get-started/frameworks/react-router.ja.mdx
  www/contents/get-started/frameworks/react-router.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tanstack-start): remove optional declare module
  playgrounds/tanstack/start/src/router.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tanstack-start): remove optional declare module
  .gitignore
Due: none

fix: keep .velite in original position
  .gitignore
Due: none

feat(native-accordion): add `NativeAccordion` component
  .changeset/hip-grapes-throw.md
  .changeset/ripe-pianos-hunt.md
  packages/react/src/components/accordion/accordion.style.ts
  packages/react/src/components/native-accordion/index.ts
  packages/react/src/components/native-accordion/namespace.ts
  packages/react/src/components/native-accordion/native-accordion.stories.tsx
  packages/react/src/components/native-accordion/native-accordion.style.ts
  packages/react/src/components/native-accordion/native-accordion.test.tsx
  packages/react/src/components/native-accordion/native-accordion.tsx
  packages/react/src/components/native-accordion/use-native-accordion.ts
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(qr-code): use svg context for qr code frame
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(qr-code): update jsdoc to correct default ECC
  packages/react/src/components/qr-code/qr-code.tsx
  packages/react/src/components/qr-code/use-qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(qr-code): remove redundant pattern styles
  packages/react/src/components/qr-code/qr-code.style.ts
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(qr-code): memoize `uqr` encode
  packages/react/src/components/qr-code/use-qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(test): add custom inputs for running tests conditionally
  .github/workflows/test.yml
Due: prettier --write

Apply suggestion from @taroj1205
  playgrounds/tanstack/start/package.json
Due: prettier --write

chore: remove playgrounds/remix from CONTRIBUTING files
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  pnpm-lock.yaml
Due: prettier --write

Fix missing newline at end of config.json
  .changeset/config.json
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

docs(steps): update accessibility
  www/contents/components/(components)/steps.ja.mdx
  www/contents/components/(components)/steps.mdx
Due: prettier --write

feat(core): add `_center` and `_inactive` condition props
  .changeset/olive-results-chew.md
  packages/react/src/core/css/conditions.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(children): update splitChildren to return matched elements as array
  .changeset/neat-eggs-poke.md
  packages/react/src/utils/children.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(use-line-chart): add chart data hook for line charts
  .changeset/slimy-maps-float.md
  packages/react/package.json
  packages/react/src/components/charts/cartesian-chart.style.ts
  packages/react/src/components/charts/cartesian-chart.tsx
  packages/react/src/components/charts/chart.style.ts
  packages/react/src/components/charts/chart.tsx
  packages/react/src/components/charts/index.ts
  packages/react/src/components/charts/line-chart.namespace.ts
  packages/react/src/components/charts/line-chart.stories.tsx
  packages/react/src/components/charts/line-chart.style.ts
  packages/react/src/components/charts/line-chart.tsx
  packages/react/src/components/charts/use-cartesian-chart.ts
  packages/react/src/components/charts/use-chart.ts
  packages/react/src/components/charts/use-line-chart.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(avatar): update accessibility
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/avatar.mdx
Due: prettier --write

docs(pagination): update accessibility
  www/contents/components/(components)/pagination.ja.mdx
  www/contents/components/(components)/pagination.mdx
Due: prettier --write

docs(toggle): resolve prettier error
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

test(float-component): increase coverage to 95% (refs #5626)
  packages/react/src/components/float/float.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(uqr): install `uqr` dependency to `packages/react`
  packages/react/package.json
  pnpm-lock.yaml
Due: prettier --write

perf(qr-code): simplify default prop arguments
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(qr-code): add qr code component stories
  packages/react/src/components/qr-code/qr-code.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(qr-code): change defaults for `ecc` to `L`
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(qr-code): correct namespace and index exports
  packages/react/src/components/qr-code/index.ts
  packages/react/src/components/qr-code/namespace.ts
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(qr-code): add useQrCode hook
  packages/react/src/components/qr-code/use-qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(qr-code): add qr code component
  packages/react/src/components/qr-code/qr-code.style.ts
  packages/react/src/components/qr-code/qr-code.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add tabindex attribute for accessibility
  packages/react/src/components/infinite-scroll-area/use-infinite-scroll.test.tsx
  packages/react/src/components/infinite-scroll-area/use-infinite-scroll.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(number-input): update accessibility
  www/contents/components/(components)/number-input.ja.mdx
  www/contents/components/(components)/number-input.mdx
Due: prettier --write

feat: conditionally render title in EmptyState component
  packages/react/src/components/empty-state/empty-state.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add case for EmptyState component without title prop
  packages/react/src/components/empty-state/empty-state.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
