Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix(octokit): add rate limit retry logic
  pnpm-lock.yaml
  www/libs/octokit.ts
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add writeFileWithFormat for formatted file writing
  www/libs/prettier.ts
  www/scripts/generate/doc-map.ts
  www/scripts/generate/icons.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(components): add style reference to icon documentation
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/icon.mdx
Due: prettier --write

fix(use-avatar): add ref handling for image load detection
  packages/react/src/components/avatar/avatar.tsx
  packages/react/src/components/avatar/props.json
  packages/react/src/components/avatar/use-avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-event-listener): utilize getDocument from environment
  packages/react/src/hooks/use-event-listener/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(remove timing props): eliminate deprecated timing options
  packages/react/src/components/drawer/props.json
  packages/react/src/components/modal/props.json
Due: prettier --write

refactor(core): set default for forwardProps parameter
  packages/react/src/core/components/props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(color-mix): add string check for value.includes()
  packages/react/src/core/css/color-mix.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(contributors): add contributors, maintainers, and emeriti
  www/data/contributors.json
  www/data/emeriti.json
  www/data/maintainers.json
  www/scripts/generate/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: replace useTranslations with default function calls
  www/app/[locale]/footer.tsx
  www/app/[locale]/header.tsx
  www/app/[locale]/mobile-menu.tsx
  www/components/discord-icon.tsx
  www/components/index.ts
  www/components/logo-icon.tsx
  www/components/mdx/contributors.tsx
  www/components/mdx/index.tsx
  www/components/mdx/sponsors.tsx
  www/components/next-image.tsx
  www/components/storybook-icon.tsx
  www/components/x-icon.tsx
  www/contents/community/index.ja.mdx
  www/contents/community/index.mdx
  www/data/sponsors.json
  www/messages/en.json
  www/messages/ja.json
  www/next.config.ts
  www/public/sponsors/avap.svg
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update package commands to refer to all packages
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  www/contents/community/contributing.ja.mdx
  www/contents/community/contributing.mdx
Due: prettier --write

refactor(use-component-style): replace object spread with merge function
  packages/react/src/core/components/use-component-style.ts
  packages/react/src/core/css/css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add status component and update config to include it
  www/app/[locale]/docs/sidebar.tsx
  www/app/[locale]/mobile-menu.tsx
  www/components/index.ts
  www/components/status.tsx
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(doc-map): update status handling logic
  www/scripts/generate/doc-map.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update styles and add components for card and group
  packages/react/src/components/tag/tag.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(shadows): update inner shadow color opacity
  packages/react/src/theme/tokens/shadows.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/components/mdx/contributors.tsx): replace NextLink with Box for styling
  www/components/mdx/contributors.tsx
  www/components/mdx/sponsors.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-component-style): handle undefined values correctly
  packages/react/src/core/components/use-component-style.ts
  packages/react/src/core/css/css.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add support for card and code group directives
  www/app/[locale]/docs/[...slug]/header.tsx
  www/app/[locale]/footer.tsx
  www/components/mdx/callout.tsx
  www/components/mdx/card.tsx
  www/components/mdx/code-block.tsx
  www/components/mdx/code-group-tabs.tsx
  www/components/mdx/code-group.tsx
  www/components/mdx/index.tsx
  www/contents/components/(components)/box.ja.mdx
  www/contents/components/(components)/box.mdx
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/icon.mdx
  www/utils/remark-plugins/index.ts
  www/utils/remark-plugins/remark-card-group.ts
  www/utils/remark-plugins/remark-code-group.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/six-trees-smell.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

style(modify): update line height in callout description
  www/components/mdx/callout.tsx
  www/components/mdx/card.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update descriptions and add framework guides
  www/contents/get-started/frameworks/vite.ja.mdx
  www/contents/get-started/index.ja.mdx
  www/contents/get-started/index.mdx
  www/data/emeriti.json
Due: prettier --write

ci(.github): disable workflow execution
  .github/workflows/observe-issue-and-pull-request.yml
Due: prettier --write

ci(changesets): updated packages
  .changeset/tangy-socks-tie.md
  packages/components/select/CHANGELOG.md
  packages/components/select/package.json
  packages/components/table/CHANGELOG.md
  packages/components/table/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

chore: update clean scripts and remove ts-node config
  package.json
  tsconfig.json
Due: prettier --write

fix(prefer): use writeFileWithFormat for formatting files
  scripts/generate/icons/index.ts
  scripts/generate/props/index.ts
  scripts/generate/styles/index.ts
  scripts/generate/styles/styles.ts
  scripts/utils.ts
  www/libs/octokit.ts
  www/libs/prettier.ts
  www/scripts/generate/contributors.ts
  www/scripts/generate/doc-map.ts
  www/scripts/generate/icons.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: update to use tj-actions/changed-files for detection
  .github/composite-actions/check-modified-files/action.yml
  .github/workflows/quality.yml
  .github/workflows/storybook.yml
Due: prettier --write

refactor(entry.server): renames unused parameter to underscore
  playgrounds/remix/app/entry.server.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(storybook): rename component files for clarity
  packages/react/storybook/index.ts
  packages/react/storybook/props-table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tests): remove deprecated a11y test file
  packages/react/test/a11y.tsx
  packages/react/test/drag.ts
  packages/react/test/index.ts
  packages/react/test/render.tsx
  packages/react/test/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(pre-commit): update root paths and add new configs
  lefthook.yaml
Due: none

build(pkg): set Node.js engine to >=22
  www/package.json
Due: prettier --write

build: update node version to 22.0.0 in package files
  package.json
  www/package.json
Due: prettier --write

chore(package): add NODE_OPTIONS for velite build
  www/package.json
Due: prettier --write

ci: update node version to >=22, adjust test configs
  package.json
  packages/react/package.json
  packages/react/storybook/main.ts
  packages/react/vitest.config.ts
  packages/utils/package.json
  packages/workspace/package.json
  packages/workspace/src/vitest/config.ts
  www/contents/hooks/use-boolean.ja.mdx
  www/contents/hooks/use-boolean.mdx
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): replace VStack with fragment for conditional display
  www/app/[locale]/mobile-menu.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
