Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(use-snacks): fix description in hook
  docs/contents/hooks/use-snacks.mdx
Due: prettier --write

refactor(area-chart): added useChartGrid
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-grid.ts
  packages/components/charts/src/use-chart-reference-line.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): added useChartTooltip
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-tooltip.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): added useChartLegend
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-legend.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): sorted type order
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-chart-reference-line.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: cutom pi-chart
  packages/components/charts/package.json
  packages/components/charts/src/chart.types.ts
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/use-pie-chart.ts
  packages/core/src/components/use-component-style.tsx
  packages/theme/src/components/pie-chart.ts
  stories/components/feedback/pie-chart.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(area-chart): refactor getAreaProps()
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/use-area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): applied styles tooltip and legend
  packages/components/charts/src/legend.tsx
  packages/components/charts/src/tooltip.tsx
  packages/theme/src/components/area-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(textarea): fix bug where resize was not triggered
  .changeset/unlucky-bugs-move.md
  packages/components/textarea/src/textarea.tsx
  packages/components/textarea/src/use-autosize.ts
  stories/components/forms/textarea.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(eslint): write settings of file extensions in `eslint-plugin-import`
  .eslintrc
Due: prettier --write

chore(npm-script): update `lint`
  package.json
Due: prettier --write

test(vitest): formatted import-order by ESLint
  vitest.config.mts
Due: none

ci: added test workflow and script
  docs/.github/workflows/test.yml
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added maintainers & outside collaborators
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated collaborator retrieval
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added collaborator push permission check
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: updated octokit member listing method
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: removed test workflow and scripts
  docs/.github/workflows/test.yml
  docs/scripts/observe-issues.ts
  docs/scripts/observe-pull-requests.ts
  docs/scripts/test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: increased collaborators pagination limit
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(npm-scripts): add `test:ci`
  package.json
Due: prettier --write

ci(quality): integrate codecov
  .github/workflows/quality.yml
Due: prettier --write

feat: close the Drawer by dragging
  .changeset/early-mirrors-fry.md
  packages/components/modal/src/drawer.tsx
  packages/hooks/use-pan-event/src/index.ts
  stories/components/overlay/drawer.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(highlight): enhance test coverage
  packages/components/highlight/tests/highlight.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci: add codecov.yml
  codecov.yml
Due: prettier --write

chore(lintstagedrc): improved readability of path filtering
  .lintstagedrc.mjs
Due: none

fix(reorder): fixed sort order not updating
  .changeset/strange-students-hammer.md
  packages/components/reorder/src/reorder.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: format
  packages/components/highlight/tests/highlight.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated Hirotomo's GitHub URL
  docs/constant/sns.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/autocomplete): streamline prop handling
  packages/components/autocomplete/src/use-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): fixed defaultValue handling for `allowFree`
  .changeset/forty-dragons-learn.md
  packages/components/autocomplete/src/use-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: props of drawer
  docs/contents/components/overlay/drawer/index.ja.mdx
  docs/contents/components/overlay/drawer/index.mdx
  docs/contents/components/overlay/drawer/props.ja.mdx
  docs/contents/components/overlay/drawer/props.mdx
Due: prettier --write

build(lintstagedrc): migrated to .mjs with dynamic eslint
  docs/.lintstagedrc
  docs/.lintstagedrc.mjs
Due: none

refactor(use-counter): changed interface to type
  packages/hooks/use-counter/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(autocomplete): excluded more event props from spread
  packages/components/autocomplete/src/use-autocomplete.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(examples/remix): add initial remix setup
  examples/remix/.eslintrc.cjs
  examples/remix/.gitignore
  examples/remix/README.md
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/_index.tsx
  examples/remix/package.json
  examples/remix/public/favicon.ico
  examples/remix/remix.config.js
  examples/remix/remix.env.d.ts
  examples/remix/tsconfig.json
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add remix scripts to package.json
  package.json
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none
