Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix: fixed text
  docs/contents/components/forms/radio/accessibility.ja.mdx
  docs/contents/components/forms/radio/accessibility.mdx
Due: prettier --write

feat(theme): added `Fieldset` component, updated styles
  .changeset/fair-days-begin.md
  packages/theme/src/components/fieldset.ts
  packages/theme/src/components/form-control.ts
  packages/theme/src/components/index.ts
  packages/theme/src/styles/reset-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(tooltip): add close test when escape key is pressed
  packages/components/tooltip/tests/tooltip.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(radio): enhanced accessibility for radio components
  .changeset/angry-elephants-carry.md
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(checkbox): added container props and aria support
  .changeset/strange-goats-shake.md
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/src/checkbox.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(form-control): added `Fieldset` component and dependencies
  .changeset/little-wasps-wave.md
  docs/contents/components/forms/form-control/index.ja.mdx
  docs/contents/components/forms/form-control/index.mdx
  packages/components/form-control/package.json
  packages/components/form-control/src/fieldset.tsx
  packages/components/form-control/src/form-control.tsx
  packages/components/form-control/src/index.ts
  packages/components/form-control/tests/fieldset.test.tsx
  packages/components/form-control/tests/form-control.test.tsx
  pnpm-lock.yaml
  stories/components/forms/fieldset.stories.tsx
  stories/components/forms/form-control.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(modal): updated visibility check to async-await
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(storybook): typo of delay close text
  stories/components/overlay/tooltip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(form-control): updated dependencies and imports
  packages/components/form-control/package.json
  packages/components/form-control/tests/fieldset.test.tsx
  packages/components/form-control/tests/form-control.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

test: add tests for use-resize-observer hook
  packages/hooks/use-resize-observer/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add `grid` roles
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month.tsx
  packages/components/calendar/src/year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add a changeset
  .changeset/healthy-suits-wait.md
Due: prettier --write

feat(calendar): capitalize `aria-label`
  packages/components/calendar/src/year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): add `aria-label`s
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month.tsx
  packages/components/calendar/src/year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test for indicator
  packages/components/indicator/tests/indicator.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(calendar): add unittests
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(.github): updated CODEOWNERS file
  .github/CODEOWNERS
Due: none

chore: add CODEOWNERS file for yamada-ui team
  .github/CODEOWNERS
Due: none

chore: updated CODEOWNERS to include new team
  .github/CODEOWNERS
Due: none

chore(calendar): rewrite the changeset
  .changeset/healthy-suits-wait.md
  .changeset/strong-onions-invent.md
Due: prettier --write

test(calendar): add asseartions
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(reviewer-pull-request.yml): updated notification args
  .github/workflows/reviewer-pull-request.yml
  scripts/notification-reviewer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(.github): updated code owners list
  .github/CODEOWNERS
Due: none

test: add test for notice
  packages/components/notice/tests/notice.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated paths in .eslintignore file
  .eslintignore
Due: none

chore(ci): update CI workflows and code owners
  .github/CODEOWNERS
  .github/workflows/reviewer-pull-request.yml
  docs/next.config.js
  docs/package.json
  docs/pages/api/github/index.api.ts
  docs/pages/api/github/pull-request/index.ts
  docs/pages/api/github/pull-request/opened.ts
  docs/pages/api/github/pull-request/review-request-removed.ts
  docs/utils/discord.ts
  docs/utils/github.ts
  package.json
  pnpm-lock.yaml
  scripts/notification-reviewer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(notification-reviewer): added recursiveOctokit integration
  scripts/notification-reviewer.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(update workflows): enhanced pull request triggers and scripts
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/reviewer-pull-request.yml
  package.json
  scripts/notification-reviewer.ts
  scripts/reviewer-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated CODEOWNERS to global coverage
  .github/CODEOWNERS
Due: none

docs: Translated "Setup the Project - 5" from Japanese to English.
  docs/contents/community/contributing.mdx
Due: prettier --write

feat(core): added native CSS pseudo-class selectors
  .changeset/metal-ghosts-roll.md
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(transitions): fixed height calculation in Collapse animation
  .changeset/lucky-lizards-grab.md
  packages/components/transitions/src/collapse.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(accordion): enhanced component structure and a11y
  .changeset/silly-cooks-greet.md
  .changeset/tricky-dolphins-fry.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
  packages/components/accordion/src/accordion.tsx
  packages/theme/src/components/accordion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(accordion): updated test to use findAllByRole
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(accordion): updated attribute checks to aria-expanded
  packages/components/accordion/tests/accordion.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: removed unused comments and code lines
  docs/pages/api/github/observe/index.api.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added changeset
  .changeset/olive-ears-hope.md
Due: prettier --write

fix: add autocomplete create and empty props
  packages/components/autocomplete/src/autocomplete.tsx
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add Japanese accessibility documentation
  docs/contents/components/disclosure/accordion/accessibility.ja.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
