Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix(pin-input): disable input when isDisabled or isReadonly is true
  .changeset/metal-apricots-wait.md
  packages/components/pin-input/src/pin-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add dropdown scroll behavior test
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change `Icon` in `@yamada-ui/fontawesome` to `FontawesomeIcon`
  .changeset/tender-spiders-brake.md
  docs/components/mdx/editable-code-block.tsx
  packages/components/fontawesome/src/icon.tsx
  packages/components/fontawesome/src/index.ts
  packages/components/fontawesome/tests/icon.test.tsx
  stories/components/media-and-icons/font-awesome.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add AutocompleteOption when value is not set
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: reset HTMLElement properties
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add focus test with disabled option
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change import of lucide in navigation to *Icon
  stories/components/navigation/breadcrumb.stories.tsx
  stories/components/navigation/pagination.stories.tsx
  stories/components/navigation/stepper.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: fix changeset
  .changeset/thirty-seahorses-press.md
Due: prettier --write

fix: changed to `patch`
  .changeset/thirty-seahorses-press.md
Due: prettier --write

chore(ci): added sync branch workflow
  .github/workflows/quality.yml
  .github/workflows/sync-branch.yml
Due: prettier --write

feat(color-picker): added accessibility attributes to components
  .changeset/large-foxes-perform.md
  docs/contents/components/data-display/color-swatch/accessibility.ja.mdx
  docs/contents/components/data-display/color-swatch/accessibility.mdx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/color-picker/src/use-color-selector.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(alert): updated status type references and imports
  packages/components/alert/src/alert.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(transitions): remove is prefix in props
  .changeset/bright-carpets-hang.md
  packages/components/motion/src/motion.types.ts
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/rotate.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
  packages/components/transitions/tests/airy.test.tsx
  packages/components/transitions/tests/collapse.test.tsx
  packages/components/transitions/tests/fade.test.tsx
  packages/components/transitions/tests/flip.test.tsx
  packages/components/transitions/tests/rotate.test.tsx
  packages/components/transitions/tests/scale-fade.test.tsx
  packages/components/transitions/tests/slide-fade.test.tsx
  packages/components/transitions/tests/slide.test.tsx
  stories/components/transitions/airy.stories.tsx
  stories/components/transitions/collapse.stories.tsx
  stories/components/transitions/fade.stories.tsx
  stories/components/transitions/flip.stories.tsx
  stories/components/transitions/rotate.stories.tsx
  stories/components/transitions/scale-fade.stories.tsx
  stories/components/transitions/slide-fide.stories.tsx
  stories/components/transitions/slide.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(a11y/number-input): add `accessibility` section
  docs/contents/components/forms/number-input/accessibility.ja.mdx
  docs/contents/components/forms/number-input/accessibility.mdx
Due: prettier --write

docs: corrected component name in descriptions
  docs/contents/components/data-display/color-swatch/props.ja.mdx
  docs/contents/components/data-display/color-swatch/theming.ja.mdx
Due: prettier --write

docs: add form-control docs
  docs/contents/components/forms/form-control/accessibility.ja.mdx
  docs/contents/components/forms/form-control/accessibility.mdx
Due: prettier --write

chore: updated .gitignore and .nvmrc versions
  .gitignore
  .nvmrc
Due: none

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.6.3.mdx
  CHANGELOG.md
Due: prettier --write

docs: updated layout page title to plural
  docs/contents/components/layouts/index.mdx
Due: prettier --write

chore: revert changes
  docs/contents/components/data-display/native-table/index.mdx
  docs/contents/components/data-display/reorder/index.ja.mdx
  docs/contents/components/data-display/reorder/index.mdx
  docs/contents/components/data-display/scroll-area/index.ja.mdx
  docs/contents/components/data-display/scroll-area/index.mdx
  docs/contents/components/data-display/table/index.mdx
  docs/contents/components/forms/color-picker/theming.ja.mdx
  docs/contents/components/forms/color-picker/theming.mdx
  docs/contents/components/layouts/separator/index.ja.mdx
  docs/contents/components/layouts/separator/index.mdx
  docs/contents/components/layouts/separator/props.ja.mdx
  docs/contents/components/layouts/separator/props.mdx
  docs/contents/components/layouts/separator/theming.ja.mdx
  docs/contents/components/layouts/separator/theming.mdx
  docs/contents/components/layouts/stack/index.ja.mdx
  docs/contents/components/layouts/stack/index.mdx
  docs/contents/components/layouts/stack/props.ja.mdx
  docs/contents/components/layouts/stack/props.mdx
  docs/contents/components/overlay/context-menu/index.ja.mdx
  docs/contents/components/overlay/context-menu/index.mdx
  docs/contents/components/overlay/menu/index.ja.mdx
  docs/contents/components/overlay/menu/index.mdx
  docs/contents/components/overlay/menu/props.ja.mdx
  docs/contents/components/overlay/menu/props.mdx
  docs/contents/components/overlay/menu/theming.ja.mdx
  docs/contents/components/overlay/menu/theming.mdx
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

fix: icon imports
  stories/components/forms/autocomplete.stories.tsx
  stories/components/forms/button.stories.tsx
  stories/components/forms/color-picker.stories.tsx
  stories/components/forms/date-picker.stories.tsx
  stories/components/forms/dropzone.stories.tsx
  stories/components/forms/editable.stories.tsx
  stories/components/forms/file-button.stories.tsx
  stories/components/forms/file-input.stories.tsx
  stories/components/forms/input.stories.tsx
  stories/components/forms/month-picker.stories.tsx
  stories/components/forms/multi-autocomplete.stories.tsx
  stories/components/forms/multi-date-picker.stories.tsx
  stories/components/forms/multi-select.stories.tsx
  stories/components/forms/native-select.stories.tsx
  stories/components/forms/range-date-picker.stories.tsx
  stories/components/forms/range-slider.stories.tsx
  stories/components/forms/rating.stories.tsx
  stories/components/forms/select.stories.tsx
  stories/components/forms/slider.stories.tsx
  stories/components/forms/toggle.stories.tsx
  stories/components/forms/year-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated slider accessibility and labels
  docs/contents/components/forms/slider/accessibility.ja.mdx
  docs/contents/components/forms/slider/accessibility.mdx
  docs/contents/components/forms/slider/index.ja.mdx
  docs/contents/components/forms/slider/index.mdx
  stories/components/forms/slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@dc30c62b75bf9f408c37a0d78af93ea24485d757 🚀
  assets/Color-F6OSRLHC-DYbs6GEI.js
  assets/Color-F6OSRLHC-iy7mgZ3p.js
  assets/DocsRenderer-CFRXHY34-BiNee33h.js
  assets/DocsRenderer-CFRXHY34-eTSsYjet.js
  assets/borders-CXloSQ40.js
  assets/borders-DK_tLupZ.js
  assets/breakpoints-CPigxzV3.js
  assets/breakpoints-XH_gp3aI.js
  assets/colors-CHJ8g8DH.js
  assets/entry-preview-F2eST5bQ.js
  assets/gradients-BM00t3xL.js
  assets/gradients-CcIMv2d4.js
  assets/iframe-8FhliVgY.js
  assets/iframe-DAvgAFSy.js
  assets/index-CJr3qFWd.js
  assets/index-CNkCEBJN.js
  assets/index-DuklTZss.js
  assets/preview-B7kj7r07.js
  assets/preview-C4BfajC8.js
  assets/preview-CBMxabte.js
  assets/preview-Czjx-Zub.js
  assets/preview-DIC5yMUl.js
  assets/preview-Z82ZOjDk.js
  assets/radii-938RPGtY.js
  assets/radii-DXE6l7Rk.js
  assets/shadows-C4hKOduJ.js
  assets/sizes-mZ0ZSBtR.js
  assets/slider.stories-VJ8ylUxR.js
  assets/spaces-htevjTXL.js
  assets/transitions-CbgVxoZ0.js
  assets/typography-DQzfZeBd.js
  assets/welcome-BQhMi2Ge.js
  assets/welcome-DCsAP5JY.js
  assets/z-index-CCENYPVc.js
  assets/z-index-CIUT3yup.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated accessibility and fieldset docs
  docs/contents/components/forms/alpha-slider/accessibility.ja.mdx
  docs/contents/components/forms/alpha-slider/accessibility.mdx
  docs/contents/components/forms/alpha-slider/index.ja.mdx
  docs/contents/components/forms/alpha-slider/index.mdx
  stories/components/forms/alpha-slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated hue slider accessibility docs
  docs/contents/components/forms/hue-slider/accessibility.ja.mdx
  docs/contents/components/forms/hue-slider/accessibility.mdx
  docs/contents/components/forms/hue-slider/index.ja.mdx
  docs/contents/components/forms/hue-slider/index.mdx
  stories/components/forms/hue-slider.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@28264b46cfd853e0123114efac94cb7824237765 🚀
  assets/Color-F6OSRLHC-CwvFwezz.js
  assets/Color-F6OSRLHC-WSTY3VkJ.js
  assets/DocsRenderer-CFRXHY34-B4hDIXup.js
  assets/DocsRenderer-CFRXHY34-BYufc5pT.js
  assets/borders-CSvRjMWw.js
  assets/borders-D-T37eKR.js
  assets/breakpoints-DpiBPj0G.js
  assets/breakpoints-DxjCo1ix.js
  assets/colors-B2ryKICw.js
  assets/entry-preview-DbLk3bwU.js
  assets/gradients-BI3XpPaT.js
  assets/gradients-CMyH0DgL.js
  assets/hue-slider.stories-ByinL-zO.js
  assets/hue-slider.stories-CmUQdpu8.js
  assets/iframe-B0HOSRwR.js
  assets/iframe-jPne-QYN.js
  assets/index-C8kVrGM1.js
  assets/index-CjNExODK.js
  assets/index-De3X1YeL.js
  assets/preview-Bq3bKtna.js
  assets/preview-C9tSHYc_.js
  assets/preview-CTbMzOqR.js
  assets/preview-C_8AT-B6.js
  assets/preview-DrqieRcg.js
  assets/preview-x9vqvT8z.js
  assets/radii-DGpznHYq.js
  assets/radii-x1Idm3XY.js
  assets/shadows-LbWltT73.js
  assets/sizes-MnejEUSx.js
  assets/spaces-g3f_xxfl.js
  assets/transitions-vamiXXxM.js
  assets/typography-C4pt65l2.js
  assets/welcome-B4mIjyUY.js
  assets/welcome-C-GCa-fK.js
  assets/z-index-BjNEaaNq.js
  assets/z-index-rh6Ka89o.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated Japanese accessibility docs
  docs/contents/components/overlay/menu/accessibility.ja.mdx
  docs/contents/components/overlay/menu/accessibility.mdx
Due: prettier --write

fix(menu): add necessary attributes and keyboard interactions to each component
  .changeset/hungry-students-rule.md
  packages/components/menu/src/menu-button.tsx
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/src/menu-list.tsx
  packages/components/menu/tests/menu.test.tsx
  packages/theme/src/components/menu.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(menu): added logging to focus check
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "feat: rename left and right to start and end"
  .changeset/real-penguins-itch.md
  packages/components/button/src/button.tsx
  packages/components/button/src/icon-button.tsx
  packages/components/button/tests/button.test.tsx
  packages/components/tag/src/tag.tsx
  packages/components/tag/tests/tag.test.tsx
  stories/components/data-display/tag.stories.tsx
  stories/components/forms/button.stories.tsx
  stories/components/overlay/menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(menu): updated tabIndex logic and simplified test
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(stories): update deprecated lucide icon imports
  stories/components/layouts/center.stories.tsx
  stories/components/media-and-icons/avatar.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/menu): adjusted tabIndex and key handling logic
  packages/components/menu/src/menu-item.tsx
  packages/components/menu/src/menu-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
