Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs(alpha-slider): update a11y
  www/contents/components/(components)/alpha-slider.ja.mdx
  www/contents/components/(components)/alpha-slider.mdx
Due: prettier --write

docs(circle-progress): update a11y
  www/contents/components/(components)/circle-progress.ja.mdx
  www/contents/components/(components)/circle-progress.mdx
Due: prettier --write

docs(field): update a11y
  www/contents/components/(components)/field.ja.mdx
  www/contents/components/(components)/field.mdx
Due: prettier --write

docs(editable): update a11y
  www/contents/components/(components)/editable.ja.mdx
  www/contents/components/(components)/editable.mdx
Due: prettier --write

ci: use singular form for workflow linting names
  .github/workflows/lint-workflow.yml
Due: prettier --write

ci: add name to checkout action in lint workflow
  .github/workflows/lint-workflow.yml
Due: prettier --write

ci: use pinact-action instead of running pinact directly
  .github/workflows/lint-workflow.yml
Due: prettier --write

ci: run pinact before mise-action and pin actionlint version
  .github/workflows/lint-workflow.yml
Due: prettier --write

ci: capitalize workflow name
  .github/workflows/lint-workflow.yml
Due: prettier --write

refactor(layout): remove unused balloons component reference
  www/app/[locale]/balloons.tsx
  www/app/[locale]/layout.tsx
  www/components/balloon-icon.tsx
  www/components/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(turbo): add test:coverage outputs
  turbo.json
Due: prettier --write

ci: use ubuntu-24.04 instead of ubuntu-latest
  .github/workflows/lint-workflow.yml
  .github/workflows/next.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/test.yml
Due: prettier --write

ci: split workflow linting into separate pinact and actionlint jobs
  .github/workflows/lint-workflow.yml
Due: prettier --write

ci: upgrade actions/checkout from v4.3.1 to v6.0.1
  .github/workflows/next.yml
  .github/workflows/observe-issue-and-pull-request.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  .github/workflows/test.yml
Due: prettier --write

ci: create dedicated security workflow for pinact
  .github/workflows/lint-workflow.yml
  .github/workflows/security.yml
Due: prettier --write

ci: use path filter instead of changed-files action in security workflow
  .github/workflows/security.yml
Due: prettier --write

feat(ci): fix typo
  .github/workflows/security.yml
Due: prettier --write

docs(calendar): update a11y
  www/contents/components/(components)/calendar.ja.mdx
  www/contents/components/(components)/calendar.mdx
Due: prettier --write

docs(date-picker): update a11y
  www/contents/components/(components)/date-picker.ja.mdx
  www/contents/components/(components)/date-picker.mdx
Due: prettier --write

fix(carousel): fix `Carousel` next/prev buttons affecting slide animations
  .changeset/red-baboons-trade.md
  packages/react/src/components/carousel/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(ci, turbo): add turbo cache to all relevant workflow jobs
  .github/workflows/next.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

ci(workflow): run jobs when the workflow file is updated
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

fix(ci): pass CODECOV_TOKEN to reusable workflow
  .github/workflows/quality.yml
  .github/workflows/test.yml
Due: prettier --write

fix: implement click queue and debounce for smoother navigation
  .changeset/shy-apples-do.md
  packages/react/src/components/carousel/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: conditionally render title in EmptyState component
  .changeset/odd-symbols-heal.md
  packages/react/src/components/empty-state/empty-state.test.tsx
  packages/react/src/components/empty-state/empty-state.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(ci): update turbo cache keys to include job name for improved caching
  .github/workflows/next.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix(color-picker): pass aria-label to input for accessibility
  .changeset/fix-color-picker-a11y.md
  packages/react/src/components/color-picker/color-picker.test.tsx
  packages/react/src/components/color-picker/use-color-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(pin-input): enhance accessibility by adding aria-labels
  .changeset/smart-apes-scream.md
  packages/react/src/components/field/use-field-props.ts
  packages/react/src/components/pin-input/pin-input.tsx
  packages/react/src/components/pin-input/use-pin-input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(accordion): integrate native styles and improve toggle logic
  .changeset/hip-grapes-throw.md
  .changeset/kind-animals-decide.md
  .changeset/ripe-pianos-hunt.md
  .changeset/ripe-shrimps-wish.md
  packages/react/src/components/accordion/accordion.style.ts
  packages/react/src/components/accordion/accordion.tsx
  packages/react/src/components/accordion/use-accordion.ts
  packages/react/src/components/native-accordion/index.ts
  packages/react/src/components/native-accordion/namespace.ts
  packages/react/src/components/native-accordion/native-accordion.stories.tsx
  packages/react/src/components/native-accordion/native-accordion.style.ts
  packages/react/src/components/native-accordion/native-accordion.test.tsx
  packages/react/src/components/native-accordion/native-accordion.tsx
  packages/react/src/components/native-accordion/use-native-accordion.ts
  packages/react/src/core/css/conditions.ts
  packages/react/src/index.ts
  packages/react/src/theme/styles/reset-style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset for useInfiniteScroll a11y
  .changeset/silent-eagles-walk.md
Due: prettier --write

test: add tests for checkbox
  packages/react/src/components/checkbox/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add indicator tests
  packages/react/src/components/indicator/indicator.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update required prop test
  packages/react/src/components/checkbox/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update indicator tests
  packages/react/src/components/indicator/indicator.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(test): add browser test scripts to turbo
  .github/workflows/test.yml
  package.json
  turbo.json
Due: prettier --write

docs(avatar): add AvatarGroup.Root to accessibility table
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/avatar.mdx
Due: prettier --write

chore(lefthook): run eslint before prettier in pre-commit
  lefthook.yaml
Due: none

ci(quality-workflow): consolidate changed-files steps with files_yaml
  .github/workflows/quality.yml
Due: prettier --write

ci(turbo): make root scripts use turbo cache
  .github/workflows/quality.yml
  .github/workflows/test.yml
  turbo.json
  www/turbo.json
Due: prettier --write

feat(qr-code): add QR code component with styling and hooks
  .changeset/dark-mangos-allow.md
  .changeset/hip-mirrors-sing.md
  packages/react/package.json
  packages/react/src/components/loading/oval.tsx
  packages/react/src/components/qr-code/index.ts
  packages/react/src/components/qr-code/namespace.ts
  packages/react/src/components/qr-code/qr-code.stories.tsx
  packages/react/src/components/qr-code/qr-code.style.ts
  packages/react/src/components/qr-code/qr-code.tsx
  packages/react/src/components/qr-code/use-qr-code.tsx
  packages/react/src/core/css/styles.ts
  packages/react/src/index.ts
  pnpm-lock.yaml
  scripts/generate/styles/exclude-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix
