Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore: remove TODOs for v2 dependencies and update URL
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/constant.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(remove): delete obsolete sync-docs action
  .github/composite-actions/sync-docs/action.yml
  .github/workflows/release.yml
  www/ignored-build-step.sh
Due: prettier --write

feat(display): add support for absolute-center positioning
  packages/react/src/core/css/display.ts
  packages/react/src/core/css/styles.ts
  scripts/generate/styles/styled-props.ts
  www/data/styles.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(Loading): migrate loading animations from SVG to CSS
  packages/react/src/components/loading/audio.tsx
  packages/react/src/components/loading/circles.tsx
  packages/react/src/components/loading/dots.tsx
  packages/react/src/components/loading/grid.tsx
  packages/react/src/components/loading/oval.tsx
  packages/react/src/components/loading/puff.tsx
  packages/react/src/components/loading/registry.json
  packages/react/src/components/loading/rings.tsx
  www/public/registry/v2/components/loading.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(www/components): change Box to Grid in code preview
  www/components/code-preview.tsx
  www/components/examples/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cascade-layers): update description for CSS cascade layers
  www/contents/components/(components)/date-picker.mdx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/contents/styling/cascade-layers.ja.mdx
Due: prettier --write

chore: remove redundant badge images from README files
  README.ja.md
  README.md
Due: prettier --write

refactor(next): centralize metadata generation logic
  www/app/[locale]/(apps)/examples/page.tsx
  www/app/[locale]/(apps)/icons/page.tsx
  www/app/[locale]/(apps)/themes/page.tsx
  www/app/[locale]/docs/[...slug]/page.tsx
  www/app/[locale]/layout.tsx
  www/app/[locale]/og/route.tsx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add legacy documentation pages and redirects
  www/contents/get-started/legacy.ja.mdx
  www/contents/get-started/legacy.mdx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/next.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(next): update og url params handling for consistency
  www/app/[locale]/og/route.tsx
  www/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(props): remove default 'hoge' values from JSON files
  packages/react/src/components/alpha-slider/props.json
  packages/react/src/components/calendar/props.json
  packages/react/src/components/carousel/props.json
  packages/react/src/components/color-swatch/props.json
  packages/react/src/components/drawer/props.json
  packages/react/src/components/file-button/props.json
  packages/react/src/components/hue-slider/props.json
  packages/react/src/components/indicator/props.json
  packages/react/src/components/modal/props.json
  packages/react/src/components/pagination/props.json
  packages/react/src/components/pin-input/props.json
  packages/react/src/components/skeleton/props.json
  packages/react/src/components/table/props.json
  scripts/generate/props/index.ts
  www/data/props/alpha-slider.json
  www/data/props/calendar.json
  www/data/props/carousel.json
  www/data/props/color-swatch.json
  www/data/props/drawer.json
  www/data/props/file-button.json
  www/data/props/hue-slider.json
  www/data/props/indicator.json
  www/data/props/modal.json
  www/data/props/pagination.json
  www/data/props/pin-input.json
  www/data/props/skeleton.json
  www/data/props/table.json
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): rename Roadmap.tsx to roadmap.tsx
  www/components/examples/roadmap.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove obsolete update-www action.yml
  .github/composite-actions/update-www/action.yml
  .github/workflows/next.yml
  .github/workflows/release.yml
  .github/workflows/storybook.yml
  package.json
  pnpm-lock.yaml
  scripts/changelog.ts
  scripts/coverage-issues.ts
  scripts/create-issues.ts
  scripts/notification-release.ts
  www/app/[locale]/(apps)/icons/list.tsx
  www/contents/changelog/cli/2-0-0.ja.mdx
  www/contents/changelog/cli/2-0-0.mdx
  www/contents/changelog/index.ja.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-0-0.ja.mdx
  www/contents/changelog/react/2-0-0.mdx
  www/contents/changelog/utils/2-0-0.ja.mdx
  www/contents/changelog/utils/2-0-0.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/index.ts
  www/messages/en.json
  www/messages/ja.json
  www/package.json
  www/scripts/generate/changelog.ts
  www/scripts/generate/docs/map.ts
  www/velite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "chore(lefthook): add file tracking for pnpm install on `post-merge` and `post-checkout`"
  lefthook.yaml
Due: none

Revert "chore(lefthook): added `frozen-lockfile` option"
  lefthook.yaml
Due: none

Revert "chore(lefthook): added `post-checkout` hook"
  lefthook.yaml
Due: none

chore: removed og.png file
  www/public/og.png
Due: none

ci: add Discord release notification script
  .github/workflows/release.yml
  package.json
  scripts/notification/release/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add test:coverage scripts and update CI workflow
  .github/workflows/quality.yml
  package.json
  packages/react/package.json
  packages/utils/package.json
  turbo.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@9443730c396db0bf32fd7fff53213e191ed60007 🚀
  project.json
Due: prettier --write

fix(docs): update migration version references from v2.0 to v2.0.x
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
Due: prettier --write

fix(Loading): add explicit px units to loading SVG shapes
  packages/react/src/components/loading/audio.tsx
  packages/react/src/components/loading/circles.tsx
  packages/react/src/components/loading/dots.tsx
  packages/react/src/components/loading/grid.tsx
  packages/react/src/components/loading/oval.tsx
  packages/react/src/components/loading/puff.tsx
  packages/react/src/components/loading/rings.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(migration): add quotes to 'variant' in example
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
Due: prettier --write

chore: add script that exits immediately
  www/ignored-build-step.sh
Due: none

test: mark minChildWidth test as todo
  packages/react/src/components/simple-grid/simple-grid.test.tsx
  packages/react/src/hooks/use-async-callback/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(lefthook): add lefthook post merge and checkout with ignore scripts in gh actions
  .github/composite-actions/install/action.yml
  lefthook.yaml
Due: prettier --write

feat(segmented-control): add indicator styles and layout group
  packages/react/src/components/loading/registry.json
  packages/react/src/components/motion/registry.json
  packages/react/src/components/segmented-control/registry.json
  packages/react/src/components/segmented-control/segmented-control.style.ts
  packages/react/src/components/segmented-control/segmented-control.tsx
  packages/react/src/components/segmented-control/use-segmented-control.ts
  www/public/registry/v2/components/loading.json
  www/public/registry/v2/components/motion.json
  www/public/registry/v2/components/segmented-control.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat(api): add webhook handlers for PR review and opened
  .github/workflows/observe-issue-and-pull-request.yml
  packages/workspace/package.json
  packages/workspace/src/discord/index.ts
  packages/workspace/src/octokit/index.ts
  pnpm-lock.yaml
  scripts/notification/release/index.ts
  www/app/api/github/observe/route.ts
  www/app/api/github/observe/update-issues.ts
  www/app/api/github/observe/update-pull-requests.ts
  www/app/api/github/utils.ts
  www/app/api/github/webhook/pull-request-review/dismissed.ts
  www/app/api/github/webhook/pull-request-review/submitted.ts
  www/app/api/github/webhook/pull-request/opened.ts
  www/app/api/github/webhook/pull-request/review-request-removed.ts
  www/app/api/github/webhook/route.ts
  www/scripts/generate/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update theme import path to "@workspace/theme
  www/contents/get-started/frameworks/next-app.ja.mdx
  www/contents/get-started/frameworks/next-pages.ja.mdx
  www/contents/get-started/frameworks/next-pages.mdx
  www/contents/get-started/frameworks/react-router.ja.mdx
  www/contents/get-started/frameworks/react-router.mdx
  www/contents/get-started/frameworks/vite.ja.mdx
  www/contents/get-started/frameworks/vite.mdx
  www/contents/styling/cascade-layers.ja.mdx
  www/contents/styling/cascade-layers.mdx
  www/contents/styling/global-styles.ja.mdx
  www/contents/styling/global-styles.mdx
  www/contents/styling/layer-styles.ja.mdx
  www/contents/styling/layer-styles.mdx
  www/contents/styling/reset-styles.ja.mdx
  www/contents/styling/reset-styles.mdx
  www/contents/styling/text-styles.ja.mdx
  www/contents/styling/text-styles.mdx
  www/contents/theming/breakpoints.ja.mdx
  www/contents/theming/breakpoints.mdx
  www/contents/theming/cascade-layers.ja.mdx
  www/contents/theming/cascade-layers.mdx
  www/contents/theming/color-mode.ja.mdx
  www/contents/theming/color-mode.mdx
  www/contents/theming/configuration/customization.ja.mdx
  www/contents/theming/configuration/customization.mdx
  www/contents/theming/customization.ja.mdx
  www/contents/theming/customization.mdx
  www/contents/theming/styles/global-styles.ja.mdx
  www/contents/theming/styles/global-styles.mdx
  www/contents/theming/styles/layer-styles.ja.mdx
  www/contents/theming/styles/layer-styles.mdx
  www/contents/theming/styles/reset-styles.ja.mdx
  www/contents/theming/styles/reset-styles.mdx
  www/contents/theming/styles/text-styles.ja.mdx
  www/contents/theming/styles/text-styles.mdx
  www/contents/theming/switching-themes.ja.mdx
  www/contents/theming/switching-themes.mdx
Due: prettier --write

refactor(search): add support for dynamically changing the shortcut display for different os
  www/app/[locale]/search.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(forms): update `isLight` to `light` in forms appearance
  www/app/[locale]/(apps)/examples/forms/appearance.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
