Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

fix(utils): use getPackageNameWithVersion consistently
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/diff/get-registries-and-files.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/diff/print-diff.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(packages/cli): remove unused unhandled error handler
  packages/cli/@types/cli-handle-unhandled.d.ts
  packages/cli/package.json
  packages/cli/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): apply consistent configuration for `Heading`
  www/contents/components/(components)/heading.ja.mdx
  www/contents/components/(components)/heading.mdx
Due: prettier --write

chore: add extension transformation and JSX handling
  packages/cli/package.json
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/diff/get-registries-and-files.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/update/print-conflicts.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/registry.ts
  packages/cli/src/utils/typescript.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix(typescript): clarify error message for missing tsconfig
  packages/cli/src/utils/typescript.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(use-infinite-scroll): migrate documentation
  www/contents/hooks/use-infinite-scroll.ja.mdx
  www/contents/hooks/use-infinite-scroll.mdx
Due: prettier --write

feat(www): iframe support
  pnpm-lock.yaml
  www/components/mdx/code-block.tsx
  www/components/mdx/iframe.tsx
  www/package.json
  www/utils/rehype-plugins/rehype-pre.ts
  www/utils/remark-plugins/remark-code-block.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(infinite-scroll-area): migrate documentation
  www/components/mdx/get-component.tsx
  www/contents/components/(components)/infinite-scroll-area.ja.mdx
  www/contents/components/(components)/infinite-scroll-area.mdx
  www/utils/async.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): adjust targetPath to match GitHub tarball folder naming
  .changeset/large-dryers-design.md
  packages/cli/src/command/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(group): migrate documentation
  www/contents/components/(components)/group.ja.mdx
  www/contents/components/(components)/group.mdx
Due: prettier --write

docs(toggle): add usage examples
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

fix(ui): add AvatarGroup, ButtonGroup, and Group components
  www/contents/components/(components)/avatar.ja.mdx
  www/contents/components/(components)/avatar.mdx
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/button.mdx
  www/contents/components/(components)/group.ja.mdx
  www/contents/components/(components)/group.mdx
Due: prettier --write

docs(text): migrate documentation
  www/contents/components/(components)/text.ja.mdx
  www/contents/components/(components)/text.mdx
Due: prettier --write

docs(textarea): migrate `Textarea` documentation
  www/contents/components/(components)/textarea.ja.mdx
  www/contents/components/(components)/textarea.mdx
Due: prettier --write

ci: add checks for www folder changes in workflows
  .github/workflows/quality.yml
Due: prettier --write

docs(tag): migrate documentation
  www/contents/components/(components)/tag.ja.mdx
  www/contents/components/(components)/tag.mdx
Due: prettier --write

docs(text): fix invalid import
  www/contents/components/(components)/text.ja.mdx
Due: prettier --write

docs: update Japanese documentation for clarity
  www/contents/components/(components)/box.ja.mdx
  www/contents/components/(components)/box.mdx
Due: prettier --write

docs(text): fix review comments
  www/contents/components/(components)/text.ja.mdx
  www/contents/components/(components)/text.mdx
Due: prettier --write

docs(tag): fix review comments
  www/contents/components/(components)/tag.ja.mdx
  www/contents/components/(components)/tag.mdx
Due: prettier --write

Revert "Updated packages"
  .changeset/six-trees-smell.md
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

fix(tag): replace HStack with Wrap for layout consistency
  www/contents/components/(components)/tag.ja.mdx
  www/contents/components/(components)/tag.mdx
Due: prettier --write

refactor(process): removed unused execAsync function
  packages/cli/src/utils/process.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/spotty-spies-visit.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): updated packages
  .changeset/large-dryers-design.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
Due: prettier --write

docs(icon-button): migrate documentation
  www/contents/components/(components)/icon-button.ja.mdx
  www/contents/components/(components)/icon-button.mdx
Due: prettier --write

feat: use `Dependabot` instead of `Renovate`
  depandabot.yaml
  renovate.json
Due: prettier --write

fix(textarea): update placeholder text and refactor examples for clarity
  www/contents/components/(components)/textarea.ja.mdx
  www/contents/components/(components)/textarea.mdx
Due: prettier --write

docs(Stat): migrate documetntaion
  www/contents/components/(components)/stat.ja.mdx
  www/contents/components/(components)/stat.mdx
Due: prettier --write

docs(image): migrate documentation
  www/contents/components/(components)/image.ja.mdx
  www/contents/components/(components)/image.mdx
Due: prettier --write

fix(ci): update layout effect hooks for iframe rendering
  pnpm-lock.yaml
  www/components/mdx/code-block.tsx
  www/components/mdx/iframe.tsx
  www/contents/components/(components)/infinite-scroll-area.ja.mdx
  www/contents/components/(components)/infinite-scroll-area.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(toggle): simplify usage examples and update import paths
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

style(components): update height and border radius for consistency
  www/contents/components/(components)/infinite-scroll-area.ja.mdx
  www/contents/components/(components)/infinite-scroll-area.mdx
  www/contents/hooks/use-infinite-scroll.ja.mdx
  www/contents/hooks/use-infinite-scroll.mdx
Due: prettier --write

docs(highlight): migrate documentation
  www/contents/components/(components)/highlight.ja.mdx
  www/contents/components/(components)/highlight.mdx
Due: prettier --write

style(docs): fix heading typo from "Variants" to "Variant
  www/contents/components/(components)/accordion.mdx
  www/contents/components/(components)/breadcrumb.mdx
  www/contents/components/(components)/data-list.mdx
  www/contents/components/(components)/link.mdx
Due: prettier --write

ci: add build:content before lint and typecheck
  .github/workflows/quality.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
