Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs(indocator): migrate documentation
  www/contents/components/(components)/indicator.ja.mdx
  www/contents/components/(components)/indicator.mdx
Due: prettier --write

feat(ci/dependabot): add auto-merge workflow
  .github/workflows/dependabot-automerge.yaml
Due: none

feat: use `Dependabot` instead of `Renovate`
  depandabot.yaml
  renovate.json
Due: prettier --write

fix(toggle): add invalid border styles to toggle states
  packages/react/src/components/toggle/toggle.stories.tsx
  packages/react/src/components/toggle/toggle.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(highlight): update rendering logic for fragments and text
  packages/react/src/components/highlight/highlight.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(field): incorporate fieldset context into field components
  packages/react/src/components/field/field.tsx
  packages/react/src/components/field/use-field-props.ts
  packages/react/src/components/fieldset/fieldset.stories.tsx
  packages/react/src/components/fieldset/fieldset.tsx
  www/contents/components/(components)/fieldset.ja.mdx
  www/contents/components/(components)/fieldset.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

build:next: added --turbopack flag to next build
  www/package.json
Due: prettier --write

fix(docs): update input component usage instructions
  www/contents/components/(components)/input.ja.mdx
  www/contents/components/(components)/input.mdx
Due: prettier --write

fix(stat): remove helperMessage from stat components
  packages/react/src/components/stat/stat.stories.tsx
  www/contents/components/(components)/stat.ja.mdx
  www/contents/components/(components)/stat.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(switch): migrate documentation
  www/contents/components/(components)/switch.ja.mdx
  www/contents/components/(components)/switch.mdx
Due: prettier --write

docs(tabs): migrate documentation
  www/contents/components/(components)/tabs.ja.mdx
  www/contents/components/(components)/tabs.mdx
Due: prettier --write

docs(bleed): migrate documentation
  www/components/mdx/code-block.tsx
  www/contents/components/(components)/bleed.ja.mdx
  www/contents/components/(components)/bleed.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "feat(ci/dependabot): add auto-merge workflow"
  .github/workflows/dependabot-automerge.yaml
Due: none

refactor(components): update layout for full width and alignment
  www/contents/components/(components)/bleed.ja.mdx
  www/contents/components/(components)/bleed.mdx
Due: prettier --write

fix(eslint): update pseudo-class order for correctness
  packages/workspace/src/eslint/perfectionist.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(conditions): remove commented-out attribute selectors
  packages/react/src/core/css/conditions.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(styles): enable outline property in styles and types
  packages/react/src/core/css/styles.ts
  scripts/generate/styles/styled-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): remove redundant focus ring outlineColor
  packages/react/src/core/css/focus-ring.stories.tsx
  packages/react/src/core/css/focus-ring.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-accordion): streamline key handling with runKeyAction
  packages/react/src/components/accordion/use-accordion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-descendants): prevent infinite loop when not looping
  packages/react/src/hooks/use-descendants/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(link-box): migrate documentation
  www/contents/components/(components)/link-box.ja.mdx
  www/contents/components/(components)/link-box.mdx
Due: prettier --write

docs(loading): migrate documentation
  www/contents/components/(animations)/loading.ja.mdx
  www/contents/components/(animations)/loading.mdx
Due: prettier --write

docs(mark): migrate documentation
  www/contents/components/(components)/mark.ja.mdx
  www/contents/components/(components)/mark.mdx
Due: prettier --write

style(indicator): update padding styles with _notEmpty property
  packages/react/src/components/indicator/indicator.style.ts
  packages/react/src/core/css/conditions.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(combobox): add aria-label support for accessibility
  packages/react/src/hooks/use-combobox/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(style): replace --input-space-y with --space-y
  packages/react/src/components/file-input/file-input.style.ts
  packages/react/src/components/input/input-element.style.ts
  packages/react/src/components/input/input-group.tsx
  packages/react/src/components/input/input.style.ts
  packages/react/src/components/native-select/native-select.style.ts
  packages/react/src/components/number-input/number-input.style.ts
  packages/react/src/components/password-input/password-input.style.ts
  packages/react/src/components/textarea/textarea.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(carousel): align _selected styling consistently
  packages/react/src/components/carousel/carousel.stories.tsx
  packages/react/src/components/carousel/carousel.style.ts
  packages/react/src/components/tabs/tabs.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(list): migrate documentation
  www/contents/components/(components)/list.ja.mdx
  www/contents/components/(components)/list.mdx
Due: prettier --write

chore: update CLI docs with latest commands and options
  www/contents/components/cli.ja.mdx
  www/contents/components/cli.mdx
  www/contents/get-started/cli.ja.mdx
  www/contents/get-started/cli.mdx
  www/contents/theming/cli.ja.mdx
  www/contents/theming/cli.mdx
Due: prettier --write

docs(textarea): update placeholder text and simplify border color examples
  www/contents/components/(components)/textarea.ja.mdx
  www/contents/components/(components)/textarea.mdx
Due: prettier --write

docs(toggle): add usage examples
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

docs(toggle): simplify usage examples and update import paths
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

docs(toggle): update usage examples to include ToggleGroup and adjust alignment properties
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

docs(toggle): remove redundant code examples for ToggleGroup usage
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

docs(textarea): update placeholder examples and improve usage instructions
  www/contents/components/(components)/textarea.ja.mdx
  www/contents/components/(components)/textarea.mdx
Due: prettier --write

docs(toggle): add ToggleGroup usage example and clarify invalid state instructions
  www/contents/components/(components)/toggle.ja.mdx
  www/contents/components/(components)/toggle.mdx
Due: prettier --write

docs(textarea): add instructions for changing resize behavior
  www/contents/components/(components)/textarea.ja.mdx
  www/contents/components/(components)/textarea.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
