Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

build: add -D `@next/eslint-plugin-next`
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update `eslint/import.mjs`
  eslint/import.mjs
Due: none

chore: update `eslint/react.mjs`
  eslint/react.mjs
Due: none

chore: update `eslint.config.mjs`
  eslint.config.mjs
Due: none

chore: update `docs/eslint.config.mjs`
  docs/eslint.config.mjs
Due: none

chore(eslint): add inline-disable-comments
  packages/core/tests/css.test.tsx
  packages/test/src/index.ts
  packages/utils/tests/react.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: remove `@eslint/eslintrc`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: remove `@eslint/compat`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add changeset
  .changeset/lucky-bottles-joke.md
Due: prettier --write

feat: add context menu
  packages/components/context-menu/README.md
  packages/components/context-menu/package.json
  packages/components/context-menu/src/context-menu-trigger.tsx
  packages/components/context-menu/src/context-menu.tsx
  packages/components/context-menu/src/index.ts
  packages/components/context-menu/tests/context-menu.test.tsx
  packages/components/context-menu/tsconfig.json
  packages/components/popover/src/popover.tsx
  packages/react/package.json
  packages/react/src/index.ts
  pnpm-lock.yaml
  stories/components/overlay/context-menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix test
  packages/components/context-menu/package.json
  packages/components/icon/tests/icon.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test
  packages/components/context-menu/package.json
  packages/components/context-menu/tests/context-menu.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

test(icon): replace `Md3dRotation` with `FaMarkdown`
  packages/components/icon/tests/icon.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(script): fixed incorrect percentage of coverage issue
  scripts/coverage-issues.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(reorder): added support for items prop rendering
  .changeset/sour-baboons-provide.md
  packages/components/reorder/src/reorder.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(stories): added new story withItems for Reorder
  stories/components/data-display/reorder.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(breadcrumb): added dynamic item rendering and boundaries
  .changeset/orange-students-fail.md
  packages/components/breadcrumb/package.json
  packages/components/breadcrumb/src/breadcrumb.tsx
  packages/components/breadcrumb/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(stories): add new breadcrumb story configurations
  stories/components/navigation/breadcrumb.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated Japanese breadcrumb documentation
  docs/contents/components/navigation/breadcrumb/index.ja.mdx
  docs/contents/components/navigation/breadcrumb/index.mdx
Due: prettier --write

refactor(components/reorder): added ReorderGenerateItem type and usage
  packages/components/reorder/src/index.ts
  packages/components/reorder/src/reorder.tsx
  stories/components/data-display/reorder.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated reorder component docs
  docs/contents/components/data-display/reorder/index.ja.mdx
  docs/contents/components/data-display/reorder/index.mdx
Due: prettier --write

test(use-outside-click): add tests for useOutsideClick hook
  packages/hooks/use-outside-click/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix test name
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test for use-clickable
  packages/hooks/use-clickable/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add checkbox-group tests
  .changeset/curvy-bats-yawn.md
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test for use-clickable
  packages/hooks/use-clickable/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: capitalize the first letter of the changeset
  .changeset/curvy-bats-yawn.md
Due: prettier --write

refactor: standardize monthPicker variable naming
  docs/contents/components/forms/month-picker/index.ja.mdx
  docs/contents/components/forms/month-picker/index.mdx
  stories/components/forms/month-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(calendar): update selectMonthWith to __selectType
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/src/use-month-list.tsx
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): added `YearPicker` component and style
  .changeset/strong-toes-compete.md
  packages/theme/src/components/index.ts
  packages/theme/src/components/year-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(native-select): updated test ids and added tests
  packages/components/native-select/tests/native-select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): added `YearPicker` component and hooks
  .changeset/mighty-lizards-appear.md
  packages/components/calendar/src/index.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/calendar/src/year-picker.tsx
  stories/components/forms/year-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test for use-token
  packages/hooks/use-token/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/calendar): simplified value handling logic
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): corrected readOnly behavior in MultiSelect
  .changeset/sweet-items-try.md
  packages/theme/src/components/multi-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(component): updated component
  docs/contents/components/data-display/calendar/props.ja.mdx
  docs/contents/components/data-display/calendar/props.mdx
  docs/contents/components/forms/multi-select/theming.ja.mdx
  docs/contents/components/forms/multi-select/theming.mdx
  packages/components/calendar/DOCS.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
