Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor(a11y): simplify failure reporting by returning failures directly
  packages/forge/src/issue/a11y/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(www): pin stackblitz vite dependencies
  www/libs/stackblitz.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(icon): avoid fake default size token (#7691)
  .changeset/silver-icons-smile.md
  packages/react/src/components/icon/icon.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
Due: prettier --write

chore(deps): update vulnerable build dependencies
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

feat(eslint-plugin): track styled wrapper variables in props-shorthand
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(eslint-plugin): drop typescript compiler api dependency in props-shorthand
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/props-shorthand/__fixtures__/tsconfig.json
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/typed-component-matcher.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/typed-component-matcher.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(accrodion): update tip
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

Update www/contents/components/(components)/calendar.ja.mdx
  www/contents/components/(components)/calendar.ja.mdx
Due: prettier --write

Update www/contents/components/(components)/calendar.mdx
  www/contents/components/(components)/calendar.mdx
Due: prettier --write

Update www/contents/components/(components)/date-picker.ja.mdx
  www/contents/components/(components)/date-picker.ja.mdx
Due: prettier --write

Update www/contents/components/(components)/date-picker.mdx
  www/contents/components/(components)/date-picker.mdx
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7709.md
  .changeset/dependabot-icons-7709.md
  .changeset/dependabot-react-dependencies-7709.md
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/play-off-icon.tsx
  packages/react/src/components/icon/icons/webcam-off-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(contributing): remove code formatting from product name
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

build(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7710.md
Due: prettier --write

fix(lefthook): allow ignored files in format hook (#7700)
  lefthook.yaml
Due: none

fix(dependabot): push updates with PAT token (#7702)
  .github/workflows/dependabot.yml
Due: prettier --write

fix(www): pin stackblitz vite dependencies (#7706)
  www/libs/stackblitz.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(contributing): remove code formatting from product name (#7712)
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
Due: prettier --write

chore(deps): update vulnerable build dependencies (#7707)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

Add tips section for calendar components (#6354)
  www/contents/components/(components)/calendar.ja.mdx
  www/contents/components/(components)/calendar.mdx
  www/contents/components/(components)/date-picker.ja.mdx
  www/contents/components/(components)/date-picker.mdx
Due: prettier --write

Add tips section for accordion components (#6352)
  www/contents/components/(components)/accordion.ja.mdx
  www/contents/components/(components)/accordion.mdx
Due: prettier --write

feat(styles): enhance CSS compatibility by adding vendor-specific properties (#7693)
  .changeset/afraid-corners-stick.md
  cspell.json
  packages/react/scripts/generate/styles/index.ts
  packages/react/scripts/generate/styles/styles.ts
  packages/react/src/core/components/props.ts
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(deps): update js-yaml
  package.json
  patches/read-yaml-file@1.1.0.patch
  pnpm-lock.yaml
  www/package.json
  www/scripts/generate/relations.ts
  www/utils/markdown/index.ts
  www/utils/markdown/matter.ts
  www/utils/markdown/replace-relations.ts
  www/utils/rehype-plugins/rehype-slug.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(wrap): use direct Flex recommendation
  www/contents/components/(components)/wrap.ja.mdx
  www/contents/components/(components)/wrap.mdx
Due: prettier --write

docs(grid): align SimpleGrid tip with reviewer wording
  www/contents/components/(components)/grid.ja.mdx
  www/contents/components/(components)/grid.mdx
Due: prettier --write

docs(empty-state): address related tip feedback
  www/contents/components/(components)/empty-state.ja.mdx
  www/contents/components/(components)/empty-state.mdx
Due: prettier --write

ci(changesets): updated packages
  .changeset/afraid-corners-stick.md
  .changeset/dependabot-cli-dependencies-7695.md
  .changeset/dependabot-cli-dependencies-7709.md
  .changeset/dependabot-cli-dependencies-7710.md
  .changeset/dependabot-icons-7709.md
  .changeset/dependabot-react-dependencies-7695.md
  .changeset/dependabot-react-dependencies-7696.md
  .changeset/dependabot-react-dependencies-7709.md
  .changeset/dependabot-styles-7695.md
  .changeset/enforce-curly-style.md
  .changeset/silver-icons-smile.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

refactor(stylistic): enhance blank line rules by adding new statement types
  packages/workspace/src/oxlint/stylistic.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: contributors
  www/data/contributors.json
  www/data/emeriti.json
  www/data/maintainers.json
  www/data/sponsors.json
  www/scripts/generate/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: contributors
  www/data/maintainers.json
Due: prettier --write

Updated contributors (#7715)
  packages/workspace/src/oxlint/stylistic.ts
  www/data/contributors.json
  www/data/emeriti.json
  www/data/maintainers.json
  www/data/sponsors.json
  www/scripts/generate/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(lefthook): ignore unmatched oxlint patterns
  lefthook.yaml
Due: none

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
