Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore(root/npm-scripts): add `lint:inspect` command
  package.json
Due: prettier --write

chore(docs): remove `.eslintrc.json`, `.eslintignore`
  docs/.eslintignore
  docs/.eslintrc.json
Due: prettier --write

feat(docs): add `eslint.config.mjs`
  docs/eslint.config.mjs
Due: none

chore(docs/npm-scripts): add `lint:inspect` command
  docs/package.json
Due: prettier --write

chore(examples/nextjs-app): update ESLint to v9.7.0
  examples/nextjs-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/nextjs-app): add `lint:inspect` command
  examples/nextjs-app/package.json
Due: prettier --write

chore(examples/nextjs-app): add -D eslint-related modules
  examples/nextjs-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/nextjs-app): remove `.eslintrc.json`
  examples/nextjs-app/.eslintrc.json
Due: prettier --write

chore(examples/nextjs-app): update `lint` command
  examples/nextjs-app/package.json
Due: prettier --write

docs: updated documentation and fixed typos
  cspell.json
  docs/contents/components/data-display/list/index.ja.mdx
  docs/contents/components/data-display/list/index.mdx
  docs/contents/components/navigation/breadcrumb/index.mdx
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
  docs/contents/styled-system/gradient.mdx
  docs/contents/styled-system/notification.ja.mdx
  docs/contents/styled-system/text-and-layer-styles.mdx
  packages/components/markdown/tests/markdown.test.tsx
  stories/components/motion/scroll.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(examples/nextjs-app): add `eslint.config.mjs`
  examples/nextjs-app/eslint.config.mjs
Due: none

chore(examples/nestjs-app): update `tsconfig.json`
  examples/nextjs-app/tsconfig.json
Due: prettier --write

chore(examples/nextjs-app): ran `eslint . --max-warnings=0 --fix`
  examples/nextjs-app/app/page.tsx
  examples/nextjs-app/components/layouts/header.tsx
  examples/nextjs-app/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(examples/nextjs-pages): update `tsconfig.json`
  examples/nextjs-pages/tsconfig.json
Due: prettier --write

chore(examples/nextjs-pages): update `lint` command
  examples/nextjs-pages/package.json
Due: prettier --write

chore(examples/remix): update `tsconfig.json`
  examples/remix/tsconfig.json
Due: prettier --write

chore(examples/remix): add eslint-related modules
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(examples/nextjs-pages): add `eslint.config.mjs`
  examples/nextjs-pages/eslint.config.mjs
Due: none

chore(examples/nextjs-pages): ran `eslint . --max-warnings=0 --fix`
  examples/nextjs-pages/components/layouts/header.tsx
  examples/nextjs-pages/pages/_app.tsx
  examples/nextjs-pages/pages/index.tsx
  examples/nextjs-pages/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(examples/remix): remove `.eslintrc.cjs`
  examples/remix/.eslintrc.cjs
Due: none

chore(examples/nextjs-pages): add `lint:inspect`
  examples/nextjs-pages/package.json
Due: prettier --write

chore(examples/remix): update ESLint to v9.7.0
  examples/remix/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/nextjs-pages): remove `.eslintrc.json`
  examples/nextjs-pages/.eslintrc.json
Due: prettier --write

chore(examples/nextjs-pages): add eslint and eslint-plugins
  examples/nextjs-pages/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/vite): add -D eslint-related modules
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/vite): remove `.eslintrc.json`
  examples/vite/.eslintrc.json
Due: prettier --write

feat(examples/vite): add `eslint.config.mjs`
  examples/vite/eslint.config.mjs
Due: none

chore(examples/vite): update ESLint to `v9.7.0`
  examples/vite/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/vite): ran `eslint . --max-warnings=0 --fix`
  examples/vite/src/app.tsx
  examples/vite/src/components/layouts/header.tsx
  examples/vite/src/main.tsx
  examples/vite/src/theme/index.ts
  examples/vite/vite.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(examples/vite): update `tsconfig.json`
  examples/vite/tsconfig.app.json
  examples/vite/tsconfig.json
  examples/vite/tsconfig.node.json
Due: prettier --write

feat(examples/remix): add `eslint.config.mjs`
  examples/remix/eslint.config.mjs
Due: none

chore(examples/remix): ran `eslint . --max-warnings=0 --fix`
  examples/remix/app/components/layouts/header.tsx
  examples/remix/app/root.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(eslint/close-button): fix ‘impor/order‘
  packages/components/close-button/test/close-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(docs): fix the warnings of the lint
  docs/scripts/mdx/map.ts
  docs/scripts/mdx/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: file-button testcodes fix
  packages/components/file-button/tests/file-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(root): remove `eslint-plugin-prettier`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root): remove sharable config of `eslint-plugin-prettier`
  eslint/prettier.mjs
Due: none

chore(examples/nextjs-app): remove `eslint-plugin-prettier`
  examples/nextjs-app/package.json
  pnpm-lock.yaml
Due: prettier --write

chore(examples/nextjs-app): remove sharable config of `eslint-plugin-prettier`
  examples/nextjs-app/eslint.config.mjs
Due: none
