Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix(cale dar): fixed a bug where theme tokens were used in components
  .changeset/good-crews-sip.md
  packages/components/calendar/src/calendar-header.tsx
  packages/components/calendar/src/month.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(calendar): fixed a bug where theme tokens were used in components
  packages/components/calendar/src/date-picker.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(test): add prop test template to package-util
  plop/component/package-multi/tests/{{dashCase packageName}}.test.tsx.hbs
Due: none

fix(indicator): theme css rounded corners
  .changeset/rich-suns-rescue.md
  packages/components/indicator/src/indicator.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(number-input): fixed zIndex value in component
  .changeset/shy-oranges-judge.md
  packages/components/number-input/src/number-input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(link): fixed incorrect zIndex value in LinkBox
  .changeset/cool-laws-sit.md
  packages/components/link/src/link-box.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(indicator): theme css rounded corners
  .changeset/calm-peaches-confess.md
  packages/components/ripple/src/ripple.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(indicator): theme CSS rounded corners
  .changeset/purple-adults-draw.md
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(modal): fixed theme token usage in styles
  .changeset/healthy-cycles-explode.md
  packages/components/modal/src/modal.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(test): update deps in `test` package
  packages/test/package.json
  pnpm-lock.yaml
Due: prettier --write

build(test): update deps in workspace-root
  package.json
  pnpm-lock.yaml
Due: prettier --write

test(file-button): use `vi.fn()` instead of `jest.fn()`
  packages/components/file-button/tests/file-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(carousel): use `vi.fn()` instead of `jest.fn()`
  packages/components/carousel/tests/carousel.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(render): import `@testing-library/jest-dom/vitest` instead of `@testing-library/jest-dom`
  packages/test/src/render.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(tsconfig): add `**/*.mts` to `includes`
  tsconfig.json
Due: prettier --write

test(npm-script): use Vitest (and Vite) instead of Jest in `test:coverage`
  package.json
Due: prettier --write

test(npm-script): remove `test:ci`
  package.json
Due: prettier --write

test(dropzone): use `vi.fn()` instead of `jest.fn()`
  packages/components/dropzone/tests/dropzone.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(layouts): use `vi.fn()` instead of `jest.fn()`
  packages/components/layouts/tests/layouts.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(resizable): use `vi.fn()` instead of `jest.fn()`
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(npm-script): add `test:ui`
  package.json
Due: prettier --write

test(reorder): use `vi.fn()` instead of `jest.fn()`
  packages/components/reorder/tests/reorder.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(setup-test): append matchers of `vitest-axe`
  scripts/setup-test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(render): remove `expect.extend` about a11y
  packages/test/src/render.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(scroll-area): use `vi.fn()` instead of `jest.fn()`
  packages/components/scroll-area/tests/scroll-area.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(vite): add vite.config.lcov-report.mts
  vite.config.lcov-report.mts
Due: none

test(carousel): skip `should do not stop autoplay on mouse enter`
  packages/components/carousel/tests/carousel.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(file-input): use `vi.fn()` instead of `jest.fn()`
  packages/components/file-input/tests/file-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(setup-test): use `vi.fn()` instead of `jest.fn()`
  scripts/setup-test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(avatar): use `vi.fn()` instead of `jest.fn()`
  packages/components/avatar/tests/avatar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(npm-script): use Vitest instead of Jest in `test`
  package.json
Due: prettier --write

test(setup-test): add mockImplementation of `window.HTMLCanvasElement.prototype.getContext`
  scripts/setup-test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(setup-test): import `@testing-library/jest-dom/vitest` instead of `@testing-library/jest-dom`
  scripts/setup-test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(npm-script): add `test:watch`
  package.json
Due: prettier --write

test(pin-input): use `vi.fn()` instead of `jest.fn()`
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(vitest): add vitest.config.mts
  vitest.config.mts
Due: none

test(a11y): update for vitest
  packages/test/src/accessibility.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(pin-input): skip all tests
  packages/components/pin-input/tests/pin-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(resizable): skip tests
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(image): use `vi.fn()` instead of `jest.fn()`
  packages/components/image/tests/image.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
