Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(swipeable): setting size of actions when `maxLeftSwipe` and `maxRightSwipe` are set
  packages/components/swipeable/src/swipeable.tsx
  stories/components/other/swipeable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(swipeable): added `useSwipeable`
  packages/components/swipeable/src/swipeable.tsx
  packages/components/swipeable/src/use-swipeable.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: replace usePopper to useFloating
  packages/components/popover/src/popover.tsx
  packages/components/tooltip/src/tooltip.tsx
  packages/hooks/use-popper/package.json
  packages/hooks/use-popper/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/moody-kiwis-sit.md
Due: prettier --write

test: add test for use-clickable
  packages/hooks/use-clickable/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-outside-click): add tests for useOutsideClick hook
  packages/hooks/use-outside-click/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test for use-clickable
  packages/hooks/use-clickable/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(eslint): add -w `@eslint/eslintrc`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(eslint): add -w `typescript-eslint`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(npm-scripts): update `lint` command
  package.json
Due: prettier --write

build(eslint): add -w `globals`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(eslint): add -w `@eslint/compat`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(eslint): add -w `eslint-import-resolver-typescript`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove `.eslintignore`, `.eslintrc.*.json`
  .eslintignore
  .eslintrc.base.json
  .eslintrc.json
Due: prettier --write

feat(eslint): add a set of ESLint configuration files compatible with FlatConfig
  eslint.config.mjs
  eslint/import.mjs
  eslint/react.mjs
  eslint/testing-library.mjs
  eslint/typescript.mjs
  eslint/vitest.mjs
Due: none

chore: remove `docs/.eslintignore`, `docs/.eslintrc.json`
  docs/.eslintignore
  docs/.eslintrc.json
Due: prettier --write

chore: update `pre-commit`
  .husky/pre-commit
Due: none

chore: add `docs/eslint.config.mjs`
  docs/eslint.config.mjs
Due: none

test: add checkbox-group tests
  .changeset/curvy-bats-yawn.md
  packages/components/checkbox/src/checkbox-group.tsx
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(native-select): updated test ids and added tests
  packages/components/native-select/tests/native-select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): corrected readOnly behavior in MultiSelect
  .changeset/sweet-items-try.md
  packages/theme/src/components/multi-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix rating className
  .changeset/chilled-items-lay.md
  packages/components/rating/src/rating-item.tsx
  packages/components/rating/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change rating classname
  .changeset/clever-items-glow.md
  packages/components/rating/src/rating-item.tsx
  packages/components/rating/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change notice classname
  .changeset/mean-parents-fail.md
  packages/components/notice/src/notice-provider.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: fix test for use-token
  packages/hooks/use-token/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: menu props
  docs/components/layouts/header.tsx
  docs/package.json
  docs/pages/examples/playground/header/share-button.tsx
  examples/create-react-app/src/components/layouts/header.tsx
  examples/hono/src/components/layouts/header.tsx
  examples/nextjs-app/components/layouts/header.tsx
  examples/nextjs-pages/components/layouts/header.tsx
  examples/remix/app/components/layouts/header.tsx
  examples/vite/src/components/layouts/header.tsx
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix test name
  packages/components/checkbox/tests/checkbox.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: capitalize the first letter of the changeset
  .changeset/clever-items-glow.md
Due: prettier --write

fix: capitalize the first letter of the changeset
  .changeset/mean-parents-fail.md
Due: prettier --write

fix: capitalize the first letter of the changeset
  .changeset/curvy-bats-yawn.md
Due: prettier --write

ci(component): updated component
  docs/contents/components/data-display/calendar/props.ja.mdx
  docs/contents/components/data-display/calendar/props.mdx
  docs/contents/components/forms/multi-select/theming.ja.mdx
  docs/contents/components/forms/multi-select/theming.mdx
  packages/components/calendar/DOCS.json
  pnpm-lock.yaml
Due: prettier --write

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

test: add drawer placement tests
  packages/components/modal/tests/drawer.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(i18n-context): enhance translation function flexibility
  docs/contexts/i18n-context.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): enhanced type support in i18n context
  docs/contexts/i18n-context.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
