Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

Deploying to gh-pages from @ yamada-ui/yamada-ui@f1308df90c8557ca6aebe575d0716e2dfaa7095f 🚀
  project.json
Due: prettier --write

docs(get-started): themeschemescript section for tanstack start
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

test: update all test files to use browser testing library
  .gitignore
  packages/react/package.json
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/components/loading/loading.test.tsx
  packages/react/src/components/number-input/number-input.test.tsx
  packages/react/src/hooks/use-clipboard/index.test.ts
  packages/react/src/hooks/use-idle/index.test.ts
  packages/react/src/hooks/use-mounted/index.test.ts
  packages/react/src/hooks/use-timeout/index.test.ts
  packages/react/test/browser/index.ts
  packages/react/test/browser/render.tsx
  packages/react/test/browser/utils.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

test: update all test files to use browser testing library (#6114)
  .gitignore
  packages/react/package.json
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/components/loading/loading.test.tsx
  packages/react/src/components/number-input/number-input.test.tsx
  packages/react/src/hooks/use-clipboard/index.test.ts
  packages/react/src/hooks/use-idle/index.test.ts
  packages/react/src/hooks/use-mounted/index.test.ts
  packages/react/src/hooks/use-timeout/index.test.ts
  packages/react/test/browser/index.ts
  packages/react/test/browser/render.tsx
  packages/react/test/browser/utils.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@08df9b0be5d5f9978a4e16889640efde122f68f8 🚀
  project.json
Due: prettier --write

test(use-combobox): migrate test to browser mode
  packages/react/src/hooks/use-combobox/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-controllable-state): migrate test to browser mode
  packages/react/src/hooks/use-controllable-state/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-animation): migrate test file to vitest browser mode
  packages/react/src/hooks/use-animation/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-async): migrate test file to vitest browser mode
  packages/react/src/hooks/use-async/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-async-callback): migrate test file to vitest browser mode
  packages/react/src/hooks/use-async-callback/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-boolean): add browser mode tests for useBoolean hook
  packages/react/src/hooks/use-boolean/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-combobox): add instanceof HTMLElement check for .click() calls
  packages/react/src/hooks/use-combobox/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-breakpoint): migrate tests to browser mode
  packages/react/src/hooks/use-breakpoint/use-breakpoint-effect.test.tsx
  packages/react/src/hooks/use-breakpoint/use-breakpoint-state.test.tsx
  packages/react/src/hooks/use-breakpoint/use-breakpoint-value.test.tsx
  packages/react/src/hooks/use-breakpoint/use-breakpoint.test.tsx
  packages/react/src/hooks/use-breakpoint/use-update-breakpoint-effect.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-clickable): migrate test to browser mode
  packages/react/src/hooks/use-clickable/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(.claude): added new file with agent reference
  .claude
Due: none

feat(skills): add fix-issue skill for automated issue resolution
  .claude/skills/fix-issue/SKILL.md
Due: prettier --write

test(use-breakpoint): add call count assertions for callback invocations
  packages/react/src/hooks/use-breakpoint/use-breakpoint-effect.test.tsx
  packages/react/src/hooks/use-breakpoint/use-update-breakpoint-effect.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-clickable): migrate test to browser mode (#6122)
  packages/react/src/hooks/use-clickable/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): guard rimraf with dryRun in init and theme commands
  packages/cli/src/commands/init/index.test.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.test.ts
  packages/cli/src/commands/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-boolean): add browser mode tests for useBoolean hook (#6120)
  packages/react/src/hooks/use-boolean/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-async-callback): migrate test file to vitest browser mode (#6119)
  packages/react/src/hooks/use-async-callback/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-async): migrate test file to vitest browser mode (#6118)
  packages/react/src/hooks/use-async/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-controllable-state): migrate test to browser mode (#6116)
  packages/react/src/hooks/use-controllable-state/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-animation): migrate test file to vitest browser mode (#6117)
  packages/react/src/hooks/use-animation/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-combobox): migrate test to browser mode (#6115)
  packages/react/src/hooks/use-combobox/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): add toolchain abstraction layer for formatter and linter (#6003)
  cspell.json
  packages/cli/src/utils/toolchain/detect.test.ts
  packages/cli/src/utils/toolchain/detect.ts
  packages/cli/src/utils/toolchain/formatters/prettier.test.ts
  packages/cli/src/utils/toolchain/formatters/prettier.ts
  packages/cli/src/utils/toolchain/index.test.ts
  packages/cli/src/utils/toolchain/index.ts
  packages/cli/src/utils/toolchain/linters/eslint.test.ts
  packages/cli/src/utils/toolchain/linters/eslint.ts
  packages/cli/src/utils/toolchain/types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): add tool field to FormatConfig and LintConfig
  packages/cli/src/index.type.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): use toolchain abstraction in fs.ts and registry.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): replace parser with language in format options
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/package.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): remove auto-detection of unimplemented toolchains to prevent runtime errors
  packages/cli/src/utils/toolchain/detect.test.ts
  packages/cli/src/utils/toolchain/detect.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tanstack-start): update import path for theme configuration
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

fix(tanstack-start): fix typo
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

docs(tanstack-start): add suppressHydrationWarning setting for UIProvider
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
Due: prettier --write

docs(tanstack-start): write an English document
  www/contents/get-started/frameworks/tanstack-start.mdx
Due: prettier --write

docs(tanstack-start): remove unused theme initialization script and update code snippets
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
  www/contents/get-started/frameworks/tanstack-start.mdx
Due: prettier --write

docs(tanstack-start): update code snippets and remove unused stylesheet links
  www/contents/get-started/frameworks/tanstack-start.ja.mdx
  www/contents/get-started/frameworks/tanstack-start.mdx
Due: prettier --write

docs(get-started): add TanStack Router guide in English and Japanese
  www/contents/get-started/frameworks/tanstack-router.ja.mdx
  www/contents/get-started/frameworks/tanstack-router.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
Due: prettier --write

feat(cli): add view command to inspect and download component files
  packages/cli/src/commands/view/index.test.ts
  packages/cli/src/commands/view/index.ts
  packages/cli/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(tanstack-router): installation section for tanstack router
  www/contents/get-started/frameworks/tanstack-router.ja.mdx
  www/contents/get-started/frameworks/tanstack-router.mdx
Due: prettier --write

docs(tanstack-router): fix import paths
  www/contents/get-started/frameworks/tanstack-router.ja.mdx
  www/contents/get-started/frameworks/tanstack-router.mdx
Due: prettier --write
