Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

test(form-control): improved test code
  packages/components/form-control/tests/form-control.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tabs): add changeset
  .changeset/two-starfishes-serve.md
Due: prettier --write

feat(tabs): delete changeset
  .changeset/little-apples-notice.md
Due: prettier --write

chore: make the table component headless
  .changeset/perfect-steaks-press.md
  packages/components/table/src/table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: make the table component headless
  .changeset/funny-ducks-stare.md
  packages/components/table/src/table.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(lint): added rule prohibiting import of `@yamada-ui/react`
  .eslintrc.json
Due: prettier --write

chore: modify the changeset
  .changeset/strange-snakes-talk.md
  .changeset/tricky-snakes-peel.md
Due: prettier --write

refactor(docs): simplify props in code-block component
  docs/components/mdx/code-block.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed review
  packages/components/form-control/tests/form-control.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: modify the changeset
  .changeset/swift-penguins-fail.md
Due: prettier --write

chore: make the table component headless
  .changeset/mighty-apples-ring.md
  packages/theme/src/components/table.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the rating component headless
  .changeset/tricky-apes-hammer.md
  packages/components/rating/src/rating-item.tsx
  packages/components/rating/src/rating.tsx
  packages/theme/src/components/rating.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: rating test
  packages/components/rating/tests/rating.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: made pagination component headless
  .changeset/thick-bears-grab.md
  packages/components/pagination/src/pagination-item.tsx
  packages/components/pagination/src/pagination.tsx
  packages/theme/src/components/pagination.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(native-select): fixed problem with dark-mode bg not being reflected in windows
  packages/theme/src/components/native-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added changeset
  .changeset/tame-donkeys-joke.md
Due: prettier --write

feat(hooks): added new breakpoint hooks and stories
  .changeset/olive-lamps-enjoy.md
  packages/hooks/use-breakpoint/src/index.ts
  stories/hooks/use-breakpoint-effect.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: make select component headless changeset
  .changeset/chilled-cameras-tan.md
Due: prettier --write

build: updated dependencies
  pnpm-lock.yaml
Due: none

fix(stat): fixed the stat test
  packages/components/stat/tests/stat.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: added some info for change
  .changeset/famous-pears-worry.md
Due: prettier --write

fix: fix `getByText`
  packages/components/form-control/tests/form-control.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update accessibility
  .changeset/smart-spoons-mix.md
  packages/components/resizable/src/use-resizable.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(table): improved test code
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove unnecessary `async`
  packages/components/table/tests/table.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: update tooltip ally
  .changeset/quiet-moles-reflect.md
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/tag): simplified component structure
  .changeset/small-coins-rule.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless of base
  .changeset/hungry-stingrays-tease.md
  packages/components/calendar/src/calendar.tsx
  packages/theme/src/components/calendar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless of month
  .changeset/real-tips-compare.md
  packages/components/calendar/src/month.tsx
  packages/theme/src/components/calendar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: fix tooltipId to tooltipContentId
  packages/components/tooltip/src/tooltip.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless
  .changeset/fuzzy-frogs-kneel.md
  packages/components/calendar/src/month-list.tsx
  packages/components/calendar/src/month-picker.tsx
  packages/theme/src/components/calendar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix changeset
  .changeset/fair-sheep-happen.md
Due: prettier --write

refactor(avatar): make headless in avatar
  packages/components/avatar/src/avatar.tsx
  packages/theme/src/components/avatar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated useUpdateEffect description
  docs/contents/hooks/use-update-effect.ja.mdx
Due: prettier --write

docs: added new documentation for hooks
  docs/contents/hooks/use-breakpoint-effect.ja.mdx
  docs/contents/hooks/use-breakpoint-effect.mdx
  docs/contents/hooks/use-breakpoint-state.ja.mdx
  docs/contents/hooks/use-breakpoint-state.mdx
  docs/contents/hooks/use-update-breakpoint-effect.ja.mdx
  docs/contents/hooks/use-update-breakpoint-effect.mdx
Due: prettier --write

chore(avatar): done changeset
  .changeset/shaggy-hornets-mix.md
Due: prettier --write

refactor: changed menu component to headless
  .changeset/tasty-laws-joke.md
  packages/components/menu/src/menu-button.tsx
  packages/components/menu/src/menu-item.tsx
  packages/theme/src/components/menu.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
