Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

docs: align tip fences with docs syntax
  www/contents/components/(components)/wrap.ja.mdx
  www/contents/components/(components)/wrap.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/grid.ja.mdx
  www/contents/components/(components)/grid.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/stack.ja.mdx
  www/contents/components/(components)/stack.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/card.ja.mdx
  www/contents/components/(components)/card.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/flex.ja.mdx
  www/contents/components/(components)/flex.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/separator.ja.mdx
  www/contents/components/(components)/separator.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/empty-state.ja.mdx
  www/contents/components/(components)/empty-state.mdx
Due: prettier --write

docs: align tip fences with docs syntax
  www/contents/components/(components)/simple-grid.ja.mdx
  www/contents/components/(components)/simple-grid.mdx
Due: prettier --write

feat(eslint-plugin): add typed component detection to props-shorthand
  packages/eslint-plugin/clean-package.config.json
  packages/eslint-plugin/eslint.config.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/props-shorthand/README.md
  packages/eslint-plugin/src/rules/props-shorthand/__fixtures__/tsconfig.json
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.ts
  packages/eslint-plugin/src/rules/props-shorthand/typed-component-matcher.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/typed-component-matcher.ts
  packages/eslint-plugin/src/rules/props-shorthand/ui-component-tracker.test.ts
  packages/eslint-plugin/tsdown.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7685.md
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@b18f6227f94512f01359d4157d5b0ca4ac61dc07 🚀
  project.json
Due: prettier --write

build: updated dependencies
  .changeset/dependabot-style-7605.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7686.md
  .changeset/dependabot-react-dependencies-7686.md
  .changeset/dependabot-styles-7686.md
  packages/react/src/components/icon/icons/globe-check-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/parasol-icon.tsx
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dependabot-cli-dependencies-7685.md
  .changeset/dependabot-icons-7662.md
  .changeset/dependabot-icons-7686.md
  .changeset/dependabot-react-dependencies-7662.md
  .changeset/dependabot-react-dependencies-7686.md
  .changeset/dependabot-styles-7662.md
  .changeset/dependabot-styles-7686.md
  .changeset/fix-loading-jsdoc-url.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/calendar.json
  www/public/registry/dev/v2/components/date-picker.json
  www/public/registry/dev/v2/components/icon.json
Due: prettier --write

feat(cli): add --headless option to init, add, and update commands
  .changeset/lucky-falcons-dream.md
  packages/cli/package.json
  packages/cli/src/commands/add/index.test.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/get-diff.test.ts
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/diff/get-registries-and-files.ts
  packages/cli/src/commands/init/index.test.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/update/index.test.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/registry.ts
  packages/cli/src/utils/style.test.ts
  packages/cli/src/utils/style.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(cli): use named imports from typescript
  packages/cli/src/utils/style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(cli): address review feedback on schemas and test assertions
  packages/cli/src/commands/add/index.test.ts
  www/public/registry/v2/config.schema.json
  www/public/registry/v2/schema.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update registries
  www/public/registry/v2/components/calendar.json
  www/public/registry/v2/components/color-picker.json
  www/public/registry/v2/components/date-picker.json
  www/public/registry/v2/components/fade-scale.json
  www/public/registry/v2/components/icon.json
  www/public/registry/v2/components/loading.json
  www/public/registry/v2/components/native-select.json
  www/public/registry/v2/components/pin-input.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/reorder.json
  www/public/registry/v2/components/resizable.json
  www/public/registry/v2/components/saturation-slider.json
  www/public/registry/v2/components/select.json
  www/public/registry/v2/components/slide.json
  www/public/registry/v2/components/slider.json
  www/public/registry/v2/components/toggle.json
  www/public/registry/v2/components/tooltip.json
  www/public/registry/v2/components/tree.json
  www/public/registry/v2/hooks/use-async-callback.json
  www/public/registry/v2/hooks/use-clickable.json
  www/public/registry/v2/hooks/use-combobox.json
  www/public/registry/v2/hooks/use-controllable-state.json
  www/public/registry/v2/hooks/use-descendants.json
  www/public/registry/v2/hooks/use-event-listener.json
  www/public/registry/v2/hooks/use-field-sizing.json
  www/public/registry/v2/hooks/use-focus.json
  www/public/registry/v2/hooks/use-hover.json
  www/public/registry/v2/hooks/use-local-storage.json
  www/public/registry/v2/hooks/use-online.json
  www/public/registry/v2/hooks/use-outside-click.json
  www/public/registry/v2/hooks/use-pan-event.json
  www/public/registry/v2/hooks/use-popper.json
  www/public/registry/v2/hooks/use-window-event.json
  www/public/registry/v2/providers/i18n-provider.json
Due: prettier --write

ci(changesets): update styles
  www/data/styles.json
Due: prettier --write

test(cli): cover headless transform edge cases
  packages/cli/src/commands/diff/get-diff.test.ts
  packages/cli/src/utils/style.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update www
  www/contents/changelog/cli/2-1-7.ja.mdx
  www/contents/changelog/cli/2-1-7.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-2-2.ja.mdx
  www/contents/changelog/react/2-2-2.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

ci(changesets): update next registries
  www/public/registry/next/v2/components/calendar.json
  www/public/registry/next/v2/components/date-picker.json
  www/public/registry/next/v2/components/icon.json
  www/public/registry/next/v2/components/native-select.json
  www/public/registry/next/v2/components/pin-input.json
  www/public/registry/next/v2/components/reorder.json
  www/public/registry/next/v2/components/resizable.json
  www/public/registry/next/v2/hooks/use-controllable-state.json
  www/public/registry/next/v2/hooks/use-focus.json
  www/public/registry/next/v2/providers/i18n-provider.json
Due: prettier --write

test(eslint-plugin): verify AST-only feasibility of props-shorthand component detection
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/FINDINGS.md
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/__fixtures__/case-b/libs/chain.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/__fixtures__/case-b/libs/named.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/__fixtures__/case-b/libs/other.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/__fixtures__/case-b/libs/ui/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/annotation-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/annotation-tracker.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/factory-tracker.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/factory-tracker.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/helpers.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/inference-boundary.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/reexport-resolver.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/__spike__/reexport-resolver.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(icon): avoid fake default size token
  .changeset/silver-icons-smile.md
  packages/react/src/components/icon/icon.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(styles): enhance CSS compatibility by adding vendor-specific properties
  .changeset/afraid-corners-stick.md
  cspell.json
  packages/react/scripts/generate/styles/index.ts
  packages/react/scripts/generate/styles/styles.ts
  packages/react/src/core/components/props.ts
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Add tips section for badge components (#6896)
  www/contents/components/(components)/badge.ja.mdx
  www/contents/components/(components)/badge.mdx
  www/contents/components/(components)/tag.ja.mdx
  www/contents/components/(components)/tag.mdx
Due: prettier --write

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-react-dependencies-7696.md
Due: prettier --write

fix(lefthook): allow ignored files in format hook
  lefthook.yaml
Due: none

fix(dependabot): push updates with PAT token
  .github/workflows/dependabot.yml
Due: prettier --write

docs(pr): clarify issue linking guidance
  .agents/rules/pr.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7695.md
  .changeset/dependabot-react-dependencies-7695.md
  .changeset/dependabot-styles-7695.md
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/providers/i18n-provider.json
Due: prettier --write

docs(pr): clarify issue linking guidance (#7703)
  .agents/rules/pr.md
Due: prettier --write
