Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

fix: remove cleanup in toggle-group test code
  packages/components/toggle/tests/toggle-group.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove cleanup in toggle in test code
  packages/components/toggle/tests/toggle.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated example in layer styles
  docs/contents/styled-system/text-and-layer-styles.mdx
Due: prettier --write

style(docs): updated default boxSize for icons
  docs/components/media-and-icons/discord.tsx
  docs/components/media-and-icons/github.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: fixed document tabs active indicator
  docs/components/navigation/tabs.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed error with useLayoutEffect in ScrollArea
  .changeset/forty-trees-care.md
  packages/components/scroll-area/src/scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: made full-width spaces a half-width
  docs/contents/components/disclosure/tabs/props.ja.mdx
  docs/contents/components/disclosure/tabs/props.mdx
  packages/components/tabs/DOCS.json
  packages/components/tabs/src/tabs.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/fresh-emus-press.md
Due: prettier --write

fix(autocomplete): fix bug where original `items` were changed
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added changeset
  .changeset/lucky-jokes-attack.md
Due: prettier --write

feat(AudioPlayer): Add AudioPlayer component (#993)
  .changeset/mean-chefs-impress.md
  packages/components/audio-player/README.md
  packages/components/audio-player/package.json
  packages/components/audio-player/src/audio-player.tsx
  packages/components/audio-player/src/index.ts
  packages/components/audio-player/tests/audio-player.test.tsx
  packages/components/audio-player/tsconfig.json
  packages/components/breadcrumb/src/breadcrumb.tsx
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/audio-player.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/media-and-icons/audio-player.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(textarea): added rows textarea test and autosize textarea test
  .changeset/tiny-garlics-bow.md
  packages/components/textarea/tests/textarea.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove cleanup & add rerender
  packages/components/slider/tests/range-slider.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(autocomplete): refactor tests
  packages/components/autocomplete/tests/autocomplete.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(textarea): fixed test conditions and removed changesets
  .changeset/tiny-garlics-bow.md
  packages/components/textarea/tests/textarea.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(textarea): check that the rows property
  packages/components/textarea/tests/textarea.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(textarea): checked the rows property of the autosize textarea
  packages/components/textarea/tests/textarea.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

build: pinned @vitejs/plugin-react-swc version
  examples/vite/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: updated dependencies in package.json
  examples/vite/package.json
  package.json
Due: prettier --write

chore: pull request guide comments changed to comment out
  .github/pull_request_template.md
Due: prettier --write

docs: updated contributing guidelines and links
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  docs/contents/community/contributing.ja.mdx
  docs/contents/community/contributing.mdx
Due: prettier --write

docs: updated branch naming examples in docs
  docs/contents/community/contributing.ja.mdx
  docs/contents/community/contributing.mdx
Due: prettier --write

chore: remove changeset file
  .changeset/tiny-garlics-bow.md
Due: prettier --write

ci(component): updated component
  docs/contents/components/data-display/card/props.ja.mdx
  docs/contents/components/data-display/card/props.mdx
  docs/contents/components/data-display/native-table/props.ja.mdx
  docs/contents/components/data-display/native-table/props.mdx
  docs/contents/components/data-display/reorder/props.ja.mdx
  docs/contents/components/data-display/reorder/props.mdx
  docs/contents/components/feedback/area-chart/props.ja.mdx
  docs/contents/components/feedback/area-chart/props.mdx
  docs/contents/components/feedback/bar-chart/props.ja.mdx
  docs/contents/components/feedback/bar-chart/props.mdx
  docs/contents/components/feedback/line-chart/props.ja.mdx
  docs/contents/components/feedback/line-chart/props.mdx
  docs/contents/components/feedback/pie-chart/props.ja.mdx
  docs/contents/components/feedback/pie-chart/props.mdx
  docs/contents/components/feedback/radar-chart/props.ja.mdx
  docs/contents/components/feedback/radar-chart/props.mdx
  docs/contents/components/forms/checkbox/props.ja.mdx
  docs/contents/components/forms/checkbox/props.mdx
  docs/contents/components/forms/radio/props.ja.mdx
  docs/contents/components/forms/radio/props.mdx
  docs/contents/components/forms/toggle/props.ja.mdx
  docs/contents/components/forms/toggle/props.mdx
  docs/contents/components/forms/year-picker/props.ja.mdx
  docs/contents/components/forms/year-picker/props.mdx
  docs/contents/components/forms/year-picker/theming.ja.mdx
  docs/contents/components/forms/year-picker/theming.mdx
  docs/contents/components/navigation/breadcrumb/props.ja.mdx
  docs/contents/components/navigation/breadcrumb/props.mdx
  docs/contents/components/overlay/context-menu/theming.ja.mdx
  docs/contents/components/overlay/context-menu/theming.mdx
  docs/contents/components/overlay/menu/props.ja.mdx
  docs/contents/components/overlay/menu/props.mdx
  docs/contents/components/overlay/popover/props.ja.mdx
  docs/contents/components/overlay/popover/props.mdx
  packages/components/breadcrumb/DOCS.json
  packages/components/menu/DOCS.json
  packages/components/popover/DOCS.json
  packages/components/reorder/DOCS.json
  pnpm-lock.yaml
Due: prettier --write

ci(contributors): updated contributors
  docs/constant/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

test(textarea): added rows textarea test and autosize textarea test
  .changeset/tiny-garlics-bow.md
Due: prettier --write

test(textarea): fixed test conditions and removed changesets
  .changeset/tiny-garlics-bow.md
Due: prettier --write

ci(changesets): version packages
  .changeset/lucky-jokes-attack.md
  packages/components/autocomplete/CHANGELOG.md
  packages/components/autocomplete/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(component): updated component
  pnpm-lock.yaml
Due: none
