Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

docs(qr-code): add usage tips
  www/contents/components/(components)/qr-code.ja.mdx
  www/contents/components/(components)/qr-code.mdx
Due: prettier --write

docs(radio-card): align Japanese description wording
  www/contents/components/(components)/radio-card.ja.mdx
Due: prettier --write

docs(radio-card): align Japanese description wording (#7744)
  www/contents/components/(components)/radio-card.ja.mdx
Due: prettier --write

ci(lefthook): ignore unmatched oxlint patterns (#7716)
  lefthook.yaml
Due: none

docs(tooltip): update tip
  www/contents/components/(components)/tooltip.ja.mdx
  www/contents/components/(components)/tooltip.mdx
Due: prettier --write

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

fix(tests): remove unnecessary type assertions
  .changeset/shaky-clocks-shake.md
  packages/cli/src/commands/update/print-conflicts.test.ts
  packages/cli/src/utils/git.test.ts
  packages/cli/src/utils/registry.test.ts
  packages/react/src/components/date-picker/date-picker.test.tsx
  packages/react/src/components/date-picker/use-date-picker.tsx
  packages/react/src/components/fieldset/fieldset.style.ts
  packages/react/src/components/saturation-slider/saturation-slider.test.browser.tsx
  packages/react/src/components/select/select.test.browser.tsx
  packages/react/src/components/slider/use-slider.ts
  packages/react/src/core/components/create-component.tsx
  packages/react/src/core/components/use-component-style.ts
  packages/react/src/core/css/animation.test.ts
  packages/react/src/core/css/color-mix.test.ts
  packages/react/src/core/css/filter.test.ts
  packages/react/src/core/css/utils.test.ts
  packages/react/src/hooks/use-breakpoint/use-breakpoint-value.test.tsx
  packages/react/src/hooks/use-breakpoint/use-breakpoint.test.browser.tsx
  packages/react/src/hooks/use-focus/index.ts
  packages/react/src/utils/dom.test.ts
  packages/react/src/utils/store.ts
  packages/utils/src/dom.test.browser.ts
  packages/utils/src/dom.ts
  packages/utils/src/object.ts
  packages/workspace/src/oxlint/import.ts
  www/app/[locale]/(apps)/examples/music/content.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: address design principles review feedback
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  DESIGN.ja.md
  DESIGN.md
  README.ja.md
Due: prettier --write

feat(config): enable TypeScript build error ignoring in Next.js configuration
  www/next.config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/date-picker.json
  www/public/registry/dev/v2/components/fieldset.json
  www/public/registry/dev/v2/components/saturation-slider.json
  www/public/registry/dev/v2/components/select.json
  www/public/registry/dev/v2/components/slider.json
  www/public/registry/dev/v2/hooks/use-breakpoint.json
  www/public/registry/dev/v2/hooks/use-focus.json
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7746.md
  .changeset/dependabot-react-dependencies-7746.md
  .changeset/dependabot-utils-dependencies-7746.md
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/paper-bag-icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(docs): format code examples
  www/contents/components/create-component.ja.mdx
  www/contents/components/create-component.mdx
  www/contents/components/styled.ja.mdx
  www/contents/components/styled.mdx
  www/contents/get-started/migration.ja.mdx
  www/contents/get-started/migration.mdx
Due: prettier --write

ci(changesets): updated packages
  .changeset/dependabot-cli-dependencies-7727.md
  .changeset/dependabot-icons-7727.md
  .changeset/dependabot-icons-7740.md
  .changeset/dependabot-icons-7746.md
  .changeset/dependabot-react-dependencies-7727.md
  .changeset/dependabot-react-dependencies-7740.md
  .changeset/dependabot-react-dependencies-7746.md
  .changeset/dependabot-styles-7727.md
  .changeset/dependabot-styles-7740.md
  .changeset/dependabot-utils-dependencies-7746.md
  .changeset/shaky-clocks-shake.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/action-bar.json
  www/public/registry/dev/v2/components/airy.json
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/collapse.json
  www/public/registry/dev/v2/components/drawer.json
  www/public/registry/dev/v2/components/fade-scale.json
  www/public/registry/dev/v2/components/fade.json
  www/public/registry/dev/v2/components/flip.json
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/loading.json
  www/public/registry/dev/v2/components/modal.json
  www/public/registry/dev/v2/components/motion.json
  www/public/registry/dev/v2/components/popover.json
  www/public/registry/dev/v2/components/reorder.json
  www/public/registry/dev/v2/components/resizable.json
  www/public/registry/dev/v2/components/ripple.json
  www/public/registry/dev/v2/components/rotate.json
  www/public/registry/dev/v2/components/segmented-control.json
  www/public/registry/dev/v2/components/slide-fade.json
  www/public/registry/dev/v2/components/slide.json
  www/public/registry/dev/v2/components/snacks.json
  www/public/registry/dev/v2/components/tooltip.json
Due: prettier --write

ci(changesets): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

ci(changesets): update registries
  www/public/registry/v2/components/action-bar.json
  www/public/registry/v2/components/airy.json
  www/public/registry/v2/components/chart.json
  www/public/registry/v2/components/collapse.json
  www/public/registry/v2/components/date-picker.json
  www/public/registry/v2/components/drawer.json
  www/public/registry/v2/components/fade-scale.json
  www/public/registry/v2/components/fade.json
  www/public/registry/v2/components/fieldset.json
  www/public/registry/v2/components/flip.json
  www/public/registry/v2/components/icon.json
  www/public/registry/v2/components/loading.json
  www/public/registry/v2/components/modal.json
  www/public/registry/v2/components/motion.json
  www/public/registry/v2/components/popover.json
  www/public/registry/v2/components/reorder.json
  www/public/registry/v2/components/resizable.json
  www/public/registry/v2/components/ripple.json
  www/public/registry/v2/components/rotate.json
  www/public/registry/v2/components/saturation-slider.json
  www/public/registry/v2/components/segmented-control.json
  www/public/registry/v2/components/select.json
  www/public/registry/v2/components/slide-fade.json
  www/public/registry/v2/components/slide.json
  www/public/registry/v2/components/slider.json
  www/public/registry/v2/components/snacks.json
  www/public/registry/v2/components/tooltip.json
  www/public/registry/v2/hooks/use-breakpoint.json
  www/public/registry/v2/hooks/use-focus.json
Due: prettier --write

ci(changesets): update styles
  www/data/styles.json
Due: prettier --write

ci(changesets): update props
  www/data/props/chart.json
Due: prettier --write

ci(changesets): update www
  www/contents/changelog/cli/2-1-9.ja.mdx
  www/contents/changelog/cli/2-1-9.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-2-4.ja.mdx
  www/contents/changelog/react/2-2-4.mdx
  www/contents/changelog/utils/2-1-5.ja.mdx
  www/contents/changelog/utils/2-1-5.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

ci(changesets): update next registries
  www/public/registry/next/v2/components/action-bar.json
  www/public/registry/next/v2/components/airy.json
  www/public/registry/next/v2/components/chart.json
  www/public/registry/next/v2/components/collapse.json
  www/public/registry/next/v2/components/date-picker.json
  www/public/registry/next/v2/components/drawer.json
  www/public/registry/next/v2/components/fade-scale.json
  www/public/registry/next/v2/components/fade.json
  www/public/registry/next/v2/components/fieldset.json
  www/public/registry/next/v2/components/flip.json
  www/public/registry/next/v2/components/icon.json
  www/public/registry/next/v2/components/loading.json
  www/public/registry/next/v2/components/modal.json
  www/public/registry/next/v2/components/motion.json
  www/public/registry/next/v2/components/popover.json
  www/public/registry/next/v2/components/reorder.json
  www/public/registry/next/v2/components/resizable.json
  www/public/registry/next/v2/components/ripple.json
  www/public/registry/next/v2/components/rotate.json
  www/public/registry/next/v2/components/saturation-slider.json
  www/public/registry/next/v2/components/segmented-control.json
  www/public/registry/next/v2/components/select.json
  www/public/registry/next/v2/components/slide-fade.json
  www/public/registry/next/v2/components/slide.json
  www/public/registry/next/v2/components/slider.json
  www/public/registry/next/v2/components/snacks.json
  www/public/registry/next/v2/components/tooltip.json
  www/public/registry/next/v2/hooks/use-breakpoint.json
  www/public/registry/next/v2/hooks/use-focus.json
Due: prettier --write

fix(shadow-dom): improve Shadow DOM support
  .changeset/config.json
  .changeset/shy-dodos-smile.md
  lefthook.yaml
  package.json
  packages/react/src/components/textarea/use-autosize.test.browser.tsx
  packages/react/src/components/textarea/use-autosize.ts
  packages/react/src/core/css/animation.test.ts
  packages/react/src/core/css/animation.ts
  packages/react/src/core/css/conditions.ts
  packages/react/src/core/system/color-mode-provider.tsx
  packages/react/src/core/system/create-system.test.tsx
  packages/react/src/core/system/create-system.ts
  packages/react/src/core/system/environment-provider.test.tsx
  packages/react/src/core/system/environment-provider.tsx
  packages/react/src/core/system/index.types.ts
  packages/react/src/core/system/system-provider.tsx
  packages/react/src/core/system/theme-provider.test.tsx
  packages/react/src/core/system/theme-provider.tsx
  packages/react/src/core/system/var.ts
  packages/react/src/theme/styles/global-style.ts
  packages/react/src/theme/styles/reset-style.ts
  playgrounds/shadow-dom/index.html
  playgrounds/shadow-dom/oxlint.config.ts
  playgrounds/shadow-dom/package.json
  playgrounds/shadow-dom/src/app.tsx
  playgrounds/shadow-dom/src/main.tsx
  playgrounds/shadow-dom/src/shadow-ui-provider.tsx
  playgrounds/shadow-dom/src/vite-env.d.ts
  playgrounds/shadow-dom/tsconfig.app.json
  playgrounds/shadow-dom/tsconfig.json
  playgrounds/shadow-dom/tsconfig.node.json
  playgrounds/shadow-dom/turbo.json
  playgrounds/shadow-dom/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix(lockfile): resolve Shadow DOM playground dependencies
  pnpm-lock.yaml
Due: none

fix(shadow-dom): improve Shadow DOM support (#7749)
  .changeset/config.json
  .changeset/shy-dodos-smile.md
  lefthook.yaml
  package.json
  packages/react/src/components/textarea/use-autosize.test.browser.tsx
  packages/react/src/components/textarea/use-autosize.ts
  packages/react/src/core/css/animation.test.ts
  packages/react/src/core/css/animation.ts
  packages/react/src/core/css/conditions.ts
  packages/react/src/core/system/color-mode-provider.tsx
  packages/react/src/core/system/create-system.test.tsx
  packages/react/src/core/system/create-system.ts
  packages/react/src/core/system/environment-provider.test.tsx
  packages/react/src/core/system/environment-provider.tsx
  packages/react/src/core/system/index.types.ts
  packages/react/src/core/system/system-provider.tsx
  packages/react/src/core/system/theme-provider.test.tsx
  packages/react/src/core/system/theme-provider.tsx
  packages/react/src/core/system/var.ts
  packages/react/src/theme/styles/global-style.ts
  packages/react/src/theme/styles/reset-style.ts
  playgrounds/shadow-dom/index.html
  playgrounds/shadow-dom/oxlint.config.ts
  playgrounds/shadow-dom/package.json
  playgrounds/shadow-dom/src/app.tsx
  playgrounds/shadow-dom/src/main.tsx
  playgrounds/shadow-dom/src/shadow-ui-provider.tsx
  playgrounds/shadow-dom/src/vite-env.d.ts
  playgrounds/shadow-dom/tsconfig.app.json
  playgrounds/shadow-dom/tsconfig.json
  playgrounds/shadow-dom/tsconfig.node.json
  playgrounds/shadow-dom/turbo.json
  playgrounds/shadow-dom/vite.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/textarea.json
  www/public/registry/dev/v2/theme.json
Due: prettier --write

feat(store): export store utility types
  .changeset/export-store-types.md
  packages/react/src/utils/store.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(changesets): use patch version for store types
  .changeset/export-store-types.md
Due: prettier --write

chore: update cspell configuration and add PR edit guidelines
  .agents/references/pr-edit-guidelines.md
  .opencode/magi.json
  cspell.json
Due: prettier --write

docs: rewrite duplicate-prone link text with concise phrasing
  www/contents/get-started/advanced.ja.mdx
  www/contents/get-started/advanced.mdx
  www/contents/get-started/basics.ja.mdx
  www/contents/get-started/basics.mdx
  www/contents/get-started/legacy.ja.mdx
  www/contents/get-started/legacy.mdx
  www/contents/styling/color-mode.ja.mdx
  www/contents/styling/color-mode.mdx
Due: prettier --write

docs: unify wording to ご覧ください for consistency
  www/contents/get-started/advanced.ja.mdx
  www/contents/get-started/basics.ja.mdx
  www/contents/styling/color-mode.ja.mdx
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7754.md
Due: prettier --write

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7753.md
  .changeset/dependabot-react-dependencies-7753.md
  packages/react/src/components/icon/icons/circle-euro-sign-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): regenerate lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7757.md
  .changeset/dependabot-react-dependencies-7757.md
  packages/react/src/components/icon/icons/circle-euro-sign-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/resizable.json
  www/public/registry/dev/v2/hooks/use-popper.json
  www/public/registry/dev/v2/providers/i18n-provider.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
