Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

build: updated dependencies
  docs/package.json
Due: prettier --write

build: updated dependencies
  examples/create-react-app/package.json
  examples/hono/package.json
  examples/nextjs-app/package.json
  examples/nextjs-pages/package.json
  examples/remix/package.json
  examples/vite/package.json
Due: prettier --write

build: updated dependencies
  .changeset/grumpy-falcons-vanish.md
  packages/components/carousel/package.json
  packages/components/carousel/src/carousel.tsx
  packages/components/carousel/src/use-carousel.ts
  packages/components/carousel/tests/carousel.test.tsx
  stories/components/data-display/carousel.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update theming logic and props handling
  .changeset/blue-crabs-pretend.md
  .changeset/nervous-papayas-retire.md
  .changeset/proud-snakes-wave.md
  .changeset/six-dragons-grab.md
  packages/components/button/src/button.tsx
  packages/components/file-button/src/file-button.tsx
  packages/core/src/components/use-component-style.tsx
  packages/core/src/css/css.types.ts
  packages/core/src/theme.ts
  packages/core/src/theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(carousel): updated terminology and added event handlers
  docs/contents/components/data-display/carousel/index.ja.mdx
  docs/contents/components/data-display/carousel/index.mdx
Due: prettier --write

docs: updated Japanese and English documentation
  docs/contents/styled-system/theming/component-styles.ja.mdx
  docs/contents/styled-system/theming/component-styles.mdx
Due: prettier --write

ci: added changeset-release/docs to CI triggers
  .github/workflows/quality.yml
Due: prettier --write

chore(lefthook): remove `*-docs` commands
  lefthook.yaml
Due: none

chore(lefthook): rename `format-docs` and update content
  lefthook.yaml
Due: none

chore(lefthook): rename `lint-src` command and update content
  lefthook.yaml
Due: none

chore(lefthook): update the priority of `format` command
  lefthook.yaml
Due: none

chore(lefthook): remove `--config` option from `commitlint`
  lefthook.yaml
Due: none

build(react): updated peerDependencies versions
  packages/react/package.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.4.7.mdx
  CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

ci: updated pnpm action to v4 in CI config
  .github/composite-actions/install/action.yml
Due: prettier --write

ci: updated token references in actions
  .github/composite-actions/update-docs/action.yml
  .github/workflows/release.yml
Due: prettier --write

ci(changesets): version packages
  docs/contents/components/data-display/carousel/props.ja.mdx
  docs/contents/components/data-display/carousel/props.mdx
  docs/contents/components/forms/file-button/props.ja.mdx
  docs/contents/components/forms/file-button/props.mdx
  docs/contents/components/forms/file-button/theming.ja.mdx
  docs/contents/components/forms/file-button/theming.mdx
  docs/contents/components/media-and-icons/fontawesome/props.ja.mdx
  docs/contents/components/media-and-icons/fontawesome/props.mdx
  docs/contents/components/media-and-icons/icon/props.ja.mdx
  docs/contents/components/media-and-icons/icon/props.mdx
  docs/contents/components/media-and-icons/icon/theming.ja.mdx
  docs/contents/components/media-and-icons/icon/theming.mdx
  docs/contents/components/media-and-icons/image/theming.ja.mdx
  docs/contents/components/media-and-icons/image/theming.mdx
  docs/contents/components/media-and-icons/lucide/props.ja.mdx
  docs/contents/components/media-and-icons/lucide/props.mdx
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
  docs/pages/icons/tags.ts
  packages/components/calendar/DOCS.json
  packages/components/carousel/DOCS.json
  packages/components/file-button/DOCS.json
  packages/components/fontawesome/DOCS.json
  packages/components/icon/DOCS.json
  packages/components/lucide/DOCS.json
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add aria-label
  docs/contents/components/forms/editable/accessibility.ja.mdx
  docs/contents/components/forms/editable/accessibility.mdx
Due: prettier --write

feat: fix typo
  docs/contents/components/forms/editable/accessibility.mdx
Due: prettier --write

fix(select): fixed selection issue in `Select` components
  .changeset/angry-tips-move.md
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(use-select): removed unnecessary newline
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated pnpm action setup in CI config
  .github/composite-actions/install/action.yml
Due: prettier --write

build: updated pnpm version hash in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

test(select): fixed skipped test
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(select): refactor existing tests
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(select): added click event tests
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated documentation order for fileButton
  docs/contents/components/forms/file-button/accessibility.ja.mdx
  docs/contents/components/forms/file-button/accessibility.mdx
  docs/contents/components/forms/file-button/theming.ja.mdx
  docs/contents/components/forms/file-button/theming.mdx
Due: prettier --write

docs(rating): fixed ja document
  docs/contents/components/forms/rating/index.ja.mdx
Due: prettier --write

chore(root): update ESLint to `v9.7.0`
  docs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root): add eslint-related modules
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(root): remove `.eslintrc.json`, `.eslintignore`
  .eslintignore
  .eslintrc.json
Due: prettier --write

feat(root): add `eslint.config.mjs`
  eslint.config.mjs
  eslint/base.mjs
  eslint/import.mjs
  eslint/language-options.mjs
  eslint/prettier.mjs
  eslint/react-hooks.mjs
  eslint/react.mjs
  eslint/testing-library.mjs
  eslint/typescript.mjs
  eslint/vitest.mjs
Due: none

chore(root/npm-scripts): update `lint` command
  package.json
Due: prettier --write

chore(docs/npm-scripts): update `lint` command
  docs/package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
