Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor: made slider component headless
  .changeset/quick-donkeys-push.md
  packages/components/slider/src/range-slider.tsx
  packages/components/slider/src/slider.tsx
  packages/theme/src/components/slider.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make highlight component headless
  .changeset/large-geckos-mix.md
  .changeset/stale-queens-chew.md
  packages/components/highlight/src/highlight.tsx
  packages/theme/src/components/highlight.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(theme/avatar): done changeset
  .changeset/shaggy-cups-behave.md
Due: prettier --write

fix: change the file where the code is replaced
  packages/theme/src/components/highlight.ts
  packages/theme/src/components/mark.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make breadcrumb component headless
  .changeset/chilled-plums-smell.md
  packages/components/breadcrumb/src/breadcrumb.tsx
  packages/theme/src/components/breadcrumb.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: changed accordion component to headless
  .changeset/popular-comics-hide.md
  packages/components/accordion/src/accordion-item.tsx
  packages/components/accordion/src/accordion-label.tsx
  packages/components/accordion/src/accordion.tsx
  packages/theme/src/components/accordion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: made native-select component headless
  .changeset/rich-gorillas-behave.md
  packages/components/native-select/src/native-select.tsx
  packages/theme/src/components/native-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make indicator component headless
  .changeset/clean-scissors-suffer.md
  packages/components/indicator/src/indicator.tsx
  packages/theme/src/components/indicator.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: changed accordion-label component to headless
  packages/components/accordion/src/accordion-label.tsx
  packages/theme/src/components/accordion.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make indicator component headless
  .changeset/spotty-donuts-think.md
  packages/components/indicator/src/indicator.tsx
  packages/theme/src/components/indicator.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make indicator component headless
  .changeset/cool-games-change.md
  .changeset/spotty-donuts-think.md
Due: prettier --write

refactor: make indicator component headless
  .changeset/cool-games-change.md
Due: prettier --write

refactor: add @yamada-ui/theme: major
  .changeset/cool-games-change.md
Due: prettier --write

refactor: make list component headless
  .changeset/unlucky-doors-provide.md
  packages/components/list/src/list.tsx
  packages/theme/src/components/list.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: made the component headless
  .changeset/shaggy-items-listen.md
  packages/components/button/src/button.tsx
  packages/theme/src/components/button.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-infinite-scroll): add test
  packages/hooks/use-infinite-scroll/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add @yamada-ui/theme: major
  .changeset/chilled-plums-smell.md
  packages/theme/src/components/breadcrumb.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make number-input component headless
  .changeset/slimy-coats-flow.md
  packages/components/number-input/src/number-input.tsx
  packages/theme/src/components/number-input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the reorder headless
  .changeset/slimy-timers-clean.md
  packages/components/reorder/src/reorder.tsx
  packages/theme/src/components/reorder.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the component headless
  .changeset/cuddly-forks-wink.md
  packages/components/calendar/src/calendar-header.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/calendar/src/range-date-picker.tsx
  packages/components/calendar/src/year-list.tsx
  packages/components/calendar/src/year-picker.tsx
  packages/theme/src/components/calendar.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

chore(scripts): added new users to discord map
  scripts/observe-pull-requests.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated team member details
  docs/constant/team.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(team): added new team member Kurakake Kaito
  docs/constant/team.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated kurakake's profile icon link
  docs/constant/team.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(breadcrumb): fixed theme container style application
  .changeset/fair-hornets-allow.md
  packages/components/breadcrumb/src/breadcrumb.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: make the skeleton headless
  packages/components/skeleton/src/skeleton.tsx
  packages/theme/src/components/skeleton.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/twelve-deers-wait.md
Due: prettier --write

refactor(utils): updated import paths for clarity
  .changeset/bright-phones-serve.md
  packages/utils/src/assertion.ts
  packages/utils/src/color.ts
  packages/utils/src/dom.ts
  packages/utils/src/function.ts
  packages/utils/src/object.ts
  packages/utils/src/react.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix aria
  packages/components/radio/src/radio-group.tsx
  packages/components/radio/src/radio.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/shaggy-kings-boil.md
Due: prettier --write

feat(visually-hidden): added new component and docs
  packages/components/visually-hidden/README.md
  packages/components/visually-hidden/package.json
  packages/components/visually-hidden/src/index.ts
  packages/components/visually-hidden/src/visually-hidden.tsx
  packages/components/visually-hidden/tests/visually-hidden.test.tsx
  packages/components/visually-hidden/tsconfig.json
  pnpm-lock.yaml
  stories/components/other/visually-hidden.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(react): added `VisuallyHidden` component
  .changeset/sweet-trees-beam.md
  packages/react/package.json
  packages/react/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added DOCS.json for VisuallyHidden component
  packages/components/visually-hidden/DOCS.json
Due: prettier --write

refactor: make the pin-input component headless
  .changeset/rare-rivers-doubt.md
  packages/components/pin-input/src/pin-input.tsx
  packages/theme/src/components/pin-input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated report generation logic
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix test code
  packages/components/radio/tests/radio-group.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/tag): simplified component structure
  .changeset/small-coins-rule.md
  packages/components/tag/src/tag.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
