Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor: add isSkip property to style configs
  packages/core/src/config.ts
  packages/core/src/styles.ts
  scripts/generate-css/config.ts
  scripts/generate-css/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): added style-props generation script
  docs/package.json
  docs/scripts/style-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(style-props): moved CONTENT_FOOTER in doc generation
  docs/scripts/style-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated prop docs
  docs/contents/styled-system/style-props.ja.mdx
  docs/contents/styled-system/style-props.mdx
Due: prettier --write

ci(docs): updated docs
  packages/components/calendar/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.6.mdx
  CHANGELOG.md
Due: prettier --write

build: updated style props
  docs/contents/styled-system/style-props.ja.mdx
  docs/contents/styled-system/style-props.mdx
Due: prettier --write

refactor: ensured property keys are kebab-cased
  docs/scripts/style-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test in "Indicator"
  packages/components/indicator/tests/indicator.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): enhance type extraction and jsDoc handling
  docs/scripts/style-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(core): added MDN links to style props comments
  packages/core/src/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(styles): support multiple urls in generateDocs
  scripts/generate-css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): updated url fields to urls arrays
  docs/scripts/style-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

refactor: unified disabled state handling across components
  .changeset/cold-avocados-visit.md
  packages/components/button/src/button.tsx
  packages/components/calendar/src/use-calendar.ts
  packages/components/close-button/src/close-button.tsx
  packages/components/pagination/src/pagination-item.tsx
  packages/components/ripple/src/use-ripple.ts
  packages/components/tabs/src/tab.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update MultiAutocomplete examples
  docs/contents/components/forms/multi-autocomplete/index.ja.mdx
  docs/contents/components/forms/multi-autocomplete/index.mdx
Due: prettier --write

fix(autocomplete/calendar): disabled `Portal` props by default
  .changeset/chatty-camels-ring.md
  packages/components/autocomplete/src/autocomplete.tsx
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/month-picker.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: added tree order
  docs/contents/components/data-display/index.ja.mdx
  docs/contents/components/data-display/index.mdx
  docs/contents/components/disclosure/index.ja.mdx
  docs/contents/components/disclosure/index.mdx
  docs/contents/components/feedback/index.ja.mdx
  docs/contents/components/feedback/index.mdx
  docs/contents/components/forms/index.ja.mdx
  docs/contents/components/forms/index.mdx
  docs/contents/components/layouts/index.ja.mdx
  docs/contents/components/layouts/index.mdx
  docs/contents/components/media-and-icons/index.ja.mdx
  docs/contents/components/media-and-icons/index.mdx
  docs/contents/components/navigation/index.ja.mdx
  docs/contents/components/navigation/index.mdx
  docs/contents/components/overlay/index.ja.mdx
  docs/contents/components/overlay/index.mdx
  docs/contents/components/transitions/index.ja.mdx
  docs/contents/components/transitions/index.mdx
  docs/contents/components/typography/index.ja.mdx
  docs/contents/components/typography/index.mdx
Due: prettier --write

feat: added other component
  docs/contents/components/other/index.ja.mdx
  docs/contents/components/other/index.mdx
Due: prettier --write

build(package.json): updated script for css generation
  docs/package.json
Due: prettier --write

ci: added css properties update step
  docs/.github/workflows/release.yml
Due: prettier --write

docs: fixed typo in other components description
  docs/contents/components/other/index.mdx
Due: prettier --write

feat(ripple): set default props for useRipple
  .changeset/many-coins-impress.md
  packages/components/ripple/src/use-ripple.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): extracted ColorButton component
  docs/components/layouts/header.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add spacer component documentation
  docs/contents/components/layouts/spacer/index.ja.mdx
  docs/contents/components/layouts/spacer/index.mdx
Due: prettier --write

feat(theme): added `focusVisible` style to `CloseButton`
  .changeset/lazy-garlics-brush.md
  packages/theme/src/components/close-button.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/mdx): wrapped non-functional code in fragments
  docs/components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  packages/components/ripple/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.7.mdx
  CHANGELOG.md
Due: prettier --write

feat(stories): added ripple component story
  stories/components/other/ripple.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(ripple): expanded style adjustability
  .changeset/wet-rivers-camp.md
  packages/components/ripple/src/ripple.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added Ripple component documentation
  docs/contents/components/other/ripple/index.ja.mdx
  docs/contents/components/other/ripple/index.mdx
  docs/contents/components/other/ripple/props.ja.mdx
  docs/contents/components/other/ripple/props.mdx
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
