Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor(components): update props types for Icon, Loading
  .changeset/six-cups-search.md
  packages/components/icon/src/icon.tsx
  packages/components/loading/src/loading.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: revert to original state
  docs/contents/components/forms/select/props.ja.mdx
  docs/contents/components/forms/select/props.mdx
Due: prettier --write

docs: reflect feedback on index.ja.mdx
  docs/contents/components/forms/select/index.ja.mdx
Due: prettier --write

docs: reflect feedback on index.mdx
  docs/contents/components/forms/select/index.mdx
Due: prettier --write

docs: updated documentation labels
  docs/contents/styled-system/cli.ja.mdx
  docs/contents/styled-system/cli.mdx
Due: prettier --write

refactor(components): simplified loading component logic
  .changeset/quiet-plums-deny.md
  packages/components/loading/src/loading.tsx
  packages/theme/src/components/loading.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated CSS variable references to new syntax
  docs/pages/examples/music/header.tsx
  docs/pages/examples/playground/editor/prompt.tsx
  docs/pages/index.page.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

style(variables): update background variable usage
  stories/system/styles/variable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(core): added getVar function to handle CSS variables
  .changeset/strong-crabs-ring.md
  packages/core/src/css/var.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: update theme usage and var handling across components
  .changeset/rude-walls-divide.md
  packages/components/charts/src/area-chart-split.tsx
  packages/components/charts/src/use-area-chart.ts
  packages/components/charts/src/use-bar-chart.tsx
  packages/components/charts/src/use-chart-reference-line.ts
  packages/components/charts/src/use-line-chart.ts
  packages/components/charts/src/use-pie-chart.ts
  packages/components/charts/src/use-radar-chart.ts
  packages/components/color-picker/src/alpha-slider.tsx
  packages/components/color-picker/src/color-swatch.tsx
  packages/components/indicator/src/indicator.tsx
  packages/components/layouts/src/stack.tsx
  packages/components/slider/src/range-slider.tsx
  packages/components/slider/src/slider.tsx
  packages/components/snacks/src/snacks.tsx
  packages/components/stat/src/stat-icon.tsx
  packages/theme/src/components/indicator.ts
  packages/theme/src/components/stat.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update installation commands in docs and stories
  docs/contents/components/data-display/markdown/index.ja.mdx
  docs/contents/components/data-display/markdown/index.mdx
  stories/components/data-display/markdown.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add label generation script and task
  docs/package.json
  docs/scripts/content/label.ts
  package.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: revert to original state
  docs/contents/components/media-and-icons/icon/index.ja.mdx
  docs/contents/components/media-and-icons/icon/index.mdx
  docs/pages/icons/icon-drawer.tsx
  docs/pages/icons/list.tsx
  docs/pages/icons/not-found.tsx
  packages/components/menu/tests/menu.test.tsx
  stories/components/media-and-icons/font-awesome.stories.tsx
  stories/components/media-and-icons/lucide.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: reflect feedback on loading.tsx
  packages/components/loading/src/loading.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: change let to const
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove fontSize
  packages/components/fontawesome/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: typo in description of `Toggle`
  .changeset/dirty-dragons-tease.md
  docs/contents/components/forms/toggle/index.ja.mdx
  docs/contents/components/forms/toggle/index.mdx
  docs/contents/components/forms/toggle/props.ja.mdx
  docs/contents/components/forms/toggle/props.mdx
  docs/contents/components/forms/toggle/theming.ja.mdx
  docs/contents/components/forms/toggle/theming.mdx
Due: prettier --write

test: add tests for modal placement
  packages/components/modal/tests/modal.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated installation instructions in READMEs
  plop/component/package-multi/README.md.hbs
  plop/component/package/README.md.hbs
  plop/hook/package/README.md.hbs
Due: none

chore: delete unnecessary file
  .changeset/dirty-dragons-tease.md
Due: prettier --write

fix: change size to fontSize
  packages/theme/src/components/loading.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove size
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: remove useless import statement
  docs/contents/components/media-and-icons/icon/index.mdx
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@990c71bafb405c75bf0ab45a57617995335706bc 🚀
  assets/Color-KGDBMAHA-B7z-xtZ5.js
  assets/Color-KGDBMAHA-QIPB7oDC.js
  assets/DocsRenderer-PKQXORMH-BRJ3qs3k.js
  assets/DocsRenderer-PKQXORMH-rG57-2fD.js
  assets/borders-Bwi0pWIv.js
  assets/borders-Did5N1Ek.js
  assets/breakpoints-DoPqQtVl.js
  assets/breakpoints-Uscs_b-Y.js
  assets/colors-DPfx6OO1.js
  assets/gradients-Bmpj6lgC.js
  assets/gradients-CNZWgz5p.js
  assets/iframe-BZqsWled.js
  assets/iframe-lDfrbkcS.js
  assets/index-B6bKD3Xg.js
  assets/index-BErZCdJI.js
  assets/index-C-UTh8SM.js
  assets/markdown.stories-DA6fXTn0.js
  assets/preview-9onkChsu.js
  assets/preview-BIfF3UaI.js
  assets/preview-BPiO5mgz.js
  assets/preview-BzWvRY97.js
  assets/preview-Db3v53_Z.js
  assets/preview-DpILlO2U.js
  assets/radii-BAXtH6n_.js
  assets/radii-BUA1xsUR.js
  assets/shadows-IpnYEWQj.js
  assets/sizes-BwIRr_Ja.js
  assets/spaces-Cw2N2EhZ.js
  assets/transitions-DoeL6jgc.js
  assets/typography-DFN3EdDp.js
  assets/welcome-7Vg1RlvS.js
  assets/welcome-DZN0Wev_.js
  assets/z-index-BfOX6Hpe.js
  assets/z-index-c3IaPOX-.js
  iframe.html
  project.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add header and footer to index.mdx of AutoComplete
  docs/contents/components/forms/autocomplete/index.mdx
Due: prettier --write

docs: add header and footer to index.ja.mdx of AutoComplete
  docs/contents/components/forms/autocomplete/index.ja.mdx
Due: prettier --write

docs: add header and footer to index.mdx of multi-select
  docs/contents/components/forms/multi-select/index.mdx
Due: prettier --write

docs: add header and footer to index.ja.mdx to multi-select
  docs/contents/components/forms/multi-select/index.ja.mdx
Due: prettier --write

docs: typo in the `Grouping` section in `Toggle`
  docs/contents/components/forms/toggle/index.ja.mdx
  docs/contents/components/forms/toggle/index.mdx
Due: prettier --write

docs: update Japanese translation and ordering
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/getting-started/basics.ja.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
  docs/contents/styled-system/at-rules.ja.mdx
  docs/contents/styled-system/at-rules.mdx
  docs/contents/styled-system/cli.ja.mdx
  docs/contents/styled-system/cli.mdx
  docs/contents/styled-system/color-mode.ja.mdx
  docs/contents/styled-system/color-mode.mdx
  docs/contents/styled-system/css-custom-properties.ja.mdx
  docs/contents/styled-system/css-custom-properties.mdx
  docs/contents/styled-system/css-value-functions.ja.mdx
  docs/contents/styled-system/css-value-functions.mdx
  docs/contents/styled-system/global-styles.ja.mdx
  docs/contents/styled-system/global-styles.mdx
  docs/contents/styled-system/gradient.ja.mdx
  docs/contents/styled-system/gradient.mdx
  docs/contents/styled-system/interpolation.ja.mdx
  docs/contents/styled-system/interpolation.mdx
  docs/contents/styled-system/reset-styles.ja.mdx
  docs/contents/styled-system/reset-styles.mdx
  docs/contents/styled-system/responsive-styles.ja.mdx
  docs/contents/styled-system/responsive-styles.mdx
  docs/contents/styled-system/semantic-tokens.ja.mdx
  docs/contents/styled-system/semantic-tokens.mdx
  docs/contents/styled-system/text-and-layer-styles.ja.mdx
  docs/contents/styled-system/text-and-layer-styles.mdx
Due: prettier --write

feat(create-app): updated intro message text
  packages/create-yamada-app/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: updated installation commands in readme
  packages/create-yamada-app/README.md
Due: prettier --write

refactor(components/charts): update dependency and prop types
  packages/components/charts/package.json
  packages/components/charts/src/use-radial-chart.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/charts): updated radial chart imports and usage
  packages/components/charts/src/use-radial-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: added header and footer in multi-autocomplete
  docs/contents/components/forms/multi-autocomplete/index.ja.mdx
  docs/contents/components/forms/multi-autocomplete/index.mdx
Due: prettier --write

docs: add dropdown elements in date and year pickers
  docs/contents/components/forms/range-date-picker/index.ja.mdx
  docs/contents/components/forms/range-date-picker/index.mdx
  docs/contents/components/forms/year-picker/index.ja.mdx
  docs/contents/components/forms/year-picker/index.mdx
Due: prettier --write

docs: add radialChart documentation and props
  docs/contents/components/data-display/radial-chart/index.ja.mdx
  docs/contents/components/data-display/radial-chart/index.mdx
  docs/contents/components/data-display/radial-chart/props.ja.mdx
  docs/contents/components/data-display/radial-chart/props.mdx
  docs/contents/components/data-display/radial-chart/theming.ja.mdx
  docs/contents/components/data-display/radial-chart/theming.mdx
  docs/scripts/component/props.ts
  packages/components/charts/DOCS.json
Due: prettier --write, eslint --max-warnings 0 --fix

docs: update documentation links for chart components
  packages/components/charts/src/area-chart.tsx
  packages/components/charts/src/bar-chart.tsx
  packages/components/charts/src/donut-chart.tsx
  packages/components/charts/src/line-chart.tsx
  packages/components/charts/src/pie-chart.tsx
  packages/components/charts/src/radar-chart.tsx
  packages/components/charts/src/radial-chart.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
