Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

ci(docs): updated docs
  docs/i18n/content.en.json
  docs/i18n/content.ja.json
Due: prettier --write

ci: update pre-release workflow and git setup
  .github/workflows/pre-release.yml
Due: prettier --write

docs: updated debug instructions
  debug.txt
Due: none

ci(pre-release workflow): removed debug.txt from paths
  .github/workflows/pre-release.yml
  debug.txt
Due: prettier --write

ci: removed git user setup from pre-release workflow
  .github/workflows/pre-release.yml
Due: prettier --write

docs: added codecov badges to README files
  README.ja.md
  README.md
Due: prettier --write

chore(eslint-config): updated eslint rules and settings
  .eslintrc.base.json
  docs/.eslintrc.json
  docs/next.config.js
  docs/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

style: update eslint config settings and extensions
  .eslintrc.base.json
  .eslintrc.json
Due: prettier --write

chore: updated eslint configurations and dependencies
  .eslintrc.base.json
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

style(docs): updated eslint and next config
  docs/.eslintrc.json
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

chore(docs): remove unused eslint dependencies
  docs/package.json
  pnpm-lock.yaml
Due: prettier --write

style(docs): added parserOptions to .eslintrc.json
  docs/.eslintrc.json
Due: prettier --write

style(docs): removed parserOptions from eslintrc.json
  docs/.eslintrc.json
Due: prettier --write

feat(docs): added typecheck script and updated config
  docs/next.config.js
  package.json
Due: prettier --write, eslint --max-warnings 0 --fix

ci: updated action name and removed inputs
  .github/composite-actions/check-modified-files/action.yml
Due: prettier --write

chore(docs): added ignoreDuringBuilds flag to config
  docs/next.config.js
Due: prettier --write, eslint --max-warnings 0 --fix

ci: update GitHub Actions workflows and scripts
  .github/composite-actions/check-docs-modified-files/action.yml
  .github/workflows/next.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

fix(theme): fixed zIndex inconsistency in Menu component
  .changeset/pink-eels-camp.md
  packages/theme/src/components/menu.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(stepper): added useSteps hook tests
  packages/components/stepper/tests/use-steps.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(menu): add keyboard interaction tests
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scroll-area): added data attributes for tracking
  .changeset/wicked-taxis-jam.md
  packages/components/scroll-area/src/scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(scroll-area): added tests for mouse events and styles
  packages/components/scroll-area/tests/scroll-area.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(loading-provider): added tests for loading scenarios
  packages/components/loading/tests/loading-provider.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(resizable): update tests and cleanup code
  packages/components/resizable/tests/resizable.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(button): added @yamada-ui/icon to devDependencies
  packages/components/button/package.json
  pnpm-lock.yaml
Due: prettier --write

test(button): added new button component tests
  packages/components/button/tests/button-group.test.tsx
  packages/components/button/tests/icon-button.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(nextjs): upgrade to Next.js 14 and refactor API
  .changeset/flat-dodos-tap.md
  packages/nextjs/README.md
  packages/nextjs/package.json
  packages/nextjs/src/cache-provider.tsx
  packages/nextjs/src/image.tsx
  packages/nextjs/src/index.ts
  packages/nextjs/src/use-emotion-cache.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): update image handling and config
  docs/next.config.js
  docs/pages/examples/music/content.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(breadcrumb): added changeset
  .changeset/famous-squids-call.md
Due: prettier --write

test(utils): added more antonym test cases
  packages/utils/tests/string.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(color.test.ts): expand tests and add new color utils
  packages/utils/tests/color.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(hooks): fixed reset initialization in useCounter
  .changeset/strange-jeans-lie.md
  packages/hooks/use-counter/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-counter): add comprehensive tests for useCounter
  packages/hooks/use-counter/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(scripts): fixed endDate to use END_DATE variable
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix import for use-outside-click
  packages/components/tooltip/package.json
  packages/components/tooltip/src/tooltip.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(test): removed localstorage mocks and references
  .changeset/breezy-elephants-worry.md
  packages/test/src/mocks/index.ts
  packages/test/src/mocks/localstorage.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-local-storage): add tests for localStorage hook
  packages/hooks/use-local-storage/tests/index.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix
