Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update www
  www/contents/changelog/cli/2-1-8.ja.mdx
  www/contents/changelog/cli/2-1-8.mdx
  www/contents/changelog/index.mdx
  www/contents/changelog/react/2-2-3.ja.mdx
  www/contents/changelog/react/2-2-3.mdx
  www/contents/changelog/utils/2-1-4.ja.mdx
  www/contents/changelog/utils/2-1-4.mdx
  www/data/contributors.json
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
  www/data/icons.json
Due: prettier --write

docs(button): update tips
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/button.mdx
Due: prettier --write

docs(test): add tips
  www/contents/components/(components)/text.ja.mdx
  www/contents/components/(components)/text.mdx
Due: prettier --write

docs(indicator): add usage tips
  www/contents/components/(components)/indicator.ja.mdx
  www/contents/components/(components)/indicator.mdx
Due: prettier --write

docs(autocomplete): update tips
  www/contents/components/(components)/autocomplete.ja.mdx
  www/contents/components/(components)/autocomplete.mdx
Due: prettier --write

docs(select): update tips
  www/contents/components/(components)/select.ja.mdx
  www/contents/components/(components)/select.mdx
Due: prettier --write

docs(icon): add usage tips
  www/contents/components/(components)/icon.ja.mdx
  www/contents/components/(components)/icon.mdx
Due: prettier --write

docs(checkbox): add usage tips
  www/contents/components/(components)/checkbox.ja.mdx
  www/contents/components/(components)/checkbox.mdx
Due: prettier --write

docs(breadcrumb): add usage tips
  www/contents/components/(components)/breadcrumb.ja.mdx
  www/contents/components/(components)/breadcrumb.mdx
Due: prettier --write

docs(checkbox-card): add usage tips
  www/contents/components/(components)/checkbox-card.ja.mdx
  www/contents/components/(components)/checkbox-card.mdx
Due: prettier --write

feat(eslint-plugin): add @yamada-ui/eslint-plugin with props-shorthand and no-hardcoded-token rules
  .changeset/eslint-plugin-props-shorthand.md
  .gitignore
  AGENTS.md
  package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/eslint.config.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/index.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.test.ts
  packages/eslint-plugin/src/rules/props-shorthand/shorthand-map.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.test.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.ts
  packages/eslint-plugin/tsconfig.json
  packages/eslint-plugin/tsdown.config.ts
  packages/eslint-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-cli-dependencies-7727.md
  .changeset/dependabot-icons-7727.md
  .changeset/dependabot-react-dependencies-7727.md
  .changeset/dependabot-styles-7727.md
  packages/react/src/components/icon/icons/ad-icon.tsx
  packages/react/src/components/icon/icons/banknote-check-icon.tsx
  packages/react/src/components/icon/icons/bone-fracture-icon.tsx
  packages/react/src/components/icon/icons/clock-arrow-left-icon.tsx
  packages/react/src/components/icon/icons/clock-arrow-right-icon.tsx
  packages/react/src/components/icon/icons/eye-dashed-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/list-sort-ascending-icon.tsx
  packages/react/src/components/icon/icons/list-sort-descending-icon.tsx
  packages/react/src/components/icon/icons/pencil-sparkles-icon.tsx
  packages/react/src/components/icon/icons/podium-icon.tsx
  packages/react/src/components/icon/icons/save-check-icon.tsx
  packages/react/src/components/icon/icons/save-pen-icon.tsx
  packages/react/src/components/icon/icons/save-plus-icon.tsx
  packages/react/src/components/icon/icons/star-check-icon.tsx
  packages/react/src/components/icon/icons/star-minus-icon.tsx
  packages/react/src/components/icon/icons/star-plus-icon.tsx
  packages/react/src/components/icon/icons/star-x-icon.tsx
  packages/react/src/components/icon/icons/summary-icon.tsx
  packages/react/src/components/icon/icons/tag-plus-icon.tsx
  packages/react/src/components/icon/icons/tag-x-icon.tsx
  packages/react/src/components/icon/icons/user-round-arrow-left-icon.tsx
  packages/react/src/components/icon/icons/wrench-off-icon.tsx
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(chart): enhance type definitions and improve prop handling in polar and cartesian charts
  packages/react/src/components/chart/polar-chart.tsx
  packages/react/src/components/chart/use-cartesian-chart.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(styles): correct type reference for VendorProperty in style generation scripts
  packages/react/scripts/generate/styles/styles.ts
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): updated packages
  .changeset/dependabot-cli-dependencies-7727.md
  .changeset/dependabot-icons-7727.md
  .changeset/dependabot-react-dependencies-7727.md
  .changeset/dependabot-styles-7727.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/chart.json
  www/public/registry/dev/v2/components/icon.json
Due: prettier --write

docs(radio): add usage tips
  www/contents/components/(components)/radio.ja.mdx
  www/contents/components/(components)/radio.mdx
Due: prettier --write

docs(radio-card): add usage tips
  www/contents/components/(components)/radio-card.ja.mdx
  www/contents/components/(components)/radio-card.mdx
Due: prettier --write

docs(flex): split related component tips
  www/contents/components/(components)/flex.ja.mdx
  www/contents/components/(components)/flex.mdx
Due: prettier --write

docs(stack): apply review tip wording
  www/contents/components/(components)/stack.ja.mdx
  www/contents/components/(components)/stack.mdx
Due: prettier --write

docs(card): align related tip wording
  www/contents/components/(components)/card.ja.mdx
  www/contents/components/(components)/card.mdx
Due: prettier --write

docs(separator): split related component tips
  www/contents/components/(components)/separator.ja.mdx
  www/contents/components/(components)/separator.mdx
Due: prettier --write

docs(carousel): use direct related tip wording
  www/contents/components/(components)/carousel.ja.mdx
  www/contents/components/(components)/carousel.mdx
Due: prettier --write

docs(container): align related tip wording
  www/contents/components/(components)/container.ja.mdx
  www/contents/components/(components)/container.mdx
Due: prettier --write

docs: add design principles guide
  DESIGN.md
Due: prettier --write

docs: align design principles guidance
  CONTRIBUTING.ja.md
  CONTRIBUTING.md
  DESIGN.md
  README.ja.md
  README.md
Due: prettier --write

docs(switch): add usage tips
  www/contents/components/(components)/switch.ja.mdx
  www/contents/components/(components)/switch.mdx
Due: prettier --write

docs(image): add usage tips
  www/contents/components/(components)/image.ja.mdx
  www/contents/components/(components)/image.mdx
Due: prettier --write

docs(picture): add usage tips
  www/contents/components/(components)/picture.ja.mdx
  www/contents/components/(components)/picture.mdx
Due: prettier --write

docs(dropzone): add usage tips
  www/contents/components/(components)/dropzone.ja.mdx
  www/contents/components/(components)/dropzone.mdx
Due: prettier --write

feat(eslint-plugin): add @yamada-ui/eslint-plugin with no-hardcoded-token rule
  .changeset/eslint-plugin-initial-release.md
  .gitignore
  AGENTS.md
  package.json
  packages/eslint-plugin/README.md
  packages/eslint-plugin/eslint.config.ts
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.test.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.ts
  packages/eslint-plugin/tsconfig.json
  packages/eslint-plugin/tsdown.config.ts
  packages/eslint-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

docs(eslint-plugin): add explanatory comments and code reading guide for no-hardcoded-token
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/GUIDE.md
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/index.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.test.ts
  packages/eslint-plugin/src/rules/no-hardcoded-token/token-map.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.test.ts
  packages/eslint-plugin/src/utils/ui-component-tracker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(deps): update lockfile
  pnpm-lock.yaml
Due: none

ci(dependabot): update dependencies
  .changeset/dependabot-icons-7740.md
  .changeset/dependabot-react-dependencies-7740.md
  .changeset/dependabot-styles-7740.md
  packages/react/src/components/icon/icons/database-arrow-down-icon.tsx
  packages/react/src/components/icon/icons/database-arrow-up-icon.tsx
  packages/react/src/components/icon/icons/database-check-icon.tsx
  packages/react/src/components/icon/icons/database-minus-icon.tsx
  packages/react/src/components/icon/icons/database-plus-icon.tsx
  packages/react/src/components/icon/icons/database-x-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/phi-icon.tsx
  packages/react/src/core/css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(changesets): update dev registries
  www/public/registry/dev/v2/components/icon.json
  www/public/registry/dev/v2/components/resizable.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
