Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

feat(tree): add indent guide prop to tree component
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style(tree): update spacing and font size for tree component styles
  packages/react/src/components/tree/tree.style.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tree): enhance TreeNode rendering with onSelect and onToggleExpand props
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tree): update imports and enhance tree component structure
  packages/react/src/components/tree/tree-collection.ts
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(progress): update component documentation
  www/contents/components/(components)/progress.ja.mdx
  www/contents/components/(components)/progress.mdx
Due: prettier --write

feat(tree): enhance Tree component with checkbox functionality and state management
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tree): add nodeId property to TreeNodeRenderProps for unique identification
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tree): enhance `Tree` component with collection name display
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tree): fix indention guide and root indention
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(tree): add indexPath prop to TreeBranch and TreeItem for improved tree structure
  packages/react/src/components/tree/tree.stories.tsx
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tree): optimize tree utility functions and improve performance
  packages/react/src/components/tree/tree-utils.tsx
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(separators): update styles and add size variants
  packages/react/src/components/separator/separator.stories.tsx
  packages/react/src/components/separator/separator.style.ts
  www/contents/components/(components)/separator.ja.mdx
  www/contents/components/(components)/separator.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(progress): clarify variant and size examples
  www/contents/components/(components)/progress.ja.mdx
  www/contents/components/(components)/progress.mdx
Due: prettier --write

fix(pagination): remove commented-out story and update docs
  packages/react/src/components/pagination/pagination.stories.tsx
  www/contents/components/(components)/pagination.ja.mdx
  www/contents/components/(components)/pagination.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add script to generate issues for documentation
  pnpm-lock.yaml
  scripts/generate/issues/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

style: fix default string quotes in style files
  packages/react/src/components/blockquote/blockquote.style.ts
  packages/react/src/components/calendar/use-calendar.ts
  packages/react/src/components/circle-progress/circle-progress.style.ts
  packages/react/src/components/collapse/collapse.tsx
  packages/react/src/components/color-swatch/color-swatch-group.tsx
  packages/react/src/components/color-swatch/color-swatch.tsx
  packages/react/src/components/float/float.style.ts
  packages/react/src/components/group/group.style.ts
  packages/react/src/components/progress/progress.style.ts
  packages/react/src/components/resizable/use-resizable.ts
  packages/react/src/components/snacks/snacks.tsx
  packages/react/src/components/stack/z-stack.tsx
  packages/react/src/components/stat/stat.tsx
  packages/react/src/components/steps/steps.tsx
  packages/react/src/core/system/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(props): sort union type values alphabetically
  scripts/generate/props/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add `native-table` docs
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
  www/data/doc-map.en.json
Due: prettier --write

fix: update default values to array syntax in docs
  packages/react/src/components/autocomplete/use-autocomplete.tsx
  packages/react/src/components/calendar/use-calendar.ts
  packages/react/src/components/checkbox-card/checkbox-card-group.tsx
  packages/react/src/components/checkbox/checkbox-group.tsx
  packages/react/src/components/checkbox/use-checkbox-group.ts
  packages/react/src/components/native-select/use-native-select.tsx
  packages/react/src/components/radio-card/radio-card-group.tsx
  packages/react/src/components/radio/radio-group.tsx
  packages/react/src/components/segmented-control/segmented-control.tsx
  packages/react/src/components/select/use-select.tsx
  packages/react/src/components/snacks/snacks.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add theme default values retrieval logic
  scripts/generate/props/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "feat(ci/dependabot): add auto-merge workflow"
  .github/workflows/dependabot-automerge.yaml
Due: none

feat: use `Dependabot` instead of `Renovate`
  depandabot.yaml
  renovate.json
Due: prettier --write

feat(ci/dependabot): add auto-merge workflow
  .github/workflows/dependabot-automerge.yaml
Due: none

docs(tree): add JSDoc comments for tree utility functions and hooks to improve code documentation
  packages/react/src/components/tree/tree-collection.ts
  packages/react/src/components/tree/tree-utils.tsx
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tree): remove checkbox-related state and props to streamline tree component functionality
  packages/react/src/components/tree/tree-types.ts
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(tree): enhance styling and structure of Tree component for improved user interaction
  packages/react/src/components/tree/tree.style.ts
  packages/react/src/components/tree/tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tree): organize exports following alert component pattern
  packages/react/src/components/tree/index.ts
  packages/react/src/components/tree/tree-collection.ts
  packages/react/src/components/tree/tree-utils.tsx
  packages/react/src/components/tree/tree.tsx
  packages/react/src/components/tree/use-tree.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Revert "docs: add `native-table` docs"
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
  www/data/doc-map.en.json
Due: prettier --write

docs(modal): migrate documentation
  www/contents/components/(components)/modal.ja.mdx
  www/contents/components/(components)/modal.mdx
Due: prettier --write

docs(native-table): add explanations for border, columns, caption
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

fix: fixed `true`
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

build(packages/react): update dependencies and cleanup build scripts
  package.json
  packages/cli/package.json
  packages/react/package.json
  packages/react/scripts/post-build.ts
  packages/react/scripts/pre-build.ts
  packages/react/src/components/icon/icons/brick-wall-shield-icon.tsx
  packages/react/src/components/icon/icons/chrome-icon.tsx
  packages/react/src/components/icon/icons/chromium-icon.tsx
  packages/react/src/components/icon/icons/circle-star-icon.tsx
  packages/react/src/components/icon/icons/index.ts
  packages/react/src/components/icon/icons/index.types.ts
  packages/react/src/components/icon/icons/kayak-icon.tsx
  packages/react/src/components/icon/icons/list-chevrons-down-up-icon.tsx
  packages/react/src/components/icon/icons/panel-left-right-dashed-icon.tsx
  packages/react/src/components/icon/icons/panel-top-bottom-dashed-icon.tsx
  packages/react/src/components/icon/icons/rose-icon.tsx
  packages/react/src/components/icon/icons/square-star-icon.tsx
  packages/react/tsdown.config.ts
  packages/utils/tsdown.config.ts
  packages/workspace/package.json
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
  pnpm-lock.yaml
  www/data/icons.json
  www/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix codeblock
  www/contents/components/(components)/native-table.ja.mdx
Due: prettier --write

fix: fix explain text
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

fix: fixed heading text
  www/contents/components/(components)/native-table.ja.mdx
Due: prettier --write

fix: update table headers and styling details
  www/contents/components/(components)/native-table.ja.mdx
  www/contents/components/(components)/native-table.mdx
Due: prettier --write

fix(docs): correct Japanese description for striped option
  www/contents/components/(components)/progress.ja.mdx
Due: prettier --write
