Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

chore: update vitest @vitest/coverage-v8
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(tabs): refactor id handling
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab.tsx
  packages/components/tabs/src/tabs-context.tsx
  packages/components/tabs/src/tabs.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(tabs): add suffix to each id
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(package.json): pinned typescript-eslint version
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement airy component
  packages/components/transitions/package.json
  packages/components/transitions/src/airy.tsx
  packages/components/transitions/src/index.ts
  packages/theme/src/components/airy.ts
  packages/theme/src/components/index.ts
  pnpm-lock.yaml
  stories/components/transitions/airy.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: implement rotate component
  packages/components/transitions/src/index.ts
  packages/components/transitions/src/rotate.tsx
  packages/theme/src/components/index.ts
  packages/theme/src/components/rotate.ts
  stories/components/transitions/rotate.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: implement flip component
  packages/components/transitions/src/flip.tsx
  packages/components/transitions/src/index.ts
  packages/theme/src/components/flip.ts
  packages/theme/src/components/index.ts
  stories/components/transitions/flip.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add test code
  packages/components/transitions/tests/airy.test.tsx
  packages/components/transitions/tests/flip.test.tsx
  packages/components/transitions/tests/rotate.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: update use-var
  packages/core/src/css/use-var.ts
  packages/core/tests/var.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: update test
  packages/core/tests/var.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix useCreateVars
  packages/components/transitions/src/airy.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(tabs): modify props order
  packages/components/tabs/src/tab-panel.tsx
  packages/components/tabs/src/tab.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: pagination aria roles and attributes table
  docs/contents/components/navigation/pagination/accessibility.ja.mdx
  docs/contents/components/navigation/pagination/accessibility.mdx
Due: prettier --write

docs: updated CloseButton accessibility docs
  docs/contents/components/other/close-button/accessibility.ja.mdx
  docs/contents/components/other/close-button/accessibility.mdx
Due: prettier --write

Update image src in index.ja.mdx
  docs/contents/components/data-display/infinite-scroll-area/index.ja.mdx
Due: prettier --write

Update index.ja.mdx
  docs/contents/components/data-display/infinite-scroll-area/index.ja.mdx
Due: prettier --write

feat(use-processing): add new custom hook and documentation
  packages/hooks/use-processing/README.md
  packages/hooks/use-processing/package.json
  packages/hooks/use-processing/src/index.ts
  packages/hooks/use-processing/tsconfig.json
  packages/react/package.json
  packages/react/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

fix: add a11y document of `stepper`
  docs/contents/components/navigation/stepper/accessibility.ja.mdx
  docs/contents/components/navigation/stepper/accessibility.mdx
Due: prettier --write

fix: typo
  docs/contents/components/navigation/stepper/accessibility.ja.mdx
  docs/contents/components/navigation/stepper/accessibility.mdx
Due: prettier --write

Update index.mdx
  docs/contents/components/data-display/infinite-scroll-area/index.mdx
Due: prettier --write

feat(docs): add accessibility section for Table component
  docs/contents/components/data-display/table/accessibility.ja.mdx
  docs/contents/components/data-display/table/accessibility.mdx
Due: prettier --write

test(tooltip): update import path and adjust tests
  packages/components/tooltip/tests/tooltip.test.tsx
  vitest.config.mts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(test): remove focus and cookieStorage modules
  packages/test/src/focus.ts
  packages/test/src/index.ts
  packages/test/src/mocks/cookie.ts
  packages/test/src/mocks/index.ts
  packages/test/src/utils.ts
  packages/utils/src/index.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: add displayName for the component of `"@yamada-ui/list"`
  .changeset/pretty-rocks-fix.md
  packages/components/list/src/list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add keyboard navigation for Table component
  docs/contents/components/data-display/table/accessibility.ja.mdx
  docs/contents/components/data-display/table/accessibility.mdx
Due: prettier --write

feat(docs): add accessibility section for ColorPicker component
  docs/contents/components/forms/color-picker/accessibility.ja.mdx
  docs/contents/components/forms/color-picker/accessibility.mdx
Due: prettier --write

fix: add the missing a11y
  packages/components/popover/src/popover-body.tsx
  packages/components/popover/src/popover-content.tsx
  packages/components/popover/src/popover-header.tsx
  packages/components/popover/src/popover-trigger.tsx
  packages/components/popover/src/popover.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add changeset
  .changeset/little-suns-cheer.md
Due: prettier --write

chore: set displayName for infinite-scroll-area
  .changeset/strong-ducks-pay.md
  packages/components/infinite-scroll-area/src/infinite-scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove aria-expanded
  packages/components/popover/src/popover-trigger.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(components): add display name for lucide
  .changeset/twenty-chefs-help.md
  packages/components/lucide/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fixed test failures that occur with the carousel component
  cspell.json
  packages/components/carousel/src/carousel-indicators.tsx
  packages/components/carousel/src/use-carousel.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add accessibility section for Rating component
  docs/contents/components/forms/rating/accessibility.ja.mdx
  docs/contents/components/forms/rating/accessibility.mdx
Due: prettier --write

feat(hooks): added usePromiseDisclosure hook and tests
  .changeset/fifty-seas-explain.md
  packages/hooks/use-disclosure/src/index.ts
  packages/hooks/use-disclosure/tests/index.test.ts
  stories/hooks/use-disclosure.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
