Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add the a11y section for `CloseButton` component
  docs/contents/components/other/close-button/accessibility.ja.mdx
  docs/contents/components/other/close-button/accessibility.mdx
Due: prettier --write

test(avatar): refactor unittests for `<Avatar />`
  packages/components/avatar/tests/avatar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(notice): refactor unittests for `Notice`
  packages/components/notice/tests/notice.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add accessibility section to editable page
  docs/contents/components/forms/editable/accessibility.ja.mdx
  docs/contents/components/forms/editable/accessibility.mdx
  docs/contents/components/forms/editable/index.ja.mdx
  docs/contents/components/forms/editable/index.mdx
  docs/contents/components/forms/editable/props.ja.mdx
  docs/contents/components/forms/editable/props.mdx
  docs/contents/components/forms/editable/theming.ja.mdx
  docs/contents/components/forms/editable/theming.mdx
Due: prettier --write

docs: add order
  docs/contents/components/overlay/tooltip/accessibility.ja.mdx
  docs/contents/components/overlay/tooltip/accessibility.mdx
  docs/contents/components/overlay/tooltip/props.ja.mdx
  docs/contents/components/overlay/tooltip/props.mdx
  docs/contents/components/overlay/tooltip/theming.ja.mdx
  docs/contents/components/overlay/tooltip/theming.mdx
Due: prettier --write

refactor(report-insights): made `publish` option work in report insight script
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated import statements for clarity
  docs/components/forms/search.tsx
  docs/components/layouts/header.tsx
  docs/pages/examples/dashboard/header.tsx
  docs/pages/icons/list.tsx
  stories/components/overlay/menu.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(utils): updated getVersion package path
  docs/utils/next.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): standardized file path separators
  docs/scripts/mdx/builder.ts
  docs/scripts/mdx/watcher.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(docs): replaced backslashes in filePath with slashes
  docs/scripts/mdx/document.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): updated edit_url generation and imports
  docs/scripts/mdx/document.ts
  docs/scripts/mdx/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): wrapped ternary operation in parentheses
  docs/utils/document.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(report-insights): fixed to use the function
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(markdown): updated proxy target parameter name
  packages/components/markdown/src/remark-ui-component.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add the a11y section for `Button` component
  docs/contents/components/forms/button/accessibility.ja.mdx
  docs/contents/components/forms/button/accessibility.mdx
Due: prettier --write

docs(close-button): add `order` to `accessibility` tab
  docs/contents/components/other/close-button/accessibility.ja.mdx
  docs/contents/components/other/close-button/accessibility.mdx
Due: prettier --write

docs(close-button): fix typo
  docs/contents/components/other/close-button/accessibility.ja.mdx
Due: prettier --write

docs(modal): add order to the a11y tab
  docs/contents/components/overlay/modal/accessibility.ja.mdx
  docs/contents/components/overlay/modal/accessibility.mdx
Due: prettier --write

chore: add `docs/.contentlayer` to `.gitignore`
  .gitignore
Due: none

chore: add `.contentlayer` to `exclude` of `docs/tsconfig.json`
  docs/tsconfig.json
Due: prettier --write

feat: fix order
  docs/contents/components/forms/editable/accessibility.ja.mdx
  docs/contents/components/forms/editable/accessibility.mdx
  docs/contents/components/forms/editable/index.ja.mdx
  docs/contents/components/forms/editable/index.mdx
  docs/contents/components/forms/editable/props.ja.mdx
  docs/contents/components/forms/editable/props.mdx
  docs/contents/components/forms/editable/theming.ja.mdx
  docs/contents/components/forms/editable/theming.mdx
Due: prettier --write

feat: add a11y section for file-button
  docs/contents/components/forms/file-button/accessibility.ja.mdx
  docs/contents/components/forms/file-button/accessibility.mdx
  docs/contents/components/forms/file-button/props.ja.mdx
  docs/contents/components/forms/file-button/props.mdx
Due: prettier --write

ci: updated payload format in CI script
  .github/workflows/observe-issue-and-pull-request.yml
Due: prettier --write

feat: make aria-label mandatory for IconButton to enhance accessibility
  packages/components/button/src/icon-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: update iconButton usage to include required aria-label
  .changeset/cuddly-tools-wash.md
  docs/components/forms/search.tsx
  docs/components/layouts/header.tsx
  docs/pages/examples/cards/bookmark-card.tsx
  docs/pages/examples/mail/detail.tsx
  docs/pages/examples/playground/footer/index.tsx
  packages/components/calendar/src/calendar-header.tsx
  packages/components/carousel/src/carousel-control.tsx
  packages/components/carousel/src/use-carousel.ts
  packages/components/color-picker/src/color-selector-eye-dropper.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: fix aria-label of bookmark button
  docs/pages/examples/cards/bookmark-card.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: changed the way aria-label is specified
  .changeset/cuddly-tools-wash.md
  .changeset/proud-kids-mate.md
  docs/components/layouts/header.tsx
  packages/components/calendar/src/calendar-header.tsx
  packages/components/carousel/src/carousel-control.tsx
  packages/components/color-picker/src/color-selector-eye-dropper.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs(close-button): add `order` to the frontmatter
  docs/contents/components/other/close-button/props.ja.mdx
  docs/contents/components/other/close-button/props.mdx
  docs/contents/components/other/close-button/theming.ja.mdx
  docs/contents/components/other/close-button/theming.mdx
Due: prettier --write

docs(button): add `order` to the frontmatters
  docs/contents/components/forms/button/props.ja.mdx
  docs/contents/components/forms/button/props.mdx
  docs/contents/components/forms/button/theming.ja.mdx
  docs/contents/components/forms/button/theming.mdx
Due: prettier --write

docs(modal): add `order` to the frontmatters
  docs/contents/components/overlay/modal/props.ja.mdx
  docs/contents/components/overlay/modal/props.mdx
  docs/contents/components/overlay/modal/theming.ja.mdx
  docs/contents/components/overlay/modal/theming.mdx
Due: prettier --write

docs: updated invalid input documentation
  docs/contents/components/forms/editable/index.ja.mdx
  docs/contents/components/forms/editable/index.mdx
Due: prettier --write

fix: remove `UIComponents`
  docs/components/mdx/editable-code-block.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix(use-focus): fixed popover close issue on multiple opens
  .changeset/yellow-lobsters-travel.md
  packages/hooks/use-focus/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add order
  docs/contents/components/data-display/stat/accessibility.ja.mdx
  docs/contents/components/data-display/stat/accessibility.mdx
  docs/contents/components/data-display/stat/props.ja.mdx
  docs/contents/components/data-display/stat/props.mdx
  docs/contents/components/data-display/stat/theming.ja.mdx
  docs/contents/components/data-display/stat/theming.mdx
Due: prettier --write

fix: fix thematize
  .changeset/fifty-bulldogs-prove.md
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: fix ja sentence
  docs/contents/components/forms/editable/accessibility.ja.mdx
Due: prettier --write

refactor: thematize `Icon` component
  .changeset/brave-bulldogs-compare.md
  packages/components/icon/src/icon.tsx
  packages/theme/src/components/icon.ts
  packages/theme/src/components/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: thematize Transition component
  .changeset/clever-ligers-rule.md
  packages/components/transitions/src/collapse.tsx
  packages/components/transitions/src/fade.tsx
  packages/components/transitions/src/scale-fade.tsx
  packages/components/transitions/src/slide-fade.tsx
  packages/components/transitions/src/slide.tsx
  packages/theme/src/components/collapse.ts
  packages/theme/src/components/fade.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/scale-fade.ts
  packages/theme/src/components/slide-fade.ts
  packages/theme/src/components/slide.ts
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
