Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

ci(changesets): updated packages
  .changeset/spotty-spies-visit.md
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --write

ci: add diff command to compare component files
  cspell.json
  packages/cli/package.json
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/git.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/process.ts
  packages/cli/src/utils/registry.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

perf(diff): optimize getDiff with parallel processing
  packages/cli/src/commands/diff/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

chore(cspell): added nonconstructor and nonoctal to ignore list
  cspell.json
Due: prettier --write

Deploying to gh-pages from @ yamada-ui/yamada-ui@105401bd4a3ab5dca80bca6efe9dfc3d3cae667a 🚀
  project.json
Due: prettier --write

docs: update DataList component usage examples and remove unnecessary details
  www/contents/components/(components)/data-list.ja.mdx
  www/contents/components/(components)/data-list.mdx
Due: prettier --write

docs(tooltip): migrate documentation
  www/contents/components/(components)/tooltip.ja.mdx
  www/contents/components/(components)/tooltip.mdx
Due: prettier --write

docs(file-input): migrate documentation
  www/contents/components/(components)/file-input.ja.mdx
  www/contents/components/(components)/file-input.mdx
Due: prettier --write

docs(file-button): migrate documentation
  www/contents/components/(components)/file-button.ja.mdx
  www/contents/components/(components)/file-button.mdx
Due: prettier --write

docs(flip): migrate documentation
  www/contents/components/(animations)/airy.mdx
  www/contents/components/(animations)/flip.ja.mdx
  www/contents/components/(animations)/flip.mdx
Due: prettier --write

docs(float): migrate documentation
  www/contents/components/(components)/float.ja.mdx
  www/contents/components/(components)/float.mdx
Due: prettier --write

docs(focus-lock): migrate documentation
  www/contents/components/(utilities)/focus-lock.ja.mdx
  www/contents/components/(utilities)/focus-lock.mdx
Due: prettier --write

docs(for): migrate documentation
  www/contents/components/(utilities)/for.ja.mdx
  www/contents/components/(utilities)/for.mdx
Due: prettier --write

ci: update scripts and configs for consistency
  cspell.json
  package.json
  packages/cli/bin/index.js
  packages/cli/package.json
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/index.ts
  packages/cli/src/utils/lint.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/prettier.ts
  packages/cli/src/utils/registry.ts
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
Due: prettier --write, eslint --max-warnings 0 --fix

Deploying to gh-pages from @ yamada-ui/yamada-ui@6cdfd344bfa60c57baecbb4ed68947f0ab5bbc9f 🚀
  project.json
Due: prettier --write

docs(data-list): delete redundant line
  www/contents/components/(components)/data-list.ja.mdx
  www/contents/components/(components)/data-list.mdx
Due: prettier --write

fix: update card structure and styling for consistency
  www/contents/components/(utilities)/for.ja.mdx
  www/contents/components/(utilities)/for.mdx
Due: prettier --write

refactor(focus-lock): update layout and styling adjustments
  www/contents/components/(utilities)/focus-lock.ja.mdx
  www/contents/components/(utilities)/focus-lock.mdx
Due: prettier --write

chore: update layout components from VStack to Wrap
  packages/react/src/components/file-button/file-button.stories.tsx
  www/contents/components/(components)/button.ja.mdx
  www/contents/components/(components)/button.mdx
  www/contents/components/(components)/fieldset.ja.mdx
  www/contents/components/(components)/fieldset.mdx
  www/contents/components/(components)/file-button.ja.mdx
  www/contents/components/(components)/file-button.mdx
  www/data/doc-map.en.json
  www/data/doc-map.ja.json
Due: prettier --write, eslint --max-warnings 0 --fix

style: add margin to Box and set aspect ratio for GridItem
  www/contents/components/(components)/float.ja.mdx
  www/contents/components/(components)/float.mdx
Due: prettier --write

refactor(add): add sequential option and update index.ts
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/lint.ts
  packages/cli/src/utils/prettier.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(commands): add optional flags to add and diff commands
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): add command to generate and update theme files
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: standardize description and option formatting
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/tokens/index.ts
  packages/cli/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(config): add indexPath to config interface and resolve path
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/get-component-data.ts
  packages/cli/src/commands/diff/get-component-diff.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/diff/print-diff.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: move task creation to after initial setup
  packages/cli/src/commands/diff/get-component-data.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove deprecated get-component-diff file
  packages/cli/src/commands/diff/get-component-diff.ts
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/diff/get-registries-and-files.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/diff/print-diff.ts
  packages/cli/src/commands/init/index.ts
  packages/cli/src/commands/theme/index.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/constant.ts
  packages/cli/src/index.ts
  packages/cli/src/index.type.ts
  packages/cli/src/utils/config.ts
  packages/cli/src/utils/fs.ts
  packages/cli/src/utils/package.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(update): add conflict detection and print functionality
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/update/index.ts
  packages/cli/src/commands/update/print-conflicts.ts
  packages/cli/src/commands/update/update-files.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(update): filter registries for updates and diffs
  packages/cli/src/commands/diff/index.ts
  packages/cli/src/commands/update/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(theme): set theme path with fallback to default
  packages/cli/src/commands/theme/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(update-files): handle conflicts and disable formatting
  packages/cli/src/commands/update/update-files.ts
Due: prettier --write, eslint --max-warnings 0 --fix

docs(alert): migrate `Alert` documentation
  www/contents/components/(components)/alert.ja.mdx
  www/contents/components/(components)/alert.mdx
Due: prettier --write

docs(heading): migrate `Heading` documentation
  www/contents/components/(components)/heading.ja.mdx
  www/contents/components/(components)/heading.mdx
Due: prettier --write

refactor(utils): add format and lint to index transformation
  packages/cli/src/commands/add/index.ts
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(index): remove 'Icon' suffix from icon names
  packages/react/src/components/icon/registry.json
  scripts/generate/registries/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(icon): update icon names to remove 'Icon' suffix
  www/public/registry/v2/components/icon.json
Due: prettier --write

fix(utils): update variable names for clarity
  packages/cli/src/commands/diff/get-diff.ts
  packages/cli/src/commands/update/update-files.ts
  packages/cli/src/utils/registry.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(package.json): rename "cli" script to "yamada-cli
  playgrounds/next/app/package.json
  playgrounds/next/pages/package.json
  playgrounds/remix/package.json
  playgrounds/vite/package.json
Due: prettier --write

refactor(add): handle registry files in directory traversal
  packages/cli/src/commands/add/index.ts
  packages/cli/src/utils/fs.ts
Due: prettier --write, eslint --max-warnings 0 --fix
