Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

chore: add `changeset`
  .changeset/metal-beers-retire.md
Due: prettier --write

refactor(autocomplete): updated attribute casing and roles
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/autocomplete.test.tsx
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
  packages/components/calendar/src/use-date-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: wip
  packages/components/select/tests/select.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update aria-label text for better accessibility
  .changeset/light-mice-dream.md
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/multi-date-picker.tsx
  packages/components/infinite-scroll-area/src/infinite-scroll-area.tsx
  packages/components/layouts/src/container.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: added @octokit/request-error package
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(scripts): updated error handling and pagination logic
  scripts/report-insights.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: integrate omit-object handling with omit-theme-props
  .changeset/grumpy-cheetahs-sell.md
  packages/components/progress/src/progress.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): implement recursiveOctokit for API calls
  scripts/a11y-issues.ts
  scripts/coverage-issues.ts
  scripts/observe-issues.ts
  scripts/observe-pull-requests.ts
  scripts/report-insights.ts
  scripts/utils.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(docs): renamed members to users and updated imports
  docs/components/mdx/index.tsx
  docs/components/mdx/users.tsx
  docs/constant/index.ts
  docs/constant/maintainers.ts
  docs/contents/community/team.ja.mdx
  docs/contents/community/team.mdx
  docs/scripts/contributors.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(number-input): added tests for keyboard and wheel events
  packages/components/number-input/tests/number-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: class-name in indicator
  packages/components/indicator/src/indicator.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(components/number-input): updated test descriptions for clarity
  packages/components/number-input/tests/number-input.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: standardize monthPicker variable naming
  docs/contents/components/forms/month-picker/index.ja.mdx
  docs/contents/components/forms/month-picker/index.mdx
  stories/components/forms/month-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(calendar): update selectMonthWith to __selectType
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/src/use-month-list.tsx
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-year-list.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(theme): added `YearPicker` component and style
  .changeset/strong-toes-compete.md
  packages/theme/src/components/index.ts
  packages/theme/src/components/year-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(calendar): added `YearPicker` component and hooks
  .changeset/mighty-lizards-appear.md
  packages/components/calendar/src/index.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/calendar/src/year-picker.tsx
  stories/components/forms/year-picker.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(markdown): enable use of strong syntax (`**`) within note syntax
  packages/components/markdown/src/remark-ui-component.ts
  packages/components/markdown/tests/with-note-components.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add changeset
  .changeset/tough-apricots-fly.md
Due: prettier --write

refactor(components/calendar): simplified value handling logic
  packages/components/calendar/src/use-calendar.ts
  packages/components/calendar/tests/calendar.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build(root): add -w `typescript-eslint`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(root): add -w `@eslint/eslintrc`
  package.json
  pnpm-lock.yaml
Due: prettier --write

build(root): add -w `globals`
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(menuoptiongroup): integrate omitObject handling with omitThemeProps
  .changeset/six-waves-switch.md
  packages/components/menu/src/menu-option-group.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(npm-scripts): update `lint` command
  package.json
Due: prettier --write

feat: add `eslint.config.mjs`
  eslint.config.mjs
Due: none

build(root): add -w `@eslint/compat`
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove `.eslintignore`
  .eslintignore
Due: none

chore: remove `.eslintrc.json`
  .eslintrc.json
Due: prettier --write

chore(tsconfig): add `*.mjs` to project
  tsconfig.json
Due: prettier --write

Update six-waves-switch.md
  .changeset/six-waves-switch.md
Due: prettier --write

docs: updated colorMode documentation and examples
  docs/contents/getting-started/frameworks/nextjs/app-router.ja.mdx
  docs/contents/getting-started/frameworks/nextjs/app-router.mdx
  docs/contents/styled-system/color-mode.ja.mdx
  docs/contents/styled-system/color-mode.mdx
Due: prettier --write

feat(providers): updated environment provider exports
  .changeset/warm-rocks-drum.md
  packages/providers/src/environment-provider.tsx
  packages/providers/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(hooks): improved null safety and event handling in useMediaQuery
  .changeset/mighty-pens-taste.md
  packages/hooks/use-media-query/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-media-query): refactor and expand test cases
  packages/hooks/use-media-query/tests/index.test.ts
  packages/hooks/use-media-query/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test(hooks): updated test descriptions for clarity
  packages/hooks/use-media-query/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(hooks): streamlined pan event handlers handling
  .changeset/tasty-moose-turn.md
  packages/hooks/use-pan-event/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test(use-pan-event): add tests for usePanEvent hook
  packages/hooks/use-pan-event/tests/index.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(file-button): extracted props and updated callbacks
  .changeset/hot-keys-brake.md
  packages/components/file-button/src/file-button.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

test: add menu option group functionality with value update support
  packages/components/menu/tests/menu.test.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(swipeable): add multiple elements to actions
  packages/components/swipeable/src/swipeable.tsx
  stories/components/other/swipeable.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix
