Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

refactor(scripts): adjusted toc max level to 3
  docs/scripts/changelog.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build: updated dependencies
  pnpm-lock.yaml
Due: none

feat(core/providers): add `framer-motion` config support
  .changeset/dirty-bikes-invent.md
  packages/core/src/theme.types.ts
  packages/providers/package.json
  packages/providers/src/ui-provider.tsx
  stories/components/motion/utils.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

docs: add global config for `Motion` component
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
  docs/contents/styled-system/configure/default-config.ja.mdx
  docs/contents/styled-system/configure/default-config.mdx
Due: prettier --write

docs: removed code highlighting from examples
  docs/contents/components/other/motion/index.ja.mdx
  docs/contents/components/other/motion/index.mdx
  docs/contents/styled-system/animation.ja.mdx
  docs/contents/styled-system/animation.mdx
Due: prettier --write

refactor(use-token): excluded 'themeSchemes' from type
  .changeset/gold-cows-remember.md
  packages/hooks/use-token/src/index.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(core): add isProcessSkip flag and var transform
  packages/core/src/config.ts
  packages/core/src/css/css.ts
  scripts/generate-css/config.ts
  scripts/generate-css/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added var
  packages/core/src/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added `var` to style props in @yamada-ui/core
  .changeset/itchy-cherries-suffer.md
Due: prettier --write

refactor(core): enhanced variable transformation logic
  packages/core/src/config.ts
  packages/core/src/css/css.ts
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: extended var value type to number
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: update calendar's dayjs version to 1.11.10
  .changeset/witty-masks-own.md
  packages/components/calendar/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(layouts): added `ZStack` component
  .changeset/late-pans-drop.md
  packages/components/layouts/src/index.ts
  packages/components/layouts/src/stack.tsx
  stories/components/layouts/stack.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Merge pull request #518 from nthhm/fix/calendar-dayjs-version Closes #503
  .changeset/stale-moose-smoke.md
  packages/components/layouts/src/grid.tsx
  packages/components/layouts/src/index.ts
  stories/components/layouts/simple-grid.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(scripts): add prop validation in CSS generation
  scripts/generate-css/check.ts
  scripts/generate-css/layout-props.ts
  scripts/generate-css/styles.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(styles): added shorthand props for styling
  .changeset/happy-turkeys-sing.md
  packages/core/src/styles.ts
  scripts/generate-css/shorthand-props.ts
  scripts/generate-css/ui-props.ts
Due: prettier --write, eslint --max-warnings 0 --fix

build(package.json): added quality script for checks
  package.json
Due: prettier --write

refactor: replaced `noOfLines` with `lineClamp`
  .changeset/neat-rules-smile.md
  packages/components/autocomplete/src/autocomplete-create.tsx
  packages/components/autocomplete/src/autocomplete-empty.tsx
  packages/components/autocomplete/src/autocomplete-option-group.tsx
  packages/components/autocomplete/src/autocomplete-option.tsx
  packages/components/file-input/src/file-input.tsx
  packages/components/loading/src/loading-provider.tsx
  packages/components/notice/src/notice.tsx
  packages/components/select/src/multi-select.tsx
  packages/components/select/src/option-group.tsx
  packages/components/select/src/option.tsx
  packages/components/select/src/select.tsx
  packages/components/skeleton/src/skeleton-text.tsx
  packages/components/skeleton/tests/skeleton.test.tsx
  packages/components/tag/src/tag.tsx
  packages/core/src/components/should-forward-prop.ts
  packages/core/src/styles.ts
  scripts/generate-css/ui-props.ts
  stories/components.tsx
  stories/components/feedback/skeleton.stories.tsx
  stories/components/typography/text.stories.tsx
  stories/system/theme/loading.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

build: added @yamada-ui/use-animation
  packages/components/avatar/package.json
  packages/components/indicator/package.json
Due: prettier --write

feat: added ping animation to Avatar and Indicator
  .changeset/cyan-brooms-travel.md
  .changeset/fifty-parents-search.md
  packages/components/avatar/src/avatar-badge.tsx
  packages/components/indicator/src/indicator.tsx
  packages/theme/src/components/indicator.ts
  stories/components/media-and-icons/avatar.stories.tsx
  stories/components/media-and-icons/indicator.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated bug report templates
  .github/ISSUE_TEMPLATE/bug_report.ja.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: prettier --write

fix(cli): enhanced color scheme typings generation
  .changeset/fluffy-forks-share.md
  packages/cli/src/command/tokens/create-theme-typings.ts
  packages/core/src/generated-theme.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated package versions to 1.0.0
  plop/component/package-multi/package.json.hbs
  plop/component/package/package.json.hbs
  plop/hook/package/package.json.hbs
Due: none

feat: added Stat
  packages/components/stat/README.md
  packages/components/stat/package.json
  packages/components/stat/src/index.ts
  packages/components/stat/src/stat-helper-message.tsx
  packages/components/stat/src/stat-icon.tsx
  packages/components/stat/src/stat-label.tsx
  packages/components/stat/src/stat-number.tsx
  packages/components/stat/src/stat.tsx
  packages/components/stat/tsconfig.json
  stories/components/data-display/stat.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: added `Stat` component and styles
  .changeset/purple-tomatoes-drop.md
  packages/react/package.json
  packages/react/src/index.ts
  packages/theme/src/components/index.ts
  packages/theme/src/components/stat.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(docs): updated docs
  packages/components/calendar/DOCS.json
  packages/components/dropzone/DOCS.json
  packages/components/editable/DOCS.json
  packages/components/file-button/DOCS.json
  packages/components/file-input/DOCS.json
  packages/components/input/DOCS.json
  packages/components/loading/DOCS.json
  packages/components/number-input/DOCS.json
  packages/components/pin-input/DOCS.json
  packages/components/progress/DOCS.json
  packages/components/skeleton/DOCS.json
  packages/components/slider/DOCS.json
  packages/components/textarea/DOCS.json
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v0.9.9.mdx
  CHANGELOG.md
Due: prettier --write

Deploying to gh-pages from @ hirotomoyamada/yamada-ui@a8171c9fc1137feffc5d710fe7bb22d4f72c59ca 🚀
  project.json
Due: prettier --write

refactor(components): standardize noOfLines to lineClamp
  docs/components/forms/search.tsx
  docs/components/mdx/color-palettes.tsx
  docs/components/mdx/members.tsx
  docs/components/mdx/select-package-managers.tsx
  docs/components/navigation/link-card.tsx
  docs/components/navigation/pagination.tsx
  docs/components/navigation/tree.tsx
  docs/contents/changelog/index.ja.mdx
  docs/contents/changelog/index.mdx
  docs/contents/changelog/v0.9.9.mdx
  docs/contents/components/feedback/skeleton/index.ja.mdx
  docs/contents/components/feedback/skeleton/index.mdx
  docs/contents/components/typography/text/index.ja.mdx
  docs/contents/components/typography/text/index.mdx
  docs/contents/hooks/use-theme.ja.mdx
  docs/contents/hooks/use-theme.mdx
  docs/contents/styled-system/loading.ja.mdx
  docs/contents/styled-system/loading.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: added keywords to package.json templates
  plop/component/package-multi/package.json.hbs
  plop/component/package/package.json.hbs
Due: none

fix(scroll-area): corrected camelCase for setIsScrolling
  packages/components/scroll-area/src/scroll-area.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): improved scroll behavior and UI
  docs/components/layouts/sidebar.tsx
  docs/components/mdx/editable-code-block.tsx
  docs/components/navigation/table-of-contents.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

Path conditions:
  prettier --write: (any of: **/*.{ts,tsx,js,jsx}) or (any of: **/*.{md,mdx,yml,json,eslintrc,prettierrc})
  eslint --max-warnings 0 --fix: any of: **/*.{ts,tsx,js,jsx}
