Repository yamada-ui/yamada-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0 --fix

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --max-warnings 0 --fix"],
  "**/*.{md,mdx,yml,json,eslintrc,prettierrc}": ["prettier --write"]
}

refactor(components): rearrange displayNames and metadata
  packages/components/icon/src/icon.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat(components): infer option value from children if absent
  .changeset/fluffy-avocados-mix.md
  packages/components/autocomplete/src/use-autocomplete-option.ts
  packages/components/select/src/use-select.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components/forms): removed unused default value from select
  stories/components/forms/select.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore(test): executed `pnpx vitest init browser`
  package.json
  pnpm-lock.yaml
Due: prettier --write

test: use `navigator.userAgentData.platform`
  packages/utils/tests/dom.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: remove mock
  packages/utils/tests/event.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

test: configure test with `vitest.config.mts` and `vitest.workspace.mts`
  vitest.config.mts
  vitest.workspace.mts
Due: none

feat(core): added `_notAllowed` attribute selector
  .changeset/chilly-pens-end.md
  packages/core/src/pseudos.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(calendar): improve input handling and props logic
  .changeset/fuzzy-apes-shake.md
  packages/components/calendar/src/date-picker.tsx
  packages/components/calendar/src/use-calendar-picker.ts
  packages/components/calendar/src/use-date-picker.ts
  packages/components/calendar/src/use-month-picker.ts
  packages/components/calendar/src/use-multi-date-picker.ts
  packages/components/calendar/src/use-range-date-picker.ts
  packages/components/calendar/src/use-year-picker.ts
  packages/components/color-picker/src/color-picker.tsx
  packages/components/color-picker/src/use-color-picker.ts
  packages/theme/src/components/color-picker.ts
  packages/theme/src/components/date-picker.ts
Due: prettier --write, eslint --max-warnings 0 --fix

chore(test/core): move `@ts-ignore` position
  packages/utils/tests/dom.test.ts
Due: prettier --write, eslint --max-warnings 0 --fix

ci(test): add `Install browser for Playwright` step to `Test` job
  .github/composite-actions/install-playwright-browser/action.yml
  .github/workflows/quality.yml
Due: prettier --write

test(browser): configure browser-tests running in headless browser
  vitest.workspace.mts
Due: none

ci(test/install-playwright-browser): fix indent
  .github/composite-actions/install-playwright-browser/action.yml
Due: prettier --write

ci(test/install-playwright-browser): add `shell: bash`
  .github/composite-actions/install-playwright-browser/action.yml
Due: prettier --write

ci(test/install-playwright-browser): update string as cache key
  .github/composite-actions/install-playwright-browser/action.yml
Due: prettier --write

ci(test/install-playwright-browser): rename cache key
  .github/composite-actions/install-playwright-browser/action.yml
Due: prettier --write

ci(check-modified-files): update file_patterns
  .github/workflows/quality.yml
Due: prettier --write

feat(theme): updated input component transitions
  .changeset/sweet-deers-repair.md
  packages/theme/src/components/input.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix(autocomplete): refactor conditions and streamline logic
  .changeset/calm-berries-sleep.md
  .changeset/purple-spies-collect.md
  packages/components/autocomplete/src/autocomplete-context.ts
  packages/components/autocomplete/src/autocomplete.tsx
  packages/components/autocomplete/src/multi-autocomplete.tsx
  packages/components/autocomplete/src/use-autocomplete.tsx
  packages/components/autocomplete/tests/multi-autocomplete.test.tsx
  packages/components/menu/src/menu-item.tsx
  packages/components/select/src/index.ts
  packages/components/select/src/multi-select.tsx
  packages/components/select/src/option-group.tsx
  packages/components/select/src/option.tsx
  packages/components/select/src/select-list.tsx
  packages/components/select/src/select.tsx
  packages/components/select/src/use-select-list.ts
  packages/components/select/src/use-select-option-group.ts
  packages/components/select/src/use-select-option.ts
  packages/components/select/src/use-select.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: updated markdown formatting for clarity
  .changeset/chilled-pillows-argue.md
  .changeset/curly-rivers-grow.md
  .changeset/dusty-roads-curve.md
  .changeset/mean-poems-turn.md
  .changeset/neat-apricots-hammer.md
  .changeset/odd-adults-float.md
  .changeset/perfect-kings-explain.md
  .changeset/polite-cobras-type.md
  .changeset/six-cups-stare.md
  .changeset/sixty-crabs-own.md
  .changeset/soft-trains-judge.md
  .changeset/three-taxis-sniff.md
  .changeset/tricky-rice-move.md
  .changeset/twenty-waves-serve.md
Due: prettier --write

ci(changelog): added changelog
  .changelog/manifest.json
  .changelog/v1.5.4.mdx
  CHANGELOG.md
Due: prettier --write

refactor(docs): reorder icon tags for consistency
  docs/pages/icons/tags.ts
Due: prettier --write, eslint --max-warnings 0 --fix

fix: set displayName and __ui__
  packages/components/alert/src/alert.tsx
  packages/components/button/src/button.tsx
  packages/core/src/components/component.types.ts
Due: prettier --write, eslint --max-warnings 0 --fix

feat(docs): add accessibility section for `pagination` component
  docs/contents/components/navigation/pagination/accessibility.ja.mdx
  docs/contents/components/navigation/pagination/accessibility.mdx
Due: prettier --write

chore: update `recharts` version
  .changeset/weak-items-tie.md
  packages/components/charts/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(component): add displayname input
  .changeset/pink-coins-travel.md
  packages/components/input/src/input-addon.tsx
  packages/components/input/src/input-element.tsx
  packages/components/input/src/input-group.tsx
  packages/components/input/src/input.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

feat: add accessibility documentation for Tag component
  docs/contents/components/data-display/tag/accessibility.ja.mdx
  docs/contents/components/data-display/tag/accessibility.mdx
Due: prettier --write

feat: added internal component descriptions
  docs/components/mdx/index.tsx
  docs/contents/components/data-display/tag/accessibility.ja.mdx
  docs/contents/components/data-display/tag/accessibility.mdx
Due: prettier --write, eslint --max-warnings 0 --fix

refactor: corrected import location
  docs/components/mdx/index.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

fix: remove `is_tabs`
  docs/contents/components/navigation/pagination/accessibility.mdx
Due: prettier --write

refactor(core): updated type definitions and usage
  .changeset/orange-starfishes-sin.md
  cspell.json
  packages/core/src/components/component.types.ts
  packages/core/src/components/element.types.ts
  packages/core/src/factory.ts
Due: prettier --write, eslint --max-warnings 0 --fix

refactor(components): simplify props in clickable hooks
  .changeset/wet-cherries-wait.md
  packages/components/calendar/src/date-picker.tsx
  packages/components/select/src/select-icon.tsx
  packages/components/tabs/src/tab.tsx
  packages/hooks/use-clickable/package.json
  packages/hooks/use-clickable/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(changeset): added keyboard and rowHeader support
  .changeset/chatty-rivers-hope.md
  .changeset/cyan-geckos-drive.md
  .changeset/friendly-lobsters-swim.md
  .changeset/giant-swans-wash.md
  .changeset/modern-clocks-flow.md
  cspell.json
  packages/components/table/package.json
  packages/components/table/src/paging-table-control.tsx
  packages/components/table/src/paging-table.tsx
  packages/components/table/src/table-checkbox.tsx
  packages/components/table/src/table-context.tsx
  packages/components/table/src/table-sort-button.tsx
  packages/components/table/src/table-utils.tsx
  packages/components/table/src/table.tsx
  packages/components/table/src/tbody.tsx
  packages/components/table/src/tfoot.tsx
  packages/components/table/src/thead.tsx
  packages/components/table/src/use-table.tsx
  packages/components/table/tests/table.test.tsx
  packages/theme/src/components/table.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --max-warnings 0 --fix

feat(stories): added new table story configurations
  stories/components/data-display/table.stories.tsx
Due: prettier --write, eslint --max-warnings 0 --fix

chore: add accessibility file
  docs/contents/components/navigation/stepper/accessibility.ja.mdx
  docs/contents/components/navigation/stepper/accessibility.mdx
Due: prettier --write
